<div class="propertyitem">
    <p>
    The current survey JSON:</p>
    <textarea id="surveyJSON" rows="20" style="width:100%"></textarea>
</p>
<button class="btn btn-primary" onclick="setSurvey()">Apply</button>        
<pre><code class="language-javascript">editor.text = MySurveyJSON;</code></pre>
</div>

<script>
function loadSurvey() {
    var json = document.getElementById('surveyJSON');
    json.value = editor.text;
}
function setSurvey() {
    var json = document.getElementById('surveyJSON');
    editor.text = json.value;
}
loadSurvey();
</script>