.svc-survey-text {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  background: $background;
  box-sizing: border-box;
  width: 100%;
  height: calcSize(6);
  border: 1px solid $border-inside;
  padding: 12px calcSize(2);
  margin-top: calcSize(1);
  outline: none;
  font-size: calcSize(2);
  color: $foreground;
}

.svc-survey-text::placeholder {
  color: $foreground-light;
}

.svc-survey-text:focus {
  border: 2px solid #19b394;
}

.svc-survey-text:disabled,
.svc-survey-text:disabled::placeholder {
  color: $foreground-disabled;
}
