.svc-survey-question {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  //todo: remove !important
  min-width: auto !important;
}
.svc-survey-question__title {
  width: 100%;
  line-height: calcSize(3);
  font-size: calcSize(2);
  font-family: "Open Sans";
  color: $foreground-light;
  font-weight: normal;
  margin: 0;
  box-sizing: border-box;
}
