 /* Variables  */
 :root {
  --spacing-x2: 16px;
  --spacing-x3: 24px;
  --spacing-x1: 8px;
  --spacing-x05: 4px;
  --spacing-x025: 2px;
  --spacing-x0125: 1px;
  --spacing-x150: 12px;
  --spacing-x250: 20px;
  --spacing-x4: 32px;
  --spacing-x350: 28px;
  --spacing-x5: 40px;
  --spacing-x6: 48px;
  --spacing-x7: 56px;
  --spacing-x8: 64px;
  --spacing-x9: 72px;
  --spacing-x10: 80px;
  --spacing-x11: 88px;
  --spacing-x12: 96px;
  --spacing-x13: 104px;
  --spacing-x14: 112px;
  --spacing-x15: 120px;
  --spacing-x16: 128px;
  --spacing-x075: 6px;
  --spacing-x125: 10px;
  --corner-radius-x0125: 1px;
  --corner-radius-x025: 2px;
  --corner-radius-x05: 4px;
  --corner-radius-x075: 6px;
  --corner-radius-x1: 8px;
  --corner-radius-x125: 10px;
  --corner-radius-x150: 12px;
  --corner-radius-x2: 16px;
  --corner-radius-x250: 20px;
  --corner-radius-x3: 24px;
  --corner-radius-x350: 28px;
  --corner-radius-x4: 32px;
  --corner-radius-x5: 40px;
  --corner-radius-x6: 48px;
  --corner-radius-x7: 56px;
  --corner-radius-x8: 64px;
  --corner-radius-round: 1024px;
  --stroke-x1: 1px;
  --stroke-x2: 2px;
  --stroke-x3: 3px;
  --stroke-x4: 4px;
  --stroke-x6: 6px;
  --stroke-x8: 8px;
  --corner-radius-x0375: 3px;
  --size-x0125: 1px;
  --size-x025: 2px;
  --size-x05: 4px;
  --size-x075: 6px;
  --size-x1: 8px;
  --size-x125: 10px;
  --size-x150: 12px;
  --size-x2: 16px;
  --size-x250: 20px;
  --size-x3: 24px;
  --size-x350: 28px;
  --size-x4: 32px;
  --size-x5: 40px;
  --size-x6: 48px;
  --size-x7: 56px;
  --size-x8: 64px;
  --size-x9: 72px;
  --size-x10: 80px;
  --size-x11: 88px;
  --size-x12: 96px;
  --size-x13: 104px;
  --size-x14: 112px;
  --size-x15: 120px;
  --size-x16: 128px;
  --size-x550: 44px;
  --spacing-x1050: 84px;
}

