/*custom creator theme*/
:root {
  --sjs-primary-background-500: #F902FF;
  --sjs-secondary-background-500: #20FEFE;
  --sjs-secondary-background-25: #21FEFE3F;
  --sjs-secondary-background-10: #21FEFE19;
  --sjs-secondary-foreground-100: #038383;
  --sjs-primary-background-400: #C404C8;
  --sjs-secondary-forecolor-25: #0384847F;
  --sjs-layer-1-background-500: #3B3E56;
  --sjs-layer-1-background-400: #171D6D;
  --sjs-layer-1-foreground-100: #CAD5FC;
  --sjs-layer-1-foreground-75: #CBD6FDBF;
  --sjs-layer-1-foreground-50: #CBD6FD72;
  --sjs-layer-2-background-500: #3C563C;
  --sjs-layer-2-background-400: #066602;
  --sjs-layer-2-foreground-100: #A9F9A9;
  --sjs-layer-2-foreground-75: #AAFAAABF;
  --sjs-layer-2-foreground-50: #AAFAAA72;
  --sjs-layer-3-background-500: #482B2B;
  --sjs-layer-3-background-400: #710E0E;
  --sjs-layer-3-foreground-100: #FFC4C4;
  --sjs-layer-3-foreground-75: #FFC5C5BF;
  --sjs-layer-3-foreground-50: #FFC5C572;
  --sjs-border-25: #000000;
  --sjs-border-10: #0000007F;
  --sjs-special-background: #EDF9F7;
  --sjs-special-haze: #F7CCFE59;
  --sjs-special-shadow: #FFFFFF;
  --sjs-special-glow: #FFFFFF7F;
  --sjs-semantic-red-background-500: #FF9FFB;
  --sjs-primary-background-10: #FA02FF19;
  --sjs-semantic-red-background-10: #FFA0FB7F;
  --sjs-semantic-red-foreground-100: #8D0888;
  --sjs-semantic-green-background-500: #87FFA9;
  --sjs-semantic-green-background-10: #88FFA97F;
  --sjs-semantic-green-foreground-100: #047F26;
  --sjs-semantic-blue-background-500: #6BE9FA;
  --sjs-semantic-blue-background-10: #6CE9FA7F;
  --sjs-semantic-blue-foreground-100: #047180;
  --sjs-semantic-yellow-background-500: #FFF387;
  --sjs-semantic-yellow-background-10: #FFF3887F;
  --sjs-semantic-yellow-foreground-100: #796E07;
  --sjs-semantic-white-background-500: #000000;
  --sjs-primary-foreground-100: #FECDFF;
  --sjs-code-red-500: #F41B4F;
  --sjs-code-green-500: #08997B;
  --sjs-code-blue-500: #316EC9;
  --sjs-code-yellow-500: #F58C06;
  --sjs-code-purple-500: #C22EA1;
  --sjs-primary-foreground-25: #FECEFF7F;
  --sjs-code-gray-700: #B5B5B5;
  --sjs-code-gray-500: #8A8A8A;
  --sjs-code-gray-300: #505050;
}