@import "../../variables.scss";

svc-tabbed-menu-item {
  display: flex;
  flex-direction: column;
  align-self: flex-start;

  &:hover {
    box-shadow: inset 0px -1px 0px $border;
  }
}

.svc-tabbed-menu-item {
  padding: 0px calcSize(3);
  line-height: calcSize(8);
  box-sizing: border-box;
  cursor: pointer;
}

.svc-tabbed-menu-item--selected {
  background: $background;
  box-shadow: inset 0px -2px 0px $primary;
}

.svc-tabbed-menu-item:hover {
  background-color: $background-dim;
}

.svc-tabbed-menu-item--disabled {
  cursor: default;
  color: $foreground-disabled;
  &:hover {
    background-color: $background;
  }
}

.svc-tabbed-menu-item--hidden {
  visibility: hidden;
}

.svc-tabbed-menu-item__text {
  white-space: nowrap;
}
