@use "../../variables" as *;

.svc-tabbed-menu {
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  align-items: center;
}

.svc-tabbed-menu-wrapper {
  flex: 1 1 auto;
  overflow: hidden;
}