.git/*
.vs/*
node_modules/*
*.cmd
.idea
*.cmd
package/*
tmp/*
/src/*.js
/tests/*.js
_site/
.sass-cache
.vscode/
docs/pmes.json
docs/classes.json
/dist/css
/shippable
/Properties
/src/templateEditor.ko.html.ts
/typings
/wwwroot
/surveyjs.editor.xproj
/survey.js.editor.sln
/Startup.cs
/project.lock.json
/project.json
/hosting.ini
/src/template_question.html.ts
/src/template_page.html.ts
/bin/Debug/dnxcore50
/obj/Debug
/web.config
/doc_generator/*.json
*.env
svgbundle.html
package-lock.json
