.git/*
.vs/*
node_modules/*
.idea
package/*
build/*
tmp/*
/src/*.js
/tests/*.js
!/tests/mock-loader.js
_site/
.sass-cache
docs/pmes.json
docs/classes.json
dist/
/shippable
/Properties
/src/templateEditor.ko.html.ts
/typings
/wwwroot
/surveyjs.editor.xproj
/survey.js.editor.sln
/Startup.cs
/project.lock.json
/project.json
/hosting.ini
/src/template_question.html.ts
/src/template_page.html.ts
/bin/Debug/dnxcore50
/obj/Debug
/web.config
/package-lock.json
/doc_generator/*.json
*.env
svgbundle.html

doc_generator/*.json
node_modules
build
package
tmp
package-lock.json
/packages/*/coverage/**/*

visualRegressionTests/screenshots
visualRegressionTests/artifacts
visualRegressionTests-V2/screenshots
visualRegressionTests-V2/artifacts
visualRegressionTests-V2/**/*.ts
!visualRegressionTests-V2/helper.ts
screenshotLegacyTests/*.ts
!screenshotLegacyTests/helper.ts

.angular

junit.xml
packages/survey-creator-core/.vscode/launch.json

**/test-results/
**/playwright-report/
