 /* Aliases  */
 :root {
  --general-backcolor: var(--layer-1-background-500);
  --general-backcolor-dark: var(--layer-1-background-400);
  --general-forecolor: var(--layer-1-foreground-100);
  --general-forecolor-light: var(--layer-1-foreground-50);
  --general-dim-backcolor: var(--layer-3-background-500);
  --general-dim-forecolor: var(--layer-3-foreground-100);
  --general-dim-forecolor-light: var(--layer-3-foreground-50);
  --general-dim-backcolor-light: var(--layer-2-background-500);
  --general-dim-backcolor-dark: var(--layer-2-background-400);
  --borders-default-border: var(--borders-border-25);
  --borders-light-border: var(--borders-border-10);
  --borders-inside-border: var(--borders-border-25-inner);
  --primary-backcolor: var(--primary-background-500);
  --primary-backcolor-light: var(--primary-background-10);
  --primary-backcolor-dark: var(--primary-background-400);
  --primary-forecolor: var(--primary-foreground-100);
  --primary-forecolor-light: var(--primary-foreground-25);
  --secondary-backcolor: var(--secondary-background-500);
  --secondary-backcolor-light: var(--secondary-background-10);
  --secondary-backcolor-semi-light: var(--secondary-background-25);
  --secondary-forecolor: var(--secondary-foreground-100);
  --secondary-forecolor-light: var(--secondary-forecolor-25);
  --special-red: var(--semantic-red-background-500);
  --special-red-light: var(--semantic-red-background-10);
  --special-red-forecolor: var(--semantic-red-foreground-100);
  --special-green: var(--semantic-green-background-500);
  --special-green-light: var(--semantic-green-background-10);
  --special-green-forecolor: var(--semantic-green-foreground-100);
  --special-blue: var(--semantic-blue-background-500);
  --special-blue-light: var(--semantic-blue-background-10);
  --special-blue-forecolor: var(--semantic-blue-foreground-100);
  --special-yellow: var(--semantic-yellow-background-500);
  --special-yellow-light: var(--semantic-yellow-background-10);
  --special-yellow-forecolor: var(--semantic-yellow-foreground-100);
  --special-white: var(--semantic-white-background-500);
  --code-light-gray: var(--code-gray-700);
  --code-blue: var(--code-blue-500);
  --code-black: var(--code-gray-300);
  --code-green: var(--code-green-500);
  --code-red: var(--code-red-500);
  --code-purple: var(--code-purple-500);
  --code-yellow: var(--code-yellow-500);
  --code-gray: var(--code-gray-500);
  --general-haze-background: var(--special-haze);
}

