 /* Variables  */
 :root {
  --layer-1-background-500: #FFFFFFFF;
  --layer-1-background-400: #F8F8F8FF;
  --layer-1-foreground-100: #000000E8;
  --layer-1-foreground-50: #00000073;
  --layer-3-background-500: #F3F3F3FF;
  --layer-3-foreground-100: #000000E8;
  --layer-3-foreground-50: #00000073;
  --layer-2-background-500: #F9F9F9FF;
  --layer-2-background-400: #F3F3F3FF;
  --special-haze: #90909080;
  --borders-border-25: #00000029;
  --borders-border-10: #00000017;
  --borders-border-25-inner: #00000029;
  --primary-background-500: #19B394FF;
  --primary-background-10: #19B3941A;
  --primary-background-400: #14A48BFF;
  --primary-foreground-100: #FFFFFFFF;
  --primary-foreground-25: #FFFFFF40;
  --secondary-background-500: #FF9814FF;
  --secondary-background-25: #FF981440;
  --secondary-background-10: #FF98141A;
  --secondary-foreground-100: #FFFFFFFF;
  --secondary-forecolor-25: #FFFFFF40;
  --semantic-red-background-500: #E50A3EFF;
  --semantic-red-background-10: #E50A3E1A;
  --semantic-red-foreground-100: #FFFFFFFF;
  --semantic-green-background-500: #19B394FF;
  --semantic-green-background-10: #19B3941A;
  --semantic-green-foreground-100: #FFFFFFFF;
  --semantic-blue-background-500: #437FD9FF;
  --semantic-blue-background-10: #437FD91A;
  --semantic-blue-foreground-100: #FFFFFFFF;
  --semantic-yellow-background-500: #FF9814FF;
  --semantic-yellow-background-10: #FF98141A;
  --semantic-yellow-foreground-100: #FFFFFFFF;
  --semantic-white-background-500: #FFFFFFFF;
  --code-gray-700: #B6B6B6FF;
  --code-blue-500: #326FCAFF;
  --code-gray-300: #505050FF;
  --code-green-500: #08997CFF;
  --code-red-500: #F41B50FF;
  --code-purple-500: #C22FA2FF;
  --code-yellow-500: #F58D06FF;
  --code-gray-500: #8A8A8AFF;
  --special-background: #F3F3F3FF;
  --layer-1-foreground-75: #000000BF;
  --layer-3-background-400: #E8E8E8FF;
  --special-shadow-large: #0000001A;
  --special-shadow-small: #00000026;
  --layer-3-foreground-75: #000000BF;
  --layer-2-foreground-100: #000000E8;
  --layer-2-foreground-75: #000000BF;
  --layer-2-foreground-50: #00000073;
}

:root {
  --primary-background-500: #F902FF;
--primary-background-400: #C404C8;
--primary-background-10: #FA02FF19;
--primary-foreground-100: #FECDFF;
--primary-foreground-25: #FECEFF7F;
--secondary-background-500: #20FEFE;
--secondary-background-25: #21FEFE3F;
--secondary-background-10: #21FEFE19;
--secondary-foreground-100: #038383;
--secondary-forecolor-25: #0384847F;
--layer-1-background-500: #3B3E56;
--layer-1-background-400: #171D6D;
--layer-1-foreground-100: #CAD5FC;
--layer-1-foreground-75: #CBD6FDBF;
--layer-1-foreground-50: #CBD6FD72;
--layer-2-background-500: #3C563C;
--layer-2-background-400: #066602;
--layer-2-foreground-100: #A9F9A9;
--layer-2-foreground-75: #AAFAAABF;
--layer-2-foreground-50: #AAFAAA72;
--layer-3-background-500: #482B2B;
--layer-3-background-400: #710E0E;
--layer-3-foreground-100: #FFC4C4;
--layer-3-foreground-75: #FFC5C5BF;
--layer-3-foreground-50: #FFC5C572;
--borders-border-25: #000000;
--borders-border-10: #0000007F;
--special-background: #EDF9F7;
--special-haze: #F7CCFE59;
--special-shadow: #FFFFFF;
--special-glow: #FFFFFF7F;
--semantic-red-background-500: #FF9FFB;
--code-red-500: #F41B4F;
--code-green-500: #08997B;
--code-blue-500: #316EC9;
--code-yellow-500: #F58C06;
--code-purple-500: #C22EA1;
--code-gray-700: #B5B5B5;
--code-gray-500: #8A8A8A;
--code-gray-300: #505050;
--semantic-red-background-10: #FFA0FB7F;
--semantic-red-foreground-100: #8D0888;
--semantic-green-background-500: #87FFA9;
--semantic-green-background-10: #88FFA97F;
--semantic-green-foreground-100: #047F26;
--semantic-blue-background-500: #6BE9FA;
--semantic-blue-background-10: #6CE9FA7F;
--semantic-blue-foreground-100: #047180;
--semantic-yellow-background-500: #FFF387;
--semantic-yellow-background-10: #FFF3887F;
--semantic-yellow-foreground-100: #796E07;
--semantic-white-background-500: #000000;
}