@import "../../variables.scss";

svc-tab-json-editor {
  width: 100%;
  height: 100%;
  background: $background-dim;
}

.svd-vertical-container {
  position: relative;
  height: 100%;
}

.svd-vertical-container__cell-content {
  position: absolute;
  width: 100%;
  height: 100%;
}