@import "../../variables.scss";

svc-tab-json-editor {
  width: 100%;
  height: 100%;
  background: $background-dim;
}

.svc-json-editor-tab__content {
  position: relative;
  height: 100%;
}

.svc-json-editor-tab__content-area {
  width: 100%;
  height: 100%;
}

.svc-json-editor-tab__content-errors {
  position: absolute;
  right: 0%;
  top: 0%;
  padding: 0.14em;
  background-color: $red;
}

.svc-json-editor-tab__ace-editor {
  height: 100%;
}