@import "../../variables.scss";

svc-tab-test {
  width: 100%;
  height: 100%;
  background: $background-dim;
}

.svc-test-tab__content {
  height: calc(100% - calc(5 * #{$base-unit}));
  overflow-y: auto;
}

.svc-test-tab__content-actions {
  svc-action-bar {
    padding: 0;
  }
}