@mixin sjs2--typography--medium-strong {
  /* sjs2/typography/medium-strong */
  font-family: var(--sjs2-font-family-semantic-default, "Open Sans");
  font-size: var(--sjs2-font-size-semantic-medium, 24px);
  font-style: normal;
  font-weight: 600;
  line-height: var(--sjs2-line-height-semantic-medium, 32px); /* 133.333% */
}
@mixin sjs2--typography--default {
  /* sjs2/typography/default */
  font-family: var(--sjs2-font-family-semantic-default, "Open Sans");
  font-size: var(--sjs2-font-size-semantic-default, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--sjs2-line-height-semantic-default, 24px); /* 150% */
}
@mixin sjs2--typography--default-strong {
  /* sjs2/typography/default-strong */
  font-family: var(--sjs2-font-family-semantic-default, "Open Sans");
  font-size: var(--sjs2-font-size-semantic-default, 16px);
  font-style: normal;
  font-weight: 600;
  line-height: var(--sjs2-line-height-semantic-default, 24px); /* 150% */
}
