@use "../../variables" as *;
@use "./fonts" as *;
@use "blocks/sps-action-bar.scss";
@use "blocks/sps-question.scss";
@use "blocks/sps-input.scss";
@use "blocks/sps-dropdown.scss";
@use "blocks/sps-panel.scss";
@use "blocks/sps-checkbox.scss";
@use "blocks/sps-matrixdynamic.scss";
@use "blocks/sps-table.scss";

.sps-root-modern {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  height: 0;
  flex-grow: 1;
  /* disable library transition animations */
  --sjs-transition-duration: 0ms;
  background: white;
  @include disableLibraryAnimations;
  display: flex;
  flex-direction: column;

  :has(.sps-question__content--main),
  :has(.sps-panel__content--main) {
    max-height: 100%;
    height: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    align-items: stretch;
    height: 0;
    flex-grow: 1;
    .sv-components-row > .sv-components-column--expandable {
      width: 100%;
    }
  }
}
.sps-question__content--main {
  overflow: auto;
}

.sps-panel__content--main {
  max-height: 100%;
  &> .sps-row {
    max-height: 100%;
  }
}

.sps-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sps-page {
  display: flex;
  padding: var(--sjs2-spacing-x400, 32px);
  flex-direction: column;
  align-items: stretch;
  flex: 1 0 0;
  align-self: stretch;
  gap: var(--sjs2-spacing-x150, 12px);
  background: var(--sjs2-color-utility-plain, rgba(28, 27, 32, 0.05));
}

.sps-page__title {
  color: var(--sjs2-color-fg-basic-primary, #1C1B20);

  @include sjs2--typography--medium-strong;
}

.sps-page__description {
  color: var(--sjs2-color-fg-basic-primary, #1C1B20);

  @include sjs2--typography--default;

  padding-bottom: var(--sjs2-spacing-x150, 12px);
}

.sps-action-title-bar {
  margin-inline-end: var(--ctr-data-table-border-width, var(--sjs-stroke-x1));
  padding-inline-end: var(--ctr-caption-with-actions-actionbar-padding-right, calcSize(0.5));

  &.sps-action-title-bar {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.sps-body {
  width: 100%;

  .sv-components-container-contentBottom {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.sps-row--multiple {
  display: flex;
  align-items: stretch;
  & > div {
    display: flex;
    padding: var(--sjs2-spacing-x150, 12px);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--sjs2-spacing-x075, 6px);
    align-self: stretch;
    border-right: var(--sjs2-border-width-static-x100, 1px) solid var(--sjs2-color-border-basic-secondary, #D4D4D4);
    padding-right: 0;
    &:last-child {
      border: none;
      padding-right: var(--sjs2-spacing-x150, 12px);
    }
  }
  .sps-question--nested {
    overflow-y: scroll;
  }
}
