<script type="text/html" id="se-component-toolbox">
  <svd-toolbox params="itemsProvider: $data" data-bind="visible: showToolbox"></svd-toolbox>
</script>

<script type="text/html" id="se-component-property-grid">
  <div class="svd_properties svd-light-border-color svd-dark-bg-color">
    <div class="svd-vertical-container">
      <div class="svd-vertical-container__row">
          <div class="svd-vertical-container__cell">
            <div class="svd_object_selector svd-light-border-color">
              <div class="svd_custom_select">
                  <select
                  onmousewheel="return false;"
                  id="objectSelector"
                  class="form-control"
                  data-bind="options: koObjects, optionsText: 'text', value: koSelectedObject"
                  aria-label="Survey elements selector"
                  ></select>
              </div>
          </div>
        </div>
      </div>
      <div class="svd-vertical-container__row">
          <div class="svd-vertical-container__cell">
            <div class="svd-vertical-container__cell-content-holder">
              <div class="svd-vertical-container__cell-content svd-vertical-container__cell-content--scrollable">
                <div class="svd_object_editor">
                  <div data-bind="template: { name: 'questioneditor-propertygrid', data: selectedElementPropertyGrid }"></div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</script>

<script type="text/html" id="se-component-toolbar">
  <svd-toolbar params="items: toolbarItems"></svd-toolbar>
</script>

<script type="text/html" id="se-component-pages-editor">
  <svd-pages-editor params="editor:$data" data-bind="visible: koShowPagesToolbox">
  </svd-pages-editor>
</script>