<script type="text/html" id="se-component-toolbox">
  <svd-toolbox params="itemsProvider: $data" data-bind="visible: showToolbox"></svd-toolbox>
</script>

<script type="text/html" id="se-component-property-grid">
  <svd-property-grid params="koObjects: koObjects, koSelectedObject: koSelectedObject, selectedElementPropertyGrid: selectedElementPropertyGrid"></svd-property-grid>
</script>

<script type="text/html" id="se-component-toolbar">
  <svd-toolbar params="items: toolbarItems"></svd-toolbar>
</script>

<script type="text/html" id="se-component-pages-editor">
  <svd-pages-editor params="editor:$data" data-bind="visible: koShowPagesToolbox">
  </svd-pages-editor>
</script>
