.svd-designer-container {
}

.svd-designer-container--left-side {
    display: table-cell;
    vertical-align: top;
    width: 15%;
}

.svd-designer-container--right-side {
    display: table-cell;
    vertical-align: top;
    width: 25%;
}