${require('./index.html')}
${require('./jsoneditor.html')}
${require('./objecteditor.html')}
${require('./objectverbs.html')}
${require('./pageeditor.html')}
${require('./surveyembeding.html')}
${require('./questionEditors/questioneditor.html')}
${require('./questionEditors/questioneditor-content.html')}
${require('./questionEditors/questioneditortab-general.html')}
${require('./propertyEditors/propertyeditor-boolean.html')}
${require('./propertyEditors/propertyeditor-dropdown.html')}
${require('./propertyEditors/propertyeditor-html.html')}
${require('./propertyEditors/propertyeditor-expression.html')}
${require('./propertyEditors/propertyeditor-itemvalues.html')}
${require('./propertyEditors/propertyeditor-nested.html')}
${require('./propertyEditors/propertyeditor-matrixdropdowncolumns.html')}
${require('./propertyEditors/propertyeditor-modal.html')}
${require('./propertyEditors/propertyeditor-number.html')}
${require('./propertyEditors/propertyeditor-restfull.html')}
${require('./propertyEditors/propertyeditor-string.html')}
${require('./propertyEditors/propertyeditor-text.html')}
${require('./propertyEditors/propertyeditor-textitems.html')}
${require('./propertyEditors/propertyeditor-triggers.html')}
${require('./propertyEditors/propertyeditor-triggersitems.html')}
${require('./propertyEditors/propertyeditor-validators.html')}

${require('./manage.html')}
${require('./toolbar.html')}