${require('./index.html')} ${require('./jsoneditor.html')}
${require('./surveyembeding.html')}
${require('./translation.html')} ${require('./logic-tab.html')}
${require('./questionEditors/questioneditor.html')}
${require('./questionEditors/questioneditor-content.html')}
${require('./questionEditors/questioneditor-propertygridcontent.html')}
${require('./questionEditors/questioneditortab.html')}
${require('./propertyEditors/elementselector.html')}
${require('./propertyEditors/propertyeditor.html')}
${require('./propertyEditors/propertyeditor-boolean.html')}
${require('./propertyEditors/propertyeditor-switch.html')}
${require('./propertyEditors/propertyeditor-dropdown.html')}
${require('./propertyEditors/propertyeditor-html.html')}
${require('./propertyEditors/propertyeditor-condition.html')}
${require('./propertyEditors/propertyeditor-expression.html')}
${require('./propertyEditors/propertyeditor-itemvalues.html')}
${require('./propertyEditors/propertyeditor-multiplevalues.html')}
${require('./propertyEditors/propertyeditor-nested.html')}
${require('./propertyEditors/propertyeditor-modal.html')}${require('./propertyEditors/propertyeditor-modalcontent.html')}
${require('./propertyEditors/propertyeditor-number.html')}
${require('./propertyEditors/propertyeditor-restfull.html')}
${require('./propertyEditors/propertyeditor-defaultvalue.html')}
${require('./propertyEditors/propertyeditor-string.html')}
${require('./propertyEditors/propertyeditor-text.html')}
${require('./propertyEditors/propertyeditor-cells.html')}
${require('./propertyEditors/propertyeditor-triggersitems.html')}
${require('./propertyEditors/propertyeditor-custom.html')}
${require('./toolbar.html')}
${require('./convert-action.html')}
${require('./propertyEditors/propertyeditor-nesteditems.html')}
${require('./propertyEditors/propertyeditor-error.html')}
${require('./propertyEditors/propertyeditor-oneselected.html')}
${require('../svgbundle.html')} ${require('./tabs.html')}
${require('./design-surface.html')}