<div style="overflow:hidden;position:relative;display:table">
    <div id="surveyjsPanel" style="display:table-cell;vertical-align:top">
        <nav class="navbar navbar-default">
            <form class="navbar-form navbar-left">
                <button type="button" data-bind="click: runSurveyClick" class="btn" data-toggle="modal" data-target="#myModal">Run Survey</button>
            </form>
        </nav>
        <div class="panel panel-default" style="width:300px;height:570px;overflow-y:auto;overflow-x:hidden">
            <div data-bind="template: { name: 'objecteditor', data: surveyEditor }"></div>
            <div data-bind="visible: koSelectedPage() != null">
                <div data-bind="template: { name: 'objecteditor', data: pageEditor }"></div>
                <div data-bind="template: { name: 'objecteditor', data: questionEditor }"></div>
            </div>
        </div>
    </div>
    <div class="panel panel-default" style="width:100%">
        <nav class="navbar navbar-default">
            <div class="collapse navbar-collapse">
                <form class="navbar-form navbar-left">
                    <button type="button" class="btn btn-default" data-bind="click: addQuestion, enable: koSelectedPage() != null">Add Question</button>                
                </form>
                <ul class="nav navbar-nav">
                    <!-- ko foreach: questionTypes -->
                    <li data-bind="css: {active: $parent.koSelectedQuestionType() == $data}, click: $parent.selectQuestionTypeClick($data)"><a><span data-bind="text:$data" style="cursor: pointer"></span></a></li>
                    <!-- /ko  -->
                </ul>
            </div>
        </nav>
        <ul class="nav nav-tabs">
            <li role="presentation" data-bind="css: { active : koIsShowDesigner() }, click:selectDesignerClick"><a href="#">Designer</a></li>
            <li role="presentation" data-bind="css: { active : !koIsShowDesigner() }, click:selectEditorClick"><a href="#">JSON Editor</a></li>
        </ul>
        <div data-bind="visible: koIsShowDesigner()">
            <div style="overflow-y: scroll;height:450px;">
                <div id="surveyjs" style="width:100%"></div>
            </div>
        </div>
        <div id="surveyjsEditor" data-bind="visible: !koIsShowDesigner()" style="height:450px;width:100%"></div>
        <div data-bind="template: { name: 'pageeditor', data: pagesEditor }"></div>
</div>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Running survey</h4>
            </div>
            <div class="modal-body">
                <div id="surveyjsExample"></div>
            </div>
        </div>
    </div>
</div>