<div class="svd_container">
    <ul class="navbar-default container-fluid collapse navbar-collapse nav nav-tabs svd_menu">
        <li data-bind="css: {active: koViewType() == 'designer'}"><a href="#" data-bind="click:selectDesignerClick, text: $root.getLocString('ed.designer')"></a></li>
        <li data-bind="css: {active: koViewType() == 'editor'}"><a href="#" data-bind="click:selectEditorClick, text: $root.getLocString('ed.jsonEditor')"></a></li>
        <li data-bind="css: {active: koViewType() == 'test'}"><a href="#" data-bind="click:selectTestClick, text: $root.getLocString('ed.testSurvey')"></a></li>
        <li data-bind="css: {active: koViewType() == 'embed'}"><a href="#" data-bind="click:selectEmbedClick, text: $root.getLocString('ed.embedSurvey')"></a></li>
    </ul>

    <button type="button" class="btn btn-primary svd_save_btn" data-bind="click: saveButtonClick, visible: koShowSaveButton"><span data-bind="text: $root.getLocString('ed.saveSurvey')"></span></button>

    <div class="panel svd_content">
        <div id="surveyjsJSONEditor" class="svd_json_editor" data-bind="visible: koViewType() == 'editor'"></div>

        <div id="surveyjsTest" data-bind="visible: koViewType() == 'test', style: {width: koTestSurveyWidth}">
            <select class="form-control" data-bind="value: koTestSurveyWidth">
                <option value="100%" data-bind="text: $root.getLocString('ed.testSurveyWidth') + '100%'"></option>
                <option value="1200px" data-bind="text: $root.getLocString('ed.testSurveyWidth') + '1200px'"></option>
                <option value="1000px" data-bind="text: $root.getLocString('ed.testSurveyWidth') + '1000px'"></option>
                <option value="800px" data-bind="text: $root.getLocString('ed.testSurveyWidth') + '800px'"></option>
                <option value="600px" data-bind="text: $root.getLocString('ed.testSurveyWidth') + '600px'"></option>
                <option value="400px" data-bind="text: $root.getLocString('ed.testSurveyWidth') + '400px'"></option>
            </select>
            <div id="surveyjsExample"></div>
            <div id="surveyjsExampleResults"></div>
            <button id="surveyjsExamplereRun" data-bind="click:selectTestClick, text: $root.getLocString('ed.testSurveyAgain')" style="display:none">Test Again</button>
        </div>

        <div id="surveyjsEmbed" data-bind="visible: koViewType() == 'embed'">
            <div data-bind="template: { name: 'surveyembeding', data: surveyEmbeding }"></div>
        </div>

        <div class="row svd_survey_designer"  data-bind="visible: koViewType() == 'designer'">
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 panel panel-default svd_toolbox">
                <div class="panel-heading">
                    <b data-bind="text: $root.getLocString('ed.toolbox').toUpperCase()"></b>
                </div>
                <div class="btn-group-vertical" style="width:100%;padding-right:2px">
                    <!-- ko foreach: questionTypes -->
                    <div class="btn btn-default" style="text-align:left; margin:1px;width:100%" draggable="true" data-bind="click: $parent.clickQuestion, event:{dragstart: function(el, e) { $parent.draggingQuestion($data, e); return true;}, dragend: function(el, e) { $parent.dragEnd(); }}">
                        <span data-bind="text: $root.getLocString('qt.' + $data)"></span>
                    </div>
                    <!-- /ko  -->
                    <!-- ko foreach: koCopiedQuestions -->
                    <div class="btn btn-primary" style="text-align:left; margin:1px;width:100%" draggable="true" data-bind="click: $parent.clickCopiedQuestion, event:{dragstart: function(el, e) { $parent.draggingCopiedQuestion($data, e); return true;}, dragend: function(el, e) { $parent.dragEnd(); }}">
                        <span data-bind="text:name"></span>
                    </div>
                    <!-- /ko  -->
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="svd_actions">
                    <button type="button" class="btn btn-primary" data-bind="enable:undoRedo.koCanUndo, click: doUndoClick"><span data-bind="text: $root.getLocString('ed.undo')"></span></button>
                    <button type="button" class="btn btn-primary" data-bind="enable:undoRedo.koCanRedo, click: doRedoClick"><span data-bind="text: $root.getLocString('ed.redo')"></span></button>
                    <div data-bind="visible: koShowOptions()" class="btn-group inline">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-bind="text: $root.getLocString('ed.options')">
                            Options <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li data-bind="css: {active: koGenerateValidJSON}"><a href="#" data-bind="click:generateValidJSONClick, text: $root.getLocString('ed.generateValidJSON')"></a></li>
                            <li data-bind="css: {active: !koGenerateValidJSON()}"><a href="#" data-bind="click:generateReadableJSONClick, text: $root.getLocString('ed.generateReadableJSON')"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="svd_pages_editor" data-bind="template: { name: 'pageeditor', data: pagesEditor }"></div>
                <div class="svd_questions_editor" id="scrollableDiv">
                    <div id="surveyjs"></div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 panel panel-default svd_properties">
                <div class="panel-heading">
                    <div class="input-group">
                        <select class="form-control" data-bind="options: koObjects, optionsText: 'text', value: koSelectedObject"></select>
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" data-bind="enable: koCanDeleteObject, click: deleteCurrentObject, attr: { title: $root.getLocString('ed.delSelObject')}"><span class="glyphicon glyphicon-remove"></span></button>
                        </span>
                    </div>
                </div>
                <div data-bind="template: { name: 'objecteditor', data: selectedObjectEditor }"></div>
                <div class="panel-footer" data-bind="visible:surveyVerbs.koHasVerbs">
                    <div data-bind="template: { name: 'objectverbs', data: surveyVerbs }"></div>
                </div>
            </div>
        </div>
    </div>
</div>