<script type="text/html" id="se-tab-logic">
  <div class="svd-logic-tab">
    <div data-bind="visible: koMode() == 'view'">
      <div data-bind="visible: $data.koItems().length > 0" >
        <p>
        <input type="button" class="btn btn-primary" data-bind="visible: !koReadOnly(), click: $data.koAddNew, value: $data.getLocString('pe.addNew'), attr: {title: $data.getLocString('pe.addNew') }" />
        </p>
        <table class="svd-logic-tab__rules-list">
          <thead>
              <tr class="svd-logic-tab__rules-list__header svd-logic-tab__rules-list__row">
                  <td data-bind="visible:!$data.isReadOnly" width="100px"></td>
                  <th class="svd-dark-border-color" data-bind="text: $data.getLocString('ed.lg.conditions')"></th>
                  <th class="svd-dark-border-color" data-bind="text: $data.getLocString('ed.lg.actions')"></th>
                  <td data-bind="visible:!$data.isReadOnly" width="100px"></td>
              </tr>
          </thead>
          <tbody data-bind="foreach: $data.koItems">
              <tr class="svd-logic-tab__rules-list__row">
                <td data-bind="visible:!$parent.isReadOnly" class="svd-logic-tab__rules-list__action-cell">
                  <span data-bind="click: $data.edit, attr: {title: $data.editText }">
                    <svg-icon class="svd-primary-icon icon-actioneditelement" params="iconName: 'icon-actioneditelement'"></svg-icon>
                  </span>
                </td>
                <td>
                  <span data-bind="text: $data.title"></span>
                </td>
                <td>
                  <div data-bind="foreach: $data.koActions">
                    <span data-bind="text: $data.text"></span>
                  </div>
                </td>
                <td data-bind="visible:!$parent.isReadOnly" class="svd-logic-tab__rules-list__action-cell">
                  <span data-bind="click: $data.remove, attr: {title: $data.deleteText }">
                    <svg-icon class="svd-danger-icon icon-actiondelete" params="iconName: 'icon-actiondelete'"></svg-icon>
                  </span>
                </td>
              </tr>
          </tbody>
        </table>
      </div>

      <div data-bind="visible: $data.koItems().length === 0" class="svd-survey-placeholder-root">
        <div class="svd-survey-placeholder">
        <!-- ko if: placeholderHtml -->
          <div data-bind="html: placeholderHtml"></div>
        <!-- /ko -->
        <!-- ko ifnot: placeholderHtml -->
          <div class="svd-empty-message-container">
            <div class="svd-empty-message" data-bind="text: getLocString('survey.addLogicItem')"></div>
            <img class="svd-empty-image" src="../images/start-designing-form.svg" data-bind="attr: { alt: getLocString('survey.addLogicItem') }"/>
            <input class="svd-empty-action btn btn-primary" type="button" data-bind="visible: !koReadOnly(), click: $data.koAddNew, value: $data.getLocString('pe.addNew')" />
          </div>
          <!-- /ko -->
        </div>
    </div>

    </div>
    <div data-bind="visible: koMode() == 'new' || koMode() == 'edit'">
      <h4 class="svd-logic-tab__rule-editor__title" data-bind="text: $data.getLocString('ed.lg.expressionEditorTitle')"></h4>
      <!-- ko template: { name: 'propertyeditor', data: $data.expressionEditor } --><!-- /ko -->
      <!--ko if: $data.koEditableItem() != null -->
        <h4 class="svd-logic-tab__rule-editor__title" data-bind="text: $data.getLocString('ed.lg.actionsEditorTitle')"></h4>
        <!-- ko foreach: {data: $data.koEditableItem().koActions, as: 'action' } -->
        <div class="svd-logic-tab__item">
          <div class="form-inline form-group" style="padding-bottom:10px">
            <div class="svd-logic-tab__actions-setup" data-bind="visible:$index() == 0 && $parent.actionsSetupText, text: $parent.actionsSetupText"></div>
            <!-- ko template: {name: 'propertyeditor-error', data: $data} --><!-- /ko -->
            <div class="form-control svd_custom_select" style="width: 50%;max-width:300px">
              <select onmousewheel="return false;" data-bind="if: true, value:action.koLogicType, attr: { 'aria-label': $parent.selectedActionCaption }">
                <option data-bind="text:$parent.selectedActionCaption, value: null"></option>
                <!-- ko foreach: {data: $parent.koLogicTypes, as: 'item' } -->
                <option data-bind="visible: item.koVisible, value: item, text: item.displayName"></option>
                <!-- /ko -->
              </select>
            </div>
            <div style="display:inline-block">
              <!--ko if: action.koLogicType() != null -->
              <span style="padding-left:20px" data-bind="text:action.koLogicType().description"></span>
              <!-- /ko -->
              <span class="svd-logic-tab__item-header-icon" style="padding-left: 20px" data-bind="key2click, clickNoFocus: $parent.koRemoveAction, attr: {title: $data.deleteActionText }">
                <svg-icon class="svd-danger-icon icon-actiondelete" params="iconName: 'icon-actiondelete'"></svg-icon>
              </span>
            </div>
          </div>
          <div style="max-width:800px">
          <!--ko if: action.koTemplateObject() != null && !!action.koTemplate() -->
            <!-- ko template: { name: action.template, data: action.koTemplateObject() } --><!-- /ko -->
          <!-- /ko -->
          </div>
        </div>
        <!-- /ko -->
        <p>
          <div style="width:200px;padding-bottom:20px">
            <input type="button" class="form-control btn btn-primary svd-logic-button svd-logic-add-new-action-button" data-bind="click:koAddNewAction, value: addNewActionText" />
          </div>
        </p>
        <p>
          <div>
            <!-- ko template: {name: 'propertyeditor-error', data: $data} --><!-- /ko -->
          </div>
          <div class="form-inline form-group">
            <input type="button" class="form-control btn btn-primary svd-logic-button svd-logic-save-and-back-button" data-bind="click:$data.koSaveAndShowView, value: $data.getLocString('pe.saveAndBack')" />
            <input type="button" class="form-control btn btn-primary svd-logic-button svd-logic-save-button" data-bind="click: $data.koSaveEditableItem, value: $data.getLocString('pe.save')"/>
            <input type="button" class="form-control btn btn-primary svd-logic-button svd-logic-back-button" data-bind="click: $data.koShowView, value: $data.getLocString('pe.back')"/>
          </div>
        </p>
      <!-- /ko -->
    </div>
  </div>
</script>
