<script type="text/html" id="surveys-manage">
    <div class="svd-manage">
        <div class="svd-manage-mask" data-bind="visible: isLoading"></div>
        <div class="svd-manage-control">
            <select class="svd-manage-select" data-bind="visible: !isEditMode(), options: surveys,
                        optionsText: 'name',
                        value: currentSurvey,
                        optionsCaption: 'Choose survey to edit or start editing and survey will be saved automatically...'"></select>
            <input type="text" class="svd-manage-name" data-bind="visible: isEditMode, value: currentSurveyName, event: { keyup: nameEditorKeypress }"
            />
        </div>
        <div class="svd-manage-buttons">
            <span class="icon" data-bind="visible: currentSurvey, click: edit, css: cssEdit, attr: { title: titleEdit }"></span>
            <span class="icon" data-bind="visible: !isEditMode(), click: add, css: cssAdd, attr: { title: titleAdd }"></span>
            <span class="icon icon-delete" title="Delete current survey" data-bind="visible: !isEditMode() && !surveyId() && currentSurvey(), click:remove"></span>
        </div>
    </div>
</script>
<script type="text/html" id="attach-survey">
    <a target="_blank" href="#" data-bind="attr: { href: action, title: title }">
        <span class="icon" data-bind="css: innerCss"></span>
        <span data-bind="text: title"></span>
    </a>
</script>