<script type="text/html" id="surveys-manage">
    <div class="input-group">
        <select class="form-control" aria-label="Available surveys" data-bind="options: surveys,
                       optionsText: 'name',
                       value: currentSurvey,
                       optionsCaption: 'Choose survey to edit...'"></select>
        <span class="input-group-addon" title="Edit survey name">e</span>
        <span class="input-group-addon" title="Add new survey">+</span>
        <span class="input-group-addon" title="Delete current survey">х</span>
    </div>
</script>