<script type="text/html" id="objecteditor">
    <table class="table svd_table-nowrap">
        <tbody data-bind="foreach: koProperties">
            <tr data-bind="click: $parent.changeActiveProperty($data), css: {'active': $parent.koActiveProperty() == $data}">
                <td data-bind="text: displayName, attr: {title: title}" width="50%"></td>
                <td width="50%">
                    <span data-bind="text: koText, visible: $parent.koActiveProperty() != $data, attr: {title: koText}, style: {color: koIsDefault() ? 'gray' : ''}" style="text-overflow:ellipsis;white-space:nowrap;overflow:hidden"></span>
                    <div data-bind="visible: $parent.koActiveProperty() == $data">
                        <!-- ko template: { name: 'propertyeditor-' + editorType, data: $data } -->
                        <!-- /ko -->
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</script>