<script type="text/html" id="pageeditor">
    <ul class="nav nav-tabs" data-bind="tabs:true">
        <!-- ko foreach: koPages -->
        <li data-bind="css: {active: koSelected()},event:{
           keydown:function(el, e){ $parent.keyDown(el, e); },
           dragstart:function(el, e){ $parent.dragStart(el); return true; },
           dragover:function(el, e){ $parent.dragOver(el);},
           dragend:function(el, e){ $parent.dragEnd();},
           drop:function(el, e){ $parent.dragDrop(el);}
         }"> 
            <a class="svd_page_nav" href="#" data-bind="click:$parent.selectPageClick">
                <span data-bind="text: title"></span>
            </a>
        </li>
        <!-- /ko  -->
        <li><button class="btn btn-default svd_add_new_page_btn" data-bind="click:addNewPageClick, attr: {title:  $root.getLocString('ed.addNewPage')}" ><span class="glyphicon glyphicon-plus"></span></button></li>
    </ul>
</script>