<script type="text/html" id="svd-page-selector-template">
    <div class="svd-page-selector svd_custom_select">
        <select data-bind="options: pages, value: selectedPage, optionsText:'name'"></select>
    </div>
    <div class="svd-page-scroller-arrow" data-bind="click: moveLeft">
        <span class="icon-pe-left"></span>
    </div>

    <div class="svd-pages" data-bind="sortable: {foreach: pages, options: sortableOptions}, event: {wheel: onWheel}">
        <div class="svd-page" data-bind="css: $parent.getPageClass($data), click: $parent.onPageClick">
            <span class="svd-page-name" data-bind="text: name"></span>
            <div class="ddmenu-container" data-bind="css: $parent.getPageMenuClass($data)">
                <div style="-webkit-tap-highlight-color:rgba(0,0,0,0)" onclick="return true"></div>

                <div class="ddmenu">
                    <span tabindex="0">
                        <span data-bind="css: $parent.getPageMenuIconClass($data)"></span>
                    </span>

                    <div tabindex="0" onclick="return true"></div>
                    <ul>
                        <li>
                            <button class="btn btn-primary" data-bind="click: (model, event)=>{$parent.showPageSettings($data); event.stopPropagation();}, text: $parent.getLocString('ed.editPage')"></button>
                        </li>
                        <li>
                            <button class="btn btn-primary" data-bind="click: (model, event)=>{$parent.copyPage($data); event.stopPropagation();}, text: $parent.getLocString('survey.Copy')"></button>
                        </li>
                        <li>
                            <button class="btn btn-primary" data-bind="click: (model, event)=>{$parent.deletePage($data); event.stopPropagation();}, text: $parent.getLocString('ed.deletePage'), visible: !$parent.isLastPage()"></button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="svd-page-scroller-arrow" data-bind="click: moveRight">
        <span class="icon-pe-right"></span>
    </div>
    <div class="svd-page-add" data-bind="click: addPage">
        <span class="icon-pe-add"></span>
    </div>
</script>