<script type="text/html" id="propertyeditor-triggers">
<div class="panel">
    <div class="panel-heading">
        <div class="row input-group">
            <span class="input-group-btn">
                <button type="button" data-bind="enable: koQuestions().length > 0, click: onAddClick" class="btn  btn-success"><span class="glyphicon glyphicon-plus"></span></button>
            </span>
            <select class="form-control" data-bind="options: koItems, optionsText: 'koText', value: koSelected"></select>
            <span class="input-group-btn">
                <button type="button" data-bind="enable: koSelected() != null, click: onDeleteClick" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></button>
            </span>
        </div>
    </div>
    <div data-bind="visible: koSelected() == null">
        <div data-bind="visible: koQuestions().length == 0, text: $root.getLocString('pe.noquestions')"></div>
        <div data-bind="visible: koQuestions().length > 0, text: $root.getLocString('pe.createtrigger')"></div>
    </div>
    <div data-bind="visible: koSelected() != null">
        <div data-bind="with: koSelected">
            <div class="row form-inline">
                <div class="col-sm-4">
                    <span data-bind="text: $root.getLocString('pe.triggerOn')"></span><select class="form-control" data-bind="options:$parent.koQuestions, value: koName"></select> <span> </span>
                </div>
                <div class="col-sm-4">
                    <select class="form-control" data-bind="options:availableOperators, optionsValue: 'name', optionsText: 'text', value:koOperator"></select>
                </div>
                <div class="col-sm-4">
                    <input class="form-control" style="padding: 0" type="text" data-bind="visible: koRequireValue, value:koValue" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <!-- ko template: { name: 'propertyeditor-triggersitems', data: pages } -->
                    <!-- /ko -->
                </div>
                <div class="col-sm-6">
                    <!-- ko template: { name: 'propertyeditor-triggersitems', data: questions } -->
                    <!-- /ko -->
                </div>
            </div>
        </div>
    </div>
</div>
</script>