<script type="text/html" id="propertyeditor-array">
    <div>
        <span data-bind="text: koText"></span>
        <button type="button" class="btn btn-default" data-toggle="modal" data-bind="attr: {'data-target' : modalNameTarget}, text: $root.getLocString('pe.edit')"></button>
    </div>

    <div data-bind="attr: {id : modalName}" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" data-bind="text:arrayEditor.title"></h4>
                </div>  
                <div class="modal-body svd_notopbottompaddings">
                    <!-- ko template: { name: 'propertyeditor-' + editorType, data: arrayEditor } -->
                    <!-- /ko -->
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-primary" data-bind="click: arrayEditor.onApplyClick, value: $root.getLocString('pe.apply')" style="width:100px" />
                    <input type="button" class="btn btn-default" data-dismiss="modal" data-bind="value: $root.getLocString('pe.close')" style="width:100px" />
                </div>
            </div>
        </div>
    </div>
</script>
