<script type="text/html" id="propertyeditor-validators">
<div class="panel">
    <div class="panel-heading">
        <div class="row input-group">
            <button type="button" class="dropdown-toggle input-group-addon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
            <ul class="dropdown-menu input-group">
                <!-- ko foreach: availableValidators -->
                <li><a href="#" data-bind="click: $parent.onAddClick($data)"><span data-bind="text:$data"></span></a></li>
                <!-- /ko  -->
            </ul>
            <select class="form-control" data-bind="options: koItems, optionsText: 'text', value: koSelected"></select>
            <span class="input-group-btn">
                <button type="button" data-bind="enable: koSelected() != null, click: onDeleteClick" class="btn"><span class="glyphicon glyphicon-remove"></span></button>
            </span>
        </div>
    </div>
    <div data-bind="template: { name: 'objecteditor', data: selectedObjectEditor }"></div>
</div>
</script>