<script type="text/html" id="propertyeditor-validators">
<div class="panel">
    <div class="panel-heading">
        <div class="row">
            <select style="width:65%" data-bind="options: koItems, optionsText: 'text', value: koSelected"></select>
            <div class="btn-group">
                <button type="button" class="glyphicon glyphicon-plus dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" >
                    <!-- ko foreach: availableValidators -->
                    <li><a href="#" data-bind="click: $parent.onAddClick($data)"><span data-bind="text:$data"></span></a></li>
                    <!-- /ko  -->
                </ul>
            </div>
            <button type="button" data-bind="enable: koSelected() != null, click: onDeleteClick" style="width:15%" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></button>
        </div>
    </div>
    <div data-bind="template: { name: 'objecteditor', data: selectedObjectEditor }"></div>
</div>
</script>