<script type="text/html" id="surveylogic">
  <div data-bind="visible: koMode() == 'view'">
    <button data-bind="visible: !koReadOnly(), click: $data.koAddNew">Add New</button>
    <!-- ko foreach: {data: $data.koItems, as: 'item' } -->
    <div>
        <span data-bind="text: item.expressionText"></span>
        <br/>
        <!-- ko foreach: {data: item.koOperations, as: 'op' } -->
        <div>
          <span data-bind="text: op.text"></span>
          <br/>
        </div>
      <!-- /ko -->
      <button data-bind="visible: !$parent.koReadOnly(), click:$parent.koEditItem">Edit</button><button data-bind="visible: !$parent.koReadOnly(), click:$parent.koRemoveItem">Remove</button>
    </div>
    <!-- /ko -->
  </div>
  <div data-bind="visible: koMode() == 'new' || koMode() == 'edit'">
    <div>
      <button data-bind="click:$data.koShowView">Back</button>
    </div>
    <!-- ko template: { name: 'propertyeditor', data: $data.expressionEditor } --><!-- /ko -->
    <hr />
    <!--ko if: $data.koEditableItem() != null -->
    <!-- ko foreach: {data: $data.koEditableItem().koOperations, as: 'op' } -->
    <div data-bind="visible: op.templateObject !== null">
        <span data-bind="text: op.name"></span><button data-bind="click:$parent.koRemoveOperation">Remove</button>
        <!-- ko template: { name: op.template, data: op.templateObject } --><!-- /ko -->
        <br/>
    </div>
    <hr />
    <!-- /ko -->
    <!-- /ko -->
    <div>
      <!-- ko template: {name: 'propertyeditor-error', data: $data} --><!-- /ko -->
    </div>
    <div class="modal-footer" style="text-align:left">
        <input type="button" class="btn btn-primary" data-bind="click: $data.koSaveEditableItem, value: $root.getLocString('pe.save')"
        style="width:100px" />
    </div>
    <!-- ko foreach: {data: $data.koLogicTypes, as: 'item' } -->
    <div data-bind="visible: item.koVisible">
        <span data-bind="text: item.displayName"></span> <button data-bind="click:$parent.koAddNewOperation">Add</button>
    </div>
    <!-- /ko -->
  </div>
</script>
