<script type="text/html" id="surveylogic">
  <div data-bind="visible: koMode() == 'view'">
    <button data-bind="click: $data.koAddNew">Add New</button>
    <!-- ko foreach: {data: $data.koItems, as: 'item' } -->
    <div>
        <span data-bind="text: item.expression"></span>
        <br/>
        <!-- ko foreach: {data: item.koOperations, as: 'op' } -->
        <div>
          <span data-bind="text: op.text"></span>
          <br/>
        </div>
      <!-- /ko -->
      <button data-bind="click:$parent.koEditItem">Edit</button><button data-bind="click:$parent.koRemoveItem">Remove</button>
    </div>
    <!-- /ko -->
  </div>
  <div data-bind="visible: koMode() == 'new' || koMode() == 'edit'">
    <button data-bind="click:$data.koShowView">Back</button>
    <span>
        Here is the expression:
    </span>
    <!-- ko template: { name: 'propertyeditor', data: $data.expressionEditor } --><!-- /ko -->
    <!--ko if: $data.koEditableItem() != null -->
    <!-- ko foreach: {data: $data.koEditableItem().koOperations, as: 'op' } -->
    <div data-bind="visible: op.templateObject !== null">
        <span data-bind="text: op.text"></span><button data-bind="click:$parent.koRemoveOperation">Remove</button>
        <!-- ko template: { name: op.template, data: op.templateObject } --><!-- /ko -->
        <br/>
    </div>
    <!-- /ko -->
    <!-- /ko -->
    <button data-bind="click:$data.koSaveEditableItem">Save</button>
    <!-- ko foreach: {data: $data.koLogicTypes, as: 'item' } -->
    <div data-bind="visible: item.koVisible">
        <span data-bind="text: item.text"></span> <button data-bind="click:$parent.koAddNewOperation">Add</button>
    </div>
    <!-- /ko -->
  </div>
</script>
