<script type="text/html" id="surveylogic">
  <div data-bind="visible: koMode() == 'view'">
    <input type="button" class="btn btn-primary" data-bind="visible: !koReadOnly(), click: $data.koAddNew, value: $root.getLocString('pe.addNew')" />
    <svd-accordion params="tabs: koItems, template: 'surveylogic_viewitem'"></svd-accordion>
  </div>
  <div data-bind="visible: koMode() == 'new' || koMode() == 'edit'">
    <div>
      <input type="button" class="btn btn-primary" data-bind="click:$data.koShowView, value: $root.getLocString('pe.back')" />
    </div>
    <!-- ko template: { name: 'propertyeditor', data: $data.expressionEditor } --><!-- /ko -->
    <hr />
    <!--ko if: $data.koEditableItem() != null -->
    <!-- ko foreach: {data: $data.koEditableItem().koOperations, as: 'op' } -->
    <div data-bind="visible: op.templateObject !== null">
        <span data-bind="text: op.name"></span><input type="button" class="btn btn-primary" data-bind="click:$parent.koRemoveOperation, value: $root.getLocString('pe.delete')" />
        <!-- ko template: { name: op.template, data: op.templateObject } --><!-- /ko -->
        <br/>
    </div>
    <hr />
    <!-- /ko -->
    <!-- /ko -->
    <div>
      <!-- ko template: {name: 'propertyeditor-error', data: $data} --><!-- /ko -->
    </div>
    <div class="modal-footer" style="text-align:left">
        <input type="button" class="btn btn-primary" data-bind="click: $data.koSaveEditableItem, value: $root.getLocString('pe.save')"
        style="width:100px" />
    </div>
    <!-- ko foreach: {data: $data.koLogicTypes, as: 'item' } -->
    <div data-bind="visible: item.koVisible">
        <span data-bind="text: item.displayName"></span> <input type="button" class="btn btn-primary" data-bind="click:$parent.koAddNewOperation, value: $root.getLocString('pe.add')" />
    </div>
    <!-- /ko -->
  </div>
</script>
<script type="text/html" id="surveylogic_viewitem">
  <div>
      <span data-bind="text: $data.expressionText"></span>
      <br/>
      <!-- ko foreach: {data: $data.koOperations, as: 'op' } -->
      <div>
        <span data-bind="text: op.text"></span>
        <br/>
      </div>
    <!-- /ko -->
    <input type="button" class="btn btn-primary" data-bind="visible: !$data.isReadOnly, click:$data.edit, value: editText" />
    <input type="button" class="btn btn-primary" data-bind="visible: !$data.isReadOnly, click:$data.remove, value: deleteText" />
  </div>
</script>
