<script type="text/html" id="surveyembeding">
    <div class="panel">
        <div class="panel-heading">Scripts and styles</div>
        <div id="surveyEmbedingHead" style="height:70px;width:100%"></div>
    </div>
    <select data-bind="value:koShowAsWindow">
        <option value="page">Use Survey Inside a Page</option>
        <option value="window">Use Survey as a Window</option>
    </select>
    <div class="panel" data-bind="visible: koShowAsWindow()=='page'">
        <div class="panel-heading">HTML Inside body</div>
        <div id="surveyEmbedingBody" style="height:30px;width:100%"></div>
    </div>
    <div class="panel">
        <div class="panel-heading">Java Script</div>
        <div id="surveyEmbedingJava" style="height:300px;width:100%"></div>
    </div>
</script>