<script type="text/html" id="se-tab-designer">
  <div class="row svd_survey_designer">
    <!-- ko if: leftContainer.length > 0 -->
    <svd-designer-container params="tabs: leftContainer, activeTab: leftContainerActiveItem, visible: leftContainerVisible, changed: layoutChangedIndicator, context: $data, className: 'svd-designer-container--left-side'"></svd-designer-container>
    <svd-splitter params="minLeft: 0, minRight: 600, onChange: layoutChangedIndicator"></svd-splitter>
    <!-- /ko  -->
    <div class="svd_editors">
      <!-- ko if: topContainer.length > 0 -->
      <svd-designer-h-container params="items: topContainer, context: $data, className: 'svd-designer-container--top'"></svd-designer-h-container>
      <!-- /ko  -->

      <div
        class="svd_questions_editor svd-light-bg-color"
        id="scrollableDiv"
        data-bind="style: { height: koDesignerHeight }, event: { dragover: dragOverQuestionsEditor, drop: dropOnQuestionsEditor }"
      >
        <div id="surveyjs"></div>
        <!-- ko if: isCurrentPageEmpty -->
        <!-- ko template: "se-empty-placeholder" -->
        <!-- /ko -->
        <!-- /ko -->
      </div>
    </div>
    <!-- ko if: rightContainer.length > 0 -->
    <svd-splitter params="minLeft: 600, minRight: 0, onChange: layoutChangedIndicator"></svd-splitter>
    <svd-designer-container params="tabs: rightContainer, activeTab: rightContainerActiveItem, visible: rightContainerVisible, changed: layoutChangedIndicator, context: $data, className: 'svd-designer-container--right-side'"></svd-designer-container>
    <!-- /ko -->
  </div>
</script>

<script type="text/html" id="se-tab-test">
  <div data-bind="style: {width: koTestSurveyWidth}">
    <div id="surveyjsExample" data-bind="template: { name: 'surveylive', data: surveyLive }"></div>
  </div>
</script>

<script type="text/html" id="se-empty-placeholder">
  <div class="svd-survey-placeholder-root">
      <div class="svd-survey-placeholder">
      <!-- ko if: showExternalHelpLink -->
      <div class="svd-survey-gallery">
          <a data-bind="attr: { href: getLocString('survey.externalHelpLinkUrl') }">
          <img src="../images/YouTube.png"/>
          <span data-bind="text: getLocString('survey.externalHelpLink')"></span>
          </a>
      </div>
      <!-- /ko -->
      <div class="empty-message" data-bind="text: getLocString('survey.dropQuestion')"></div>
      </div>
  </div>
</script>
