<script type="text/html" id="se-tab-designer">
  <div class="row svd_survey_designer">
    <!-- ko if: leftContainer.length > 0 -->
    <svd-designer-container params="tabs: leftContainer, activeTab: leftContainerActiveItem, visible: leftContainerVisible, changed: layoutChangedIndicator, context: $data, className: 'svd-designer-container--left-side'"></svd-designer-container>
    <svd-splitter params="minLeft: 0, minRight: 600, onChange: layoutChangedIndicator"></svd-splitter>
    <!-- /ko  -->
    <div class="svd_editors">
      <div class="svd-vertical-container" role="presentation">
        <div class="svd-vertical-container__row" role="presentation" data-bind="visible: topContainer.length > 0">
            <div class="svd-vertical-container__cell" role="presentation">
              <!-- ko if: topContainer.length > 0 -->
              <svd-designer-h-container params="items: topContainer, context: $data, className: 'svd-designer-container--top'"></svd-designer-h-container>
              <!-- /ko  -->
            </div>
        </div>
        <div class="svd-vertical-container__row" role="presentation">
            <div class="svd-vertical-container__cell" role="presentation">
                <div class="svd-vertical-container__cell-content-holder">
                    <div class="svd-vertical-container__cell-content svd-vertical-container__cell-content--scrollable">
                      <div
                      class="svd_questions_editor svd-light-bg-color"
                      id="scrollableDiv"
                      data-bind="event: { dragover: dragOverQuestionsEditor, drop: dropOnQuestionsEditor }"
                    >
                      <div class="svd_surveyjs_designer_container"></div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
      </div>
    </div>
    <!-- ko if: rightContainer.length > 0 -->
    <svd-splitter params="minLeft: 600, minRight: 0, onChange: layoutChangedIndicator"></svd-splitter>
    <svd-designer-container params="tabs: rightContainer, activeTab: rightContainerActiveItem, visible: rightContainerVisible, changed: layoutChangedIndicator, context: $data, className: 'svd-designer-container--right-side'"></svd-designer-container>
    <!-- /ko -->
  </div>
</script>

<script type="text/html" id="se-tab-test">
  <survey-tester id="surveyjsExample" params="creator: $data" data-bind="style: {width: koTestSurveyWidth}"></survey-tester>
</script>

<script type="text/html" id="se-tab-json-editor">
  <survey-json-editor params="creator: $data"></survey-json-editor>
</script>

<script type="text/html" id="se-tab-translation">
  <survey-translation params="creator: $data"></survey-translation>
</script>

<script type="text/html" id="se-tab-logic">
  <survey-logic params="creator: $data"></survey-logic>
</script>

<script type="text/html" id="se-tab-embed">
  <survey-embed params="creator: $data"></survey-embed>
</script>

<script type="text/html" id="se-empty-placeholder">
  <div class="svd-survey-placeholder-root">
      <div class="svd-survey-placeholder">
      <!-- ko if: placeholderHtml -->
        <div data-bind="html: placeholderHtml"></div>
      <!-- /ko -->
      <!-- ko ifnot: placeholderHtml -->
          <!-- ko if: showExternalHelpLink -->
          <div class="svd-survey-gallery">
            <a data-bind="attr: { href: getLocString('survey.externalHelpLinkUrl') }">
            <img src="../images/YouTube.png" alt="YouTube tutorials"/>
            <span data-bind="text: getLocString('survey.externalHelpLink')"></span>
            </a>
        </div>
        <!-- /ko -->
        <div class="svd-empty-message-container">
          <div class="svd-empty-message" data-bind="text: getLocString('survey.dropQuestion')"></div>
          <img src="../images/start-designing-form.svg" alt="Drop questions here" style="width: 300px; height: 300px"/>
        </div>
        <!-- /ko -->
      </div>
  </div>
</script>