<script type="text/html" id="se-tab-designer">
  <div class="row svd_survey_designer">
    <!-- ko if: leftContainer.length > 0 -->
    <div class="svd-designer-container svd-designer-container--left-side">
      <!-- ko foreach: { data: leftContainer, as: 'content', noChildContext: true } -->
        <!-- ko template: 'se-component-' + content -->
        <!-- /ko -->
      <!-- /ko -->
    </div>
    <svd-splitter params="minLeft: 100, minRight: 600"></svd-splitter>
    <!-- /ko  -->
    <div class="svd_editors">
      <!-- ko if: topContainer.length > 0 -->
      <div class="svd-designer-container svd-designer-container--top">
        <!-- ko foreach: { data: topContainer, as: 'content', noChildContext: true } -->
          <!-- ko template: 'se-component-' + content -->
          <!-- /ko -->
        <!-- /ko -->
      </div>
      <!-- /ko  -->

      <div
        class="svd_questions_editor svd-light-bg-color"
        id="scrollableDiv"
        data-bind="style: { height: koDesignerHeight }, event: { dragover: dragOverQuestionsEditor, drop: dropOnQuestionsEditor }"
      >
        <div id="surveyjs"></div>
        <!-- ko if: isCurrentPageEmpty -->
        <!-- ko template: "se-empty-placeholder" -->
        <!-- /ko -->
        <!-- /ko -->
      </div>
    </div>
    <!-- ko if: rightContainer.length > 0 && !koHideAdvancedSettings() -->
    <svd-splitter params="minLeft: 600, minRight: 150"></svd-splitter>
    <div class="svd-designer-container svd-designer-container--right-side">
      <!-- ko foreach: { data: rightContainer, as: 'content', noChildContext: true } -->
        <!-- ko template: 'se-component-' + content -->
        <!-- /ko -->
      <!-- /ko -->
    </div>
    <!-- /ko -->
  </div>
</script>

<script type="text/html" id="se-tab-test">
  <div data-bind="style: {width: koTestSurveyWidth}">
    <div id="surveyjsExample" data-bind="template: { name: 'surveylive', data: surveyLive }"></div>
  </div>
</script>

<script type="text/html" id="se-empty-placeholder">
  <div class="svd-survey-placeholder-root">
    <div class="svd-survey-placeholder">
      <!-- ko if: showExternalHelpLink -->
      <div class="svd-survey-gallery">
        <a data-bind="attr: { href: $root.getLocString('survey.externalHelpLinkUrl') }">
          <img src="../images/YouTube.png"/>
          <span data-bind="text: $root.getLocString('survey.externalHelpLink')"></span>
        </a>
      </div>
      <!-- /ko -->
      <div class="empty-message" data-bind="text: $root.getLocString('survey.dropQuestion')"></div>
    </div>
  </div>
</script>

<script type="text/html" id="se-tab-designer-item">
    <div
    tabindex="0"
    draggable="true"
    class="svd_toolbox_item svd-light-border-color"
    data-bind="attr: {title:  tooltip}, css: 'svd_toolbox_item_' + iconName, key2click, clickNoFocus: $root.clickToolboxItem, event:{dragstart: function(el, e) { $root.draggingToolboxItem($data, e); return true;}, dragend: function(el, e) { $root.dragEnd(); }}"
  >
    <span>
      <svg-icon params="iconName: iconName"></svg-icon>
    </span>
    <span
      class="svd_toolbox_item_text hidden-sm hidden-xs"
      data-bind="text:title"
    ></span>
  </div>
</script>
