<script type="text/html" id="svd-toolbar-button">
    <button type="button" class="btn btn-primary" data-bind="enable: $data.enabled || true, click: action, css: $data.innerCss">
        <span data-bind="text: title"></span>
    </button>
</script>
<script type="text/html" id="svd-toolbar-options">
    <div class="ddmenu-container toolbar-options btn-group inline">
        <div style="-webkit-tap-highlight-color:rgba(0,0,0,0)" data-bind="trueclick"></div>

        <div class="ddmenu">
            <span class="btn btn-primary" tabindex="0">
                <span data-bind="text: title"></span>
                <span class="caret"></span>
            </span>
            <div tabindex="0" data-bind="trueclick"></div>
            <ul class="svd-light-bg-color">
                <!-- ko foreach: items -->
                <li data-bind="css: $data.css">
                    <a href="#" data-bind="click: action, text: title"></a>
                </li>
                <!-- /ko -->
            </ul>
        </div>
    </div>
</script>
<script type="text/html" id="svd-toolbar-state">
    <span class="icon">
        <svg-icon class="icon-status" params="iconName: innerCss, size: 24"></svg-icon>
    </span>
    <span class="svd-light-text-color" data-bind="text: title"></span>
</script>