<script type="text/html" id="translation">
    <div class="svd-page-selector svd_custom_select svd-light-bg-color svd-light-border-color" style="max-width: 250px">
        <select data-bind="options: koAvailableLanguages, value: koSelectedLanguageToAdd, optionsText:'text', optionsCaption: $data.selectLanguageOptionsCaption"></select>
    </div>
    <!-- ko template: { name: "translation-group", data: $data.koRoot } -->
    <!-- /ko -->
</script>
<script type="text/html" id="translation-group">
    <table class="svd_items_table">
        <thead>
            <tr>
                <th></th>
                <!-- ko foreach: $data.koLocales -->
                <th data-bind="text: $parent.getLocaleName($data)"></th>
                <!-- /ko -->
            </tr>
        </thead>
        <tbody data-bind="foreach: {data: $data.locItems, as: 'item' }">
            <tr>
                <td><span data-bind="text:item.name"></span></td>
                <!-- ko foreach: $parent.koLocales -->
                <td>
                    <input type="text" data-bind="value:item.koValue($data)" />
                </td>
                <!-- /ko -->
            </tr>
        </tbody>
    </table>
    <div data-bind="foreach: {data: $data.groups, as: 'group' }">
        <div data-bind="text:group.name"></div>
        <!-- ko template: { name: "translation-group", data: group } -->
        <!-- /ko -->
    </div>
</script>