<script type="text/html" id="translation">
  <div class="form-group svd-translation-tab">
      <div class="form-group svd-language-select">
      <div class="svd_custom_select svd-light-bg-color svd-light-border-color">
          <select
            onmousewheel="return false;"
            data-bind="options: koAvailableLanguages, value: koSelectedLanguageToAdd, optionsText:'text', optionsCaption: $data.selectLanguageOptionsCaption, attr: { 'aria-label': selectLanguageOptionsCaption }">
        </select>
      </div>
      <div class="svd-translation-tab-show-all-strings-container">
      <!-- ko template: { name: 'propertyeditor-boolean', data: {  koValue: koShowAllStrings, displayName: $data.showAllStringsText, isDiplayNameVisible: true } } -->
      <!-- /ko -->
      </div>
      <div class="svd_custom_select svd-light-bg-color svd-light-border-color">
          <select onmousewheel="return false;" data-bind="options: koFilteredPages, value: koFilteredPage, optionsValue: 'value', optionsText:'text'"></select>
      </div>
      </div>
      <div>
      <!-- ko foreach: {data: $data.koLocales, as: 'item' } -->
      <label data-bind="visible: !!item.locale && item.koEnabled()">
      <!-- ko template: { name: 'propertyeditor-boolean', data: {  koValue: item.koVisible, displayName: $parent.getLocaleName($data.locale), isDiplayNameVisible: true } } -->
      <!-- /ko -->
      </label>
      <!-- /ko -->
      </div>
      <div class="form-group">
          <button class="btn btn-primary"  type="button" data-bind="visible:$data.koCanMergeLocaleWithDefault, text:$data.koMergeLocaleWithDefaultText, click:$data.koMergeLocaleWithDefault"></button>
          <button class="btn btn-primary"  type="button" data-bind="text:$data.exportToCSVText, click:$data.koExportToSCVFile"></button>
          <button class="btn btn-primary"  type="button" onclick="this.getElementsByTagName('input')[0].click();">
          <input type="file" style="display:none;" accept=".csv" data-bind="event: { change: function() { $data.koImportFromSCVFile($element) } }" />
          <span data-bind="text:$data.importFromCSVText"></span>
          </button>
      </div>
      <div class="svd-translation-no-strings svd-light-text-color" data-bind="visible:$data.koIsEmpty">
          <span data-bind="text:$data.noStringsText"></span>
      </div>
      <!-- ko ifnot: $data.koIsEmpty -->
      <!-- ko template: { name: "translation-group", data: $data.koRoot } -->
      <!-- /ko -->
      <!-- /ko -->
  </div>
</script>
<script type="text/html" id="translation-group">
  <div class="svd-light-border-color svd-light-bg-color" data-bind="css:{'svd-translation-strings': $data.koShowHeader()}">
      <table class="svd_items_table" data-bind="visible: $data.locItems.length > 0">
          <thead>
              <tr>
                  <th></th>
                  <!-- ko foreach: $data.koLocales -->
                  <th data-bind="visible: $data.koVisible, text: $parent.getLocaleName($data.locale), style: {width: $parent.locWidth}"></th>
                  <!-- /ko -->
              </tr>
          </thead>
          <tbody data-bind="foreach: {data: $data.locItems, as: 'item' }">
              <tr>
                  <td style="max-width: 200px; min-width:100px"><span data-bind="text:item.text"></span></td>
                  <!-- ko foreach: $parent.koLocales -->
                  <td data-bind="visible: $data.koVisible, style: {width: $data.koVisible ? $parent.locWidth : '0px'}">
                      <textarea class="form-control" style="width:100%" data-bind="visible: $data.koVisible, value:item.koValue($data.locale), attr: {placeholder: !$data.locale? item.defaultValue : ''}"></textarea>
                  </td>
                  <!-- /ko -->
              </tr>
          </tbody>
      </table>

      <div class="svd-translation-panel-strings" data-bind="foreach: {data: $data.groups, as: 'group' }">
          <div class="svd-toolbox-category-header" role="tab" data-bind="visible: koShowHeader, click: function(){ group.koExpanded(!group.koExpanded())}">
              <span class="svd-translation-panel-strings-title"data-bind="css: { 'svd-main-color': group.koExpanded() }, text: group.name"></span>
              <!-- ko ifnot: koExpanded -->
              <svg-icon class="icon-toolbox-arrow" params="iconName: 'icon-arrow_down_10x10', size: 10"></svg-icon>
              <!-- /ko -->
              <!-- ko if: koExpanded -->
              <svg-icon class="icon-toolbox-arrow svd-primary-icon" params="iconName: 'icon-arrow_up_10x10', size: 10"></svg-icon>
              <!-- /ko -->
          </div>
          <div data-bind="visible: koExpanded">
          <!-- ko template: { name: "translation-group", data: group } -->
          <!-- /ko -->
          <div>
      </div>
  </div>
</script>
