<script type="text/html" id="translation">
    <div class="svd-page-selector svd_custom_select svd-light-bg-color svd-light-border-color" style="max-width: 250px">
        <select data-bind="options: koAvailableLanguages, value: koSelectedLanguageToAdd, optionsText:'text', optionsCaption: $data.selectLanguageOptionsCaption"></select>
    </div>
    <!-- ko template: { name: "translation-group", data: $data.koRoot } -->
    <!-- /ko -->
</script>
<script type="text/html" id="translation-group">
    <table class="svd_items_table">
        <thead>
            <tr>
                <th></th>
                <!-- ko foreach: $data.koLocales -->
                <th data-bind="text: $parent.getLocaleName($data), style: {width: $parent.locWidth}"></th>
                <!-- /ko -->
            </tr>
        </thead>
        <tbody data-bind="foreach: {data: $data.locItems, as: 'item' }">
            <tr>
                <td style="max-width: 200px; min-width:100px"><span data-bind="text:item.name"></span></td>
                <!-- ko foreach: $parent.koLocales -->
                <td>
                    <textarea style="width:100%" data-bind="value:item.koValue($data)"></textarea>
                </td>
                <!-- /ko -->
            </tr>
        </tbody>
    </table>
    <div data-bind="foreach: {data: $data.groups, as: 'group' }" style="padding-left: 20px">
        <div class="svd-toolbox-category-header" role="tab" data-bind="click: function(){ group.koExpanded(!group.koExpanded())}">
            <span data-bind="css: { 'svd-main-color': group.koExpanded() }, text: group.name"></span>
            <!-- ko ifnot: koExpanded -->
            <svg-icon class="icon-toolbox-arrow" params="iconName: 'icon-arrow_down_10x10', size: 10"></svg-icon>
            <!-- /ko -->
            <!-- ko if: koExpanded -->
            <svg-icon class="icon-toolbox-arrow svd-primary-icon" params="iconName: 'icon-arrow_up_10x10', size: 10"></svg-icon>
            <!-- /ko -->
        </div>
        <div data-bind="visible: koExpanded">
        <!-- ko template: { name: "translation-group", data: group } -->
        <!-- /ko -->
        <div>
    </div>
</script>