@use "../../variables" as *;

.svc-switcher.spg-action-button {
  align-items: center;
  gap: var(--ctr-property-grid-switcher-gap, var(--sjs-spacing-x1));
  pointer-events: auto;
}

.svc-switcher__title {
  @include ctrSmallBoldFont;
  color: var(--sjs2-color-component-input-default-label, rgba(28 27 32 / 0.6));
}

.svc-switcher__icon {
  padding-block-start: var(--ctr-property-grid-switcher-toggle-button-padding-top, var(--sjs-spacing-x05));
  padding-inline-end: var(--ctr-property-grid-switcher-toggle-button-padding-right, var(--sjs-spacing-x2));
  padding-block-end: var(--ctr-property-grid-switcher-toggle-button-padding-bottom, var(--sjs-spacing-x05));
  padding-inline-start: var(--ctr-property-grid-switcher-toggle-button-padding-left, var(--sjs-spacing-x05));
  border-radius: var(--ctr-property-grid-switcher-toggle-button-corner-radius, var(--sjs-corner-radius-round));
  border: var(--ctr-property-grid-switcher-toggle-button-border-width, var(--sjs-stroke-x1)) solid
    var(--sjs2-color-component-toggle-false-default-border, #D4D4D4);
  background: var(--sjs2-color-component-toggle-false-default-bg, #F5F5F5);

  transition-duration: 0.2s;
  transition-property: background, padding-inline-start, padding-inline-end;
  transition-timing-function: linear;
}

.svc-switcher__icon:hover {
  border: 1px solid var(--sjs2-color-component-toggle-false-hovered-border, #D4D4D4);
  background: var(--sjs2-color-component-toggle-false-hovered-bg, #EDEDED);
}

.svc-switcher__icon:focus {
  border: var(--ctr-property-grid-switcher-toggle-button-border-width-focused, var(--sjs-stroke-x2)) solid
    var(--sjs2-color-component-toggle-false-focused-border, #19B394);
  background: var(--sjs2-color-component-toggle-false-focused-bg, #F5F5F5);
}

.svc-switcher__icon:focus:hover {
  border: var(--ctr-property-grid-switcher-toggle-button-border-width-focused, var(--sjs-stroke-x2)) solid
    var(--sjs2-color-component-toggle-false-focused-border, #19B394);
  background: var(--sjs2-color-component-toggle-false-hovered-bg, #EDEDED);
}

.svc-switcher__icon--checked,
.svc-switcher__icon--checked:hover {
  justify-content: center;
  align-items: center;
  padding-block-start: var(--ctr-property-grid-switcher-toggle-button-padding-top, var(--sjs-spacing-x05));
  padding-inline-end: var(--ctr-property-grid-switcher-toggle-button-padding-right-checked, var(--sjs-spacing-x05));
  padding-block-end: var(--ctr-property-grid-switcher-toggle-button-padding-bottom, var(--sjs-spacing-x05));
  padding-inline-start: var(--ctr-property-grid-switcher-toggle-button-padding-left-checked, var(--sjs-spacing-x2));
  border: var(--ctr-property-grid-switcher-toggle-button-border-width-checked, 0px) solid
    var(--sjs2-color-component-toggle-true-default-border, #19B394);
  background: var(--sjs2-color-component-toggle-true-default-bg, #19B394);
}

.svc-switcher__icon--checked:focus {
  border: var(--ctr-property-grid-switcher-toggle-button-border-width-focused, var(--sjs-stroke-x2)) solid
    var(--sjs2-color-component-toggle-true-focused-border, #19B394);
  background: var(--sjs2-color-component-toggle-true-focused-bg, #fff);
}

.svc-switcher__icon-thumb {
  width: var(--ctr-property-grid-switcher-toggle-button-thumb-width, var(--sjs-size-x1));
  height: var(--ctr-property-grid-switcher-toggle-button-thumb-height, var(--sjs-size-x1));
  border-radius: var(--ctr-property-grid-switcher-toggle-button-thumb-corner-radius, var(--sjs-corner-radius-round));
  background-color: var(--sjs2-color-component-toggle-false-default-thumb, rgba(28 27 32 / 0.6));

  transition-duration: 0.2s;
  transition-property: background-color;
  transition-timing-function: linear;
}

.svc-switcher__icon--checked .svc-switcher__icon-thumb {
  background-color: var(--sjs2-color-component-toggle-true-default-thumb, #fff);
}

.svc-switcher__icon:focus,
.svc-switcher__icon:hover:focus {
  .svc-switcher__icon-thumb {
    background: var(--sjs2-color-component-toggle-false-focused-thumb, rgba(28 27 32 / 0.6));
  }
}

.svc-switcher__icon--checked:focus {
  .svc-switcher__icon-thumb {
    background: var(--sjs2-color-component-toggle-true-focused-thumb, #19B394);
  }
}
