@use "../../variables" as *;

.svc-designer-header .sd-container-modern__title {
  gap: 0;
  column-gap: var(--sjs2-spacing-x400);
}

.svc-logo-image {
  position: relative;
  justify-content: flex-end;
  align-items: center;
  display: flex;
  padding: 0;
  cursor: pointer;

  .sd-logo__image {
    max-width: 100%;
  }
}

.svc-logo-image__loading {
  width: var(--sjs2-size-x600);
  height: var(--sjs2-size-x600);
  padding: var(--sjs2-spacing-x100);
  box-sizing: content-box;
  margin-left: var(--sjs2-spacing-negative-x200);
}

.svc-logo-image-placeholder {
  @include sjs2--typography--large;
  opacity: var(--sjs2-opacity-x050);
  white-space: nowrap;
  word-break: keep-all;
  padding: var(--sjs2-spacing-x100);
  margin-inline-start: var(--sjs2-spacing-negative-x200);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--sjs2-radius-round);
  transition:
    background-color $creator-transition-duration,
    opacity $creator-transition-duration;

  &:hover {
    background-color: var(--sjs2-color-bg-brand-secondary);
    opacity: unset;

    use {
      fill: var(--sjs2-color-bg-brand-primary);
    }
  }

  svg {
    width: var(--sjs2-size-x600);
    height: var(--sjs2-size-x600);
  }
}

.svc-logo-image-placeholder use {
  transition: fill $creator-transition-duration;
  fill: var(--sjs2-color-fg-basic-secondary);
}

.svc-logo-image-container {
  position: relative;
  cursor: default;
  padding: var(--sjs2-spacing-x200) 0px;

  .sd-logo .sd-logo__image {
    display: block;
    margin: 0;
  }
}

.svc-logo-image-controls {
  opacity: var(--sjs2-opacity-hidden);
  width: max-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  --sd-action-gap: var(--sjs2-spacing-x100, 8px);
}

.svc-logo-image-container:not(.svc-logo-image-container--editable) {
  .svc-logo-image-controls {
    display: none;
  }
}

.svc-logo-image-container--editable:focus-within,
.svc-logo-image-container--editable:hover {
  .svc-logo-image-controls {
    opacity: var(--sjs2-opacity-visible);
  }
}
