<script type="text/html" id="questioneditor">
  <div id="surveyquestioneditorwindow" class="modal" data-bind="with:koEditor">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-bind="click: onResetClick">&times;</button>
                  <h4 class="modal-title" data-bind="text:koTitle"></h4>
              </div>
              <div class="modal-body svd_notopbottompaddings">
                  <svd-object-editor-content params="elementEditorContent: $data"></svd-object-editor-content>
              </div>
              <div class="modal-footer">
                  <input type="button" class="btn btn-primary" data-bind="visible: koShowApplyButton, disable: readOnly, click: onApplyClick, value: $data.getLocString('pe.apply')"
                      style="width:100px" />
                  <input type="button" class="btn btn-default btn-secondary" data-bind="click: onOkClick, disable: readOnly, value: $data.getLocString('pe.ok')"
                      style="width:100px" />
                  <input type="button" class="btn btn-primary" data-bind="click: onResetClick, value: $data.getLocString('pe.cancel')" style="width:100px"
                  />
              </div>
          </div>
      </div>
  </div>
</script>
