<script type="text/html" id="questioneditortab-rating">
    <div  class="form-group" data-bind="visible:hasMininumRateDescription">
        <label>Minimum rate text:</label>
        <input type="text" class="form-control" data-bind="value: koMininumRateDescription" />
    </div>
    <div  class="form-group" data-bind="visible:hasMaximumRateDescription">
        <label>Maximum rate text:</label>
        <input type="text" class="form-control" data-bind="value: koMaximumRateDescription" />
    </div>
</script>