<script type="text/html" id="questioneditor-content">
    <!-- ko if: $data.useTabsInElementEditor -->
    <ul class="nav nav-tabs" data-bind="foreach: koTabs">
        <li class="nav-item" role="presentation" data-bind="css: {active: $parent.koActiveTab() == $data.name}, click: $parent.onTabClick">
            <a class="nav-link" data-bind="css: {active: $parent.koActiveTab() == $data.name}">
                <span data-bind="text:$data.title"></span>
            </a>
        </li>
    </ul>
    <!-- ko foreach: koTabs -->
    <div data-bind="if: $parent.koActiveTab() === $data.name" style="margin-top:5px">
        <!-- ko template: { name: $data.htmlTemplate, data: $data.templateObject, afterRender: $data.koAfterRender } -->
        <!-- /ko -->
    </div>
    <!-- /ko  -->
    <!-- /ko  -->
    <!-- ko ifnot: $data.useTabsInElementEditor -->
    <svd-accordion params="tabs: koTabs, template: 'svd-editor-tab-template'"></svd-accordion>
    <!-- /ko  -->
</script>

<script type="text/html" id="svd-editor-tab-template">
    <!-- ko template: { name: $data.htmlTemplate, data: $data.templateObject, afterRender: $data.koAfterRender } -->
    <!-- /ko -->
</script>