<script type="text/html" id="questioneditortab-general">
    <div>
        <div class="form-group">
            <label>Name:</label>
            <input type="text" class="form-control" data-bind="value: koName" />
        </div>
        <div  class="form-group" data-bind="visible:hasTitle">
            <label>Title:</label>
            <textarea type="text" rows="2" class="form-control" data-bind="value: koTitle"></textarea>
        </div>
        <div class="form-group">
            <span class="checkbox-inline" data-bind="visible:hasVisible"><input type="checkbox" data-bind="checked: koVisible"><label>Visible</label></span>
            <span class="checkbox-inline" data-bind="visible:hasIsRequired"><input type="checkbox" data-bind="checked: koIsRequired"><label>Required</label></span>
            <span class="checkbox-inline" data-bind="visible:hasStartWithNewLine"><input type="checkbox" data-bind="checked: koStartWithNewLine"><label>Start with new line</label></span>
        </div>
        <div data-bind="visible:hasAdditionalTemplate">
            <!-- ko template: { name: $data.additionalTemplateHtml, data: $data } -->
            <!-- /ko -->
        </div>
    </div>
</script>
