.spg-color-editor {
  display: flex;
  justify-content: space-between;
  cursor: default;
  padding: calcSize(0.5);
  align-items: center;
  gap: calcSize(0.5);
}
.spg-color-editor__input {
  outline: none;
  border: none;
  flex-grow: 1;
  padding: calcSize(1) calcSize(1.5);
}
.spg-color-editor__color-dropdown {
  position: relative;
  box-sizing: border-box;
  width: calcSize(5);
  height: calcSize(5);
  padding: calcSize(1);
  &:hover {
    background: $background-dim;
  }
  &:active {
    opacity: 0.5;
  }
  svg {
    height: 24px;
    width: 24px;
    fill: rgba(0, 0, 0, 0.45);
  }
}
.spg-color-editor__color-input {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  left: calc(50%);
  top: calc(100%);
  transform: translate(-50%, -50%);
}
.spg-color-editor__color-swatch {
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 3px;
  width: calcSize(4.5);
  height: calcSize(3);
  margin-left: calcSize(1.5);
}
