@use "../../variables" as *;

.spg-dropdown {
    display: flex;
    padding-right: calc(
        var(--ctr-editor-buttons-gap, var(--sjs-spacing-x05)) + var(--ctr-editor-button-padding-right, var(--sjs-spacing-x1)) +
            var(--ctr-editor-button-padding-left, var(--sjs-spacing-x1)) + var(--ctr-editor-button-icon-width, var(--sjs-font-size-x3))
    ); // dropdown_chevron-button offset
    min-height: calc(
        var(--ctr-editor-button-icon-height, var(--sjs-font-size-x3)) + var(--ctr-editor-button-padding-top, var(--sjs-spacing-x1)) +
            var(--ctr-editor-button-padding-bottom, var(--sjs-spacing-x1)) + var(--ctr-editor-padding-top, var(--sjs-spacing-x05)) + var(--ctr-editor-padding-bottom, var(--sjs-spacing-x05))
    );
}
.spg-dropdown--empty .spg-dropdown__value {
    min-height: var(--ctr-font-default-line-height, var(--sjs-line-height-x3));
}

.spg-dropdown__value {
    @include ctrDefaultFont;
    display: flex;
    align-items: center;
    min-height: var(--ctr-font-default-line-height, var(--sjs-line-height-x3));
}
.spg-dropdown__filter-string-input {
    @include ctrDefaultFont;
}
.spg-dropdown_chevron-button {
    width: var(--ctr-editor-button-icon-width, var(--sjs-font-size-x3));
    padding: var(--ctr-editor-button-padding-top, var(--sjs-spacing-x1)) var(--ctr-editor-button-padding-right, var(--sjs-spacing-x1))
        var(--ctr-editor-button-padding-bottom, var(--sjs-spacing-x1)) var(--ctr-editor-button-padding-left, var(--sjs-spacing-x1));
    inset-block-start: var(--ctr-editor-padding-top, var(--sjs-spacing-x05));
    inset-inline-end: var(--ctr-editor-padding-right, var(--sjs-spacing-x05));
    inset-block-end: var(--ctr-editor-padding-bottom, var(--sjs-spacing-x05));
    transform: none;

    &:hover,
    &:focus {
        border-radius: var(--ctr-editor-button-corner-radius, var(--sjs-corner-radius-x05));
        background: var(--ctr-editor-button-background-color-hovered, var(--sjs-layer-3-background-400, #eaeaeaff));
    }
    .spg-dropdown_chevron-button-svg use {
        fill: var(--ctr-editor-button-icon-color, var(--sjs-layer-3-foreground-75, #000000bf));
    }
}
.spg-dropdown_chevron-button-svg {
    width: var(--ctr-editor-button-icon-width, var(--sjs-font-size-x3));
    height: var(--ctr-editor-button-icon-height, var(--sjs-font-size-x3));
}
.spg-dropdown-popup.sv-popup--menu-popup {
    height: 0;
}

.spg-dropdown__clean-button {
    --thm-ctr-editor-content-margin-top: var(--ctr-editor-content-margin-top, var(--sjs-spacing-x1));
    --thm-ctr-editor-content-margin-bottom: var(--ctr-editor-content-margin-bottom, var(--sjs-spacing-x1));
    margin-top: calc(-1 * var(--thm-ctr-editor-content-margin-top));
    margin-bottom: calc(-1 * var(--thm-ctr-editor-content-margin-bottom));
    use {
        fill: inherit;
    }
}