.spg-table {
  width: 100%;
  background-color: $background;
  border: 1px solid $border;
  border-collapse: collapse;
}
.spg-table tr:not(:last-child) {
  box-shadow: 0px 1px 0px $border;
}
.spg-table__cell {
  padding: calcSize(0.5) 0;
}

.spg-table__cell--detail-panel {
  padding: 0;
  .spg-panel__content {
    box-shadow: none;
  }
  background: $background-dim;
}
.spg-table__cell:not(.spg-table__cell--detail-panel) .spg-text {
  appearance: none;
  line-height: calcSize(3);
  font-size: calcSize(2);
  border: none;
  background-color: transparent;
}
.spg-table__cell--actions .sv-action-bar {
  padding: 0;
  opacity: 0.5;
}
.spg-table__cell--actions:first-child {
  width: calcSize(6);
}
.spg-table__cell--actions > .spg-matrixdynamic__drag-element {
  display: inline-block;
  margin-top: calcSize(0.5);
  cursor: move;
}
.spg-table__cell--header {
  font-size: calcSize(1.5);
  font-weight: 600;
  padding: calcSize(1) 0 calcSize(1) calcSize(2);
  color: $foreground-light;
  line-height: calcSize(2);
  box-shadow: 0px 1px 0px $border;
  background: $background-dim;
  text-align: left;
}