@use "../../variables.scss" as *;

.spg-action-bar {
  display: flex;
  box-sizing: content-box;
  position: relative;
  align-items: center;
  margin-left: auto;
  overflow: hidden;
  white-space: nowrap;

}

.spg-action-button {
  @include ctrDefaultBoldFont;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: flex;
  padding: var(--ctr-actionbar-button-padding-top-large-icon, var(--sjs-spacing-x1))
    var(--ctr-actionbar-button-padding-right-large-icon, var(--sjs-spacing-x1))
    var(--ctr-actionbar-button-padding-bottom-large-icon, var(--sjs-spacing-x1))
    var(--ctr-actionbar-button-padding-left-large-icon, var(--sjs-spacing-x1));
  box-sizing: border-box;
  border: none;
  color: var(--sjs2-color-fg-brand-primary, #19B394);
  border-radius: var(--ctr-actionbar-button-corner-radius, var(--sjs-corner-radius-x1));
  background-color: transparent;
  cursor: pointer;
  transition: background-color $creator-transition-duration, opacity $creator-transition-duration;

  &:hover,
  &:focus {
    opacity: 1;
    outline: none;
    background-color: var(--sjs2-color-bg-basic-secondary, #F5F5F5);

    use {
      fill: var(--sjs2-color-component-input-default-icon, rgba(28 27 32 / 0.4));
    }
  }
}

.spg-action-button--icon {
  padding: var(--ctr-actionbar-button-padding-top-large-icon, var(--sjs-spacing-x1))
    var(--ctr-actionbar-button-padding-right-large-icon, var(--sjs-spacing-x1))
    var(--ctr-actionbar-button-padding-bottom-large-icon, var(--sjs-spacing-x1))
    var(--ctr-actionbar-button-padding-left-large-icon, var(--sjs-spacing-x1));
}
.spg-action-button__icon {
  display: block;
  width: var(--ctr-actionbar-button-icon-width, var(--sjs-font-size-x3));
  height: var(--ctr-actionbar-button-icon-height, var(--sjs-font-size-x3));

  use {
    fill: var(--sjs2-color-component-input-default-icon, rgba(28 27 32 / 0.4));
    transition: fill $creator-transition-duration;
  }
}

.spg-action-button--danger {
  color: var(--sjs2-color-fg-alert-primary, #C30935);

  &:hover,
  &:focus {
    background-color: var(--sjs2-color-bg-alert-secondary, rgba(229 10 62 / 0.1));

    use {
      fill: var(--sjs2-color-fg-alert-primary, #C30935);
    }
  }
}

button.spg-action-button--large {
  padding: calcSize(0.5) calcSize(2);
}

.spg-action-button:disabled {
  opacity: var(--ctr-actionbar-button-opacity-disabled, 0.25);
  pointer-events: none;
  cursor: default;
}

.spg-action-button--muted {
  opacity: var(--ctr-actionbar-button-opacity-muted, 0.35);
}

.spg-action-button:active {
  opacity: var(--ctr-actionbar-button-opacity-pressed, 0.5);
}

.spg-action-button--text {
  padding: calcSize(0.5) calcSize(2);
}