.spg-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  background: $background;
  box-sizing: border-box;
  width: 100%;
  height: calcSize(6);
  border: 1px solid $border-inside;
  padding: calcSize(1.5) calcSize(2);
  outline: none;
  font-size: calcSize(2);
  color: $foreground;
}

.spg-input::placeholder {
  color: $foreground-light;
}

.spg-input:focus {
  border: 1px solid $primary;
}

.spg-input:disabled,
.spg-input:disabled::placeholder {
  color: $foreground-disabled;
}
