@use "../../variables.scss" as *;

.spg-question {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  border-radius: var(--sjs2-radius-x075);
}

.spg-question__content {
  input.sd-formbox__input:read-only,
  input.sd-formbox__input:read-only::placeholder {
    color: rgb(from var(--sjs2-color-fg-basic-primary) r g b / var(--sjs2-opacity-disabled));
  }
}

.spg-question__header {
  width: 100%;
}

.spg-question__header--location--top > .spg-title {
  padding: var(--sjs2-layout-component-caption-content-padding-vertical)
    var(--sjs2-layout-component-caption-content-padding-horizontal);
}

.spg-question__title {
  @include sjs2--typography--component-caption-content;
  width: 100%;
  margin: 0;
  padding-block-start: var(--sjs2-layout-component-caption-box-padding-top);
  padding-block-end: var(--sjs2-layout-component-caption-box-padding-bottom);
  padding-inline-start: var(--sjs2-layout-component-caption-box-padding-left);
  padding-inline-end: var(--sjs2-layout-component-caption-box-padding-right);
  color: var(--sjs2-color-component-caption-default-text);
  box-sizing: border-box;

  .sv-title-actions {
    gap: var(--sjs2-layout-component-caption-box-gap-vertical);
    padding-right: var(--sjs2-spacing-x050);
    box-sizing: border-box;
  }
}
.spg-question--disabled .spg-question__title {
  color: var(--sjs2-color-component-caption-disabled-text);
}

.spg-question__content {
  width: 100%;
  cursor: pointer;
}

.spg-question--disabled .spg-question__content {
  cursor: default;
}

.spg-text__content,
.spg-comment__content {
  position: relative;
}

.spg-question__content:focus-within .spg-remaining-character-counter {
  display: flex;
}

.spg-remaining-character-counter {
  @include sjs2--typography--small;
  display: none;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0px;
  color: var(--sjs2-color-fg-basic-secondary);
  position: absolute;
  inset-inline-end: var(--sjs2-spacing-x075);
  inset-block-end: var(--sjs2-spacing-x050);
}

.spg-question__description {
  @include sjs2--typography--component-caption-hint;
  color: var(--sjs2-color-component-caption-default-hint);
  padding-block-start: var(--sjs2-layout-component-caption-hint-padding-top);
  padding-block-end: var(--sjs2-layout-component-caption-hint-padding-bottom);
  padding-inline: var(--sjs2-layout-component-caption-hint-padding-horizontal);
  white-space: normal;
}

.spg-question--disabled .spg-question__description {
  color: var(--sjs2-color-component-caption-disabled-hint);
}

.spg-row-narrow__question {
  margin-top: var(--sjs2-spacing-negative-x200);
}

.spg-row--multiple {
  & > div > .spg-row-narrow__question {
    margin-top: var(--sjs2-spacing-negative-x100);
  }
}

.spg-question--location--left {
  flex-direction: row;
  flex-wrap: wrap;
  line-height: var(--sjs2-line-height-x600);
  padding: var(--sjs2-spacing-x050, 4px);
  vertical-align: middle;
  align-items: stretch;
  &.spg-question--disabled {
    background: var(--sjs2-color-component-formbox-readonly-bg, #fff);
    box-shadow: var(--sjs2-border-effect-component-formbox-readonly, 0 0 0 1px #d4d4d4 inset);
  }
}

.spg-row--multiple .spg-question--location--left {
  flex-wrap: unset;
}

.spg-question--disabled.spg-question--location--left .spg-question__title {
  color: var(--sjs2-color-component-input-disabled-label);
}

.spg-question__header--location--left {
  width: max-content;
  max-width: 50%;
  flex: 0 0;
  box-sizing: border-box;
  height: auto;
  .spg-question__title {
    color: inherit;
    line-height: inherit;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    white-space: nowrap;
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    .sv-string-viewer {
      white-space: nowrap;
    }
  }
}
.spg-question__content--left {
  width: auto;
  flex-grow: 1;
  .sd-formbox {
    display: flex;
    padding: 0;
    box-shadow: none;
    background: transparent;
  }
  .sd-dropdown {
    padding-top: var(--sjs2-spacing-x050, 4px);
    padding-bottom: var(--sjs2-spacing-x050, 4px);
    margin-top: var(--sjs2-spacing-negative-x050);
    margin-bottom: var(--sjs2-spacing-negative-x050);
  }
  .sd-formbox__input {
    width: 0;
    flex-grow: 1;
  }
}

.spg-row--multiple {
  display: flex;
  gap: var(--sjs2-spacing-x100);
  flex-wrap: wrap;

  & > div {
    flex-grow: 1;
    min-width: calc(var(--sjs2-base-unit-size) * 25.5);
    .sd-formbox__input {
      min-width: max(calc(var(--sjs2-base-unit-spacing) * 17), 100%);
      width: 0;
      flex-grow: 1;
    }
  }
}

.spg-question__erbox {
  @include sjs2--typography--default;
  width: 100%;
  box-sizing: border-box;
  padding: var(--sjs2-spacing-x100) var(--sjs2-spacing-x150);

  border-radius: var(--sjs2-radius-component-message);
  color: var(--sjs2-color-component-message-error-text);
  background: var(--sjs2-color-component-message-error-bg);
}

.spg-question__erbox,
.spg-question__erbox > svc-question-error,
sv-question-error {
  & > div {
    display: flex;
    gap: var(--sjs2-spacing-x100);
  }
}

.spg-question__erbox-icon {
  width: 1lh;
  height: 1lh;

  use {
    fill: var(--sjs2-color-component-message-error-icon);
  }
}

.spg-question__erbox--below-question {
  margin-top: var(--sjs2-spacing-x100);
}

.spg-restfull,
.spg-masksettings {
  .spg-panel__content {
    gap: var(--sjs2-spacing-x200);

    .spg-row {
      margin-top: 0;
    }
  }
}

.spg-question--highlighted {
  .sd-formbox,
  .spg-question--location--left,
  .spg-table__cell:not(.spg-table__cell--detail-panel) .sd-formbox {
    box-shadow: inset 0 0 0 var(--sjs2-border-width-x200) var(--sjs2-color-fg-basic-primary-muted);
  }

  .spg-checkbox__control:focus + .spg-checkbox__rectangle,
  .spg-matrixdynamic__content.spg-text__content {
    outline: var(--sjs2-border-width-x200) solid var(--sjs2-color-fg-basic-primary-muted);
    outline-offset: calc(-1 * var(--sjs2-border-width-x200));
    border-radius: var(--sjs2-radius-x075);

    .sd-formbox {
      box-shadow: none;
    }
  }

  .svc-action-button {
    border: var(--sjs2-border-width-x200) solid var(--sjs2-color-fg-basic-primary-muted);
  }

  .sv-button-group {
    box-shadow: var(--sjs2-border-effect-component-formbox-highlighted, 0 0 0 2px #1c1b20 inset);
  }

  .spg-checkbox__control + .spg-checkbox__rectangle {
    outline: var(--sjs2-border-width-x200) solid var(--sjs2-color-fg-basic-primary-muted);
    outline-offset: calc(-1 * var(--sjs2-border-width-x200));
  }
}
