@use "../../variables" as *;

.spg-comment {
  height: auto;
  max-width: 100%;
  min-width: var(--sjs2-size-x600);
  min-height: var(--sjs2-size-x600);
  line-height: var(--sjs2-line-height-x300);
}
