@use "../../variables" as *;

.spg-dropdown {
    display: flex;

    padding-top: var(--sjs2-spacing-x050);
    padding-right: var(--sjs2-spacing-x050);
    padding-bottom: var(--sjs2-spacing-x050);
    padding-left: var(--sjs2-spacing-x200);
}

.spg-dropdown__value {
    @include sjs2--typography--default;
    // display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    margin-top: var(--sjs2-spacing-x100);
    margin-right: var(--sjs2-spacing-x150);
    margin-bottom: var(--sjs2-spacing-x100);
    margin-left: 0;
}
.spg-dropdown__filter-string-input {
    @include sjs2--typography--default;

    color: var(--sjs2-color-fg-basic-primary);
}

.spg-dropdown-popup.sv-popup--menu-popup {
    height: 0;
}

.spg-dropdown__clean-button {
    margin-top: var(--sjs2-spacing-negative-x100);
    margin-bottom: var(--sjs2-spacing-negative-x100);
    use {
        fill: inherit;
    }
}

.spg-dropdown {
    .sd-dropdown-action-bar {
        margin-inline-start: var(--sjs2-spacing-x050);
        gap: var(--sjs2-spacing-x050);
    }

    .sd-editor-button-item {
        padding: var(--sjs2-spacing-x100);
        transform: none;

        &:hover,
        &:focus {
            border-radius: var(--sjs2-radius-x050);
            background: var(--sjs2-color-bg-basic-secondary-dim);
            transition: background $creator-transition-duration;
        }

        &.sd-editor-button-item--pressed {
            border-radius: var(--sjs2-radius-x050);
            opacity: var(--sjs2-opacity-pressed);
            background: var(--sjs2-color-bg-basic-secondary-dim);
            transition-property: opacity, background-color;
            transition-duration: $creator-transition-duration;
        }

        use {
            fill: var(--sjs2-color-fg-basic-primary-muted);
        }
    }
}
.spg-question__content {
    .sd-formbox--readonly .sd-dropdown__input {
        opacity: var(--sjs2-opacity-disabled);
    }
}
.spg-dropdown.sd-input--disabled {
    opacity: var(--sjs2-opacity-visible);

    .spg-dropdown__value {
        opacity: var(--sjs2-opacity-disabled);
    }
    .sd-editor-button-item {
        opacity: var(--sjs2-opacity-disabled);
        background: transparent;

        svg {
            fill: var(--sjs2-color-fg-basic-primary-muted);
        }
    }
}
