@use "../../variables.scss" as *;

.spg-link {
  display: flex;
}

.sv-string-viewer {
  .spg-link {
    display: initial;
    color: var(--sjs2-color-fg-brand-primary, #19B394);
    font-weight: 600;
    text-decoration-line: underline;
  }
}