@use "../../variables" as *;

.spg-button-group {
  position: relative;
  display: flex;
  padding: var(--ctr-button-group-padding, var(--sjs-spacing-x05));
  align-items: center;
  align-self: stretch;
  box-sizing: border-box;
  overflow-x: auto;

  border-radius: var(--ctr-button-group-corner-radius, var(--sjs-corner-radius-x075));
  box-shadow: var(--sjs2-border-effect-component-formbox-default, inset 0px 0px 0px 1px #D4D4D4);
  background-color: var(--sjs2-color-component-formbox-default-bg, #F5F5F5);

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: var(--ctr-button-group-corner-radius, var(--sjs-corner-radius-x075));
    box-shadow: inset 0 0 0 var(--ctr-button-group-border-width-focused, var(--sjs-stroke-x2)) transparent;
    pointer-events: none;
    transition: box-shadow $creator-transition-duration;
  }
}

.spg-button-group:focus-within::after {
  box-shadow: var(--sjs2-border-effect-component-formbox-focused, inset 0px 0px 0px 2px #19B394);
}

.spg-button-group__item {
  @include ctrDefaultFont;
  color: var(--sjs2-color-component-buttongroup-item-false-default-value, rgba(28 27 32 / 0.6));

  display: flex;
  padding: var(--ctr-button-group-item-padding-vertical, var(--sjs-spacing-x1))
    var(--ctr-button-group-item-padding-horizontal, var(--sjs-spacing-x2));
  justify-content: center;
  align-items: center;
  align-self: stretch;
  flex-basis: 0;
  flex-grow: 1;

  border-radius: var(--ctr-button-group-item-corner-radius, var(--sjs-corner-radius-x075));
  box-shadow: inset 0 0 0 var(--ctr-button-group-item-border-width, 0px)
    var(--sjs2-color-component-buttongroup-item-false-default-border, transparent);
  background-color: var(--sjs2-color-component-buttongroup-item-false-default-bg, transparent);

  transition:
    background $creator-transition-duration,
    background-color $creator-transition-duration,
    color $creator-transition-duration;

  &:not(:last-of-type) {
    margin-right: var(--ctr-button-group-gap, var(--sjs-spacing-x05));
  }
}

.spg-button-group__item--hover:hover {
  background-color: var(--sjs2-color-component-buttongroup-item-false-hovered-bg, #EDEDED);
}

.spg-button-group__item-icon {
  use {
    fill: var(--sjs2-color-component-buttongroup-item-false-default-value, rgba(28 27 32 / 0.6));
  }
}

.spg-button-group__item--selected {
  @include ctrDefaultBoldFont;
  color: var(--sjs2-color-component-buttongroup-item-true-default-value, #19B394);
  box-shadow: inset 0 0 0 var(--ctr-button-group-item-border-width-selected, var(--sjs-stroke-x1))
    var(--sjs2-color-component-buttongroup-item-true-default-border, #D4D4D4);
  background: var(--sjs2-color-component-buttongroup-item-true-default-bg, #fff);
  .spg-button-group__item-icon use {
    fill: var(--sjs2-color-component-buttongroup-item-true-default-value, #19B394);
  }
}

.spg-button-group__item-decorator {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.spg-button-group__item-caption {
  display: block;
}
.spg-question--disabled .spg-button-group {
  background: var(--sjs2-color-component-formbox-disabled-bg, #fff);
  box-shadow: var(--sjs2-border-effect-component-formbox-disabled, inset 0px 0px 0px 1px #F5F5F5);
}

.spg-button-group__item--disabled {
  color: var(--sjs2-color-component-buttongroup-item-false-disabled-value, #D4D4D4);
  background: var(--sjs2-color-component-buttongroup-item-false-disabled-bg, #fff);
  .spg-button-group__item-icon use {
    fill: var(--sjs2-color-component-buttongroup-item-false-disabled-value, #D4D4D4);
  }
  .spg-button-group__item-caption {
    opacity: var(--ctr-button-group-item-text-opacity-disabled, 0.25);
    color: var(--sjs2-color-component-buttongroup-item-false-disabled-value, #D4D4D4);
  }
  &:hover {
    background-color: var(--sjs2-color-component-buttongroup-item-false-disabled-bg, #fff);
  }
}

.spg-button-group__item--selected.spg-button-group__item--disabled {
  @include ctrDefaultFont;
  box-shadow: inset 0 0 0 var(--ctr-button-group-item-border-width-selected-disabled, 0px)
    var(--sjs2-color-component-buttongroup-item-true-disabled-border, transparent);
  background: var(--sjs2-color-component-buttongroup-item-true-disabled-bg, #F5F5F5);
  color: var(--sjs2-color-component-buttongroup-item-true-disabled-value, #B3B2B2);
  .spg-button-group__item-icon use {
    fill: var(--sjs2-color-component-buttongroup-item-true-disabled-value, #B3B2B2);
  }
}
