.spg-question {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  //todo: remove !important
  min-width: auto !important;
}
.spg-question__header {
  width: 100%;
}
.spg-question__title {
  width: 100%;
  margin: 0;
  padding: calcSize(1) 0;
  line-height: calcSize(3);
  font-size: calcSize(2);
  font-family: $font-family;
  color: $foreground-light;
  font-weight: normal;
  box-sizing: border-box;
}

.spg-question__content {
  width: 100%;
  color: $primary;
  cursor: pointer;
}
.spg-question-link__set-button {
  font-weight: 600;
  cursor: pointer;
}
.spg-link-value-button {
  margin-left: calcSize(-2);
}
.spg-question-link__clear-button {
  margin-left: calcSize(4);
  color: $red;
  font-weight: 600;
  cursor: pointer;
}

.spg-question__description {
  line-height: calcSize(3);
  font-size: calcSize(2);
  color: $foreground;
  padding-bottom: calcSize(2);
}
.spg-row-narrow__question {
  margin-top: calcSize(-2);
}
.spg-question--location--left {
  flex-direction: row;
  padding-right: 0 !important;
  background: $background;
  border: 1px solid $border;
  line-height: calcSize(6);
  vertical-align: middle;
}

.spg-question__header--location--left {
  width: auto;
  max-width: 50%;
  .spg-question__title {
    padding: calcSize(1) calcSize(2);
    border-right: 1px solid $border;
    display: inline-block;
  }
}

.spg-question__content--left {
  padding-left: calcSize(1);
  .spg-input {
    border: none;    
  }
}
.spg-row--multiple {
  display: flex;
  gap: calcSize(1);
  margin-top: calcSize(1) !important;
  overflow: hidden;
}
