@use "../../variables.scss" as *;

.spg-tagbox.spg-tagbox {
    background-color: var(--sjs2-color-component-formbox-default-bg, #F5F5F5);
    border-radius: var(--ctr-editor-corner-radius, var(--sjs-corner-radius-x075));
    box-shadow: var(--sjs2-border-effect-component-formbox-default, inset 0px 0px 0px 1px #D4D4D4);
    transition: box-shadow $creator-transition-duration;

    &:focus-within {
        box-shadow: var(--sjs2-border-effect-component-formbox-focused, inset 0px 0px 0px 2px #19B394);
    }
}
.spg-tagbox__value.spg-tagbox__value {
    gap: var(--ctr-tag-box-gap, var(--sjs-spacing-x05));
    overflow: visible;
}

.spg-tagbox__value {
    .sv-tagbox__item {
        padding: var(--ctr-tag-box-item-padding-top, var(--sjs-spacing-x1))
            var(--ctr-tag-box-item-padding-right, var(--sjs-spacing-x150))
            var(--ctr-tag-box-item-padding-bottom, var(--sjs-spacing-x1))
            var(--ctr-tag-box-item-padding-left, var(--sjs-spacing-x150));

        border-radius: var(--ctr-tag-box-item-corner-radius, var(--sjs-corner-radius-x025));
        box-shadow: inset 0 0 0 var(--ctr-tag-box-item-border-width, var(--sjs-stroke-x1))
            var(--sjs2-color-component-tagbox-item-default-border, #D4D4D4);
        background: var(--sjs2-color-component-tagbox-item-default-bg, #fff);
    }

    .sv-tagbox__item-text {
        @include ctrDefaultBoldFont;
        color: var(--sjs2-color-component-tagbox-item-default-label, #1C1B20);
    }
}

.spg-tagbox-item_clean-button {
    background: linear-gradient(
        270deg,
        var(--sjs2-color-component-tagbox-item-default-mask-stop-1, #fff) 50%,
        var(--sjs2-color-component-tagbox-item-default-mask-stop-2, rgba(255 255 255 / 0)) 100%
    );
}

.spg-tagbox-item_clean-button-svg use {
    fill: var(--sjs2-color-component-tagbox-item-action-default-icon, #424146);
}

.spg-tagbox-item_clean-button-svg:hover {
    border-radius: var(--ctr-tag-box-item-remove-button-corner-radius, var(--sjs-corner-radius-round));
    background: var(--sjs2-color-component-tagbox-item-action-hovered-bg, #EDEDED);
}
