@use "../../variables.scss" as *;

.svc-side-bar {
  .svc-search {
    border-bottom: var(--sjs2-border-width-x100) solid var(--sjs2-color-border-basic-secondary);
    background: var(--sjs2-color-bg-basic-secondary);
    gap: var(--sjs2-spacing-x100);
    padding: var(--sjs2-spacing-x200);
  }

  .svc-search__input {
    color: var(--sjs2-color-fg-basic-primary);
  }

  .svc-search__input::placeholder {
    color: var(--sjs2-color-fg-basic-secondary);
  }

  .svc-search__bar-item:not(.sv-action-bar-item--pressed) {
    &:hover:enabled,
    &:focus:enabled {
      background-color: var(--sjs2-color-bg-basic-secondary-dim);
    }
  }

  .svc-search__toolbar .sv-action-bar-item__icon use {
    fill: var(--sjs2-color-fg-basic-secondary);
  }

  .svc-search__toolbar-counter {
    color: var(--sjs2-color-fg-basic-secondary);
  }

  .svc-search__search-icon {
    width: var(--sjs2-line-height-x300);
    height: var(--sjs2-line-height-x300);

    .sv-svg-icon {
      width: var(--sjs2-line-height-x300);
      height: var(--sjs2-line-height-x300);

      use {
        fill: var(--sjs2-color-fg-basic-secondary);
      }
    }
  }
}