@use "../../variables" as *;

.spg-color-editor__color-input {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  left: 0;
  top: 100%;
  transform: translateY(-50%);
}

.svc-list__item-body {
  // display: flex;
  // gap: var(--ctr-list-item-gap, var(--sjs-spacing-x2));
  // padding: var(--ctr-list-item-padding-top-with-icon, var(--sjs-spacing-x150)) var(--ctr-list-item-padding-right, var(--sjs-spacing-x6))
  //   var(--ctr-list-item-padding-bottom-with-icon, var(--sjs-spacing-x150)) var(--ctr-list-item-padding-left, var(--sjs-spacing-x2));

  .spg-color-editor__color-swatch {
    margin-left: 0;
    flex: 0 1 auto;
  }
}

.spg-color-editor__color-swatch {
  position: relative;
  flex-shrink: 0;
  flex-grow: 0;
  box-sizing: border-box;
  border-radius: var(--sjs2-radius-component-formbox-action, 4px);
  border: var(--sjs2-border-width-x100, 1px) solid
    var(--sjs2-color-border-basic-secondary-overlay, rgba(28, 27, 32, 0.4));
  width: var(--sjs2-size-x400, 32px);
  height: var(--sjs2-size-x300, 24px);
  margin-left: var(--ctr-editor-color-swatch-margin-left, var(--sjs-spacing-x150));

  .sv-svg-icon {
    position: absolute;
    width: var(--sjs2-line-height-x200);
    height: var(--sjs2-line-height-x200);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    fill: var(--sjs2-color-border-basic-secondary-overlay, rgba(28, 27, 32, 0.4));
  }
}
.spg-question--disabled .spg-color-editor {
  background-color: var(--ctr-editor-background-color-disabled, var(--sjs-layer-1-background-500, #ffffffff));
}
.spg-color-editor__color-swatch--disabled {
  .sv-svg-icon {
    opacity: 0.25;
  }
}

.spg-color-editor__color-swatch--default {
  .sv-svg-icon {
    opacity: 1;
  }
}
