.spg-checkbox {
  cursor: pointer;
  margin-top: calcSize(2);
}

.spg-checkbox--disabled {
  cursor: default;

  .spg-checkbox {
    cursor: default;
  }

  .spg-checkbox__caption {
    color: var(--ctr-checkbox-text-color-disabled, $foreground-light);
  }
}

.spg-checkbox__caption {
  font-family: $font-family;
  font-size: calcSize(2);
  color: var(--ctr-checkbox-text-color, $foreground);
  line-height: calcSize(3);
}

.spg-checkbox__rectangle {
  background: var(--ctr-checkbox-background-color, $background);
  border: 1px solid var(--ctr-checkbox-border-color, $border);
  box-sizing: border-box;
  width: calcSize(3);
  height: calcSize(3);
  flex-shrink: 0;
  // padding: calcSize(0.5);
  padding: 1px 1px;
}

.spg-checkbox:hover {
  .spg-checkbox__rectangle {
    background-color: var(--ctr-checkbox-background-color-hovered, $background-dim);
  }
}

.spg-checkbox--disabled {
  .spg-checkbox__rectangle:hover {
    background: var(--ctr-checkbox-background-color-disabled, $background);
  }
}

.spg-checkbox__control:focus+.spg-checkbox__rectangle {
  outline: 2px solid var(--ctr-checkbox-border-color-focused, $primary);
  outline-offset: -2px;
}

.spg-checkbox .spg-checkbox__svg {
  display: none;
}

.spg-checkbox--checked .spg-checkbox__svg {
  display: block;
  width: calcSize(2.5);
  height: calcSize(2.5);
  background-repeat: no-repeat;
  background-size: calcSize(2) calcSize(2);
  fill: var(--ctr-checkbox-button-check-mark-color, $primary);
}

.spg-checkbox--disabled.spg-checkbox--checked .spg-checkbox__svg {
  fill: var(--ctr-checkbox-button-check-mark-color-disabled, $border);
}

.spg-checkbox__control {
  position: fixed;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

//todo: need to hide unneeded icons
.spg-checkbox__hidden {
  display: none;
}

.spg-selectbase {
  border: none;
  padding: 0;
  margin: 0;
}

.spg-selectbase__label {
  display: flex;
  align-items: flex-start;
  gap: calcSize(1);
}

.spg-checkbox {
  .spg-question__description {
    padding: calcSize(1) 0 0 calcSize(4);
  }

  .spg-help-action {
    use {
      pointer-events: none;
    }
  }
}