$spg-row-fade-in-duration: var(--sjs-spg-row-fade-in-duration, 500ms);
$spg-row-move-in-duration: var(--sjs-spg-move-in-duration, 150ms);
$spg-row-fade-in-delay: var(---sjs-spg-row-fade-in-delay, 150ms);
$spg-row-fade-out-duration: var(--sjs-spg-row-fade-out-duration, 150ms);
$spg-row-move-out-duration: var(--sjs-spg-row-move-out-duration, 250ms);
$spg-row-move-out-delay: var(--sjs-spg-row-move-out-delay, 100ms);
$spg-row-fade-in-animation-delay: var(--sjs-spg-row-fade-in-animation-delay, 400ms);

$spg-expand-fade-in-duration: var(--sjs-spg-expand-fade-in-duration, 350ms);
$spg-expand-move-in-duration: var(--sjs-spg-expand-move-in-duration, 350ms);
$spg-expand-fade-in-delay: var(--sjs-spg-expand-fade-in-delay, 0ms);
$spg-collapse-fade-out-duration: var(--sjs-spg-collapse-fade-out-duration, 350ms);
$spg-collapse-move-out-duration: var(--sjs-spg-collapse-move-out-duration, 350ms);
$spg-collapse-move-out-delay: var(--sjs-spg-collapse-move-out-delay, 0ms);

$spg-matrix-row-fade-in-duration: var(--sjs-spg-matrix-row-fade-in-duration, 250ms);
$spg-matrix-row-move-in-duration: var(--sjs-spg-matrix-row-move-in-duration, 150ms);
$spg-matrix-row-fade-in-delay: var(--sjs-spg-matrix-row-fade-in-delay, 150ms);
$spg-matrix-row-fade-out-duration: var(--sjs-spg-matrix-row-fade-out-duration, 100ms);
$spg-matrix-row-move-out-duration: var(--sjs-spg-matrix-row-move-out-duration, 250ms);
$spg-matrix-row-move-out-delay: var(--sjs-spg-matrix-row-move-out-delay, 100ms);

$spg-matrix-detail-row-fade-in-duration: var(--sjs-spg-matrix-detail-row-fade-in-duration, 500ms);
$spg-matrix-detail-row-move-in-duration: var(--sjs-spg-matrix-detail-row-move-in-duration, 150ms);
$spg-matrix-detail-row-fade-in-delay: var(--sjs-spg-matrix-detail-row-fade-in-delay, 150ms);
$spg-matrix-detail-row-fade-out-duration: var(--sjs-spg-matrix-detail-row-fade-out-duration, 150ms);
$spg-matrix-detail-row-move-out-duration: var(--sjs-spg-matrix-detail-row-move-out-duration, 250ms);
$spg-matrix-detail-row-move-out-delay: var(--sjs-spg-matrix-detail-row-move-out-delay, 100ms);
