@import "../variables.scss";

.svc-flex-container {
  display: flex;
}

.svc-flex-row {
  display: flex;
  flex-direction: row;
  background: $background-dim;
}

.svc-full-container {
  height: 100%;
  width: 100%;
}

.svc-flex-row__element--growing {
  flex: 1;
  overflow: auto;
}

.svc-flex-column {
  display: flex;
  flex-direction: column;
}

.svc-top-bar {
  display: flex;
  background: $background;
  box-sizing: border-box;
  box-shadow: inset 0px -1px 0px $border;

  .svc-toolbar-wrapper {
    flex: 0 0 auto;
    display: flex;
    
    .sv-action-bar{
      justify-content: flex-end;
    }
  }
}
