@use "../../../variables.scss" as *;

.sps-input {
  @include ctrDefaultFont;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  box-sizing: border-box;
  width: 100%;
  border: none;
  border-radius: var(--sjs2-radius-semantic-form, 8px);
  background: var(--sjs2-color-control-formbox-default-bg, rgba(28, 27, 32, 0.05));
  box-shadow: inset 0 0 0 var(--sjs2-border-width-default, 1px) 
    var(--sjs2-color-control-formbox-default-border, #D4D4D4);
  transition: box-shadow $creator-transition-duration;

  padding-top: calc(
    var(--sjs2-layout-form-box-medium-vertical, 4px) + var(--ctr-editor-content-margin-top, var(--sjs-spacing-x1))
  );
  padding-right: calc(
    var(--sjs2-layout-form-box-medium-horizontal, 4px) +
      var(--ctr-editor-content-margin-right, var(--sjs-spacing-x150))
  );
  padding-bottom: calc(
    var(--sjs2-layout-form-box-medium-vertical, 4px) +
      var(--ctr-editor-content-margin-bottom, var(--sjs-spacing-x1))
  );
  padding-left: calc(
    var(--sjs2-layout-form-box-medium-horizontal, 4px) +
      var(--ctr-editor-content-margin-left, var(--sjs-spacing-x150))
  );
  outline: none;
  color: var(--ctr-editor-content-text-color, var(--sjs-layer-3-foreground-100, #000000e6));
}

.sps-input::placeholder {
  color: var(--ctr-editor-content-text-color-placeholder, var(--sjs-layer-3-foreground-50, #00000080));
}

.sps-input--readonly {
  color: var(--sjs2-color-control-input-readonly-value, #1C1B20);
  background: var(--sjs2-color-control-formbox-readonly-bg, #FFF);
}

.sps-input {
  &::-webkit-datetime-edit,
  &::-webkit-datetime-edit-fields-wrapper,
  &::-webkit-datetime-edit-ampm-field,
  &::-webkit-datetime-edit-day-field,
  &::-webkit-datetime-edit-hour-field,
  &::-webkit-datetime-edit-millisecond-field,
  &::-webkit-datetime-edit-minute-field,
  &::-webkit-datetime-edit-month-field,
  &::-webkit-datetime-edit-second-field,
  &::-webkit-datetime-edit-week-field,
  &::-webkit-datetime-edit-year-field {
    display: flex;
    flex-wrap: nowrap;
    padding-top: 0;
    padding-bottom: 0;
  }
}
.sps-input[type="date"],
.sps-input[type="datetime-local"] {
  &:empty {
    min-height: calc(
      var(--ctr-font-default-line-height, var(--sjs-line-height-x3)) +
        var(--ctr-editor-padding-top, var(--sjs-spacing-x05)) +
        var(--ctr-editor-content-margin-top, var(--sjs-spacing-x1)) +
        var(--ctr-editor-padding-bottom, var(--sjs-spacing-x05)) +
        var(--ctr-editor-content-margin-bottom, var(--sjs-spacing-x1))
    );
  }
}

.sps-input:focus:not(:disabled),
.sps-input.sps-dropdown:focus:not(:disabled),
.sps-input.sps-dropdown:focus-within:not(:disabled),
.sps-input-container:focus-within {
  box-shadow: inset 0 0 0 var(--ctr-editor-border-width-focused, var(--sjs-stroke-x2))
    var(--ctr-editor-border-color-focused, var(--sjs-primary-background-500, #19b394ff));
}


.sps-input[type="color"] {
  padding-left: 0;
  padding-right: 0;
  min-width: calcSize(8);
}

.sps-input__edit-button {
  position: relative;
  box-sizing: border-box;
  appearance: none;
  background: transparent;
  border: none;
  outline: none;
  border-radius: var(--ctr-editor-button-corner-radius, var(--sjs-corner-radius-x05));
  padding: var(--ctr-editor-button-padding-top, var(--sjs-spacing-x1))
    var(--ctr-editor-button-padding-right, var(--sjs-spacing-x1))
    var(--ctr-editor-button-padding-bottom, var(--sjs-spacing-x1))
    var(--ctr-editor-button-padding-left, var(--sjs-spacing-x1));
  line-height: 0;
  transition:
    background $creator-transition-duration,
    opacity $creator-transition-duration;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;

  &:focus,
  &:hover {
    background: var(--ctr-editor-button-background-color-hovered, var(--sjs-layer-3-background-400, #eaeaeaff));
  }

  &:active {
    opacity: var(--ctr-editor-button-icon-opacity-pressed, 0.5);
  }

  svg {
    width: var(--ctr-editor-button-icon-width, var(--sjs-font-size-x3));
    height: var(--ctr-editor-button-icon-height, var(--sjs-font-size-x3));
    fill: var(--ctr-editor-button-icon-color, var(--sjs-layer-3-foreground-75, #000000bf));
  }
}

.sps-input-container--multiline .sps-input__edit-button {
  align-self: flex-end;
}

.sps-input__edit-button--disabled,
.sps-input__edit-button:disabled {
  opacity: var(--ctr-editor-button-icon-opacity-disabled, 0.25);
  background: transparent;

  svg {
    fill: var(--ctr-editor-button-icon-color-disabled, var(--sjs-layer-3-foreground-75, #000000bf));
  }
}

.sps-input.sps-input--error {
  box-shadow: 0 0 0 1px inset var(--ctr-editor-border-color-error, var(--sjs-semantic-red-background-500, #e50a3eff));
}

.sps-input-container {
  display: flex;
  justify-content: space-between;
  cursor: default;
  padding: var(--ctr-editor-padding-top, var(--sjs-spacing-x05)) var(--ctr-editor-padding-right, var(--sjs-spacing-x05))
    var(--ctr-editor-padding-bottom, var(--sjs-spacing-x05)) var(--ctr-editor-padding-left, var(--sjs-spacing-x05));
  align-items: center;
  gap: var(--ctr-editor-gap, var(--sjs-spacing-x05));
  box-shadow: inset 0 0 0 var(--ctr-editor-border-width, var(--sjs-stroke-x1))
    var(--ctr-editor-border-color, var(--sjs-border-10, #dcdcdcff));
}

.sps-input-container--multiline {
  align-items: end;
  flex-direction: column;
  gap: 0;
  height: auto;

  sv-ng-question-comment {
    display: flex;
  }

  .sps-input-container__input {
    box-sizing: border-box;
    resize: none;
  }
}

.sps-input-container__input {
  @include ctrDefaultFont;
  flex-grow: 1;
  width: 100%;
  padding: var(--ctr-editor-content-margin-top, var(--sjs-spacing-x1))
    var(--ctr-editor-content-margin-right, var(--sjs-spacing-x150))
    var(--ctr-editor-content-margin-bottom, var(--sjs-spacing-x1))
    var(--ctr-editor-content-margin-left, var(--sjs-spacing-x150));

  color: var(--ctr-editor-content-text-color, var(--sjs-layer-3-foreground-100, #000000e6));
  outline: none;
  border: none;
  background-color: transparent;

  &::placeholder {
    color: var(--ctr-editor-content-text-color-placeholder, var(--sjs-layer-3-foreground-50, #00000080));
  }
}

.sps-input-container__input:disabled,
.sps-input-container__input:disabled::placeholder {
  opacity: var(--ctr-editor-content-text-opacity-disabled, 0.25);
  color: var(--ctr-editor-content-text-color-disabled, var(--sjs-layer-1-foreground-100, #000000e6));
  background-color: var(--ctr-editor-background-color-disabled, var(--sjs-layer-1-background-500, #ffffffff));
}

.sps-input-container__buttons-container {
  display: flex;
  gap: var(--ctr-editor-buttons-gap, var(--sjs-spacing-x05));
  align-self: stretch;
}