$sps-row-fade-in-duration: var(--sjs-sps-row-fade-in-duration, 500ms);
$sps-row-move-in-duration: var(--sjs-sps-move-in-duration, 150ms);
$sps-row-fade-in-delay: var(---sjs-sps-row-fade-in-delay, 150ms);
$sps-row-fade-out-duration: var(--sjs-sps-row-fade-out-duration, 150ms);
$sps-row-move-out-duration: var(--sjs-sps-row-move-out-duration, 250ms);
$sps-row-move-out-delay: var(--sjs-sps-row-move-out-delay, 100ms);
$sps-row-fade-in-animation-delay: var(--sjs-sps-row-fade-in-animation-delay, 400ms);

$sps-expand-fade-in-duration: var(--sjs-sps-expand-fade-in-duration, 350ms);
$sps-expand-move-in-duration: var(--sjs-sps-expand-move-in-duration, 350ms);
$sps-expand-fade-in-delay: var(--sjs-sps-expand-fade-in-delay, 0ms);
$sps-collapse-fade-out-duration: var(--sjs-sps-collapse-fade-out-duration, 350ms);
$sps-collapse-move-out-duration: var(--sjs-sps-collapse-move-out-duration, 350ms);
$sps-collapse-move-out-delay: var(--sjs-sps-collapse-move-out-delay, 0ms);

$sps-matrix-row-fade-in-duration: var(--sjs-sps-matrix-row-fade-in-duration, 250ms);
$sps-matrix-row-move-in-duration: var(--sjs-sps-matrix-row-move-in-duration, 150ms);
$sps-matrix-row-fade-in-delay: var(--sjs-sps-matrix-row-fade-in-delay, 150ms);
$sps-matrix-row-fade-out-duration: var(--sjs-sps-matrix-row-fade-out-duration, 100ms);
$sps-matrix-row-move-out-duration: var(--sjs-sps-matrix-row-move-out-duration, 250ms);
$sps-matrix-row-move-out-delay: var(--sjs-sps-matrix-row-move-out-delay, 100ms);

$sps-matrix-detail-row-fade-in-duration: var(--sjs-sps-matrix-detail-row-fade-in-duration, 500ms);
$sps-matrix-detail-row-move-in-duration: var(--sjs-sps-matrix-detail-row-move-in-duration, 150ms);
$sps-matrix-detail-row-fade-in-delay: var(--sjs-sps-matrix-detail-row-fade-in-delay, 150ms);
$sps-matrix-detail-row-fade-out-duration: var(--sjs-sps-matrix-detail-row-fade-out-duration, 150ms);
$sps-matrix-detail-row-move-out-duration: var(--sjs-sps-matrix-detail-row-move-out-duration, 250ms);
$sps-matrix-detail-row-move-out-delay: var(--sjs-sps-matrix-detail-row-move-out-delay, 100ms);
