@use "../../variables" as *;

.svc-property-grid-placeholder {
  display: flex;
  padding: calc(var(--sjs2-base-unit-spacing) * 12) var(--sjs2-spacing-x600) 0 var(--sjs2-spacing-x600);
  flex-direction: column;
  align-items: center;
  gap: var(--sjs2-spacing-x300);
  flex: 1 0 0;
  align-self: stretch;
  background: var(--sjs2-color-utility-property-grid);
}
.svc-property-grid-placeholder__header {
  display: flex;
  max-width: calc(var(--sjs2-base-unit-size) * 40);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--sjs2-spacing-x100);
}
.svc-property-grid-placeholder__title {
  @include sjs2--typography--default-strong;
  color: var(--sjs2-color-fg-basic-primary);
  text-align: center;
  display: inline-block;
}
.svc-property-grid-placeholder__description {
  @include sjs2--typography--small;
  color: var(--sjs2-color-fg-basic-secondary);
  text-align: center;
  display: inline-block;
}
.svc-property-grid-placeholder__content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}
.svc-property-grid-placeholder__gap {
  max-width: 192px;
  flex: 1 0 0;
  width: 100%;
}
.svc-property-grid-placeholder__image {
  display: flex;
  max-width: 192px;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  background: url("../../images/image-panel-placeholder.png") 50% / contain no-repeat;
  width: 100%;
  overflow: hidden;
  height: 86px;
}

:dir(rtl),
[style*="direction:rtl"],
[style*="direction: rtl"],
.svc-creator__side-bar--left {
  .svc-property-grid-placeholder__image {
    transform: rotateY(180deg);
  }
}

.svc-creator__side-bar--left .svc-property-grid-placeholder__content {
  flex-direction: row-reverse;
}
