<div class="examplecontent wrapper wrapper-content">
    {% if page.title != 'Live examples' %}
    <div>
        <h3 class="contenttitle">{{ page.title }}</h3> 
        <ul class="nav nav-tabs">
            <li id="liShowEditor" role="presentation" class="active"><a onclick="showEditor()" href="#">Show Editor</a></li>
            <li id="liShowCode" role="presentation"><a onclick="showCode()" href="#">Show Code and Description</a></li>
        </ul>
    </div>
    <div class="row">
        <div id="elEditor">
            <div id="surveyContainer">
                <div id="editorElement"></div>
            </div>
        </div>        
        <div id="elCode" style="display:none">
            <div {% if page.propertiesFile %}class="col-md-8"{%else%}class="col-md-12"{%endif%}>
                {% if page.preSurvey %}
                {% include {{page.preSurvey}} %}
                {% endif %}
                <div class="row source-code-container">
                    <ul class="nav nav-tabs" style="margin-top:10px;margin-bottom:10px">
                        <li role="presentation" class="active"><a>Knockout</a></li>
                    </ul>
                    {{ content }}
                </div>
            </div>
            {% if page.propertiesFile %}
            <div class="col-md-4 exampleoptions">
                {% include {{page.propertiesFile}} %}
            </div>
            {% endif %}
         </div>
    </div>
    {% else %}
    {{ content }}
    {% endif %}
</div>

<script type="text/javascript">
    function showEditor() {  showEditorAndCode(true); }
    function showCode() {  showEditorAndCode(false); }
    function showEditorAndCode(isEditor) {
        document.getElementById("liShowEditor").className = isEditor ? "active" : "";
        document.getElementById("liShowCode").className = isEditor ? "" : "active";
        document.getElementById("elEditor").style.display =  isEditor ? "" : "none";
        document.getElementById("elCode").style.display =  isEditor ? "none" : "";
    }
</script>