@import "../variables.scss";

.svc-list {
  display: flex;
  // position: absolute;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  border: 1px solid $border;
  background: #ffffff;
  box-shadow: 0px 2px 6px $shadow-medium;
  font-family: $font-family;
  list-style-type: none;
  // z-index: 2;
}

.svc-list__item {
  width: 100%;
  box-sizing: border-box;
  padding: calcSize(1) calcSize(2);

  cursor: pointer;
}

.svc-list__item:hover {
  background-color: $background-dim;
}

.svc-list__item--selected {
  background-color: $primary;
  &:hover {
    background-color: $primary;
  }
}

.svc-list__item--disabled {
  color: $foreground-disabled;
  cursor: default;
}
