@import "../variables.scss";

svc-modal {
  display: block;
  position: absolute;
  z-index: -1;
}

.svc-modal {
  display: flex;
  position: absolute;
  z-index: 1000;
  filter: drop-shadow(0px calcSize(1) calcSize(2) rgba(0, 0, 0, 0.1));
}

.svc-modal__content {
  padding: calcSize(1) 0;
  background: $background;
  border-radius: 4px;
  min-width: 100%;
}

.svc-modal--show-pointer:after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-left: calcSize(1) solid transparent;
  border-right: calcSize(1) solid transparent;
  border-bottom: calcSize(1) solid $background;
  align-self: center;
}

.svc-modal--show-pointer.svc-modal--top {
  flex-direction: column;
  transform: translateY(calcSize(-1));
  &:after {
    transform: rotate(180deg);
  }
}

.svc-modal--show-pointer.svc-modal--bottom {
  flex-direction: column-reverse;
}

.svc-modal--show-pointer.svc-modal--left {
  transform: translate(calcSize(-1));
  &:after {
    align-self: center;
    transform: translate(-4px) rotate(90deg);
  }
}

.svc-modal--show-pointer.svc-modal--right {
  flex-direction: row-reverse;
  transform: translate(calcSize(1));
  &:after {
    align-self: center;
    transform: translate(4px) rotate(-90deg);
  }
}
