@import "../variables.scss";

svc-question {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
}

.svc-question__content {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  box-sizing: border-box;
}

.svc-question__content-actions {
  position: absolute;
  display: none;
  left: 0;
  bottom: 0;
  width: 100%;
}

.svc-question__content:hover {
  border: 1px solid $secondary;
}

.svc-question__content--selected,
.svc-question__content--selected:hover {
  border: 2px solid $secondary;
  .svc-question__content-actions {
    display: block;
  }
}

svc-question {
  svc-action-bar {
    padding: 0;
  }
}
