.sd-comment {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  background: $background;
  box-sizing: border-box;
  width: 100%;
  height: calcSize(9);
  border: 1px solid $border-inside;
  padding: 12px calcSize(2);
  outline: none;
  font-size: calcSize(2);
  color: $foreground;
}

.sd-comment::placeholder {
  color: $foreground-light;
}

.sd-comment:focus {
  border: 2px solid #19b394;
}

.sd-comment:disabled,
.sd-comment:disabled::placeholder {
  color: $foreground-disabled;
}
