@import "../../variables.scss";
.sd-file {
  min-height: calcSize(32);
  position: relative;
}
.sd-file__decorator {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px dashed $border;
  justify-content: center;
  align-items: center;
}
.sd-file__no-file-chosen {
  display: none;
}
.sd-hidden {
  display: none !important;
}
.sd-file__choose-btn {
  line-height: 24px;
  font-size: 16px;
  color: $primary;
}
.sd-question--answered {
  .sd-file__choose-btn {
    display: block;
    position: absolute;
    top: 8px;
    left: calc(100% - 112px);
    width: 48px;
    height: 48px;
    background: $background;
    border-radius: 100px;
    color: transparent;
    &:after {
      content: ' ';
      display: block;
      position: absolute;
      top: 15px;
      left: 13px;
      width: 22px;
      height: 18px;
      background-repeat: no-repeat;
      background-image: url("data:image/svg+xml,%3Csvg width='22' height='18' viewBox='0 0 22 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 6V4C20 2.9 19.1 2 18 2H10L8 0H2C0.9 0 0 0.9 0 2V6V7V18H20L22 6H20ZM2 2H7.2L8.6 3.4L9.2 4H10H18V6H2V2ZM18.3 16H2V8H19.6L18.3 16Z' fill='%23909090'/%3E%3C/svg%3E%0A");
    }
    &:hover:after {
      background-image: url("data:image/svg+xml,%3Csvg width='22' height='18' viewBox='0 0 22 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 6V4C20 2.9 19.1 2 18 2H10L8 0H2C0.9 0 0 0.9 0 2V6V7V18H20L22 6H20ZM2 2H7.2L8.6 3.4L9.2 4H10H18V6H2V2ZM18.3 16H2V8H19.6L18.3 16Z' fill='%231ab394'/%3E%3C/svg%3E%0A");
    }
  }
  .sd-file__clean-btn {
    appearance: none;
    outline: none;
    border: none;
    padding: 0;
    border: none;
    display: block;
    position: absolute;
    left: calc(100% - 56px);
    top: 8px;
    width: 48px;
    height: 48px;
    background: $background;
    border-radius: 100px;
    color: transparent;
    &:after {
      content: ' ';
      display: block;
      position: absolute;
      top: 13.5px;
      left: 12px;
      width: 24px;
      height: 21px;
      background-repeat: no-repeat;
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='21' viewBox='0 0 24 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.6 7.60005L16.4 1.40005C16 1.00005 15.5 0.800049 15 0.800049C14.5 0.800049 14 1.00005 13.6 1.40005L1.39999 13.6C0.599988 14.4 0.599988 15.6 1.39999 16.4L5.99999 21H12L22.6 10.4C23.3 9.60005 23.3 8.30005 22.6 7.60005ZM11.1 19H6.79999L2.79999 15L6.19999 11.6L12.4 17.8L11.1 19ZM13.8 16.4L7.59999 10.2L15 2.80005L21.2 9.00005L13.8 16.4ZM16 19H23V21H14L16 19Z' fill='%23909090'/%3E%3C/svg%3E ");
    }
    &:hover:after {
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='21' viewBox='0 0 24 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.6 7.60005L16.4 1.40005C16 1.00005 15.5 0.800049 15 0.800049C14.5 0.800049 14 1.00005 13.6 1.40005L1.39999 13.6C0.599988 14.4 0.599988 15.6 1.39999 16.4L5.99999 21H12L22.6 10.4C23.3 9.60005 23.3 8.30005 22.6 7.60005ZM11.1 19H6.79999L2.79999 15L6.19999 11.6L12.4 17.8L11.1 19ZM13.8 16.4L7.59999 10.2L15 2.80005L21.2 9.00005L13.8 16.4ZM16 19H23V21H14L16 19Z' fill='%23e60a3e'/%3E%3C/svg%3E ");    }
    }
}
.sd-file__preview {
  display: block;
  position: relative;
  min-height: 100%;
}
.sd-file__remove-svg {
  display: none;
}
.sd-file__list {
  overflow: auto;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 16px;
  justify-content: center;
  padding-top: 64px;
  padding-bottom: 64px;
  min-height: 128px;
}