.sd-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: static;
  width: 100%;
  height: calcSize(6);
  box-sizing: border-box;
  padding: 12px 16px;
  line-height: calcSize(3);
  font-family: $font-family;
  font-size: calcSize(2);
  color: $foreground;
  background-color: $background-for-editors;
  box-shadow: inset 0px 1px 2px $border-inside;
  border: none;
  border-radius: 3px;
  outline: none;
}
.sd-input--disabled {
  background-color: $background-for-editors;
  color: $foreground-disabled-for-editors;
}
.sd-input::placeholder {
  color: $foreground-light;
}
.sd-input--disabled,
.sd-input--disabled::placeholder {
  color: $foreground-disabled;
}
