.sd-question {
  background: transparent;
}
.sd-question__header {
  width: 100%;
}
.sd-question__title {
  position: static;
  font-weight: 600;
  font-size: calcSize(2);
  line-height: calcSize(3);
  margin: 4px 0px;
}
