@import "../colors.scss";

.svd_container {
  .svd_properties {
    height: 100%;
    border: none;
    padding: 0;
    margin-left: -0.5px;
    font-size: 1.17em;

    .modal {
      font-size: 0.857em;
      color: $primary-text-color;
    }
  }
}
