.license {
    .title {
        height: 105px;
        width: 100%;
        background-color: $background-light;
        padding: 30px;
        font-size: 30px;
    }

    .content {

    }

    .notes {

    }
}
