@import "../variables.scss";

.svc-button {
  padding: calcSize(2) calcSize(6);
  background: $background;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;

  font-family: $font-family;
  font-style: normal;
  font-weight: 600;
  font-size: calcSize(2);
  line-height: calcSize(3);
  text-align: center;
  color: $primary;
  border: 2px solid transparent;
  &:hover {
    box-shadow: 0 0 0 2px $primary;
  }
  outline: none;
}

.svc-button:disabled {
  color: $foreground-disabled;
  cursor: default;
  &:hover {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
  }
}

.svc-button--action {
  background-color: $primary;
  color: $primary-foreground;
}

.svc-button--action:disabled {
  background-color: $background-dim;
}
