@use "../ctr-variables.scss" as mixins;

.svc-creator-popup.sv-popup--modal-popup,
.svc-creator-popup.sv-popup--modal-overlay {
  .sv-modal-popup__button {
    border-radius: var(--ctr-button-corner-radius-small, var(--sjs-corner-radius-x075));
    padding: var(--ctr-button-padding-vertical-small, var(--sjs-spacing-x150))
      var(--ctr-button-padding-horizontal-small, var(--sjs-spacing-x4))
      var(--ctr-button-padding-vertical-small, var(--sjs-spacing-x150))
      var(--ctr-button-padding-horizontal-small, var(--sjs-spacing-x4));
    display: flex;
    flex-direction: row;
    gap: var(--ctr-button-gap, var(--sjs-spacing-x4));
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    box-shadow: var(--sjs2-border-effect-surface-default, 0px 0px 0px 1px rgba(17 16 20 / 0.1));
    background: var(--sjs2-color-bg-basic-primary, #fff);
    color: var(--sjs2-color-fg-brand-primary, #19B394);

    &:hover {
      background: var(--sjs2-color-bg-brand-secondary, rgba(25 179 148 / 0.1));
    }
    span {
      @include mixins.ctrDefaultBoldFont;

      text-align: center;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .sv-popup__button--apply {
    background: var(--sjs2-color-bg-brand-primary, #19B394);
    color: var(--sjs2-color-fg-brand-on-primary, #fff);

    &:hover {
      background: var(--sjs2-color-bg-brand-primary-dim, #15987E);
    }
  }

  .sd-btn--danger {
    background: var(--sjs2-color-bg-alert-primary, #E50A3E);
    color: var(--sjs2-color-fg-alert-on-primary, #fff);

    &:hover {
      background: var(--sjs2-color-bg-alert-primary-dim, #C30935);
    }
  }
}
