@import "../variables.scss";

survey-creator,
.svc-creator {
  display: flex;
  width: 100%;
  height: 100%;

  ::-webkit-scrollbar {
    height: 6px;
    width: 6px;
    background-color: $background-dim;
  }
  ::-webkit-scrollbar-thumb {
    background: $primary-light;
  }
}

.svc-creator__area {
  width: 100%;
  height: 100%;
  position: relative;
}

.svc-creator__content-wrapper {
  width: 100%;
  height: calc(100% - calc(8 * #{$base-unit}));
}

.svc-creator__content-holder {
  width: 100%;
  height: 100%;
}

.svc-creator-tab {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.svc-creator-tab__content {
  position: relative;
  width: 100%;
  height: 100%;
  padding: calcSize(3);
  box-sizing: border-box;
}

.svc-plugin-tab__content {
  height: calc(100% - calc(6 * #{$base-unit}));
  overflow-y: auto;
  // background: $background;
}

.svc-plugin-tab__content-actions {
  sv-action-bar {
    padding: 0;
    height: calc(6 * #{$base-unit});
    background: $background;
    border-top: 1px solid $border;
  }
}

.svc-creator__banner {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: calcSize(4);
  line-height: calcSize(4);
  background-color: $secondary;
  text-align: center;
}

.svc-creator__non-commercial-text {
  color: $primary-foreground;
  font-family: "Open Sans";
  font-weight: bold;
  font-size: calcSize(2);
  text-transform: uppercase;
  vertical-align: middle;
}

.svc-drag-drop-ghost {
  top: 0;
  width: 100%;
  height: 4px;
  background: $secondary;
  position: absolute;
}

.svc-drag-drop-ghost--item-value-bottom {
  top: initial;
  bottom: -4px;
}
