@import "../variables.scss";

.svc-image-item-value-wrapper {
  display: inline-block;
  position: relative;
}

.svc-question__content--selected .svc-image-item-value-wrapper {
  border: 1px dashed $border;
}

.svc-image-item-value--new {
  display: none;
}

.svc-question__content--selected .svc-image-item-value--new {
  display: inline-block;
}

.svc-image-item-value__item {
  pointer-events: none;
}

.svc-image-item-value-controls {
  position: absolute;
  top: calcSize(1.5);
  right: calcSize(1.5);
  display: none;
}

.svc-image-item-value--new .svc-image-item-value-controls {
  top: calc(50% - 24px);
  left: calc(50% - 24px);
}

.svc-question__content--selected .svc-image-item-value-controls {
  display: block;
}

.svc-image-item-value-controls__button {
  display: inline-block;
  background-color: $background;
  border-radius: 50%;
  width: calcSize(6);
  height: calcSize(6);
  cursor: pointer;

  &:not(:last-child) {
    margin-right: calcSize(0.5);
  }

  .sv-svg-icon {
    margin-top: calc(50% - 12px);
    margin-left: calc(50% - 12px);
  }

  use {
    fill: $foreground-light;
  }
}

.svc-image-item-value--new .svc-image-item-value-controls__button {
  background-color: transparent;
}

.svc-image-item-value-controls__choose-file:hover {
  // background-color: $primary-light;
  use {
    fill: $primary;
  }
}

.svc-image-item-value-controls__remove:hover {
  // background-color: $red-light;
  use {
    fill: $red;
  }
}

.svc-image-item-value-controls__add:hover {
  background-color: $primary-light;
  use {
    fill: $primary;
  }
}

.svc-choose-file-input {
  position: absolute;
  opacity: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
}