@import "../variables.scss";

.svc-item-value-wrapper {
  position: relative;
  display: flex;
  //Todo: remove this style
  width: max-content;
}

.svc-question__content--selected .svc-item-value-wrapper {
  margin-left: calcSize(-5);
}

.sd-selectbase__column:not(:first-of-type) .svc-item-value-wrapper {
  margin-left: 0;
}

.svc-item-value--dragging {
  background: $background;
  box-shadow: 0px calcSize(1) calcSize(2) $shadow-medium;
  border-radius: 100px;
  padding-right: calcSize(3);
  padding-left: calcSize(0.5);
}

.svc-item-value-controls {
  display: none;
  margin: calcSize(1) 0;
  margin-right: calcSize(1);
  // position: absolute;
  // left: calcSize(-10);
  width: calcSize(9);
  height: calcSize(4);
  box-sizing: border-box;
  // text-align: right;
  // white-space: nowrap;
  flex-shrink: 0;
}

.svc-item-value-controls__button {
  border-radius: 50%;
  padding: calcSize(1);
  cursor: pointer;
  display: inline-block;
}

.svc-item-value-controls__button > span {
  display: block;
  width: 16px;
  height: 16px;
}
//for knockout
sv-svg-icon.svc-item-value-controls__button {
  width: 16px;
  height: 16px;
  box-sizing: content-box;
}

.svc-item-value-controls__drag {
  padding: calcSize(1) calcSize(1.5);
  cursor: move;
  use {
    fill: $foreground-light;
  }
  &:hover {
    use {
      fill: $primary;
    }
  }
}

.svc-item-value-controls__remove,
.svc-item-value-controls__add {
  float: right;
}

.svc-item-value-controls__add:hover {
  background-color: $primary-light;
  use {
    fill: $primary;
  }
}

.svc-item-value-controls__remove:hover {
  background-color: $red-light;
  use {
    fill: $red;
  }
}

.svc-question__content--selected-no-border .svc-item-value-controls {
  display: block;
}

.svc-question__content--selected .svc-item-value-controls {
  display: block;
}

.sv-string-editor {
  cursor: text;
}

.svc-item-value--new {
  .svc-item-value__item {
    opacity: 0.5;
  }
}
.sv-ranking {
  .svc-item-value-wrapper {
    align-items: center;
  }
}

.svc-item-value__item {
  .sv-ranking-item__content {
    padding-left: 0;
  }

  .sv-ranking-item__icon-container {
    display: none;
  }
}
