@import "../variables.scss";

.svc-item-value-controls {
  display: none;
  position: absolute;
  left: calcSize(-5);
  cursor: pointer;
  margin-top: calcSize(0.5);
}

.svc-question__content--selected {
  .svc-item-value-controls {
    display: block;
  }
}

.svc-item-value__item {
  pointer-events: none;
}

.sv-string-editor {
  pointer-events: all;
}

.svc-item-value--new {
  .svc-item-value__item {
    opacity: 0.5;
  }
}
