@import "../variables.scss";

.svc-item-value-wrapper {
  position: relative;
}

.svc-item-value-controls {
  display: none;
  position: absolute;
  left: calcSize(-5);
  cursor: pointer;
}

.svc-item-value-controls__button {
  height: calcSize(3);
  width: calcSize(3);
  border-radius: 50%;
  padding: calcSize(1.5);
  cursor: pointer;
  display: inline-block;
  margin-top: calcSize(-1);
  margin-left: calcSize(-1);
}
.svc-item-value-controls__add:hover {
  background-color: $primary-light;
  use {
    fill: $primary;
  }
}
.svc-item-value-controls__remove:hover {
  background-color: $red-light;
  use {
    fill: $red;
  }
}

.svc-question__content--selected {
  .svc-item-value-controls {
    display: block;
  }
}

.svc-item-value__item {
}

.sv-string-editor {
  cursor: text;
}

.svc-item-value--new {
  .svc-item-value__item {
    opacity: 0.5;
  }
}

.sv-ranking {
  .svc-item-value-controls {
    height: 100%;
  }
  .svc-item-value-controls__button {
    margin-top: calc(50% - calc(1.25 * #{$base-unit}));
  }
}
