@import "../variables.scss";

.svc-item-value-wrapper {
  position: relative;
  display: flex;
}

.svc-question__content--selected .svc-item-value-wrapper {
  margin-left: calcSize(-5);
}

.sd-selectbase__column:not(:first-of-type) .svc-item-value-wrapper {
  margin-left: 0;
}

.svc-item-value--dragging {
  background: $background;
  box-shadow: 0px calcSize(1) calcSize(2) $shadow-medium;
  border-radius: calcSize(12.5);
  padding-right: calcSize(3);
  padding-left: calcSize(0.5);
}

.svc-item-value-controls {
  display: none;
  margin: calcSize(1) 0;
  margin-right: calcSize(1);
  // position: absolute;
  // left: calcSize(-10);
  width: calcSize(9);
  height: calcSize(4);
  box-sizing: border-box;
  // text-align: right;
  // white-space: nowrap;
  flex-shrink: 0;
}

.svc-item-value-controls__button {
  border-radius: 50%;
  padding: calcSize(1);
  cursor: pointer;
  display: inline-block;
}
.svc-item-value-controls__button > span,
sv-svg-icon.svc-item-value-controls__button {
  width: calcSize(2);
  height: calcSize(2);
  box-sizing: content-box;
  .sv-svg-icon {
    display: block;
  }
}
.svc-item-value-controls__button > span {
  display: block;
}

.svc-item-value-controls__drag {
  padding: calcSize(1) calcSize(1.5);
  cursor: move;
  use {
    fill: $foreground-light;
  }
  &:hover {
    use {
      fill: $primary;
    }
  }
}

.svc-item-value-controls__remove,
.svc-item-value-controls__add {
  float: right;
}

.svc-item-value-controls__add:hover {
  background-color: $primary-light;
  use {
    fill: $primary;
  }
}

.svc-item-value-controls__remove:hover {
  background-color: $red-light;
  use {
    fill: $red;
  }
}

.svc-question__content--selected-no-border .svc-item-value-controls {
  display: block;
}

.svc-question__content--selected .svc-item-value-controls {
  display: block;
}

.sv-string-editor {
  cursor: text;
}

.svc-item-value--new {
  .svc-item-value__item {
    opacity: 0.5;
  }
}
.sv-ranking {
  .svc-item-value-wrapper {
    align-items: center;
  }
}

.svc-item-value__item {
  .sv-ranking-item__content {
    padding-left: 0;
  }

  .sv-ranking-item__icon-container {
    display: none;
  }
}

.svc-item-value--ghost {
  .svc-item-value__ghost {
    display: block;
  }
  .svc-item-value-controls {
    visibility: hidden;
  }
}

.svc-item-value--movedown {
  transform: translate(0, 0);
  animation: svdragdropmovedown 0.1s;
  animation-timing-function: ease-in-out;
}

@keyframes svdragdropmovedown {
  0% {
    transform: translate(0, -50px);    
  } 
  100% {
    transform: translate(0, 0);
  }
}

.svc-item-value--moveup {
  transform: translate(0, 0);
  animation: svdragdropmoveup 0.1s;
  animation-timing-function: ease-in-out;
}

@keyframes svdragdropmoveup {
  0% {
    transform: translate(0, 50px);   
  }
  100% {
    transform: translate(0, 0); 
  }
}

.svc-item-value__ghost {
  display: none;
  background: $background-dim;
  border-radius: calcSize(12.5);
  width: calcSize(25);
  height: 55px;
  z-index: 11;
  position: absolute;
  left: 35px;
}