@use "../variables" as *;

.svc-link__button {
  @include ctrDefaultBoldFont;
  border-radius: var(--ctr-actionbar-button-corner-radius, var(--sjs-corner-radius-x1));
}

.svc-question-link__set-button {
  cursor: pointer;
}
.svc-link-value-button {
  margin-inline-start: calc(-1 * var(--ctr-actionbar-button-padding-left-medium-text, var(--sjs-spacing-x2)));
}
.svc-question-link__clear-button {
  color: var(--sjs-semantic-red-background-500, #e50a3eff);
  cursor: pointer;
}
.svc-question-link__clear-button:focus,
.svc-question-link__clear-button:hover {
  background-color: var(--sjs-semantic-red-background-10, #e50a3e1a);
}
