@import "../variables.scss";

.svc-matrix-cell {
  position: relative;
}

.svc-matrix-cell--selected {
  position: absolute;
  border: 2px solid $secondary;
  top: calcSize(-2);
  left: calcSize(-0.25);
  right: calcSize(-0.25);
  bottom: calcSize(-2);
  display: none;
  &.svc-visible {
    display: block;
  }
}

.svc-hovered > .svc-matrix-cell--selected:not(.svc-visible) {
  border: 1px solid $secondary;
  display: block;
}

.svc-matrix-cell__question-controls {
  display: none;
  position: absolute;
  top: calc(50% - 24px);
  left: calc(50% - 24px);
}

.svc-matrix-cell__question-controls-button {
  display: block;
  width: calcSize(6);
  height: calcSize(6);
  background: $background;
  border: 1px solid $border;
  box-sizing: border-box;
  border-radius: 50%;
  padding: calcSize(1.5);
  cursor: pointer;

  use {
    fill: $foreground-light;
  }
}

.svc-matrix-cell:hover .svc-matrix-cell__question-controls {
  display: block;
}

.svc-question__content--selected-no-border {
  padding: 0;
  width: calc(100% - 200px);
  min-width: 560px;
  box-shadow: none;
}
