@import "../variables.scss";

svc-page {
  display: block;
}

.svc-page {
  margin-top: calcSize(2);
  .sd-page__title {
    margin: calcSize(2.5) 0 0 0;
  }
}

.svc-page__content {
  position: relative;
  padding: calcSize(1) calcSize(1) calcSize(3);
  box-sizing: border-box;
  width: 100%;
  .sd-page {
    margin: 0;
    padding-top: calcSize(1);
  }
}

.svc-page__content-actions {
  position: absolute;
  display: none;
  top: calcSize(1);
  right: 0;
  .sv-action-bar {
    padding: 0 calcSize(1);
    .sv-action-bar-item {
      font-size: calcSize(1.5);
      font-weight: 600;
      line-height: calcSize(2);
      align-items: center;
      height: calcSize(4);
    }
    .sv-action-bar-separator {
      margin-right: calcSize(1);
    }
    .sv-action:not(:last-child) > .sv-action__content {
      padding-right: calcSize(1);
    }
  }
}

.svc-hovered.svc-page__content:not(.svc-page__content--new) {
  background: $secondary-back-light;
}

.svc-creator .svc-page .svc-page__content--selected,
.svc-hovered {
  border-radius: calcSize(0.5);
  &.svc-page__content--selected {
    outline: 2px solid $secondary;
    background: $secondary-back-light;
    .svc-page__content-actions {
      display: block;
    }
  }
}

.svc-page__add-new-question {
  &:hover {
    outline: 2px solid $primary;
  }
  display: flex;
  align-items: center;
  margin-left: calcSize(2);
  margin-right: calcSize(2);
  height: calcSize(7);
  line-height: calcSize(7);
  vertical-align: baseline;
  text-align: center;
  background-color: $background;
  color: $primary;
  box-shadow: 0px 1px 2px $shadow-inner;
  border-radius: calcSize(0.5);
  cursor: pointer;
  user-select: none;

  .svc-text {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
    margin-left: calcSize(6);
  }
}

.svc-page__question-type-selector {
  appearance: none;
  display: flex;
  height: calcSize(5);
  padding: calcSize(1);
  box-sizing: border-box;
  border: none;
  border-radius: 2px;
  background-color: transparent;
  cursor: pointer;
  margin-right: calcSize(1);
  use {
    fill: $foreground-light;
  }
  &:hover {
    background-color: $background-dim;
  }
}
