@import "../variables.scss";

svc-page {
  display: block;
}

.svc-page__content {
  position: relative;
  padding: calcSize(4);
  border: 2px solid transparent;
  box-sizing: border-box;
  width: 100%;
}

.svc-page__content-actions {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

.svc-hovered.svc-page__content:not(.svc-page__content--new) {
  border: 2px solid $secondary;
}

.svc-page__content--selected,
.svc-hovered.svc-page__content--selected {
  border: 2px solid $secondary;
  background: rgba(255, 152, 20, 0.1);
  border-radius: 4px;
  .svc-page__content-actions {
    display: block;
  }
}

.svc-page__add-new-question {
  display: flex;
  align-items: center;
  margin-left:calcSize(2);
  margin-right:calcSize(2);
  height: calcSize(7);
  line-height: calcSize(7);
  vertical-align: baseline;
  text-align: center;
  background-color: $background;
  color: $primary;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
  border-radius: calcSize(0.5);
  cursor: pointer;
  user-select: none;

  .svc-text {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
  }
}

.svc-page__question-type-selector {
  appearance: none;
  display: flex;
  height: calcSize(5);
  padding: calcSize(1);
  box-sizing: border-box;
  border: none;
  border-radius: 2px;
  background-color: transparent;
  cursor: pointer;
  margin-right: calcSize(1);

  &:hover {
    background-color: $background-dim;
  }
}
