@use "../variables" as *;

.svc-creator-popup {
  &.sv-popup--modal {
    background-color: var(--ctr-popup-haze-background-color, #cceeee59);
  }

  &.sv-popup--modal > .sv-popup__container {
    background-color: var(--ctr-popup-background-color, #ffffffff);
    border-radius: var(--ctr-popup-corner-radius, var(--sjs-corner-radius-x2));
    box-shadow:
      var(--ctr-popup-shadow-1-offset-x, var(--ctr-shadow-medium-offset-x))
        var(--ctr-popup-shadow-1-offset-y, var(--ctr-shadow-medium-offset-y))
        var(--ctr-popup-shadow-1-blur, var(--ctr-shadow-medium-blur))
        var(--ctr-popup-shadow-1-spread, var(--ctr-shadow-medium-spread)) 
        var(--ctr-popup-shadow-1-color, #004c441a),
      var(--ctr-popup-shadow-2-offset-x, var(--ctr-shadow-large-offset-x))
        var(--ctr-popup-shadow-2-offset-y, var(--ctr-shadow-large-offset-y))
        var(--ctr-popup-shadow-2-blur, var(--ctr-shadow-large-blur))
        var(--ctr-popup-shadow-2-spread, var(--ctr-shadow-large-spread))
        var(--ctr-popup-shadow-2-color, #004c441a),
      var(--ctr-popup-shadow-3-offset-x, var(--ctr-shadow-x-large-offset-x))
        var(--ctr-popup-shadow-3-offset-y, var(--ctr-shadow-x-large-offset-y))
        var(--ctr-popup-shadow-3-blur, var(--ctr-shadow-x-large-blur))
        var(--ctr-popup-shadow-3-spread, var(--ctr-shadow-x-large-spread))
        var(--ctr-popup-shadow-3-color, #004c441a);

    .sv-footer-action-bar {
      gap: var(--ctr-popup-buttons-gap, var(--sjs-spacing-x2));
    }

    & > .sv-popup__body-content {
      background-color: var(--ctr-popup-background-color, #ffffffff);
      border-radius: var(--ctr-popup-corner-radius, var(--sjs-corner-radius-x2));

      padding: var(--ctr-popup-padding-top, var(--sjs-spacing-x4)) var(--ctr-popup-padding-right, var(--sjs-spacing-x4))
        var(--ctr-popup-padding-bottom, var(--sjs-spacing-x4)) var(--ctr-popup-padding-left, var(--sjs-spacing-x4));

      gap: var(--ctr-popup-gap, var(--sjs-spacing-x4));
      box-shadow: unset;
    }
  }

  &.sv-popup--dropdown-overlay .sv-popup__scrolling-content {
    height: auto;
  }
  
  &.sv-popup--overlay.sv-popup--tablet > .sv-popup__container {
    background-color: var(--ctr-popup-haze-background-color, #cceeee59);
  }
  &.sv-popup--overlay .sv-popup__container {
    // background-color: var(--ctr-popup-menu-background-color, #ffffffff);
    background-color: var(--ctr-popup-haze-background-color, #cceeee59);
  }
  &.sv-popup--overlay:not(.sv-popup--dropdown-overlay) {
    .sv-popup__body-content {
      background-color: var(--ctr-popup-background-color, #ffffffff);
    }

    .sv-popup__button.sv-popup__button {
      background-color: var(--ctr-button-background-color-cta, #19b394ff);
      border: 2px solid var(--ctr-button-background-color-cta, #19b394ff);
      color: var(--ctr-button-text-color-cta, #ffffffff);
    }
  }

  .sv-popup__pointer {
    &:after {
      content: " ";
      border-bottom: calcSize(1) solid var(--ctr-popup-menu-pointer-color, #ffffffff);
    }
  }

  .sv-popup__container {
    background-color: transparent;
    border-radius: var(--ctr-popup-menu-corner-radius, var(--sjs-corner-radius-x1));
    box-shadow:
      var(--ctr-popup-menu-shadow-1-offset-x, var(--ctr-shadow-medium-offset-x))
        var(--ctr-popup-menu-shadow-1-offset-y, var(--ctr-shadow-medium-offset-y))
        var(--ctr-popup-menu-shadow-1-blur, var(--ctr-shadow-medium-blur))
        var(--ctr-popup-menu-shadow-1-spread, var(--ctr-shadow-medium-spread))
        var(--ctr-popup-menu-shadow-1-color, #004c441a),
      var(--ctr-popup-menu-shadow-2-offset-x, var(--ctr-shadow-large-offset-x))
        var(--ctr-popup-menu-shadow-2-offset-y, var(--ctr-shadow-large-offset-y))
        var(--ctr-popup-menu-shadow-2-blur, var(--ctr-shadow-large-blur))
        var(--ctr-popup-menu-shadow-2-spread, var(--ctr-shadow-large-spread))
        var(--ctr-popup-menu-shadow-2-color, #004c441a);
  }

  .sv-popup__body-header {
    @include ctrMediumBoldFont;
    color: var(--ctr-popup-title-color, #000000e6);
  }

  &.sv-popup--dropdown-overlay.sv-popup--tablet .sv-popup__body-content,
  .sv-popup__body-content {
    border-radius: var(--ctr-popup-menu-corner-radius, var(--sjs-corner-radius-x1));
  }

  &.svc-property-editor.sv-popup--overlay:not(.sv-popup--dropdown-overlay) .sv-popup__body-content {
    background-color: var(--ctr-popup-background-color, #ffffffff);
    border-radius: calc(4 * (var(--ctr-popup-menu-corner-radius, var(--sjs-corner-radius-x1))))
      calc(4 * (var(--ctr-popup-menu-corner-radius, var(--sjs-corner-radius-x1)))) 0px 0px;
  }

  &.sv-popup--dropdown,
  &.sv-popup--dropdown-overlay {
    .sv-popup__body-content {
      background-color: var(--ctr-popup-menu-background-color, #ffffffff);
      padding: 0;
    }
  }

  &.sv-popup--dropdown.svc-toolbox-subtypes {
    .sv-popup__body-content {
      background: unset;
    }
  }

  //styles for dropdown overlay
  &.sv-popup--dropdown-overlay {
    .sv-popup__button.sv-popup__button {
      color: var(--ctr-actionbar-button-text-color, #19b394ff);
      border-radius: var(--ctr-actionbar-button-corner-radius, var(--sjs-corner-radius-x1));
      padding: var(--ctr-actionbar-button-padding-top-medium-text, var(--sjs-spacing-x05))
        var(--ctr-actionbar-button-padding-right-medium-text, var(--sjs-spacing-x2))
        var(--ctr-actionbar-button-padding-bottom-medium-text, var(--sjs-spacing-x05))
        var(--ctr-actionbar-button-padding-left-medium-text, var(--sjs-spacing-x2));
    }

    .sv-popup__body-footer {
      background-color: var(--ctr-popup-menu-footer-background-color, #f4f4f4ff);
      border-top: 1px solid var(--ctr-popup-menu-footer-border-color, #d4d4d4ff);
      padding: var(--ctr-popup-menu-footer-padding-top, var(--sjs-spacing-x05))
        var(--ctr-popup-menu-footer-padding-right, var(--sjs-spacing-x1))
        var(--ctr-popup-menu-footer-padding-bottom, var(--sjs-spacing-x05))
        var(--ctr-popup-menu-footer-padding-left, var(--sjs-spacing-x1));
    }

    .sv-popup__button:disabled {
      color: var(--ctr-actionbar-button-text-color-disabled, #000000e6);
      opacity: var(--ctr-actionbar-button-opacity-disabled, 0.25);
    }
  }

  &.sv-dropdown-popup.sv-popup--dropdown-overlay {
    .sv-popup__body-footer {
      background-color: var(--ctr-contextual-menu-footer-background-color, $background-dim);
    }
  }

  .sv-popup__content {
    @include ctrDefaultFont;
    color: var(--ctr-popup-message-color, #000000e6);
  }
}
