@use "../variables" as *;

.svc-creator-popup {
  .sd-page__content {
    padding: 0;
  }
  &.sv-popup--modal-popup {
    background-color: var(--sjs2-color-utility-overlay);

    & > .sv-popup__container {
      background-color: var(--sjs2-color-bg-basic-primary);
      border-radius: var(--sjs2-radius-component-modal);

      .sv-modal-footer-action-bar {
        gap: var(--sjs2-spacing-x200);
      }

      & > .sv-popup__body-content {
        background-color: var(--sjs2-color-bg-basic-primary);
        border-radius: var(--sjs2-radius-component-modal);
        padding: var(--sjs2-spacing-x400);
        gap: var(--sjs2-spacing-x400);
        box-shadow: unset;
      }
    }

    // .sv-popup__scrolling-content {
    //   overflow: visible;
    // }
  }
  &.sv-popup--modal-overlay {
    background: var(--sjs2-color-utility-overlay);
    padding-top: var(--sjs2-spacing-x200);
    max-height: calc(100vh - var(--sjs2-spacing-x200));
    box-sizing: content-box;

    & > .sv-popup__container {
      width: 100vw;
      max-height: calc(100vh - var(--sjs2-spacing-x200));
      height: calc(100vh - var(--sjs2-spacing-x200));

      display: flex;
      border-radius: var(--sjs2-radius-component-modal) var(--sjs2-radius-component-modal) 0px 0px;
      background: var(--sjs2-color-bg-basic-primary);
    }

    & > .sv-popup__container > .sv-popup__body-content {
      display: flex;
      min-height: 100%;
      padding: var(--sjs2-spacing-x300);
      border-radius: var(--sjs2-radius-component-modal) var(--sjs2-radius-component-modal) 0px 0px;
      box-sizing: border-box;
      flex-direction: column;
      gap: var(--sjs2-spacing-x300);
      flex: 1 0 0;
      align-self: stretch;
    }

    .sv-popup__scrolling-content {
      display: flex;
      flex-direction: column;
      flex: 1 0 0;
      align-self: stretch;
      overflow: visible;
    }

    .sv-popup__body-footer {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: var(--sjs2-spacing-x200);
      align-self: stretch;
    }

    .sv-modal-footer-action-bar {
      width: 100%;

      .sd-action-bar__item {
        display: flex;
        align-items: center;
        flex: 1 0 0;
      }

      .sd-action-bar__item-content {
        display: flex;
        flex-grow: 1;
      }
      .sd-action {
        flex-grow: 1;
      }
    }
  }

  .sv-popup__pointer {
    &:after {
      content: " ";
      border-bottom: var(--sjs2-size-x100) solid var(--sjs2-color-bg-basic-primary);
    }
  }

  .sv-popup__body-header {
    @include sjs2--typography--medium-strong;
    color: var(--sjs2-color-fg-basic-primary);
  }

  .sv-popup__content {
    @include sjs2--typography--default;
  }

  &.sv-popup--menu-tablet {
    background-color: var(--sjs2-color-utility-overlay);

    & > .sv-popup__container {
      border-radius: var(--sjs2-radius-x100);
    }
    & > .sv-popup__container > .sv-popup__body-content {
      background: var(--sjs2-color-bg-basic-primary);
    }
  }

  &.sv-popup--menu-phone {
    & > .sv-popup__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 1 0 0;
      align-self: stretch;
    }
    & > .sv-popup__container > .sv-popup__body-content {
      display: flex;
      padding: 0px;
      flex-direction: column;
      flex: 1 0 0;
      align-self: stretch;
      background-color: var(--sjs2-color-bg-basic-primary);
    }
  }

  //styles for dropdown overlay
  &.sv-popup--menu-phone,
  &.sv-popup--menu-tablet {
    .sv-menu-popup__button {
      @include sjs2--typography--default-strong;
      color: var(--sjs2-color-bg-brand-primary);
      border-radius: var(--sjs2-radius-x100);
      padding: var(--sjs2-spacing-x050) var(--sjs2-spacing-x200);
    }

    .sv-popup__body-footer {
      background-color: var(--sjs2-color-bg-basic-secondary);
      border-top: 1px solid var(--sjs2-color-border-basic-secondary);
    }

    .sv-menu-popup__button:disabled {
      color: var(--sjs2-color-fg-basic-primary);
      opacity: var(--sjs2-opacity-disabled);
    }
  }

  &.sv-dropdown-popup.sv-popup--menu-phone,
  &.sv-dropdown-popup.sv-popup--menu-tablet {
    .sv-popup__body-footer {
      background-color: var(--sjs2-color-bg-basic-secondary);
    }
  }
}
