@use "../variables" as *;

.svc-question__dropdown-choices {
  margin-top: var(--sjs2-spacing-x200);
}

.svc-question__dropdown-choice--collapsed:nth-last-child(1) {
  opacity: 0.25;
}


.svc-question__dropdown-choice--collapsed:nth-last-child(2) {
  opacity: 0.5;
}


.svc-question__dropdown-choice--collapsed:nth-last-child(3) {
  opacity: 0.75;
}

.svc-question__content>.svc-question__dropdown-choices--wrapper {
  width: calc(100% + var(--sjs2-spacing-x800));
  overflow-x: auto;
  margin: 0 var(--sjs2-spacing-negative-x400);

  &>div {
    width: calc(100% - var(--sjs2-spacing-x800));
    display: inline-block;
    min-width: var(--sjs2-size-x1500);
    margin: 0 var(--sjs2-spacing-x400);
  }

  .svc-question__dropdown-collapse-button {
    margin-left: calc(var(--sjs2-spacing-x700, 56px) + var(--sjs2-spacing-x025, 2px));
    margin-top: calc(var(--sjs2-spacing-x050, 4px));
  }
}