@use "../variables" as *;

.svc-image-question-controls {
  position: absolute;
  top: var(--sjs2-spacing-x500);
  right: var(--sjs2-spacing-x100);
  display: none;
}

.svc-question__content--selected .svc-image-question-controls {
  display: flex;
}

.svc-question__content--image:not(.svc-question__content--loading):not(.svc-question__content--empty) {
  padding-left: 0;
  padding-right: 0;

  .sd-image__image {
    border-radius: 0;
  }
  .svc-question__content-actions {
    padding-inline-start: var(--sjs2-spacing-x500);
    width: calc(100% - var(--sjs2-spacing-x300));
    box-sizing: border-box;
    & > .sd-action-bar {
      width: calc(100% - var(--sjs2-spacing-x500));
      inset-inline-start: var(--sjs2-spacing-x500);
    }
  }
}

.svc-question__content--image.svc-question__content--empty .sd-file,
.svc-question__content--image.svc-question__content--empty sv-ng-file-question {
  width: 100%;
}

.svc-question__content--image.svc-question__content--empty .sd-question--image {
  display: none;
}

.svc-question__content--image .sd-file__choose-btn {
  .sv-svg-icon {
    display: none;
  }
}

@container (max-width: #{$sd-panel-medium-min-width}) {
  .svc-question__content--image .sd-file__choose-btn {
    .sv-svg-icon {
      display: block;
    }
  }
}
.svc-question__content--loading {
  .sd-image {
    display: none;
  }
}

.svc-image-question__loading-placeholder {
  position: relative;
  width: 100%;
  height: calc(var(--sjs2-base-unit-size) * 27.5);
  border: var(--sjs2-border-width-x100) dashed var(--sjs2-color-border-basic-secondary);
  box-sizing: content-box;
}

.svc-image-question__loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}