@import "../variables.scss";

svc-question {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
}

.svc-question__adorner {
  position: relative;
  width: 100%;
  height: 100%;
}
.svc-question__content {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  box-sizing: border-box;
  border: 1px solid transparent;
}

.svc-panel__placeholder_frame {
  border: 1px dashed grey;
  margin: 4px;
}

.svc-panel__placeholder {
  padding: 5%;
}

.svc-question__content-actions {
  position: absolute;
  display: none;
  left: 0;
  bottom: 0;
  width: 100%;
}

.svc-hovered > .svc-question__content {
  border: 1px solid $secondary;
}

.svc-question__content--selected,
.svc-hovered > .svc-question__content--selected {
  border: 2px solid $secondary;
  .svc-question__content-actions {
    display: block;
  }
}

.svc-question__content-actions {
  .sv-action-bar {
    width: 100%;
    box-sizing: border-box;
  }
}

svc-question,
.svc-question {
  sv-action-bar,
  .sv-action-bar {
    padding: 0;
  }
}

.svc-panel__edge {
  position: absolute;
  border: 1px solid orange;
  height: 10px;
  width: 100%;
}
.svc-panel__edge--top {
  top: 0;
}
.svc-panel__edge--bottom {
  bottom: 0;
}
