@import "../variables.scss";

.svc-question__dropdown-choices {
  display: none;
  margin-top: calcSize(2);
}

.svc-question__content--selected {
  .svc-question__dropdown-choices {
    display: block;
  }
}