@import "../variables.scss";

.svc-rating-question-controls {
  position: absolute;
  bottom: calcSize(9);
  left: calcSize(5);
  display: none;
}

.svc-question__content--selected {
  .sd-rating {
    margin-left: calcSize(9);
  }
  .svc-rating-question-controls {
    display: block;
    width: calcSize(8);
  }
}
