@import "../variables.scss";

svc-question {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
}

.svc-question__adorner {
  position: relative;
  height: 100%;
  width: 100%;
}
.svc-question__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: calcSize(0.5);
  box-sizing: border-box;
  padding: calcSize(4) calcSize(5) calcSize(8);
  background: #ffffff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
  border: 1px solid transparent;
}

.svc-question__content > div {
  overflow: visible;
}

.svc-panel__placeholder_frame {
  border: 1px dashed $border;
  width: 100%;
  height: calcSize(23);
}

.svc-panel__placeholder {
  color: $foreground-light;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.svc-question__content-actions {
  position: absolute;
  display: none;
  bottom: calcSize(2);
  width: calc(100% - 80px);
}

.svc-hovered > .svc-question__content {
  border: 1px solid $secondary;
}

.svc-question__content--selected,
.svc-hovered > .svc-question__content--selected {
  border: 2px solid $secondary;
  .svc-question__content-actions {
    display: block;
  }
}

.svc-question__content-actions {
  .sv-action-bar {
    box-sizing: border-box;
    padding: 0;
  }
}

svc-question,
.svc-question {
  sv-action-bar,
  .sv-action-bar {
    padding: 0;
  }
}

.svc-panel__edge {
  position: absolute;
  border: 1px solid orange;
  height: 10px;
  width: 100%;
}
.svc-panel__edge--top {
  top: 0;
}
.svc-panel__edge--bottom {
  bottom: 0;
}

// reset styles for drag-drop-ghost-survey-element to avoid layout jumping while dragging
[data-svc-drop-target-element-name="svc-drag-drop-ghost-survey-element-name"] {
  border: none;
  height: 0;

  .svc-question__drag-area {
    display: none;
  }

  .svc-question__drag-element {
    display: none;
  }

  .svc-question__content {
    background: transparent;
    box-shadow: none;
  }
}
// EO reset styles for drag-drop-ghost-survey-element to avoid layout jumping while dragging

.svc-hovered > .svc-question__content > .svc-question__drag-area {
  visibility: visible;
}

.svc-question__drag-area {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  height: 28px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.svc-question__drag-element {
  cursor: move;
  width: 24px;
  height: 6px;
  border: 1px solid $border;
  border-radius: 10px;
}

.sd-panel {
  .svc-question__content {
    &:not(.svc-question__content--selected) {
      border: 1px dashed $border;
      box-shadow: none;
    }
    border-radius: 0;
  }
}
