@import "../variables.scss";

svc-question {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
}

.svc-question__adorner {
  position: relative;
  width: 100%;
  height: 100%;
}
.svc-question__content {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  box-sizing: border-box;
  border: 1px solid transparent;
}

.svc-question__content > div {
  overflow: visible;
}

.svc-panel__placeholder_frame {
  border: 1px dashed grey;
  position: absolute;
  top: 50px;
  bottom: 10px;
  left: 10px;
  right: 10px;
}

.svc-question__content--empty {
  height: 150px;
  padding: 10px;
  padding-bottom: 40px;
}

.svc-panel__placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.svc-question__content-actions {
  // position: absolute;
  display: none;
  left: 0;
  bottom: 0;
  width: 100%;
}

.svc-hovered > .svc-question__content {
  border: 1px solid $secondary;
}

.svc-question__content--selected,
.svc-hovered > .svc-question__content--selected {
  border: 2px solid $secondary;
  .svc-question__content-actions {
    display: block;
  }
}

.svc-question__content-actions {
  .sv-action-bar {
    width: 100%;
    box-sizing: border-box;
  }
}

svc-question,
.svc-question {
  sv-action-bar,
  .sv-action-bar {
    padding: 0;
  }
}

.svc-panel__edge {
  position: absolute;
  border: 1px solid orange;
  height: 10px;
  width: 100%;
}
.svc-panel__edge--top {
  top: 0;
}
.svc-panel__edge--bottom {
  bottom: 0;
}

// reset styles for drag-drop-ghost-survey-element to avoid layout jumping while dragging
[data-svc-drop-target-element-name="svc-drag-drop-ghost-survey-element-name"] {
  border: none;
  height: 0;

  .svc-question__drag-area {
    display: none;
  }

  .svc-question__drag-element {
    display: none;
  }
}
// EO reset styles for drag-drop-ghost-survey-element to avoid layout jumping while dragging

.svc-hovered .svc-question__drag-area {
  visibility: visible;
}

.svc-question__drag-area {
  visibility: hidden;
  height: 28px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.svc-question__drag-element {
  cursor: move;
  width: 24px;
  height: 6px;
  border: 1px solid $border;
  border-radius: 10px;
}
