@import "../variables.scss";

.svd_test_results {
  font-family: $font-family;
  width: 80%;
  margin: auto;
  margin-bottom: calcSize(5);
  background-color: $background;
  box-shadow: 0px 8px 16px $shadow-medium;
  border-radius: 10px;

  .svd_results_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: calcSize(1) calcSize(3);
    color: $foreground-light;
    border-bottom: 2px solid $background-dim;

    .svd_results__header_text {
      margin: 0;
    }
    .svd_results_types {
      display: flex;
      .svd_results_nav-item {
        min-width: calcSize(12);
        text-align: center;
        border: 2px solid $background;
        border-radius: 100px;
        padding: calcSize(0.5);
        margin: auto;
      }
      .svd_results_nav-item__active {
        border-color: $primary;
      }
      .svd_results_nav-link {
        text-decoration: none;
        color: $primary;
      }
    }    
  }

  .svd_results_text {
    display: flex;
    padding: calcSize(2) calcSize(3);
    width: calc(100% - calcSize(6));
    overflow: auto;
    user-select: text;
    white-space: pre-wrap;
  }
  .svd_results_table {
    padding: calcSize(2) calcSize(3);
    width: calc(100% - calcSize(6));
    table {
      border-collapse: collapse;
      width: 100%;

      .survey-result-marker {
        position: absolute;
        left: 1em;
        top: 0.5em;
        transition: transform 0.2s ease-in-out;

        &.survey-result-marker--expanded {
          transform: rotate(90deg);
        }
      }

      .survey-result-value {
        word-break: break-all;
      }

      tr {
        vertical-align: top;
      }

      th,
      td {
        border: 1px solid;
        padding: 0.5em 1em;
        max-width: calcSize(50);
        overflow: auto;

        &:nth-child(1) {
          position: relative;
          width: 30%;
          font-weight: 500;
          padding-left: 2em;
        }
        &:nth-child(2) {
          width: 20%;
        }
        &:nth-child(3) {
          width: 20%;
        }

        &:nth-child(4) {
          width: 30%;
          font-weight: 500;
        }
      }
    }
  }
}

.nav-tabs {
  margin-bottom: 0;
  padding: 0; // border-bottom: 1px solid $secondary-border-color;
  line-height: 2.5em;
}
.nav-item {
  display: inline-block;
  margin-left: -3px;
  &:first-child {
    margin-left: 0;
  }
}
.nav-link {
  border-radius: 0;
  border-top-left-radius: calcSize(0.25);
  border-top-right-radius: calcSize(0.25);
  padding: 0.5em 1em;
  text-align: center;
  &.active {
    border: calcSize(0.125) solid $border;
    border-color: $border;
    border-bottom-color: transparent;
  }
}
