@use "../variables" as *;

.svd-test-results {
  border-radius: var(--ctr-string-table-corner-radius, var(--sjs-corner-radius-x05));
  box-shadow: inset 0px 1px 0px 0px var(--sjs2-color-component-input-default-line, #D4D4D4);
  padding: calc(12 * var(--sjs-base-unit, var(--base-unit, 8px)));
}

.svd-test-results__content {
  box-shadow: var(--sjs2-border-effect-surface-default, 0px 0px 0px 1px rgba(17 16 20 / 0.1));
}

.svd-test-results__header {
  @include ctrDefaultFont;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--ctr-string-table-title-padding-top, var(--sjs-spacing-x2))
    var(--ctr-string-table-title-padding-right, var(--sjs-spacing-x3))
    var(--ctr-string-table-title-padding-bottom, var(--sjs-spacing-x2))
    var(--ctr-string-table-title-padding-left, var(--sjs-spacing-x3));
  color: var(--sjs2-color-component-input-default-label, rgba(28 27 32 / 0.6));
  border-bottom: var(--ctr-string-table-title-border-width-bottom, var(--sjs-stroke-x1)) solid
    var(--sjs2-color-component-input-default-line, #D4D4D4);
  background-color: var(--sjs2-color-bg-basic-primary, #fff);

  .svd-test-results__header-text {
    margin: 0;
  }

  .svd-test-results__header-types {
    display: flex;
    gap: var(--ctr-string-table-title-actionbar-gap, var(--sjs-spacing-x1));
  }

  .svc-action-button {
    color: var(--sjs2-color-fg-brand-primary, #19B394);
    border-radius: var(--ctr-actionbar-button-corner-radius, var(--sjs-corner-radius-x1));
    background-color: transparent;

    &:focus, &:hover {
      background-color: var(--sjs2-color-bg-brand-secondary, rgba(25 179 148 / 0.1));
      outline: none;
    }
  }

  .svc-action-button.svc-action-button--selected {
    border: var(--ctr-actionbar-button-border-width-selected, var(--sjs-stroke-x2)) solid
      var(--sjs2-color-fg-brand-primary, #19B394);
  }
}

.svd-test-results__text {
  @include ctrDefaultFont;
  display: flex;
  padding: var(--ctr-code-viewer-text-margin-top-results-table, var(--sjs-spacing-x2)) var(--ctr-code-viewer-text-margin-right-results-table, var(--sjs-spacing-x3)) var(--ctr-code-viewer-text-margin-bottom-results-table, var(--sjs-spacing-x2)) var(--ctr-code-viewer-text-margin-left-results-table, var(--sjs-spacing-x3));
  width: calc(100% - calcSize(6));
  overflow: auto;
  user-select: text;
  white-space: pre-wrap;
  background: var(--sjs2-color-bg-basic-primary, #fff);
  color: var(--sjs2-color-component-input-default-value, #1C1B20);
  box-sizing: content-box;
}

.svd-test-results__table {
  width: 100%;

  table {
    width: 100%;
    border-collapse: collapse;

    .svd-test-results__marker {
      position: absolute;
      top: calcSize(1.5);

      .sv-svg-icon {
        transition: transform 0.2s ease-in-out;

        use {
          fill: var(--sjs2-color-component-input-default-icon, rgba(28 27 32 / 0.4));
        }
      }

      &.svd-test-results__marker--expanded .sv-svg-icon {
        transform-origin: center;
        transform: rotate(90deg);
      }
    }

    th {
      @include ctrSmallBoldFont;
      padding: var(--ctr-string-table-row-padding-top, var(--sjs-spacing-x1)) var(--ctr-string-table-row-padding-right, var(--sjs-spacing-x3)) var(--ctr-string-table-row-padding-bottom, var(--sjs-spacing-x1)) var(--ctr-string-table-row-padding-left, var(--sjs-spacing-x3));
      background: var(--sjs2-color-component-formbox-default-bg, #F5F5F5);
      text-align: left;
      color: var(--sjs2-color-component-input-default-label, rgba(28 27 32 / 0.6));

      &:nth-child(1) {
        padding-left: var(--ctr-string-table-row-padding-left, var(--sjs-spacing-x3));
      }
    }

    td {
      @include ctrDefaultFont;
      padding: var(--ctr-string-table-row-padding-top, var(--sjs-spacing-x1)) var(--ctr-string-table-row-padding-right, var(--sjs-spacing-x3)) var(--ctr-string-table-row-padding-bottom, var(--sjs-spacing-x1)) var(--ctr-string-table-row-padding-left, var(--sjs-spacing-x3));
      max-width: calcSize(50);
      overflow: auto;
      border-top: var(--ctr-string-table-row-border-width-bottom, var(--sjs-stroke-x1)) solid
        var(--sjs2-color-component-input-default-line, #D4D4D4);
      user-select: text;
      background: var(--sjs2-color-bg-basic-primary, #fff);

      &:nth-child(1) {
        @include ctrDefaultBoldFont;
        position: relative;
        width: 50%;
      }

      &:nth-child(2) {
        width: 50%;
        padding-right: var(--ctr-string-table-row-padding-right, var(--sjs-spacing-x3));
      }
    }

    .survey-result-value {
      word-break: break-all;
    }

    tr {
      vertical-align: top;

      .svd-test-results__node-value {
        color: var(--sjs2-color-component-input-default-value, #1C1B20);
      }
    }
  }
}

.svd-dark-border-color { color: var(--sjs2-color-component-input-default-value, #1C1B20); }