@import "../variables.scss";

.svc-row {
  width: 100%;
  position: relative;
}

.svc-row:not(.svc-row--ghost) > .sd-row {
  min-height: 50px;
}

.svc-row .sd-row--multiple {
  overflow: auto;
  padding: calcSize(1);
  gap: calcSize(1);
  margin-top: calcSize(2);
  margin-left: 0;
  width: 100%;
  flex-wrap: nowrap;
  background: $background;
  box-shadow: $shadow-small;
  border-radius: calcCornerRadius(1);
  & > div {
    padding-left: 0;
  }
  .sd-row--multiple {
    overflow: unset;
  }
}

.sd-panel .svc-row .sd-row--multiple {
  padding: calcSize(0);
  box-shadow: none;
  border-radius: 0;
  padding: 2px; //need for the https://github.com/surveyjs/survey-creator/issues/3288
  margin: -2px; //need for the https://github.com/surveyjs/survey-creator/issues/3288
}

.svc-row.svc-row--ghost {
  .svc-question__content {
    padding: 0;
    border: none;
    box-shadow: none;
  }

  .sd-row {
    height: calcSize(4);
  }

  &:last-child .sd-row {
    height: initial;
    margin-top: calcSize(2);
    margin-bottom: calcSize(2);
  }

  & + .svc-row {
    .sd-page__row {
      margin-top: 0;
    }
  }
}

.svc-panel .svc-row.svc-row--ghost.svc-row.svc-row--ghost {
  .sd-row {
    height: initial;
    margin-top: calcSize(2);
    margin-bottom: calcSize(2);
  }
}

.svc-row--drag-over-top:before {
  content: " ";
  position: absolute;
  left: 0;
  background: $secondary;
  top: 6px;
  width: 100%;
  height: 2px;
}

.svc-row--drag-over-bottom:after {
  content: " ";
  position: absolute;
  left: 0;
  background: $secondary;
  bottom: -10px;
  width: 100%;
  height: 2px;
}

.svc-question__content--panel,
.sd-panel__content {
  .svc-row--drag-over-top:before {
    top: -4px;

    &:first-child {
    }
  }

  .svc-row--drag-over-bottom:after {
    bottom: -4px;

    &:last-child {
    }
  }
}
