@import "../variables.scss";

.svc-row {
  width: 100%;
}
.svc-row .sd-row--multiple {
  padding: calcSize(1);
}
.svc-row.svc-row--ghost {
  .svc-question__content {
    padding: 0;
    border: none;
    box-shadow: none;
  }
  .sd-row {
    margin-top: 0;
  }
}
