@use "../variables" as *;

.svc-search {
  display: flex;
  align-items: center;
}

.svc-search__input {
  @include textEllipsis;
  @include sjs2--typography--small-strong;

  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  display: block;
  background: transparent;
  box-sizing: border-box;
  outline: none;
  padding: 0;
  width: 0;
  flex-grow: 1;
}

.svc-creator--mobile .svc-search__input {
  $fontSize: var(--ctr-font-small-size, var(--sjs2-font-size-x150));
  font-size: Max(16px, #{$fontSize});
}

.svc-search__toolbar {
  display: flex;
  gap: var(--sjs-spacing-x05);
  justify-content: flex-end;
  align-items: center;
  flex-shrink: 0;
}

.svc-search__toolbar .sd-action-bar {
  --sd-action-bar-gap: var(--sjs-spacing-x05);
}

.svc-search__toolbar .sv-action--hidden {
  display: none;
}

.svc-search__toolbar-counter {
  @include sjs2--typography--small-strong;
  display: flex;
  flex-shrink: 0;
}

.svc-action--search-close {
  border-radius: var(--sjs2-radius-form-item);
}
