@import "../variables.scss";

.sd-element__header {
  .svc-string-editor {
    display: inline-block;
    max-width: 100%;
  }
}

.svc-string-editor {
  position: static;

  [contenteditable="true"] {
    user-select: text;
    -webkit-user-select: text;
  }

  .sv-string-editor {
    position: relative;
    outline: none;
    z-index: 12;

    &[aria-placeholder]:empty:before {
      content: attr(aria-placeholder);
      color: var(--ctr-survey-page-header-title-color-placeholder, $foreground-light);
    }
  }

  .sv-string-editor--html,
  .sv-string-editor:focus-within {
    white-space: pre-wrap;
  }

  &.svc-string-editor--hidden {
    display: none;
  }
}

.svc-string-editor__content {
  display: inline-block;
  position: relative;
  z-index: 10;
  width: 100%;
}

.svc-matrix-cell {
  .svc-string-editor__content {
    width: auto;
  }
}

.svc-string-editor__content:focus-within .svc-remaining-character-counter {
  display: inline-block;
}

.svc-string-editor__input {
  display: flex;
}

.svc-remaining-character-counter {
  display: none;
  position: relative;
  outline: none;
  z-index: 20;
  padding: 0px;
  vertical-align: top;
  margin-inline-start: calcSize(2);
  font-size: calcSize(1.5);
  font-family: $font-family;
  font-weight: 400;
  color: $foreground-light;
  line-height: calcSize(2);
}

.svc-string-editor__border {
  display: none;
  position: absolute;
  z-index: 11;
  display: flex;
  align-items: center;
  justify-content: right;
  line-height: 0px;
}

.svc-string-editor__error {
  margin-left: calcSize(1);
  line-height: calcSize(4);
  font-size: calcSize(2);
  color: red;
  display: none;
}

.svc-string-editor__controls {
  position: absolute;
  left: 100%;
  height: 100%;
  width: calcSize(2);
  top: 0;
  padding-left: calcSize(2);
  z-index: 12;
  display: none;
  align-items: center;
  justify-content: center;
  line-height: 0px;
}

.svc-string-editor__button {
  display: none;
  position: relative;

  use {
    fill: $primary;
  }
}

.svc-string-editor__button--edit {
  height: calcSize(2);
  width: calcSize(2);
  padding: calcSize(1);

  .sv-svg-icon {
    vertical-align: bottom;
  }

  &.sv-svg-icon {
    overflow: visible;
  }
}

.svc-string-editor:hover:not(:focus-within) {
  .svc-string-editor__button--edit {
    //display: inline-block;
    display: none;
  }
}

.svc-string-editor:hover:not(.svc-string-editor--readonly):not(:focus-within) {
  .svc-string-editor__border {
    display: flex;
    top: 0;
    bottom: 0;
    left: calcSize(-0.5);
    right: calcSize(-0.5);
    //right: calcSize(-4.5); // if need pencil icon
    border-radius: 3px;
    box-shadow: 0px 0px 0px calcSize(0.25) $border-inside;
  }
}

.svc-string-editor:focus-within {
  .svc-string-editor__border {
    display: flex;
    top: calcSize(-0.5);
    bottom: calcSize(-0.5);
    left: calcSize(-1);
    right: calcSize(-1);
    border-radius: 3px;
    box-sizing: content-box;
    background-color: $background;
    box-shadow: $shadow-medium, 0px 0px 0px calcSize(0.25) $primary;
  }
}

.svc-string-editor.svc-string-editor--error:focus-within {
  .svc-string-editor__border {
    box-shadow: $shadow-medium, 0px 0px 0px calcSize(0.25) $red;
  }
}

.sd-boolean {
  .sv-string-editor:focus-within {
    white-space: nowrap;
  }
}

.sd-rating {
  .sd-rating__item:focus-within {

    &:not(.sd-rating__min-text),
    &:not(.sd-rating__max-text) {
      .svc-string-editor:focus-within {
        .svc-string-editor__border {
          display: none;
        }
      }
    }
  }
}

.sd-table__cell--actions,
.sd-matrixdynamic__add-btn {
  .svc-string-editor__button--done {
    width: calcSize(2);
  }
}

.sd-table__cell--column-title {
  .svc-matrix-cell:not(:focus):focus-within {
    .svc-matrix-cell--selected {
      border: calcSize(0.25) solid $primary;
      border-radius: calcSize(0.5);
      display: block;
    }
  }

  .svc-string-editor:focus-within {
    .svc-string-editor__border {
      display: none;
    }
  }
}

.sd-item__control-label {
  .svc-string-editor:focus-within {
    .svc-string-editor__border {
      left: calcSize(-0.7);
      right: calcSize(-0.7);
    }
  }
}

.svc-string-editor {

  &:hover,
  &:focus-within {
    &~.sd-question__required-text {
      visibility: hidden;
    }
  }
}

// .sv-question__header,
// .sv-title {
//   position: relative;
// }
.svc-string-editor--multiline .sv-string-editor {
  white-space: pre-wrap;
}