@import "../variables.scss";

.svc-string-editor {
  position: static;
  .sv-string-editor {
    display: inline-block;
    position: relative;
    outline: none;
    z-index: 2;
    &[aria-placeholder]:empty:before {
      content: attr(aria-placeholder);
      color: $foreground-light;
    }
  }
}

.svc-string-editor__content {
  display: inline-block;
  position: relative;
  z-index: 0;
}

.svc-string-editor__border {
  display: none;
  position: absolute;
  top: calcSize(-1);
  bottom: calcSize(-1);
  left: calcSize(-1);
  right: calcSize(-6);
  border: calcSize(0.25) solid $primary;
  border-radius: calcSize(0.5);
  background-color: $background;
  z-index: 1;
}

.svc-string-editor__controls {
  position: absolute;
  left: 100%;
  height: 100%;
  top: 0;
  padding-left: calcSize(2);
  z-index: 2;
}

.svc-string-editor__button {
  display: none;
  position: relative;
  cursor: pointer;
  use {
    fill: $foreground-light;
  }
}
.svc-string-editor__button:hover {
  use {
    fill: $primary;
  }
}

.svc-string-editor__button--edit {
  margin-top: calcSize(-2);
  margin-left: calcSize(-0.5);
  height: calcSize(2);
  width: calcSize(2);
  border-radius: 50%;
  padding: calcSize(1);
  line-height: calcSize(2);
  &:hover {
    background-color: $primary-light;
  }
  .sv-svg-icon {
    vertical-align: bottom;
  }
  &.sv-svg-icon {
    overflow: visible;
  }
}

.svc-string-editor:hover:not(:focus-within) {
  .svc-string-editor__button--edit {
    display: inline-block;
  }
}

.svc-string-editor__button--done {
  margin-top: calc(50% - 11px);
}

.svc-string-editor:focus-within {
  color: $foreground;
  .svc-string-editor__button--done {
    display: inline-block;
  }
  .svc-string-editor__border {
    display: block;
  }
}

// .sv-question__header,
// .sv-title {
//   position: relative;
// }
