@use "../typography-mixins.scss" as mixins;
.svc-surface-btn {
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    --sd-action-border-radius: var(--sjs2-radius-component-panel);
    --sd-action-padding: var(--sjs2-spacing-x200) var(--sjs2-spacing-x800);
    --sd-action-title-font-family: var(--sjs2-typography-font-family-component-action-large-content);
    --sd-action-title-font-weight: var(--sjs2-typography-font-weight-component-action-large-content);
    --sd-action-title-font-size: var(--sjs2-typography-font-size-component-action-large-content);
    --sd-action-title-line-height: var(--sjs2-typography-line-height-component-action-large-content);
    --sd-action-title-padding: 0 var(--sjs2-spacing-x200);
    --sd-action-icon-padding: 0;
    --sd-action-icon-size: var(--sjs2-line-height-x300);

    --sd-action-boxshadow: var(--sjs2-border-effect-surface-default);
    --sd-action-disabled-box-shadow: var(--sjs2-border-effect-surface-disabled);

    --sd-action-background: var(--sjs2-color-component-panel-default-bg);
    --sd-action-hover-background: var(--sjs2-color-bg-brand-secondary-dim);
    --sd-action-disabled-background: var(--sjs2-color-bg-basic-primary-disabled);

    --sd-action-title-color: var(--sjs2-color-fg-brand-primary);
    --sd-action-hover-title-color: var(--sjs2-color-fg-brand-primary);
    --sd-action-disabled-title-color: var(--sjs2-color-fg-brand-primary-disabled);

    --sd-action-icon-color: var(--sjs2-color-fg-brand-primary);
    --sd-action-hover-icon-color: var(--sjs2-color-fg-brand-primary);
    --sd-action-disabled-icon-color: var(--sjs2-color-fg-brand-primary-disabled);
}
.svc-surface-btn:where(:active:has(.svc-surface-btn__selector:active)) {
    transform: none;
}
.svc-surface-btn__selector {
    position: absolute;
    inset-inline-end: 0;
    margin: var(--sjs2-spacing-x100) var(--sjs2-spacing-x100);
    --sd-action-boxshadow: none;
    --sd-action-disabled-box-shadow: none;
    --sd-action-border-radius: var(--sjs2-radius-component-action);
}
