@import "../variables.scss";

.svc-surface-placeholder {
  display: flex;
  width: 100%;
  max-width: var(--ctr-surface-placeholder-max-width, 720px);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0px;
  padding: calcSize(2);
  box-sizing: border-box;
}

.svc-creator--mobile {
  .svc-surface-placeholder {
    padding: var(--ctr-surface-placeholder-padding-top, 0px) var(--ctr-surface-placeholder-padding-right, 48px) var(--ctr-surface-placeholder-padding-bottom, 0px) var(--ctr-surface-placeholder-padding-left, 48px);
  }

  .svc-surface-placeholder__text {
    padding: var(--ctr-surface-placeholder-text-margin-top, 32px) var(--ctr-surface-placeholder-text-margin-right, 32px) var(--ctr-surface-placeholder-text-margin-bottom, 24px) var(--ctr-surface-placeholder-text-margin-left, 32px);
  }
}

.svc-surface-placeholder__image {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
  padding: 135px 170px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
}

.svc-surface-placeholder__image--designer {
  background: url("../images/placeholder-designer.png") 50% / contain no-repeat;
}

.svc-surface-placeholder__image--preview {
  background: url("../images/placeholder-preview.png") 50% / contain no-repeat;
}

.svc-surface-placeholder__image--theme {
  background: url("../images/placeholder-themes.png") 50% / contain no-repeat;
}

.svc-surface-placeholder__image--logic {
  background: url("../images/placeholder-logic.png") 50% / contain no-repeat;
}

.svc-surface-placeholder__image--translation {
  background: url("../images/placeholder-translations.png") 50% / contain no-repeat;
}

.svc-surface-placeholder__text {
  padding: var(--ctr-surface-placeholder-text-margin-top, 32px) 0px var(--ctr-surface-placeholder-text-margin-bottom, 24px) 0px;
  display: flex;
  flex-direction: column;
  gap: var(--ctr-surface-placeholder-text-gap, 8px);
  align-items: center;
  justify-content: center;
  align-self: center;
  flex-shrink: 0;
  width: 100%;
}

.svc-surface-placeholder__title {
  @include ctrMediumBoldFont;
  color: var(--ctr-surface-placeholder-text-title-color, rgba(0, 0, 0, 0.91));
  text-align: center;
  align-self: stretch;
}

.svc-surface-placeholder__description {
  @include ctrDefaultFont;
  color: var(--ctr-surface-placeholder-text-description-color, rgba(0, 0, 0, 0.45));
  text-align: center;
  align-self: stretch;
}

.svc-designer__placeholder-container {
  padding-bottom: calcSize(8);
}

.svc-logic-tab--empty> :last-child {
  margin-bottom: calcSize(12);
}

.svc-test-tab--empty,
.svc-translation-tab--empty {
  .svc-surface-placeholder {
    padding-bottom: calcSize(12);
  }
}

.svc-creator--mobile {
  .svc-designer__placeholder-container {
    padding-bottom: calcSize(2);
  }

  .svc-logic-tab--empty> :last-child {
    margin-bottom: calcSize(2);
  }

  .svc-test-tab--empty,
  .svc-translation-tab--empty {
    .svc-surface-placeholder {
      padding-bottom: calcSize(2);
    }
  }

}