.svd_container {
    #testSurveyPageChanged {
    width: 300px;
    display: inline-block;
    margin-bottom: 3px;
    margin-right: 7px;
  }
  #testSurveyLocale {
    width: 200px;
    display: inline-block;
    margin-bottom: 3px;
    margin-right: 7px;
  }
  #testShowInvisibleElements {
    margin-right: 20px;
  }
  #testDeviceSelector {
    width: 200px;
    display: inline-block;
    margin-bottom: 3px;
    margin-right: 7px;
  }
}