@import "../../variables.scss";

.Tabs_22400_60650 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-inline-start: var(--ctr-property-grid-tabs-border-width, 1px) solid
    var(--ctr-property-grid-tabs-border-color, rgba(0, 0, 0, 0.16));
  background: var(--ctr-property-grid-tabs-background-color, #fff);
  box-sizing: border-box;
}
.TopToolbar_22400_60651 {
  display: flex;
  padding: var(--ctr-property-grid-tabs-padding-top, 12px) var(--ctr-property-grid-tabs-padding-right, 12px)
    var(--ctr-property-grid-tabs-padding-bottom, 12px) var(--ctr-property-grid-tabs-padding-left, 12px);
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: var(--ctr-property-grid-tabs-separator-margin, 12px);
}
.CollapseButton_22400_60652 {
  display: flex;
  align-items: center;
}
.menu-toolbar-button {
  display: flex;
  padding: var(--ctr-menu-toolbar-button-padding-top, 8px) var(--ctr-menu-toolbar-button-padding-right, 8px)
    var(--ctr-menu-toolbar-button-padding-bottom, 8px) var(--ctr-menu-toolbar-button-padding-left, 8px);
  justify-content: center;
  align-items: center;
  gap: var(--ctr-menu-toolbar-button-gap, 8px);
  border-radius: var(--ctr-menu-toolbar-button-corner-radius, 4px);
  cursor: pointer;
}
.menu-toolbar-button:hover {
  background: var(--ctr-menu-toolbar-button-background-color-hovered, $background-dim);
}
.menu-toolbar-button-icon {
  display: flex;
  width: var(--ctr-menu-toolbar-button-icon-width, 24px);
  height: var(--ctr-menu-toolbar-button-icon-height, 24px);
  justify-content: center;
  align-items: center;

  use {
    fill: var(--ctr-menu-toolbar-button-icon-color, $foreground-light);
  }
}
.CollapsePanel_24x24_21220_2484322 {
  flex: 1 0 0;
}
.Separator_22400_60653 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
}
.Line_21220_2204727 {
  height: var(--ctr-separator-width, 1px);
  background: var(--ctr-separator-color, rgba(0, 0, 0, 0.16));
  width: 100%;
}
.Items_22400_60654 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: var(--ctr-property-grid-tabs-gap, 12px);
}
.General_22400_60655 {
  display: flex;
  align-items: center;
}
.General_24x24_21220_2484322 {
  flex: 1 0 0;
}
.MenuButton_22408_73629 {
  display: flex;
  align-items: center;
}

.Tabs_22400_60650:not(.svc-sidebar-tabs-collapsed) .menu-toolbar-button--selected {
  display: flex;
  padding: var(--ctr-menu-toolbar-button-padding-top, 8px) var(--ctr-menu-toolbar-button-padding-right, 8px)
    var(--ctr-menu-toolbar-button-padding-bottom, 8px) var(--ctr-menu-toolbar-button-padding-left, 8px);
  justify-content: center;
  align-items: center;
  gap: var(--ctr-menu-toolbar-button-gap, 8px);
  border-radius: var(--ctr-menu-toolbar-button-corner-radius, 4px);
  background: var(--ctr-menu-toolbar-button-background-color-selected, #fff);

  use {
    fill: var(--ctr-menu-toolbar-button-icon-color-selected, $primary);
  }
}

.svc-creator--mobile .svc-sidebar-tabs-collapsed {
  display: none;
}

.Icon_21220_2484300 {
  display: flex;
  width: var(--ctr-menu-toolbar-button-icon-width, 24px);
  height: var(--ctr-menu-toolbar-button-icon-height, 24px);
  justify-content: center;
  align-items: center;
}
.Specific_24x24_21220_2484301 {
  flex: 1 0 0;
}
.Design_22408_73593 {
  display: flex;
  align-items: center;
}
.Design_24x24_21220_2484322 {
  flex: 1 0 0;
}
.Layout_22408_73611 {
  display: flex;
  align-items: center;
}
.Layout_24x24_21220_2484322 {
  flex: 1 0 0;
  align-self: stretch;
}
.MenuButton_22400_60660 {
  display: flex;
  align-items: center;
}
.Conditions_24x24_21220_2484322 {
  flex: 1 0 0;
}
.Data_22400_60661 {
  display: flex;
  align-items: center;
}
.Data_24x24_21220_2484322 {
  flex: 1 0 0;
}
.Validation_22400_60662 {
  display: flex;
  align-items: center;
}
.Validation_24x24_21220_2484322 {
  flex: 1 0 0;
}
.BottomToolbar_22400_60665 {
  display: flex;
  padding: var(--ctr-property-grid-tabs-padding-top, 12px) var(--ctr-property-grid-tabs-padding-right, 12px)
    var(--ctr-property-grid-tabs-padding-bottom, 12px) var(--ctr-property-grid-tabs-padding-left, 12px);
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: var(--ctr-property-grid-tabs-separator-margin, 12px);
}
.Items_22400_60666 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: var(--ctr-property-grid-tabs-gap, 12px);
}
.Settings_22400_60667 {
  display: flex;
  align-items: center;
}
.CreatorSettings_24x24_21220_2484322 {
  flex: 1 0 0;
}

.Header_21220_2028692 {
  display: flex;
  align-items: flex-start;
  border-bottom: var(--ctr-property-grid-header-border-width-bottom, 2px) solid
    var(--ctr-property-grid-header-border-color, $primary);
}
.Container_22233_64491 {
  display: flex;
  padding: var(--ctr-property-grid-header-padding-top, 12px) var(--ctr-property-grid-header-padding-right, 16px)
    var(--ctr-property-grid-header-padding-bottom, 12px) var(--ctr-property-grid-header-padding-left, 16px);
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;

  background: var(--ctr-property-grid-header-background-color, #fff);
  box-sizing: border-box;
  width: 100%;
}

.Container_22233_64491.svc-property-grid-container-with-subtitle {
  padding: var(--ctr-property-grid-header-padding-top-with-subtitle, 6px)
    var(--ctr-property-grid-header-padding-right, 16px)
    var(--ctr-property-grid-header-padding-bottom-with-subtitle, 6px) var(--ctr-property-grid-header-padding-left, 16px);
}

.Container_22233_64491 .svc-side-bar__container-title {
  justify-content: center;
}

.TitleMenuButton_22233_64492 {
  display: flex;
  align-items: center;
}
.Button_22233_58736 {
  display: flex;
  padding: var(--ctr-menu-toolbar-button-padding-top, 8px) var(--ctr-menu-toolbar-button-padding-right, 8px)
    var(--ctr-menu-toolbar-button-padding-bottom, 8px) var(--ctr-menu-toolbar-button-padding-left, 8px);
  justify-content: center;
  align-items: center;
  gap: var(--ctr-menu-toolbar-button-gap, 8px);
  border-radius: var(--ctr-menu-toolbar-button-corner-radius, 4px);
  cursor: pointer;
}

.Button_22233_58736.svc-property-grid-button-with-subtitle {
  display: flex;
  padding: var(--ctr-menu-toolbar-button-padding-top-with-description, 4px)
    var(--ctr-menu-toolbar-button-padding-right-with-description, 8px)
    var(--ctr-menu-toolbar-button-padding-bottom, 8px) var(--ctr-menu-toolbar-button-padding-left-with-description, 8px);
  justify-content: center;
  align-items: center;
  gap: var(--ctr-menu-toolbar-button-gap, 8px);
}

.Button_22233_58736:hover {
  background: var(--ctr-menu-toolbar-button-background-color-hovered, #f3f3f3);
}
.Button_22233_58736.svc-menu-button--pressed {
  opacity: var(--ctr-menu-toolbar-button-opacity-pressed, 0.5);
  background: var(--ctr-menu-toolbar-button-background-color-pressed, #f3f3f3);
}
.Caption_22233_58737 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Text_1_22233_58738 {
  color: var(--ctr-menu-toolbar-button-text-color, rgba(0, 0, 0, 0.91));
  font-family: var(--ctr-font-family, "Open Sans");
  font-size: var(--ctr-font-default-size, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--ctr-font-default-line-height, 24px) /* 150% */;
  display: inline-block;
}
.Text_2_22233_58740 {
  color: var(--ctr-menu-toolbar-button-text-color-secondary, rgba(0, 0, 0, 0.45));
  font-family: var(--ctr-font-family, "Open Sans");
  font-size: var(--ctr-font-small-size, 12px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--ctr-font-small-line-height, 16px) /* 133.333% */;
  display: inline-block;
}
