<script type="text/html" id="elementselector">
<svd-property-editor-error params="model:$data"></svd-property-editor-error>
<div class="form-control svd_custom_select">
  <select onmousewheel="return false;"
    data-bind="if: true, value: koValue, optionsCaption: optionsCaption, valueAllowUnset: true, hasFocus: koHasFocus, attr: { 'aria-label': optionsCaption }">
    <option value="" data-bind="text: optionsCaption"></option>
    <!-- ko foreach: koElements -->
    <option data-bind="attr: { disabled: koDisabled, value: name }, text:text"></option>
    <!-- /ko -->
  </select>
</div>
</script>