<script type="text/html" id="propertyeditor-expression">
  <!-- ko template: { name: 'propertyeditor-modal', data: $data } -->
  <!-- /ko -->
</script>

<script type="text/html" id="propertyeditorcontent-expression">
  <div class="propertyeditor-expression">
      <!-- ko if: $parent.hasAceEditor -->
      <span data-bind="text:$root.getLocString('pe.aceEditorHelp')"></span>
      <div id="expression-ace-editor" style="height: 150px; width: 100%;" data-bind="value:koValue, aceEditor: {questions: $parent.availableQuestions, question: $data.editingObject, editor: $parent}"></div>
      <!-- /ko -->

      <!-- ko if: !$parent.hasAceEditor -->
      <textarea class="svd-dark-border-color" data-bind="value:koTextValue" rows="3" autofocus="autofocus"></textarea>
      <!-- /ko -->
      <!-- <div class="assistant">
          <div class="assistant-title" data-bind="text:$root.getLocString('pe.assistantTitle')"></div>
          <div class="assistant-content" data-bind="foreach:availableQuestions">
              <div class="assistant-item" data-bind="text:name, click:function () { $parent.insertQuestion($data, $element); } "></div>
          </div>
      </div> -->
      <!-- ko if: showHelpText -->
          <span data-bind="text:$root.getLocString('pe.expressionHelp')" style="white-space:normal"></span>
          <!-- <div>
              <a data-bind="text:$root.getLocString('pe.showMore')" target="_blank" href="https://surveyjs.io/Documentation/LibraryParameter?id=Question&parameter=visibleIf"></a>
          </div> -->
      <!-- /ko -->
  </div>
</script>
