<script type="text/html" id="propertyeditor-triggers">
    <!-- ko template: { name: 'propertyeditor-modal', data: $data } -->
    <!-- /ko -->
</script>
<script type="text/html" id="propertyeditorcontent-triggers">
    <div class="propertyeditor-triggers">
        <div class="input-group form-group">
            <div class="input-group-addon first-addon" data-bind="visible: koAllowAddRemoveItems">
                <div class="ddmenu-container">
                    <div style="-webkit-tap-highlight-color:rgba(0,0,0,0)" data-bind="trueclick"></div>

                    <div class="ddmenu">
                        <span tabindex="0" data-bind="attr: { title: $root.getLocString('pe.addNew') }">
                            <span class="glyphicon glyphicon-plus svd-main-color"></span>
                        </span>
                        <div tabindex="0" data-bind="trueclick"></div>
                        <ul class="svd-light-bg-color">
                            <!-- ko foreach: koTriggers -->
                            <li>
                                <a data-bind="click: $parent.onAddClick, text:$data.text"></a>
                            </li>
                            <!-- /ko  -->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="form-control svd_custom_select">
                <select data-bind="options: koItems, optionsText: 'koText', value: koSelected"></select>
            </div>
            <span data-bind="visible: koAllowAddRemoveItems, attr: { title: $root.getLocString('pe.delete') }, enable: koSelected() != null, click: onDeleteClick"
                class="input-group-addon btn-danger">
                <span class="glyphicon glyphicon-remove"></span>
            </span>
        </div>
        <div data-bind="visible: koSelected() == null">
            <div data-bind="visible: koQuestionNames().length == 0, text: $root.getLocString('pe.noquestions')"></div>
            <div data-bind="visible: koQuestionNames().length > 0, text: $root.getLocString('pe.createtrigger')"></div>
        </div>
        <div data-bind="visible: koSelected() != null">
            <div data-bind="with: koSelected">
                <!-- ko if: conditionEditor != null -->
                    <!-- ko template: { name: 'propertyeditorcontent-condition', data: conditionEditor } -->
                    <!-- /ko -->
                <!-- /ko -->
                <!-- ko if: conditionEditor == null -->
                <div class="form-inline form-group">
                    <span class="input-group" data-bind="text: $root.getLocString('pe.triggerOn')"></span>
                    <div class="form-control svd_custom_select">
                        <select data-bind="options:$parent.koQuestionNames, value: koName"></select>
                    </div>
                    <div class="form-control svd_custom_select">
                        <select data-bind="options:availableOperators, optionsValue: 'name', optionsText: 'text', value:koOperator"></select>
                    </div>
                    <input class="form-control" type="text" data-bind="visible: koRequireValue, value:koValue" />
                </div>
                <!-- /ko -->
                <!-- ko if: koType() == 'visibletrigger' -->
                <div class="row">
                    <div class="col-lg-6 col-sm-6">
                        <!-- ko template: { name: 'propertyeditor-triggersitems', data: pages } -->
                        <!-- /ko -->
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <!-- ko template: { name: 'propertyeditor-triggersitems', data: questions } -->
                        <!-- /ko -->
                    </div>
                </div>
                <!-- /ko -->
                <!-- ko if: koType() == 'completetrigger' -->
                <div class="row">
                    <div style="margin: 10px" data-bind="text: $root.getLocString('pe.triggerCompleteText')"></div>
                </div>
                <!-- /ko -->
                <!-- ko if: koType() == 'setvaluetrigger' -->
                <div class="row">
                    <div class="col-lg-6 col-sm-6">
                        <div class="form-group">
                            <div data-bind="text: $root.getLocString('pe.triggerSetToName')"></div>
                            <input class="form-control" type="text" data-bind="value:kosetToName" />
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div class="form-group">
                            <div data-bind="text: $root.getLocString('pe.triggerSetValue')">
                            </div>
                            <input class="form-control" type="text" data-bind="value:kosetValue" />
                        </div>
                    </div>
                </div>
                <!-- ko template: { name: "propertyeditor-boolean", data: { koValue: koisVariable, displayName: $root.getLocString('pe.triggerIsVariable'), isDiplayNameVisible: true } } -->
                <!-- /ko -->
                <!-- /ko -->
                <!-- ko if: koType() == 'copyvaluetrigger' -->
                <div class="row">
                    <div class="col-lg-6 col-sm-6">
                        <div class="form-group">
                            <div data-bind="text: $root.getLocString('pe.triggerSetToName')"></div>
                            <input class="form-control" type="text" data-bind="value:kosetToName" />
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div class="form-group">
                            <div data-bind="text: $root.getLocString('pe.triggerFromName')"></div>
                            <input class="form-control" type="text" data-bind="value:kofromName" />
                        </div>
                    </div>
                </div>
                <!-- /ko -->
                <!-- ko if: koType() == 'runexpressiontrigger' -->
                <div class="row">
                    <div class="form-group col-lg-12 col-sm-12">
                        <div data-bind="text: $root.getLocString('pe.triggerSetToName')"></div>
                        <input class="form-control" type="text" data-bind="value:kosetToName" />
                        <div data-bind="text: $root.getLocString('pe.triggerRunExpression')"></div>
                        <textarea class="form-control" type="text" data-bind="value:korunExpression" rows="3" />
                    </div>
                </div>
                <!-- /ko -->
            </div>
        </div>
    </div>
</script>