<script type="text/html" id="propertyeditor-itemvalues">
    <!-- ko template: { name: 'propertyeditor-modal', data: $data } --><!-- /ko -->
</script>
<script type="text/html" id="propertyeditorcontent-itemvalues">
    <ul class="nav nav-tabs">
        <li role="presentation" data-bind="css: {active:koActiveView() == 'form'}"><a data-bind="click:changeToFormViewClick, text: $root.getLocString('pe.formEntry')"></a></li>
        <li role="presentation" data-bind="css: {active:koActiveView() != 'form'}"><a data-bind="click:changeToTextViewClick, text: $root.getLocString('pe.fastEntry')"></a></li>
    </ul>
    <div data-bind="visible:koActiveView() == 'form'" style="overflow-y: auto; overflow-x:hidden; max-height:400px;min-height:200px">
        <table class="table" >
            <thead>
                <tr>
                    <th></th>
                    <th data-bind="text: $root.getLocString('pe.value')"></th>
                    <th data-bind="text: $root.getLocString('pe.text')"></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <!-- ko foreach: koItems -->
                <tr>
                    <td>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-xs" data-bind="visible: $index() > 0, click: $parent.onMoveUpClick"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></button>
                            <button type="button" class="btn btn-xs" style="float:none" data-bind="visible: $index() < $parent.koItems().length - 1, click: $parent.onMoveDownClick"><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span></button>
                        </div>
                    </td>
                    <td>
                        <input type="text" class="form-control" data-bind="value:koValue" style="width:200px" />
                        <div class="alert alert-danger no-padding" role="alert" data-bind="visible:koHasError, text: $root.getLocString('pe.enterNewValue')"></div>
                    </td>
                    <td><input type="text" class="form-control" data-bind="value:koText" style="width:200px" /></td>
                    <td><button type="button" class="btn btn-xs" data-bind="click: $parent.onDeleteClick"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></td>
                </tr>
                <!-- /ko -->
            </tbody>
        </table>
    </div>
    <div class="row btn-toolbar" data-bind="visible:koActiveView() == 'form'">
        <input type="button" class="btn btn-success" data-bind="click: onAddClick, value: $root.getLocString('pe.addNew')" />
        <input type="button" class="btn btn-danger" data-bind="click: onClearClick, value: $root.getLocString('pe.removeAll')" />
    </div>
    <div data-bind="visible:koActiveView() != 'form'">
        <textarea class="form-control" data-bind="textInput: koItemsText" style="overflow-y: auto; overflow-x:hidden; max-height:400px; min-height:250px; width:100%"></textarea>
    </div>
</script>
