<script type="text/html" id="propertyeditor-expression">
    <!-- ko template: { name: 'propertyeditor-modal', data: $data } -->
    <!-- /ko -->
</script>

<script type="text/html" id="propertyeditorcontent-expression">
    <div class="propertyeditor-expression">
        <!-- ko if: $parent.hasAceEditor -->
        <!-- TODO change ace help text -->
        <span data-bind="text:$root.getLocString('pe.aceEditorHelp')"></span>
        <div id="expression-ace-editor" style="height: 500px; width: 800px" data-bind="value:koValue, aceEditor:{}"></div>
        <!-- /ko -->

        <!-- ko if: !$parent.hasAceEditor -->
        <textarea data-bind="value:koValue" rows="8" autofocus="autofocus"></textarea>
        <!-- /ko -->

        <!-- <div class="assistant">
            <div class="assistant-title" data-bind="text:$root.getLocString('pe.assistantTitle')"></div>
            <div class="assistant-content" data-bind="foreach:availableQuestions">
                <div class="assistant-item" data-bind="text:name, click:function () { $parent.insertQuestion($data, $element); } "></div>
            </div>
        </div> -->
        <span data-bind="text:$root.getLocString('pe.expressionHelp')" style="white-space:normal"></span>
        <!-- <div>
            <a data-bind="text:$root.getLocString('pe.showMore')" target="_blank" href="https://surveyjs.io/Documentation/LibraryParameter?id=QuestionBase&parameter=visibleIf"></a>
        </div> -->
    </div>
</script>