<script type="text/html" id="propertyeditor-modal">
  <div class="input-group form-group" data-bind="visible:!$data.isEditable">
      <a tabindex="0" class="form-control" data-bind="key2click, click: $data.onShowModal, attr: {'data-target' : modalNameTarget}">
          <span data-bind="text: koText"></span>
      </a>
      <div class="input-group-addon">
          <span class="glyphicon glyphicon-edit" aria-hidden="true" data-bind="click: $data.onShowModal, attr: {'data-target' : modalNameTarget}, text: $root.getLocString('pe.edit')"></span>
      </div>
  </div>
  <div class="input-group form-group" data-bind="visible:$data.isEditable">
      <input class="form-control svd_editor_control" type="text" data-bind="value: koValue, disable: readOnly" />
      <div class="input-group-addon">
          <span class="glyphicon glyphicon-edit" aria-hidden="true" data-bind="click: $data.onShowModal, attr: {'data-target' : modalNameTarget}, text: $root.getLocString('pe.edit')"></span>
      </div>
  </div>

  <div data-bind="attr: {id : modalName}" class="modal" role="dialog">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-bind="click: onResetClick">&times;</button>
                  <h4 class="modal-title" data-bind="text:$data.koTitleCaption"></h4>
              </div>
              <div class="modal-body svd_notopbottompaddings">
                  <!-- ko template: {name: 'propertyeditor-error', data: $data} -->
                  <!-- /ko -->
                  <!-- ko template: { name: 'propertyeditor-modalcontent', data: $data } -->
                  <!-- /ko -->
              </div>
              <div class="modal-footer">
                  <input type="button" class="btn btn-primary" data-bind="visible: $data.koShowApplyButton, disable: readOnly, click: $data.onApplyClick, value: $root.getLocString('pe.apply')"
                      style="width:100px" />
                  <input type="button" class="btn btn-default btn-secondary" data-bind="click: $data.onOkClick, disable: readOnly, value: $root.getLocString('pe.ok')"
                      style="width:100px" />
                  <input type="button" class="btn btn-primary" data-bind="click: $data.onResetClick, value: $root.getLocString('pe.cancel')"
                      style="width:100px" />
              </div>
          </div>
      </div>
  </div>
</script>
