<script type="text/html" id="propertyeditor-boolean">
    <!-- ko if: showDisplayName -->
    <label class="sjs-cb-container">
        <input class="form-control svd_editor_control" type="checkbox" data-bind="checked: koValue, disable: readOnly">
        <span class="checkmark"></span>
    </label>
    <span class="sjs-cb-label" data-bind="text: displayName"></span>
    <!-- /ko -->
    <!-- ko if: !showDisplayName -->
    <label class="sjs-cb-container">
        <input class="form-control svd_editor_control" type="checkbox" data-bind="checked: koValue, disable: readOnly" />
        <span class="checkmark"></span>
    </label>
    <!-- /ko -->
</script>