<script type="text/html" id="propertyeditor-oneselected">
  <!-- ko template: { name: 'propertyeditor-modal', data: $data } -->
  <!-- /ko -->
</script>
<script type="text/html" id="propertyeditorcontent-oneselected">
  <div class="propertyeditor-validators">
      <div class="input-group form-group">
          <!-- ko if: koAvailableClasses().length == 0 -->
          <span class="input-group-addon first-addon" data-bind="visible: koAllowAddRemoveItems() && !readOnly(), click: onAddClick">
              <span class="glyphicon glyphicon-plus" data-bind="click: function() { $element.parentElement.focus(); }"></span>
          </span>
          <!-- /ko  -->
          <!-- ko if: koAvailableClasses().length > 0 -->
          <div class="input-group-addon first-addon" data-bind="visible: koAllowAddRemoveItems() && !readOnly()">
              <div class="ddmenu-container">
                  <div style="-webkit-tap-highlight-color:rgba(0,0,0,0)" data-bind="trueclick"></div>

                  <div class="ddmenu">
                      <span tabindex="0">
                          <span class="glyphicon glyphicon-plus svd-main-color" data-bind="click: function() { $element.parentElement.focus(); }"></span>
                      </span>

                      <div tabindex="0" data-bind="trueclick"></div>
                      <ul class="svd-light-bg-color">
                          <!-- ko foreach: koAvailableClasses -->
                          <li>
                              <a href="#" data-bind="click: $parent.onAddClick">
                                  <span data-bind="text:$data.text"></span>
                              </a>
                          </li>
                          <!-- /ko  -->
                      </ul>
                  </div>
              </div>
          </div>
          <!-- /ko  -->
          <div data-bind="text: "></div>
          <div class="form-control svd_custom_select">
              <select onmousewheel="return false;" data-bind="value: koSelected, optionsCaption: $data.getLocString('pe.listIsEmpty')">
                <!--ko if: originalValue.length == 0 -->
                <option data-bind="value: '', text: $data.getLocString('pe.listIsEmpty')" ></option>
                <!-- /ko -->
                <!-- ko foreach: originalValue -->
                <option data-bind="value: $data, text: $parent.getItemText($data, $parent.koChangeCounter())" ></option>
                <!-- /ko -->
              </select>
          </div>
          <span class="input-group-addon sv-btn btn-danger" data-bind="visible: koAllowAddRemoveItems, enable: koSelected() != null, click: onDeleteClick">
              <span class="glyphicon glyphicon-remove"></span>
          </span>
      </div>
    <!-- ko if: selectedObjectEditor() != null -->
      <!-- ko template: { name: "object-editor-content", data: selectedObjectEditor() } --><!-- /ko -->
    <!-- /ko -->
  </div>
</script>
