<script type="text/html" id="propertyeditor-validators">
    <!-- ko template: { name: 'propertyeditor-modal', data: $data } --><!-- /ko -->
</script>
<script type="text/html" id="propertyeditorcontent-validators">
<div class="panel">
    <div class="row" style="margin-bottom:10px">
        <div class="col-lg-12">
            <div class="input-group form-inline">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <!-- ko foreach: koValidators -->
                        <li><a href="#" data-bind="click: $parent.onAddClick"><span data-bind="text:$data.text"></span></a></li>
                        <!-- /ko  -->
                    </ul>
                </div>
                <select class="form-control" data-bind="options: koItems, optionsText: 'text', value: koSelected"></select>
                <span class="input-group-btn">
                    <button type="button" data-bind="enable: koSelected() != null, click: onDeleteClick" class="btn"><span class="glyphicon glyphicon-remove"></span></button>
                </span>
            </div>
        </div>
    </div>
    <div data-bind="template: { name: 'objecteditor', data: selectedObjectEditor }"></div>
</div>
</script>