<script type="text/html" id="propertyeditor-nesteditems">
  <!-- ko template: { name: 'propertyeditor-modal', data: $data } -->
  <!-- /ko -->
</script>
<script type="text/html" id="propertyeditorcontent-nesteditems">
  <div data-bind="visible: koIsList"  style="overflow-y: auto; overflow-x:hidden; max-height:400px">
      <!--ko if: origionalValue.length == 0 -->
      <div data-bind="text: $data.getLocString('pe.listIsEmpty')"></div>
      <!-- /ko -->
      <!--ko if: origionalValue.length > 0 -->
      <table class="svd_items_table">
          <thead>
              <tr>
                  <th></th>
                  <!-- ko foreach: columns -->
                  <th data-bind="text: text"></th>
                  <!-- /ko -->
                  <th></th>
              </tr>
          </thead>
          <tbody data-bind="sortable: { foreach: origionalValue, options: { handle: '.svd-drag-handle', animation: 150 } }">
            <!-- ko component: { name:"comp-propertyeditor-nesteditem", params: { item: $data, editor: $parent } } --><!-- /ko -->
          </tbody>
      </table>
      <!-- /ko -->
      <div class="svd-items-control-footer" data-bind="visible: koAllowAddRemoveItems">
          <input type="button" class="btn btn-primary" data-bind="click: onAddClick, value: $data.getLocString('pe.addNew')" />
          <input type="button" class="btn btn-danger" data-bind="click: onClearClick, visible: origionalValue.length > 0, value: $data.getLocString('pe.removeAll')" />
      </div>
  </div>
  <!-- ko if: !koIsList() -->
  <!-- ko template: { name: "propertyeditorcontent-nested", data: $data } -->
  <!-- /ko -->
  <!-- /ko -->
</script>
