<script type="text/html" id="propertyeditor-matrixdropdowncolumns">
    <!-- ko template: { name: 'propertyeditor-modal', data: $data } -->
    <!-- /ko -->
</script>
<script type="text/html" id="propertyeditorcontent-matrixdropdowncolumns">
    <table class="svd_items_table" data-bind="visible: koIsList">
        <thead>
            <tr>
                <th data-bind="text: $root.getLocString('pe.required')"></th>
                <th data-bind="text: $root.getLocString('pe.cellType')"></th>
                <th data-bind="text: $root.getLocString('pe.name')"></th>
                <th data-bind="text: $root.getLocString('pe.title')"></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <!-- ko foreach: koItems -->
            <tr>
                <td class="svd-textitems-column">
                    <div class="svd-textitems-isrequired">
                        <!-- ko template: { name: "propertyeditor-boolean", data: { koValue: koIsRequired } } -->
                        <!-- /ko -->
                    </div>
                    <button type="button" class="btn btn-sm svd-textitems-edit" data-bind="visible: koCanEdit, click: $parent.onEditItemClick">
                        <span class="glyphicon glyphicon-edit" data-bind="text: $root.getLocString('pe.edit')"></span>
                    </button>
                </td>
                <td>
                    <div class="svd_custom_select" style="width:125px">
                        <select class="form-control" data-bind="options: cellTypeChoices, value: koCellType"></select>
                    </div>
                </td>
                <td>
                    <input type="text" class="form-control" data-bind="value:koName" style="width:100px" />
                    <div class="alert alert-danger no-padding" role="alert" data-bind="visible:koHasError, text: $root.getLocString('pe.enterNewValue')"></div>
                </td>
                <td>
                    <input type="text" class="form-control" data-bind="value:koTitle" style="width:120px" />
                </td>
                <td>
                    <button type="button" class="btn btn-sm btn-danger" data-bind="visible: $parent.koAllowAddRemoveItems, click: $parent.onDeleteClick">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                </td>
            </tr>
            <!-- /ko -->
            <tr>
                <td colspan="5">
                    <div data-bind="visible: koAllowAddRemoveItems">
                        <input type="button" class="btn btn-primary" data-bind="click: onAddClick, value: $root.getLocString('pe.addNew')" />
                        <input type="button" class="btn btn-danger" data-bind="click: onClearClick, value: $root.getLocString('pe.removeAll')" />
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- ko if: !koIsList() -->
    <!-- ko template: { name: "propertyeditorcontent-nested", data: $data } -->
    <!-- /ko -->
    <!-- /ko -->
</script>