<script type="text/html" id="propertyeditor-validators">
    <!-- ko template: { name: 'propertyeditor-modal', data: $data } -->
    <!-- /ko -->
</script>
<script type="text/html" id="propertyeditorcontent-validators">
    <div class="propertyeditor-validators">
        <div class="input-group form-group">
            <div class="input-group-addon first-addon" data-bind="visible: koAllowAddRemoveItems">
                <div class="ddmenu-container">
                    <div style="-webkit-tap-highlight-color:rgba(0,0,0,0)" data-bind="trueclick"></div>

                    <div class="ddmenu">
                        <span tabindex="0">
                            <span class="glyphicon glyphicon-plus svd-main-color"></span>
                        </span>

                        <div tabindex="0" data-bind="trueclick"></div>
                        <ul class="svd-light-bg-color">
                            <!-- ko foreach: koValidators -->
                            <li>
                                <a href="#" data-bind="click: $parent.onAddClick">
                                    <span data-bind="text:$data.text"></span>
                                </a>
                            </li>
                            <!-- /ko  -->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="form-control svd_custom_select">
                <select onmousewheel="return false;" data-bind="options: koItems, optionsText: 'text', value: koSelected"></select>
            </div>
            <span class="input-group-addon btn-danger" data-bind="visible: koAllowAddRemoveItems, enable: koSelected() != null, click: onDeleteClick">
                <span class="glyphicon glyphicon-remove"></span>
            </span>
        </div>
        <div data-bind="template: { name: 'objecteditor', data: selectedObjectEditor }"></div>
    </div>
</script>