<script type="text/html" id="propertyeditor-textitems">
    <!-- ko template: { name: 'propertyeditor-modal', data: $data } --><!-- /ko -->
</script>
<script type="text/html" id="propertyeditorcontent-textitems">
<div class="panel">
    <table class="table" data-bind="visible: koIsList">
        <thead>
            <tr>
                <th data-bind="text: $root.getLocString('pe.isRequired')"></th>
                <th data-bind="text: $root.getLocString('pe.name')"></th>
                <th data-bind="text: $root.getLocString('pe.title')"></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <!-- ko foreach: koItems -->
            <tr>
                <td>
                    <input type="checkbox" data-bind="checked: koIsRequired" />
                    <button type="button" class="btn" data-bind="click: $parent.onEditItemClick">
                        <span class="glyphicon glyphicon-edit"></span>
                    </button>
                </td>
                <td><input type="text" class="form-control" data-bind="value:koName" style="width:180px" /></td>
                <td><input type="text" class="form-control" data-bind="value:koTitle" style="width:180px" /></td>
                <td><button type="button" class="btn" data-bind="visible: $parent.koAllowAddRemoveItems, click: $parent.onDeleteClick"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></td>
            </tr>
            <!-- /ko -->
            <tr>
                <td colspan="4">
                    <input type="button" class="btn btn-success" data-bind="visible: koAllowAddRemoveItems, click: onAddClick, value: $root.getLocString('pe.addNew')"/>
                    <input type="button" class="btn btn-danger" data-bind="visible: koAllowAddRemoveItems, click: onClearClick, value: $root.getLocString('pe.removeAll')" />
                </td>
            </tr>
        </tbody>
    </table>
     <!-- ko if: !koIsList() -->
        <!-- ko template: { name: "propertyeditorcontent-nested", data: $data } -->
        <!-- /ko -->
    <!-- /ko -->
</div>
</script>