<script type="text/html" id="propertyeditor-matrixdropdowncolumns">
    <!-- ko template: { name: 'propertyeditor-modal', data: $data } --><!-- /ko -->
</script>
<script type="text/html" id="propertyeditorcontent-matrixdropdowncolumns">
    <table class="table" data-bind="visible: koIsList">
        <thead>
            <tr>
                <th data-bind="text: $root.getLocString('pe.required')"></th>
                <th data-bind="text: $root.getLocString('pe.cellType')"></th>
                <th data-bind="text: $root.getLocString('pe.name')"></th>
                <th data-bind="text: $root.getLocString('pe.title')"></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <!-- ko foreach: koItems -->
            <tr>
                <td>
                    <input type="checkbox" data-bind="checked: koIsRequired" />
                    <button type="button" class="btn" data-bind="visible: koCanEdit, click: $parent.onEditItemClick">
                        <span class="glyphicon glyphicon-edit"></span>
                    </button>
                </td>
                <td>
                    <select class="form-control" data-bind="options: cellTypeChoices, value: koCellType"  style="width:110px"></select>
                </td>
                <td>
                    <input type="text" class="form-control" data-bind="value:koName" style="width:100px" />
                    <div class="alert alert-danger no-padding" role="alert" data-bind="visible:koHasError, text: $root.getLocString('pe.enterNewValue')"></div>
                </td>
                <td><input type="text" class="form-control" data-bind="value:koTitle" style="width:120px" /></td>
                <td><button type="button" class="btn" data-bind="click: $parent.onDeleteClick"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></td>
            </tr>
            <!-- /ko -->
            <tr>
                <td colspan="3">
                    <div class="row btn-toolbar">
                        <input type="button" class="btn btn-success" data-bind="click: onAddClick, value: $root.getLocString('pe.addNew')"/>
                        <input type="button" class="btn btn-danger" data-bind="click: onClearClick, value: $root.getLocString('pe.removeAll')"" />
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
     <!-- ko if: !koIsList() -->
        <div style="padding: 5px">
            <button type="button" class="btn" data-bind="click: onCancelEditItemClick">
                <span class="glyphicon glyphicon-list-alt"></span>
            </button>
            <span data-bind="text: koEditItem().koEditorName"></span>
        </div>
        <!-- ko template: { name: "questioneditor-content", data: koEditItem().itemEditor } -->
        <!-- /ko -->
    <!-- /ko -->
</script>
