<script type="text/html" id="propertyeditor-matrixdropdowncolumns">
    <!-- ko template: { name: 'propertyeditor-modal', data: $data } --><!-- /ko -->
</script>
<script type="text/html" id="propertyeditorcontent-matrixdropdowncolumns">
    <table class="table">
        <thead>
            <tr>
                <th data-bind="text: $root.getLocString('pe.required')"></th>
                <th data-bind="text: $root.getLocString('pe.cellType')"></th>
                <th data-bind="text: $root.getLocString('pe.name')"></th>
                <th data-bind="text: $root.getLocString('pe.title')"></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <!-- ko foreach: koItems -->
            <tr>
                <td>
                    <a href="#" data-bind="visible:koHasChoices, click: onShowChoicesClick">
                        <span class="glyphicon" data-bind="css: {'glyphicon-chevron-down': !koShowChoices(), 'glyphicon-chevron-up': koShowChoices()}"></span>
                    </a>
                    <input type="checkbox" data-bind="checked: koIsRequired" />
                </td>
                <td>
                    <select class="form-control" data-bind="options: cellTypeChoices, value: koCellType"  style="width:110px"></select>
                </td>
                <td>
                    <input type="text" class="form-control" data-bind="value:koName" style="width:100px" />
                    <div class="alert alert-danger no-padding" role="alert" data-bind="visible:koHasError, text: $root.getLocString('pe.enterNewValue')"></div>
                </td>
                <td><input type="text" class="form-control" data-bind="value:koTitle" style="width:120px" /></td>
                <td><input type="button" class="btn" data-bind="click: $parent.onDeleteClick, value: $root.getLocString('pe.delete')"/></td>
            </tr>
            <tr data-bind="visible: koShowChoices() && koHasChoices()">
                <td colspan="4" style="border-top-style:none">
                    <div class="form-group">
                        <label class="control-label col-sm-3" data-bind="text:$root.getLocString('pe.hasOther')"></label>
                        <div class="col-sm-2">
                            <input type="checkbox" data-bind="checked: koHasOther" />
                        </div>
                        <div class="col-sm-7" data-bind="visible: !koHasColCount()"></div>
                        <label class="control-label col-sm-3" data-bind="visible:koHasColCount, text:$root.getLocString('pe.colCount')"></label>
                        <select class="form-control col-sm-4" data-bind="visible:koHasColCount, options: colCountChoices, value: koColCount" style="width:110px"></select>
                    </div>
                    <div class="modal-body svd_notopbottompaddings">
                        <!-- ko template: { name: 'propertyeditorcontent-itemvalues', data: choicesEditor } -->
                        <!-- /ko -->
                    </div>
                </td>
            </tr>

            <!-- /ko -->
            <tr>
                <td colspan="3">
                    <div class="row btn-toolbar">
                        <input type="button" class="btn btn-success" data-bind="click: onAddClick, value: $root.getLocString('pe.addNew')"/>
                        <input type="button" class="btn btn-danger" data-bind="click: onClearClick, value: $root.getLocString('pe.removeAll')"" />
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</script>
