<script type="text/html" id="propertyeditor-restfull">
  <!-- ko template: { name: 'propertyeditor-modal', data: $data } -->
  <!-- /ko -->
</script>

<script type="text/html" id="propertyeditorcontent-restfull">
  <form>
    <!-- ko if: koContentEditor() != null -->
    <!-- ko template: { name: "questioneditor-content", data: koContentEditor() } --><!-- /ko -->
    <!-- /ko -->
      <div class="form-group">
          <label for="titleName">
              <span data-bind="text:$data.getLocString('pe.testService')"></span>
          </label>
          <div class="form-control svd_custom_select" style="display: block;">
              <select onmousewheel="return false;" data-bind="options: question.visibleChoices, optionsText: 'text', optionsValue: 'value', optionsCaption: question.optionsCaption"></select>
          </div>
      </div>
  </form>
</script>
