<script type="text/html" id="propertyeditor-condition">
    <!-- ko template: { name: 'propertyeditor-modal', data: $data } -->
    <!-- /ko -->
</script>

<script type="text/html" id="propertyeditorcontent-condition">
    <div class="propertyeditor-condition">
        <textarea data-bind="value:koValue" rows="8" autofocus="autofocus"></textarea>
        <div class="assistant">
            <!-- TODO add text into localization -->
            <div class="assistant-title" data-bind="text:$root.getLocString('pe.assistantTitle')"></div>
            <div class="assistant-content" data-bind="foreach:availableQuestions">
                <div class="assistant-item" data-bind=" text:(name === title ? name : name + ' - ' + title), click:function () { $parent.insertQuestion($data, $element); } "></div>
            </div>
        </div>
        <span data-bind="text:$root.getLocString('pe.conditionHelp')" style="white-space:normal "></span>
        <div>
            <a data-bind="text:$root.getLocString('pe.showMore')" target="_blank" href="https://surveyjs.io/Documentation/LibraryParameter?id=QuestionBase&parameter=visibleIf"></a>
        </div>
    </div>
</script>