<script type="text/html" id="propertyeditor-itemvalues">
    <!-- ko template: { name: 'propertyeditor-modal', data: $data } --><!-- /ko -->
</script>
<script type="text/html" class="btn-xs" id="propertyeditorcontent-itemvalues">
    <div style="margin-bottom:3px" data-bind="visible: koShowTextView">
        <button class="btn-xs" data-bind="css: {'btn btn-primary':koActiveView() == 'form', 'btn-link':koActiveView() != 'form'}, click:changeToFormViewClick, text: $root.getLocString('pe.formEntry')"></button>
        <button class="btn-xs" data-bind="css: {'btn btn-primary':koActiveView() != 'form', 'btn-link':koActiveView() == 'form'}, click:changeToTextViewClick, text: $root.getLocString('pe.fastEntry')"></button>
    </div>
    <div data-bind="visible:koActiveView() == 'form'" style="overflow-y: auto; overflow-x:hidden; max-height:400px;min-height:200px">
        <table class="table" >
            <thead>
                <tr>
                    <th></th>
                    <!-- ko foreach: columns -->
                    <th data-bind="text: text"></th>
                    <!-- /ko -->
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <!-- ko foreach: koItems -->
                <tr>
                    <td>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-xs" data-bind="visible: $index() > 0, click: $parent.onMoveUpClick"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></button>
                            <button type="button" class="btn btn-xs" style="float:none" data-bind="visible: $index() < $parent.koItems().length - 1, click: $parent.onMoveDownClick"><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span></button>
                        </div>
                    </td>
                    <!-- ko foreach: cells -->
                    <td>
                        <!-- ko template: { name: 'propertyeditor-' + objectProperty.editorType, data: objectProperty.editor } --><!-- /ko -->
                        <div class="alert alert-danger no-padding" role="alert" data-bind="visible:koHasError, text: $root.getLocString('pe.enterNewValue')"></div>
                    </td>
                    <!-- /ko -->
                    <td><button type="button" class="btn btn-xs" data-bind="visible: $parent.koAllowAddRemoveItems, click: $parent.onDeleteClick"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></td>
                </tr>
                <!-- /ko -->
            </tbody>
        </table>
    </div>
    <div class="row btn-toolbar" data-bind="visible:koActiveView() == 'form'">
        <input type="button" class="btn btn-success" data-bind="visible: koAllowAddRemoveItems, click: onAddClick, value: $root.getLocString('pe.addNew')" />
        <input type="button" class="btn btn-danger" data-bind="visible: koAllowAddRemoveItems, click: onClearClick, value: $root.getLocString('pe.removeAll')" />
    </div>
    <div data-bind="visible:koActiveView() != 'form'">
        <textarea class="form-control" data-bind="textInput: koItemsText" style="overflow-y: auto; overflow-x:hidden; max-height:400px; min-height:250px; width:100%"></textarea>
    </div>
</script>
