<script type="text/html" id="propertyeditor-textitems">
    <!-- ko template: { name: 'propertyeditor-modal', data: $data } --><!-- /ko -->
</script>
<script type="text/html" id="propertyeditorcontent-textitems">
<div class="panel">
    <table class="table">
        <thead>
            <tr>
                <th data-bind="text: $root.getLocString('pe.name')"></th>
                <th data-bind="text: $root.getLocString('pe.title')"></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <!-- ko foreach: koItems -->
            <tr>
                <td><input type="text" class="form-control" data-bind="value:koName" style="width:200px" /></td>
                <td><input type="text" class="form-control" data-bind="value:koTitle" style="width:200px" /></td>
                <td><input type="button" class="btn" data-bind="click: $parent.onDeleteClick, value: $root.getLocString('pe.delete')"/></td>
            </tr>
            <!-- /ko -->
            <tr>
                <td colspan="4"><input type="button" class="btn btn-success" data-bind="click: onAddClick, value: $root.getLocString('pe.addNew')"/></td>
            </tr>
        </tbody>
    </table>
</div>
</script>