<script type="text/html" id="propertyeditor-restfull">
    <!-- ko template: { name: 'propertyeditor-modal', data: $data } -->
    <!-- /ko -->
</script>

<script type="text/html" id="propertyeditorcontent-restfull">
    <form>
        <div class="form-group" data-bind="foreach: koItems">
            <label data-bind="attr: {for: name}, text:name"></label>
            <input type="text" data-bind="attr: {id: name}, value:koValue" class="form-control"></input>
        </div>
        <div class="form-group">
            <label for="titleName">
                <span data-bind="text:$root.getLocString('pe.testService')"></span>
            </label>
            <div class="form-control svd_custom_select">
                <select data-bind="options: question.koVisibleChoices, optionsText: 'text', optionsValue: 'value', optionsCaption: question.optionsCaption"></select>
            </div>
        </div>
    </form>
</script>