.item_editable {
  pointer-events: all;
  cursor: text;
  .svda-title-editor-start {
    cursor: pointer;
    visibility: hidden;
    padding-left: 5px;
  }
}
.svd_q_selected .item_editable:hover {
  .svda-title-editor-start {
    visibility: visible;
  }
}

.svda-drag-handle {
  cursor: move;
  visibility: hidden;
  padding-left: 5px;
}
.svd_q_selected .item_draggable {
  white-space: nowrap;
  &:hover {
    .svda-drag-handle {
      visibility: visible;
    }
  }
}

.svda-delete-item {
  cursor: pointer;
  visibility: hidden;
  padding-left: 5px;
}
.svd_q_selected .item_editable:hover {
  .svda-delete-item {
    visibility: visible;
  }
}

.svda-add-new-item {
  cursor: pointer;
  pointer-events: auto;
  padding-left: 16px;
  display: none;
  &:hover {
    text-decoration: underline;
  }
}
.svd_q_selected .svda-add-new-item {
  display: inline-block;
}

item-editor {
  display: inline-block;

  .svda-content {
    position: relative;
    pointer-events: all;

    .svda-title-editor-content {
      white-space: nowrap;
    }
    .svda-edit-button {
      padding-left: 5px;
      cursor: pointer;
    }
    .svda-edit-icon {
      width: 12px;
      height: 12px;
    }
  }
}
