.svda_rating_question {
  rating-item-editor {
    display: none;

    .svda-content {
      position: relative;
      pointer-events: all;

      .svda-title-editor-content {
        white-space: nowrap;
      }
      .svda-edit-button {
        padding-left: 5px;
        cursor: pointer;
      }
    }
  }

  .svda-add-new-item {
    margin-top: 5px;
    padding-right: 10px;
  }

  .item_editable:hover {
    rating-item-editor {
      display: inline-block;
    }
  }
}
