select-items-editor {
  display: none;

  .svda-select-items-editor {
    position: relative;
    pointer-events: all;

    .svda-select-items-title {
      text-align: center;
      position: absolute;
      top: -2em;
      left: 0;
      right: 0;
      height: 2em;
    }

    .svda-select-items-content {
      padding: 1em;
    }
  }
}

.svd_q_selected select-items-editor {
  display: block;
}
