.title_editable {
  pointer-events: all;
  cursor: text;
  .svda-title-editor-start {
    cursor: pointer;
    visibility: hidden;
  }
}
.svd_q_selected .title_editable:hover {
  .svda-title-editor-start {
    visibility: visible;
  }
}

title-editor {
  display: inline-block;

  .svda-content {
    position: relative;
    pointer-events: all;

    .svda-title-editor-content {
      white-space: nowrap;
    }
    .svda-edit-button {
      padding-left: 5px;
      cursor: pointer;
    }
    .svda-edit-icon {
      width: 12px;
      height: 12px;
    }
  }
}
