.title_editable, .description_editable {
  pointer-events: all;
  cursor: text;
  .svda-title-editor-start {
    cursor: pointer;
    visibility: hidden;
  }
}
.svd_q_selected .title_editable:hover {
  .svda-title-editor-start {
    visibility: visible;
  }
}

.svd_page>.title_editable, .svd_page>.description_editable {
  .svda-title-editor-start {
    visibility: visible;
    .svda-title-editor-placeholder {
      cursor: text;
      opacity: 0.5;
    }
    .svda-title-editor-start-button {
      visibility: hidden;
    }
  }
  &:hover {
    .svda-title-editor-start {
      .svda-title-editor-start-button {
        visibility: visible;
      }
    }
  }
}

.svd_page>.description_editable {
  margin-bottom: 2em;
}

title-editor {
  display: inline-block;
  max-width: 90%;

  .svda-content {
    position: relative;
    pointer-events: all;

    .svda-title-editor-content {
      white-space: nowrap;
      & > input {
        max-width: 100%;
      }
    }
    .svda-edit-button {
      padding-left: 5px;
      cursor: pointer;
    }
  }
}
