@import "../../variables.scss";

.svc-action-bar-item-dropdown {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: flex;
  height: calcSize(5);
  padding: calcSize(1);
  box-sizing: border-box;
  margin-right: calcSize(2);
  border: none;
  border-radius: 2px;
  background-color: transparent;
  cursor: pointer;
  line-height: calcSize(3);
  font-size: calcSize(2);
  font-family: $font-family;
}
