@import "../../variables.scss";

.svc-action-bar-item {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: flex;
  height: calcSize(5);
  padding: calcSize(1);
  box-sizing: border-box;
  margin-right: calcSize(2);
  border: none;
  border-radius: 2px;
  background-color: transparent;
  cursor: pointer;
  line-height: calcSize(3);
  font-size: calcSize(2);
  font-family: $font-family;
}

.svc-action-bar-item__icon {
  svg {
    display: block;
  }
  use {
    fill: $foreground-light;
  }
}

//hovered state
.svc-action-bar-item:hover {
  background-color: $background-dim;
}

//pressed state
.svc-action-bar-item:active {
  opacity: 0.5;
}

.svc-action-bar-item:focus {
  outline: none;
}

//disabled state
.svc-action-bar-item:disabled {
  opacity: 0.25;
  cursor: default;
  color: $foreground;
  .svc-action-bar-item__icon use {
    fill: $foreground;
  }
}

.svc-action-bar-item__title {
  margin-left: calcSize(1);
  vertical-align: middle;
}

.svc-action-bar-item--secondary {
  .svc-action-bar-item__icon use {
    fill: $secondary;
  }
}

.svc-action-bar-item--active {
  .svc-action-bar-item__icon use {
    fill: $primary;
  }
}
