@import "../../variables.scss";

svc-toolbox {
  display: flex;
  flex-direction: column;
}

.svc-toolbox {
  height: 100%;
  overflow-y: auto;
  overflow-x: visible;
  direction: rtl;
}

.svc-toolbox__category {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  direction: initial;
}

.svc-toolbox__category-separator {
  height: calcSize(0.1);
  width: calcSize(6);
  background-color: $border;
  margin-top: calcSize(4);
  margin-left: calcSize(2);
}
