@use "../../../variables.scss" as *;
@use "./variables.scss" as *;
@use "../fonts" as *;

.sps-popup-menu.sv-popup--menu-popup {
  .sv-popup__container {
    border: initial;
    padding: var(--sjs2-spacing-x150, 12px);
    box-shadow: initial;
    background: initial;
    box-sizing: border-box;

    .sv-popup__body-content {
      border-radius: var(--sjs2-radius-container-menu, 20px);
      border: var(--sjs2-border-width-x100, 1px) solid var(--sjs2-color-border-basic-secondary, #d4d4d4);
      background: var(--sjs2-color-utility-sheet, #fff);
  
      /* sjs2/border-effect/floating/default */
      box-shadow: var(--sjs2-border-offset-x-floating-default, 0) var(--sjs2-border-offset-y-floating-default, 6px)
        var(--sjs2-border-blur-floating-default, 12px) var(--sjs2-border-spread-floating-default, 4px)
        var(--sjs2-color-utility-shadow-floating-default, rgba(0, 76, 68, 0.2));
    }
  }
}

.sps-popup {
  .sps-root-modern {
    height: initial;
  }
  .sps-page {
    padding: 0;
    gap: var(--sjs2-spacing-x200, 16px);
    background: initial;
  }
  .sps-row {
    max-width: initial;
  }
  .sps-question--with-frame {
    border: none;
    border-radius: 0;
  }

  .sps-question__header {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
  } 
  .sps-question__content {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }
  
  .sps-row--multiple > div {
    align-items: stretch;
    padding-left: var(--sjs2-spacing-x400, 32px);
    padding-right: var(--sjs2-spacing-x400, 32px);
    &:first-of-type {
      padding-left: 0;
    }
    &:last-of-type {
      padding-right: 0;
    }
  }

  .sps-panel {
    border: none;
    border-radius: 0;
    align-self: stretch;
    .sps-row {
       border: none;
    }
  }
  .sps-panel__content {
    display: flex;
    flex-direction: column;
    gap: var(--sjs2-spacing-x200, 16px);
  }
}
