@use "../../../variables.scss" as *;

.sps-link {
  display: flex;
}

.sv-string-viewer {
  .sps-link {
    display: initial;
    color: var(--ctr-survey-action-button-text-color-positive, var(--sjs-primary-background-500, #19b394ff));
    font-weight: 600;
    text-decoration-line: underline;
  }
}
