@use "../../../variables.scss" as *;
@use "./variables.scss" as *;

.sps-table-wrapper {
  border: var(--ctr-data-table-border-width, var(--sjs-stroke-x1)) solid
    var(--ctr-data-table-border-color, var(--sjs-border-25, #d4d4d4ff));
  border-radius: var(--ctr-data-table-corner-radius, var(--sjs-corner-radius-x075));
  overflow: hidden;
}

.sps-table {
  width: 100%;
  background-color: var(--ctr-data-table-background-color, var(--sjs-layer-1-background-400, #f5f5f5ff));
  border-collapse: collapse;

  tr {
    border-bottom: var(--ctr-data-table-row-border-width, var(--sjs-stroke-x1)) solid
      var(--ctr-data-table-row-border-color, var(--sjs-border-10, #dcdcdcff));
    background-color: var(--ctr-data-table-row-background-color, var(--sjs-layer-1-background-500, #ffffffff));
  }
  tbody > tr:last-of-type {
    border-bottom: var(--ctr-data-table-row-border-width-last-row, 0px);
  }
}

.sps-table__cell {
  padding: 0;
}

.sps-table__cell--detail-panel {
  background: var(--ctr-data-table-background-color, var(--sjs-layer-1-background-400, #f5f5f5ff));

  .sps-panel__content {
    box-shadow: none;
  }
}
.sps-table__cell:where(:not(.sps-table__cell--detail-panel)) {
  .sps-checkbox {
    margin: 0 calcSize(2);
  }
}

.sps-table__cell:not(.sps-table__cell--detail-panel):not(.sps-table__cell--actions):first-of-type {
  padding-left: 8px;
}

.sps-table__cell:not(.sps-table__cell--detail-panel) {
  .sps-input {
    appearance: none;
    box-shadow: none;
    border-radius: var(--ctr-data-table-cell-corner-radius-focused, var(--sjs-corner-radius-x075));
    background-color: var(--ctr-data-table-row-background-color, var(--sjs-layer-1-background-500, #ffffffff));
    height: auto;
    padding: var(--ctr-data-table-cell-padding-top, var(--sjs-spacing-x1))
      var(--ctr-data-table-cell-padding-right, var(--sjs-spacing-x1))
      var(--ctr-data-table-cell-padding-bottom, var(--sjs-spacing-x1))
      var(--ctr-data-table-cell-padding-left, var(--sjs-spacing-x1));

    &[type="color"] {
      padding-right: 0;
    }

    &:focus,
    &:focus-within {
      box-shadow: inset 0 0 0 2px
        var(--ctr-data-table-cell-border-color-focused, var(--sjs-primary-background-500, #19b394ff));
    }
  }

  .sps-dropdown {
    width: max-content;
    min-height: auto;
  }

  .sps-dropdown_chevron-button {
    position: static;
  }
  .sps-dropdown_select-wrapper {
    display: flex;
    align-items: center;
    width: max-content;
    max-width: 100%;
  }

  .sps-dropdown__value {
    margin: 0;
  }

  .sd-editor-button-item {
    padding: 0;
  }

  .sv-editor-button-item__icon {
    opacity: var(--ctr-data-table-cell-drop-down-arrow-opacity, 0.5);

    use {
      fill: var(--ctr-data-table-cell-drop-down-arrow-color, var(--sjs-layer-1-foreground-50, #00000080));
    }
  }
}

.sps-table__cell:not(.sps-table__cell--detail-panel):first-of-type .sps-text {
  padding-left: calcSize(2);
}

.sps-table__cell--actions:first-of-type {
  width: calcSize(5);
}

.sps-table__cell--actions:last-of-type {
  .sps-action-bar {
    justify-content: flex-end;
    padding-inline-end: var(--ctr-data-table-row-padding-right, var(--sjs-spacing-x05));
  }
}

// .sps-table__cell--actions > .sps-matrixdynamic__drag-element {
//   display: inline-block;
//   margin-top: calcSize(0.5);
//   cursor: move;
// }

.sps-table__cell--header {
  background: var(--ctr-data-table-row-background-color-header, var(--sjs-layer-3-background-500, #f4f4f4ff));
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100px;
  padding: var(--ctr-data-table-row-padding-top-header, var(--sjs-spacing-x1))
    var(--ctr-data-table-cell-padding-right, var(--sjs-spacing-x1))
    var(--ctr-data-table-row-padding-bottom-header, var(--sjs-spacing-x1))
    var(--ctr-data-table-cell-padding-left, var(--sjs-spacing-x1));

  @include ctrSmallFont;
  color: var(--ctr-data-table-cell-text-color-header, var(--sjs-layer-3-foreground-50, #00000080));

  span {
    display: none;
  }

  .sv-string-viewer {
    display: inline;
    white-space: unset;
  }
}
.sps-table__question-wrapper {
  box-sizing: border-box;
  padding: var(--ctr-data-table-row-padding-top, var(--sjs-spacing-x05))
    var(--ctr-data-table-row-padding-right, var(--sjs-spacing-x05))
    var(--ctr-data-table-row-padding-bottom, var(--sjs-spacing-x05)) var(--ctr-data-table-row-padding-left, 0px);
}

.sps-table__row--leave,
.sps-table__row--enter {
  animation-name: empty;
  --move-whole-animation-duration: calc(var(--move-animation-duration) + var(--move-animation-delay));
  --fade-whole-animation-duration: calc(var(--fade-animation-duration) + var(--fade-animation-delay));
  animation-duration: max(var(--fade-whole-animation-duration), var(--move-whole-animation-duration));
  & > td {
    & > div {
      animation-name: fadeIn, moveInWithOverflow;
      opacity: 0;
      animation-direction: var(--animation-direction);
      animation-timing-function: var(--animation-timing-function);
      animation-fill-mode: forwards;
      animation-duration: var(--fade-animation-duration), var(--move-animation-duration), var(--move-animation-duration);
      animation-delay: var(--fade-animation-delay), var(--move-animation-delay), var(--move-animation-delay);
    }
  }
}
.sps-table__row--enter {
  --move-animation-delay: 0s;
  --move-animation-duration: #{$sps-matrix-row-move-in-duration};
  --fade-animation-duration: #{$sps-matrix-row-fade-in-duration};
  --fade-animation-delay: #{$sps-matrix-row-fade-in-delay};
  --animation-direction: normal;
  --animation-timing-function: #{$ease-out};
}
.sps-table__row--leave {
  --move-animation-delay: #{$sps-matrix-row-move-out-delay};
  --move-animation-duration: #{$sps-matrix-row-move-out-duration};
  --fade-animation-duration: #{$sps-matrix-row-fade-out-duration};
  --fade-animation-delay: 0s;
  --animation-direction: reverse;
  --animation-timing-function: #{$reverse-ease-out};
}
.sps-table__row--detail {
  &.sps-table__row--enter {
    --move-animation-delay: 0s;
    --move-animation-duration: #{$sps-matrix-detail-row-move-in-duration};
    --fade-animation-duration: #{$sps-matrix-detail-row-fade-in-duration};
    --fade-animation-delay: #{$sps-matrix-detail-row-fade-in-delay};
    --animation-direction: normal;
    --animation-timing-function: #{$ease-out};
  }
  &.sps-table__row--leave {
    --move-animation-delay: #{$sps-matrix-detail-row-move-out-delay};
    --move-animation-duration: #{$sps-matrix-detail-row-move-out-duration};
    --fade-animation-duration: #{$sps-matrix-detail-row-fade-out-duration};
    --fade-animation-delay: 0s;
    --animation-direction: reverse;
    --animation-timing-function: #{$reverse-ease-out};
  }
}

.svc-creator--disable-animations {
  .sps-table__row--enter,
  .sps-table__row--leave {
    animation: none;
  }
}
