@use "../../../variables.scss" as *;
@use "./variables.scss" as *;
@use "../fonts" as *;

.sps-panel {
  border-radius: var(--sjs2-radius-x250, 20px);
  border: var(--sjs2-border-width-x100, 1px) solid var(--sjs2-color-border-basic-secondary, #D4D4D4);
  background: var(--sjs2-color-bg-basic-primary, #FFF);
  overflow: hidden;

  .sps-row {
    border-bottom: var(--sjs2-border-width-x100, 1px) solid var(--sjs2-color-border-basic-secondary, #D4D4D4);
    &:last-child {
      border-bottom: none;
    }
  }
}
.sps-panel--navigation {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  padding: var(--sjs2-spacing-x250, 20px);
  align-items: center;
  gap: var(--sjs2-spacing-x150, 12px);
  .sps-panel__header {
     width: auto;
     flex-grow: 1;
     padding: 0;
     display: flex;
     justify-content: flex-end;
   }
  .sps-question__content {
    padding: 0;
  }
  .sps-row--multiple .sps-question--nested {
      overflow-y: visible;
  }
}
.sps-panel__header {
  width: 100%;
  display: flex;
  padding: var(--sjs2-spacing-x250, 20px) var(--sjs2-spacing-x250, 20px) 0 var(--sjs2-spacing-x250, 20px);
  align-items: flex-start;
  align-self: stretch;
}

.sps-panel__title {
  color: var(--sjs2-color-fg-basic-primary, #1C1B20);

  @include sjs2--typography--default-strong;
}


.sps-panel__content {

}
