.svc-action-button {
  display: inline-block;

  padding: calcSize(0.5) calcSize(2);
  box-sizing: border-box;
  border-radius: calcSize(12.5);

  color: $primary;
  font-weight: 600;
  font-size: calcSize(2);
  line-height: calcSize(3);  

  border: calcSize(0.25) solid transparent;
}

.svc-action-button {
  &:focus, &:hover {
    background: rgba(25, 179, 148, 0.1); // $primary-hover-color
  }
}

.svc-action-button--selected {
  border-color: $primary;
}

.svc-action-button--disabled {
  opacity: 0.25;
  color: $foreground;
}

.svc-action-button--pressed {
  
}