@use "../variables" as *;

.svc-action-button {
  @include ctrDefaultBoldFont;
  display: inline-block;

  padding-top: var(--ctr-actionbar-button-padding-top-medium-text, var(--sjs-spacing-x05));
  padding-inline-end: var(--ctr-actionbar-button-padding-right-medium-text, var(--sjs-spacing-x2));
  padding-bottom: var(--ctr-actionbar-button-padding-bottom-medium-text, var(--sjs-spacing-x05)); 
  padding-inline-start: var(--ctr-actionbar-button-padding-left-medium-text, var(--sjs-spacing-x2));

  box-sizing: border-box;
  border-radius: calcSize(12.5);

  color: var(--sjs2-color-fg-brand-primary, #19B394);

  border: calcSize(0.25) solid transparent;

  &:focus,
  &:hover {
    background-color: var(--sjs2-color-bg-brand-secondary, rgba(25 179 148 / 0.1));
    outline: none;
  }
}

.svc-action-button--selected {
  border-color: var(--sjs2-color-fg-brand-primary, #19B394);
}

.svc-action-button--disabled {
  opacity: var(--ctr-survey-action-button-opacity-disabled, 0.25);
  color: var(--sjs2-color-fg-basic-primary-disabled, rgba(28 27 32 / 0.4));
}

.svc-action-button--pressed {}