@use "../variables" as *;

.svc-action-button {
  @include sjs2--typography--default-strong;
  color: var(--sjs2-color-bg-brand-primary);
  display: inline-block;
  padding: var(--sjs2-spacing-x200) var(--sjs2-spacing-x050);
  box-sizing: border-box;
  border-radius: var(--sjs2-radius-round);
  border: var(--sjs2-border-width-x200) solid transparent;

  &:focus,
  &:hover {
    background-color: var(--sjs2-color-bg-brand-secondary);
    outline: none;
  }
}

.svc-action-button--selected {
  border-color: var(--sjs2-color-bg-brand-primary);
}

.svc-action-button--disabled {
  opacity: var(--sjs2-opacity-disabled);
  color: var(--sjs2-color-fg-basic-primary);
}

.svc-action-button--pressed {}