.svc-btn {
  display: flex;
  align-items: center;
  height: calcSize(7);
  line-height: calcSize(7);
  vertical-align: baseline;
  text-align: center;
  background-color: var(--ctr-button-background-color, $background);
  box-shadow: $shadow-small;
  border-radius: calcSize(0.5);
  cursor: pointer;
  user-select: none;
  outline: solid calcSize(0.25) transparent;

  .svc-text {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
    color: var(--ctr-button-text-color, $primary);
  }
}

.svc-btn:hover {
  background-color: var(--ctr-button-background-color-hovered, $background-dark);
}

.svc-btn:focus {
  box-shadow: 0 0 0 2px var(--ctr-button-border-color-focused, $primary);
}