@use "../variables" as *;

.svc-btn {
  display: flex;
  padding: var(--ctr-button-padding-vertical, var(--sjs-spacing-x2)) var(--ctr-button-padding-horizontal, var(--sjs-spacing-x6));
  justify-content: center;
  align-items: center;

  background-color: var(--sjs2-color-bg-basic-primary, #fff);
  border-radius: var(--ctr-button-corner-radius, var(--sjs-corner-radius-x075));
  cursor: pointer;
  user-select: none;
  outline: solid calcSize(0.25) transparent;
  transition: background-color $creator-transition-duration;

  box-shadow: var(--sjs2-border-effect-surface-default, 0px 0px 0px 1px rgba(17 16 20 / 0.1));
}
.svc-btn__text {
  @include ctrDefaultBoldFont;
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
  color: var(--sjs2-color-fg-brand-primary, #19B394);
}

.svc-btn:hover {
  background-color: var(--sjs2-color-bg-brand-secondary, rgba(25 179 148 / 0.1));
}

.svc-btn:focus {
  box-shadow: var(--sjs2-border-effect-surface-focused, 0px 0px 0px 2px #19B394);
}