.svc-creator {
  --sjs-spacing-x2: calc(#{$base-unit} * 2);
  --sjs-spacing-x3: calc(#{$base-unit} * 3);
  --sjs-spacing-x1: calc(#{$base-unit} * 1);
  --sjs-spacing-x05: calc(#{$base-unit} * 0.5);
  --sjs-spacing-x025: calc(#{$base-unit} * 0.25);
  --sjs-spacing-x0125: calc(#{$base-unit} * 0.125);
  --sjs-spacing-x150: calc(#{$base-unit} * 1.5);
  --sjs-spacing-x250: calc(#{$base-unit} * 2.5);
  --sjs-spacing-x4: calc(#{$base-unit} * 4);
  --sjs-spacing-x350: calc(#{$base-unit} * 3.5);
  --sjs-spacing-x5: calc(#{$base-unit} * 5);
  --sjs-spacing-x6: calc(#{$base-unit} * 6);
  --sjs-spacing-x7: calc(#{$base-unit} * 7);
  --sjs-spacing-x8: calc(#{$base-unit} * 8);
  --sjs-spacing-x9: calc(#{$base-unit} * 9);
  --sjs-spacing-x10: calc(#{$base-unit} * 10);
  --sjs-spacing-x11: calc(#{$base-unit} * 11);
  --sjs-spacing-x12: calc(#{$base-unit} * 12);
  --sjs-spacing-x13: calc(#{$base-unit} * 13);
  --sjs-spacing-x14: calc(#{$base-unit} * 14);
  --sjs-spacing-x15: calc(#{$base-unit} * 15);
  --sjs-spacing-x16: calc(#{$base-unit} * 16);
  --sjs-spacing-x075: calc(#{$base-unit} * 0.75);
  --sjs-spacing-x125: calc(#{$base-unit} * 1.25);
  --sjs-corner-radius-x0125: calc(#{$base-unit} * 0.125);
  --sjs-corner-radius-x025: calc(#{$base-unit} * 0.25);
  --sjs-corner-radius-x05: calc(#{$base-unit} * 0.5);
  --sjs-corner-radius-x075: calc(#{$base-unit} * 0.75);
  --sjs-corner-radius-x1: calc(#{$base-unit} * 1);
  --sjs-corner-radius-x125: calc(#{$base-unit} * 1.25);
  --sjs-corner-radius-x150: calc(#{$base-unit} * 1.5);
  --sjs-corner-radius-x2: calc(#{$base-unit} * 2);
  --sjs-corner-radius-x250: calc(#{$base-unit} * 2.5);
  --sjs-corner-radius-x3: calc(#{$base-unit} * 3);
  --sjs-corner-radius-x350: calc(#{$base-unit} * 3.5);
  --sjs-corner-radius-x4: calc(#{$base-unit} * 4);
  --sjs-corner-radius-x5: calc(#{$base-unit} * 5);
  --sjs-corner-radius-x6: calc(#{$base-unit} * 6);
  --sjs-corner-radius-x7: calc(#{$base-unit} * 7);
  --sjs-corner-radius-x8: calc(#{$base-unit} * 8);
  --sjs-corner-radius-round: calc(#{$base-unit} * 128);
  --sjs-stroke-x1: calc(#{$base-unit} * 0.125);
  --sjs-stroke-x2: calc(#{$base-unit} * 0.25);
  --sjs-stroke-x3: calc(#{$base-unit} * 0.375);
  --sjs-stroke-x4: calc(#{$base-unit} * 0.5);
  --sjs-stroke-x6: calc(#{$base-unit} * 0.75);
  --sjs-stroke-x8: calc(#{$base-unit} * 1);
  --sjs-corner-radius-x0375: calc(#{$base-unit} * 0.375);
  --sjs-size-x0125: calc(#{$base-unit} * 0.125);
  --sjs-size-x025: calc(#{$base-unit} * 0.25);
  --sjs-size-x05: calc(#{$base-unit} * 0.5);
  --sjs-size-x075: calc(#{$base-unit} * 0.75);
  --sjs-size-x1: calc(#{$base-unit} * 1);
  --sjs-size-x125: calc(#{$base-unit} * 1.25);
  --sjs-size-x150: calc(#{$base-unit} * 1.5);
  --sjs-size-x2: calc(#{$base-unit} * 2);
  --sjs-size-x250: calc(#{$base-unit} * 2.5);
  --sjs-size-x3: calc(#{$base-unit} * 3);
  --sjs-size-x350: calc(#{$base-unit} * 3.5);
  --sjs-size-x4: calc(#{$base-unit} * 4);
  --sjs-size-x5: calc(#{$base-unit} * 5);
  --sjs-size-x6: calc(#{$base-unit} * 6);
  --sjs-size-x7: calc(#{$base-unit} * 7);
  --sjs-size-x8: calc(#{$base-unit} * 8);
  --sjs-size-x9: calc(#{$base-unit} * 9);
  --sjs-size-x10: calc(#{$base-unit} * 10);
  --sjs-size-x11: calc(#{$base-unit} * 11);
  --sjs-size-x12: calc(#{$base-unit} * 12);
  --sjs-size-x13: calc(#{$base-unit} * 13);
  --sjs-size-x14: calc(#{$base-unit} * 14);
  --sjs-size-x15: calc(#{$base-unit} * 15);
  --sjs-size-x16: calc(#{$base-unit} * 16);
  --sjs-size-x550: calc(#{$base-unit} * 5.5);
  --sjs-spacing-x1050: calc(#{$base-unit} * 10.5);
  --sjs-size-max: 10000px;
  --sjs-size-x17: calc(#{$base-unit} * 17);
  --sjs-size-x18: calc(#{$base-unit} * 18);
  --sjs-spacing-x0375: calc(#{$base-unit} * 0.375);
  --sjs-spacing-x850: calc(#{$base-unit} * 8.5);
  --sjs-spacing-x025n: -calc(#{$base-unit} * 0.25);
  --sjs-spacing-x3n: -calc(#{$base-unit} * 3);
  --sjs-spacing-x4n: -calc(#{$base-unit} * 4);
  --sjs-spacing-x05n: -calc(#{$base-unit} * 0.5);
  --sjs-spacing-x1n: -calc(#{$base-unit} * 1);
  --sjs-spacing-x150n: -calc(#{$base-unit} * 1.5);
  --sjs-spacing-x2n: -calc(#{$base-unit} * 2);
  --sjs-spacing-x5n: -calc(#{$base-unit} * 5);
  --sjs-spacing-x6n: -calc(#{$base-unit} * 6);
  --sjs-size-x64: calc(#{$base-unit} * 64);
  --sjs-size-x90: calc(#{$base-unit} * 90);
  --sjs-size-x80: calc(#{$base-unit} * 80);
  --sjs-size-x40: calc(#{$base-unit} * 40);
  --sjs-size-x32: calc(#{$base-unit} * 32);
  --sjs-size-x20: calc(#{$base-unit} * 20);
  --sjs-size-x86: calc(#{$base-unit} * 86);
  --sjs-size-x60: calc(#{$base-unit} * 60);
  --sjs-size-x28: calc(#{$base-unit} * 28);
  --sjs-size-x50: calc(#{$base-unit} * 50);
  --sjs-spacing-x7n: -calc(#{$base-unit} * 7);
  --sjs-spacing-x8n: -calc(#{$base-unit} * 8);
}
