.svc-creator {
  --spacing-x2: calc(#{$base-unit} * 2);
  --spacing-x3: calc(#{$base-unit} * 3);
  --spacing-x1: calc(#{$base-unit} * 1);
  --spacing-x05: calc(#{$base-unit} * 1);
  --spacing-x025: calc(#{$base-unit} * 0.25);
  --spacing-x0125: calc(#{$base-unit} * 0.125);
  --spacing-x150: calc(#{$base-unit} * 1.5);
  --spacing-x250: calc(#{$base-unit} * 2.5);
  --spacing-x4: calc(#{$base-unit} * 4);
  --spacing-x350: calc(#{$base-unit} * 3.5);
  --spacing-x5: calc(#{$base-unit} * 5);
  --spacing-x6: calc(#{$base-unit} * 6);
  --spacing-x7: calc(#{$base-unit} * 7);
  --spacing-x8: calc(#{$base-unit} * 8);
  --spacing-x9: calc(#{$base-unit} * 9);
  --spacing-x10: calc(#{$base-unit} * 10);
  --spacing-x11: calc(#{$base-unit} * 11);
  --spacing-x12: calc(#{$base-unit} * 12);
  --spacing-x13: calc(#{$base-unit} * 13);
  --spacing-x14: calc(#{$base-unit} * 14);
  --spacing-x15: calc(#{$base-unit} * 15);
  --spacing-x16: calc(#{$base-unit} * 16);
  --spacing-x075: calc(#{$base-unit} * 0.75);
  --spacing-x125: calc(#{$base-unit} * 1.25);
  --corner-radius-x0125: calc(#{$base-unit} * 0.125);
  --corner-radius-x025: calc(#{$base-unit} * 0.25);
  --corner-radius-x05: calc(#{$base-unit} * 1);
  --corner-radius-x075: calc(#{$base-unit} * 0.75);
  --corner-radius-x1: calc(#{$base-unit} * 1);
  --corner-radius-x125: calc(#{$base-unit} * 1.25);
  --corner-radius-x150: calc(#{$base-unit} * 1.5);
  --corner-radius-x2: calc(#{$base-unit} * 2);
  --corner-radius-x250: calc(#{$base-unit} * 2.5);
  --corner-radius-x3: calc(#{$base-unit} * 3);
  --corner-radius-x350: calc(#{$base-unit} * 3.5);
  --corner-radius-x4: calc(#{$base-unit} * 4);
  --corner-radius-x5: calc(#{$base-unit} * 5);
  --corner-radius-x6: calc(#{$base-unit} * 6);
  --corner-radius-x7: calc(#{$base-unit} * 7);
  --corner-radius-x8: calc(#{$base-unit} * 8);
  --corner-radius-round: calc(#{$base-unit} * 128);
  --stroke-x1: calc(#{$base-unit} * 0.125);
  --stroke-x2: calc(#{$base-unit} * 0.25);
  --stroke-x3: calc(#{$base-unit} * 0.375);
  --stroke-x4: calc(#{$base-unit} * 1);
  --stroke-x6: calc(#{$base-unit} * 0.75);
  --stroke-x8: calc(#{$base-unit} * 1);
  --corner-radius-x0375: calc(#{$base-unit} * 0.375);
  --size-x0125: calc(#{$base-unit} * 0.125);
  --size-x025: calc(#{$base-unit} * 0.25);
  --size-x05: calc(#{$base-unit} * 1);
  --size-x075: calc(#{$base-unit} * 0.75);
  --size-x1: calc(#{$base-unit} * 1);
  --size-x125: calc(#{$base-unit} * 1.25);
  --size-x150: calc(#{$base-unit} * 1.5);
  --size-x2: calc(#{$base-unit} * 2);
  --size-x250: calc(#{$base-unit} * 2.5);
  --size-x3: calc(#{$base-unit} * 3);
  --size-x350: calc(#{$base-unit} * 3.5);
  --size-x4: calc(#{$base-unit} * 4);
  --size-x5: calc(#{$base-unit} * 5);
  --size-x6: calc(#{$base-unit} * 6);
  --size-x7: calc(#{$base-unit} * 7);
  --size-x8: calc(#{$base-unit} * 8);
  --size-x9: calc(#{$base-unit} * 9);
  --size-x10: calc(#{$base-unit} * 10);
  --size-x11: calc(#{$base-unit} * 11);
  --size-x12: calc(#{$base-unit} * 12);
  --size-x13: calc(#{$base-unit} * 13);
  --size-x14: calc(#{$base-unit} * 14);
  --size-x15: calc(#{$base-unit} * 15);
  --size-x16: calc(#{$base-unit} * 16);
  --size-x550: calc(#{$base-unit} * 5.5);
  --spacing-x1050: calc(#{$base-unit} * 10.5);
  --size-max: 10000px;
  --size-x17: calc(#{$base-unit} * 17);
  --size-x18: calc(#{$base-unit} * 18);
  --spacing-x0375: calc(#{$base-unit} * 0.375);
  --spacing-x850: calc(#{$base-unit} * 8.5);
  // --spacing-(x025): -calc(#{$base-unit} *0.25);
  // --spacing-(x3): -calc(#{$base-unit} *3);
  // --spacing-(x4): -calc(#{$base-unit} *4);
  // --spacing-(x05): -calc(#{$base-unit} *1);
  // --spacing-(x1): -calc(#{$base-unit} *1);
  // --spacing-(x150): -calc(#{$base-unit} *1.5);
  // --spacing-(x2): -calc(#{$base-unit} *2);
  // --spacing-(x5): -calc(#{$base-unit} *5);
  // --spacing-(x6): -calc(#{$base-unit} *6);
  --size-x64: calc(#{$base-unit} * 64);
  --size-x90: calc(#{$base-unit} * 90);
  --size-x80: calc(#{$base-unit} * 80);
  --size-x40: calc(#{$base-unit} * 40);
  --size-x32: calc(#{$base-unit} * 32);
  --size-x20: calc(#{$base-unit} * 20);
  --size-x86: calc(#{$base-unit} * 86);
  --size-x60: calc(#{$base-unit} * 60);
  --size-x28: calc(#{$base-unit} * 28);
  --size-x50: calc(#{$base-unit} * 50);
  // --spacing-(x7): -calc(#{$base-unit} *7);
  // --spacing-(x8): -calc(#{$base-unit} *8);
}
