@import "../variables.scss";

.svc-creator {
  --spacing-x2: calcSize(2);
  --spacing-x3: calcSize(3);
  --spacing-x1: calcSize(1);
  --spacing-x05: calcSize(1);
  --spacing-x025: calcSize(0.25);
  --spacing-x0125: calcSize(0.125);
  --spacing-x150: calcSize(1.5);
  --spacing-x250: calcSize(2.5);
  --spacing-x4: calcSize(4);
  --spacing-x350: calcSize(3.5);
  --spacing-x5: calcSize(5);
  --spacing-x6: calcSize(6);
  --spacing-x7: calcSize(7);
  --spacing-x8: calcSize(8);
  --spacing-x9: calcSize(9);
  --spacing-x10: calcSize(10);
  --spacing-x11: calcSize(11);
  --spacing-x12: calcSize(12);
  --spacing-x13: calcSize(13);
  --spacing-x14: calcSize(14);
  --spacing-x15: calcSize(15);
  --spacing-x16: calcSize(16);
  --spacing-x075: calcSize(0.75);
  --spacing-x125: calcSize(1.25);
  --corner-radius-x0125: calcSize(0.125);
  --corner-radius-x025: calcSize(0.25);
  --corner-radius-x05: calcSize(1);
  --corner-radius-x075: calcSize(0.75);
  --corner-radius-x1: calcSize(1);
  --corner-radius-x125: calcSize(1.25);
  --corner-radius-x150: calcSize(1.5);
  --corner-radius-x2: calcSize(2);
  --corner-radius-x250: calcSize(2.5);
  --corner-radius-x3: calcSize(3);
  --corner-radius-x350: calcSize(3.5);
  --corner-radius-x4: calcSize(4);
  --corner-radius-x5: calcSize(5);
  --corner-radius-x6: calcSize(6);
  --corner-radius-x7: calcSize(7);
  --corner-radius-x8: calcSize(8);
  --corner-radius-round: calcSize(128);
  --stroke-x1: calcSize(0.125);
  --stroke-x2: calcSize(0.25);
  --stroke-x3: calcSize(0.375);
  --stroke-x4: calcSize(1);
  --stroke-x6: calcSize(0.75);
  --stroke-x8: calcSize(1);
  --corner-radius-x0375: calcSize(0.375);
  --size-x0125: calcSize(0.125);
  --size-x025: calcSize(0.25);
  --size-x05: calcSize(1);
  --size-x075: calcSize(0.75);
  --size-x1: calcSize(1);
  --size-x125: calcSize(1.25);
  --size-x150: calcSize(1.5);
  --size-x2: calcSize(2);
  --size-x250: calcSize(2.5);
  --size-x3: calcSize(3);
  --size-x350: calcSize(3.5);
  --size-x4: calcSize(4);
  --size-x5: calcSize(5);
  --size-x6: calcSize(6);
  --size-x7: calcSize(7);
  --size-x8: calcSize(8);
  --size-x9: calcSize(9);
  --size-x10: calcSize(10);
  --size-x11: calcSize(11);
  --size-x12: calcSize(12);
  --size-x13: calcSize(13);
  --size-x14: calcSize(14);
  --size-x15: calcSize(15);
  --size-x16: calcSize(16);
  --size-x550: calcSize(5.5);
  --spacing-x1050: calcSize(10.5);
  --size-max: 10000px;
  --size-x17: calcSize(17);
  --size-x18: calcSize(18);
  --spacing-x0375: calcSize(0.375);
  --spacing-x850: calcSize(8.5);
  // --spacing-(x025): -calcSize(0.25);
  // --spacing-(x3): -calcSize(3);
  // --spacing-(x4): -calcSize(4);
  // --spacing-(x05): -calcSize(1);
  // --spacing-(x1): -calcSize(1);
  // --spacing-(x150): -calcSize(1.5);
  // --spacing-(x2): -calcSize(2);
  // --spacing-(x5): -calcSize(5);
  // --spacing-(x6): -calcSize(6);
  --size-x64: calcSize(64);
  --size-x90: calcSize(90);
  --size-x80: calcSize(80);
  --size-x40: calcSize(40);
  --size-x32: calcSize(32);
  --size-x20: calcSize(20);
  --size-x86: calcSize(86);
  --size-x60: calcSize(60);
  --size-x28: calcSize(28);
  --size-x50: calcSize(50);
  // --spacing-(x7): -calcSize(7);
  // --spacing-(x8): -calcSize(8);
}
