@import "../../variables.scss";

.svc-toolbox__item {
  display: flex;
  position: relative;
  align-items: center;
  z-index: 20;
  outline: none;
  padding: 0 calcSize(1.5);

  sv-svg-icon,
  .sv-svg-icon {
    display: block;
    height: calcSize(3);
  }
}

.svc-toolbox__tool {
  sv-svg-icon,
  .sv-svg-icon {
    pointer-events: none;
  }
}


// is always visible
.svc-toolbox__item-container {
  outline: none;

  .sv-svg-icon use {
    fill: $foreground-light;
  }
  padding: calcSize(1) 0;
}

//is visible only on hover
.svc-toolbox__item-banner {
  opacity: 0;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  margin-right: 0;
  margin-left: calcSize(-4.5);
  height: calcSize(5);

  .svc-toolbox__item-icon {
    position: absolute;
    display: block;
    left: calcSize(1.5);
    top: calcSize(1);
  }

  .svc-toolbox__item-title {
    color: $foreground;
  }

  .sv-svg-icon use {
    fill: $primary;
  }
}

.svc-creator__toolbox--right,
[dir="rtl"],
[style*="direction:rtl"],
[style*="direction: rtl"] {


  .svc-toolbox__tool:hover,
  .svc-toolbox__tool--hovered,
  .svc-toolbox__item:focus {
    .svc-toolbox__item-banner {
      padding-right: calcSize(1.5);
      padding-left: calcSize(2);
      margin-left: calcSize(-2);
      margin-right: calcSize(-3);
      flex-direction: row-reverse;
      transform: translateX(calc(1.5 * #{$base-unit}));
      .svc-toolbox__item-title {
        padding-right: calcSize(4);
        padding-left: calcSize(1);
      }
    }
  }

  .svc-toolbox__item-banner {
    margin-right: calcSize(-4.5);
    margin-left: 0;
  }

  .svc-toolbox__item {
    flex-direction: row-reverse;
  }

  .svc-toolbox__tool.sv-dots {
    place-self: flex-end;
  }

  .svc-toolbox__category {
    align-items: flex-end;
  }
  .svc-toolbox__tool {
    align-items: flex-end;
  }

  .svc-toolbox__item-banner {
    .svc-toolbox__item-icon {
      left: auto;
      right: calcSize(1.5);
    }
  }
}

.svc-toolbox__item-title {
  @include smallBold;

  display: block;
  padding-left: calcSize(1);
  padding-right: calcSize(1.5);
  white-space: nowrap;
  color: $foreground-light;
}

.svc-toolbox__tool:hover,
.svc-toolbox__tool--hovered,
.svc-toolbox__item:focus {
  .svc-toolbox__item-banner {
    max-width: calcSize(100);
    padding-left: calcSize(1.5);
    padding-right: calcSize(2);
    margin-right: calcSize(-2);
    opacity: 1;

    .svc-toolbox__item-title {
      padding-left: calcSize(4);
    }
  }
}

.svc-toolbox:not(.svc-toolbox--compact) {
  .svc-toolbox__item:not(.sv-dots):focus,
  .svc-toolbox__tool--hovered .svc-toolbox__item:not(.sv-dots),
  .svc-toolbox__item:not(.sv-dots):hover {
    overflow: hidden;
    border-radius: calcSize(12.5);
    background-color: $background;
    box-shadow: $shadow-medium;
    transition: 0.1s ease-in-out;

    .svc-toolbox__item-title {
      color: $foreground;
    }

    .sv-svg-icon use {
      fill: $primary;
    }
  }
}

.svc-toolbox__tool .sv-dots__item:hover:enabled,
.svc-toolbox__tool .sv-dots__item:focus:enabled,
.svc-toolbox__tool .sv-dots__item.sv-action-bar-item--pressed {
  background-color: $primary-light;
  border-radius: calcSize(12.5);

  .sv-svg-icon use {
    fill: $primary;
  }
}

[dir="rtl"],
[style*="direction:rtl"],
[style*="direction: rtl"] {
  .svc-toolbox-popup {
    direction: rtl;
  }
}

.svc-toolbox-popup {
  .sv-list__item {
    &:first-child {
      .sv-list__item-separator {
        display: none;
      }
    }

    .sv-list__item-body {
      padding-top: calcSize(1.5);
      padding-bottom: calcSize(1.5);
      padding-inline-start: calcSize(2);
      padding-inline-end: calcSize(5);
    }
  }
}

.svc-toolbox,
.svc-toolbox:not(.svc-toolbox--compact) {
  .svc-toolbox__tool--pressed {
    .svc-toolbox__item:not(.sv-dots),
    .svc-toolbox__item:not(.sv-dots):hover {
      .sv-svg-icon use {
        fill: $foreground;
        opacity: 0.5;
      }

      color: $foreground;
      opacity: 0.5;
    }
  }
}

.toolbox-subtypes {
  .sv-popup__container {
    box-shadow: unset;
    background: unset;
  }

  .sv-popup__shadow {
    box-shadow: unset;
  }

  .sv-popup__body-content {
    background: unset;
    padding: 0;
  }
  .sv-popup__scrolling-content {
    padding: calcSize(1) calcSize(2);
  }

  .sv-list__item:hover > .sv-list__item-body,
  .sv-list__item:focus > .sv-list__item-body {
    background-color: unset;
  }

  .svc-toolbox__item.svc-toolbox__item-subtype:not(.sv-dots),
  .svc-toolbox__item.svc-toolbox__item-subtype:not(.sv-dots) {
    opacity: var(--ctr-toolbox-item-opacity-second-level, 0.75);
    overflow: hidden;
    border-radius: calcSize(12.5);
    background-color: $background-dim-light;
    box-shadow: $shadow-small, $shadow-medium;
    transition: 0.1s ease-in-out;
    padding: calcSize(1.5) calcSize(2);

    &:hover,
    &:focus {
      background-color: $background;
      opacity: 1;
    }
    .svc-toolbox__item-title {
      color: $foreground-dim;
    }
  }

  .svc-toolbox__item-title {
    padding: 0;
  }
}
