@import "../../variables.scss";

.svc-toolbox__item {
  display: flex;
  position: relative;
  align-items: center;
  z-index: 1;
  outline: none;
  cursor: copy;

  sv-svg-icon,
  .sv-svg-icon {
    display: block;
    height: 24px;
  }
}

// is always visible
.svc-toolbox__item-container {
  padding: calcSize(1) 12px;
  outline: none;

  .sv-svg-icon use {
    fill: $foreground-light;
  }
}

//is visible only on hover
.svc-toolbox__item-banner {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  position: absolute;
  top: 0;
  height: 100%;
  max-width: 0;
  overflow: hidden;
  border-radius: 100px;
  background-color: $background;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  transition: max-width 0.1s ease-in-out, padding 0.2s ease-in-out;

  .sv-svg-icon use {
    fill: $primary;
  }
}

.svc-toolbox__item-title {
  display: block;
  margin-left: calcSize(1);
  white-space: nowrap;
  font-family: $font-family;
  font-weight: 600;
  font-size: 12px;
}

.svc-toolbox__item:hover {
  .svc-toolbox__item-banner {
    max-width: 200px;
    padding-left: 12px;
    padding-right: calcSize(2);
  }
}
