@use "../../variables" as *;

.svc-toolbox__item {
  display: flex;
  position: relative;
  align-items: center;
  outline: none;
  padding-top: var(--sjs2-spacing-x100);
  padding-bottom: var(--sjs2-spacing-x100);
  padding-inline-end: var(--sjs2-spacing-x200);
  padding-inline-start: var(--sjs2-spacing-x150);
  border-radius: var(--sjs2-radius-x100);
  cursor: pointer;
}
.svc-toolbox__item-icon {
  display: block;
  height: var(--sjs2-line-height-x300);
  width: var(--sjs2-line-height-x300);
  pointer-events: none;
}
.svc-toolbox__tool {
  cursor: default;
  width: initial;
  align-items: stretch;
  align-self: stretch;
  &:first-of-type > .svc-toolbox__tool-content {
    padding-block-start: 0;
    .svc-toolbox__item-banner {
      top: 50%;
    }
    .svc-toolbox__item-submenu-button {
      top: 0;
    }
  }
}

.svc-toolbox__tool.sd-menu-list__item {
  padding: 0;
}

.svc-toolbox__tool-content {
  display: flex;
  padding-block-start: var(--sjs2-spacing-x050);
  flex-direction: column;
  align-items: stretch;
  position: relative;
  & > * {
    flex: 0 0 auto;
  }
}
.svc-toolbox__tool--hidden {
  height: 0px;
  overflow: hidden;
  visibility: hidden;
  .svc-toolbox__tool-content {
    min-width: fit-content;
  }
}

.svc-toolbox__item--has-subitems {
  padding-inline-end: var(--sjs2-spacing-x600);
}

.svc-toolbox__tool--has-subitems {
  align-items: stretch;
  align-self: stretch;
}

// is always visible
.svc-toolbox__item-container {
  display: flex;
  outline: none;
  use {
    fill: var(--sjs2-color-bg-brand-primary);
  }
}

//is visible only on hover
.svc-toolbox__item-banner {
  @include sjs2--typography--small-strong;
  opacity: var(--sjs2-opacity-hidden);
  box-sizing: border-box;
  align-items: center;
  inset-inline-start: var(--thm-toolbox-item-banner-left);
  max-width: calc(var(--sjs2-base-unit-size) * 100);
  padding: var(--sjs2-spacing-x200) var(--sjs2-spacing-x300);
  margin-inline-end: var(--sjs2-spacing-negative-x200);
  white-space: nowrap;
  color: var(--sjs2-color-fg-basic-primary);
  transition: opacity $creator-transition-duration;
  /* Shadow / Medium */
  border-radius: var(--sjs2-radius-x075);
  box-shadow: var(--sjs2-border-effect-floating-default);
  // transition:
  //   max-width 0.1s ease-in-out,
  //   padding 0.2s ease-in-out;
  background-color: var(--sjs2-color-bg-basic-primary);
  overflow: visible;
  position: absolute;
  z-index: 200;
  top: calc(50% + var(--sjs2-spacing-x025));
  transform: translate(0, -50%);
  pointer-events: none;
  .svc-toolbox__item-icon {
    position: absolute;
    display: none;
    inset-inline-start: var(--sjs2-spacing-x150);
    top: var(--sjs2-spacing-x100);
  }

  &:after {
    content: " ";
    display: block;
    width: calc(var(--sjs2-size-x050) * 1.41);
    height: calc(var(--sjs2-size-x050) * 1.41);
    background: var(--sjs2-color-bg-basic-primary);
    border-top-color: transparent;
    border-inline-end-color: transparent;
    box-shadow: var(--sjs2-border-effect-floating-default);
    align-self: center;
    position: absolute;
    inset-inline-end: 100%;
    top: 50%;
    z-index: 300;
    transform: translate(
        calc(var(--sjs2-size-x050) / 1.41),
        calc(var(--sjs2-size-x050) / -1.41)
      )
      rotate(45deg);
    clip-path: polygon(-100% -100%, -100% 200%, 200% 200%);
  }

  .sv-svg-icon use {
    fill: var(--sjs2-color-bg-brand-primary);
  }
}

.svc-toolbox__item-title {
  @include sjs2--typography--small-strong;

  display: block;
  padding-inline-start: var(--sjs2-spacing-x100);
  padding-inline-end: var(--sjs2-spacing-x150);
  white-space: nowrap;
  color: var(--sjs2-color-fg-basic-primary);
  overflow: hidden;
  text-overflow: ellipsis;
}

.svc-toolbox__tool:hover:not(.svc-toolbox__tool--disabled),
.svc-toolbox__tool:focus-within:not(.svc-toolbox__tool--disabled) {
  .svc-toolbox__item-banner {
    display: flex;  
    opacity: var(--sjs2-opacity-visible);
    pointer-events: initial;
  }
}

.svc-toolbox__tool--disabled {
  pointer-events: none;

  use {
    opacity: var(--sjs2-opacity-disabled);
    fill: var(--sjs2-color-fg-basic-primary);
  }
  .svc-toolbox__item-title {
    opacity: var(--sjs2-opacity-disabled);
  }
}

.svc-toolbox__tool:not(.svc-toolbox__tool--disabled) .svc-toolbox__item:focus,
.svc-toolbox__tool--has-subitems:hover:not(.svc-toolbox__tool--disabled)
  > .svc-toolbox__tool-content
  > .svc-toolbox__item,
.svc-toolbox__tool:not(.svc-toolbox__tool--disabled) .svc-toolbox__item:hover {
  overflow: visible;
  background-color: var(--sjs2-color-bg-brand-secondary);
  transition: 0.1s ease-in-out;

  .svc-toolbox--compact {
    .svc-toolbox__item:focus,
    .svc-toolbox__tool--has-subitems:hover > .svc-toolbox__tool-content > .svc-toolbox__item,
    .svc-toolbox__item:hover {
      background-color: transparent;
      box-shadow: none;
    }
  }

  .svc-toolbox__item-title {
    color: var(--sjs2-color-fg-basic-primary);
  }

  .sv-svg-icon use {
    fill: var(--sjs2-color-bg-brand-primary);
  }
}

.svc-toolbox__tool .sv-dots__item:hover:enabled,
.svc-toolbox__tool .sv-dots__item:focus:enabled,
.svc-toolbox__tool .sv-dots__item.sv-action-bar-item--pressed {
  background-color: var(--sjs2-color-bg-brand-secondary);
  border-radius: var(--sjs2-radius-x100);
  box-shadow: none;

  .sv-svg-icon use {
    fill: var(--sjs2-color-bg-brand-primary);
  }
}
.svc-toolbox__item-submenu-button {
  position: absolute;
  inset-inline-end: var(--sjs2-spacing-x200);
  margin-inline-end: var(--sjs2-spacing-negative-x100);
  top: var(--sjs2-spacing-x050);
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  height: fit-content;
  display: inline-flex;
  padding: var(--sjs2-spacing-x050);
  box-sizing: border-box;
  align-items: center;
  border-radius: var(--sjs2-radius-x050);
  background-color: var(--sjs2-color-bg-basic-primary);
  transition: background-color $creator-transition-duration;
  &:hover {
    background-color: var(--sjs2-color-bg-brand-secondary);
  }
  svg {
    fill: var(--sjs2-color-fg-basic-secondary);
    width: var(--sjs2-line-height-x200);
    height: var(--sjs2-line-height-x200);
  }
}

.svc-toolbox-popup {
  .sv-list__item {
    &:first-of-type {
      .sv-list__item-separator {
        display: none;
      }
    }

    .sv-list__item-body {
      padding-top: var(--sjs2-spacing-x150);
      padding-bottom: var(--sjs2-spacing-x150);
      padding-inline-start: var(--sjs2-spacing-x200);
      padding-inline-end: var(--sjs2-spacing-x500);
    }
  }
}

.svc-toolbox__tool.svc-toolbox__tool--pressed:not(.svc-toolbox__tool--disabled) {
  .svc-toolbox__item {
    background: var(--sjs2-color-bg-basic-primary-dim);
  }

  .svc-toolbox__item-title {
    color: var(--sjs2-color-fg-basic-primary);
    opacity: var(--sjs2-opacity-pressed);
  }

  .sv-svg-icon use {
    fill: var(--sjs2-color-fg-basic-primary);
    opacity: var(--sjs2-opacity-pressed);
  }

  .svc-toolbox__item.svc-toolbox__item-subtype {
    opacity: unset;
  }
}

.svc-toolbox-subtypes {
  .sv-popup__container {
    margin-top: var(--sjs2-spacing-negative-x250);
    margin-inline-start: calc(var(--sjs2-spacing-x250) + var(--sjs2-border-width-x100));
    padding: 0;
    box-shadow: unset;
  }

  .sv-list__container {
    flex-wrap: wrap;
    column-gap: var(--sjs2-spacing-x200);
    row-gap: var(--sjs2-spacing-x050);
  }

  & > .sv-popup__container > .sv-popup__body-content {
    border-radius: var(--sjs2-radius-x100);
    box-shadow: var(--sjs2-border-effect-floating-default);
    padding: 0;
  }

  .sv-popup__scrolling-content {
    padding: var(--sjs2-spacing-x150);
    overflow: visible;
    box-sizing: border-box;
  }

  .sv-list__item:hover > .sv-list__item-body,
  .sv-list__item:focus > .sv-list__item-body {
    background-color: unset;
  }

  .svc-toolbox__item.svc-toolbox__item-subtype {
    opacity: var(--sjs2-opacity-visible);
    overflow: hidden;
    border-radius: var(--sjs2-radius-x100);
    background: var(--sjs2-color-bg-basic-primary);
    transition: 0.1s ease-in-out;
    padding: var(--sjs2-spacing-x150) var(--sjs2-spacing-x200);
    align-self: flex-start;
    min-width: calc(var(--sjs2-base-unit-size) * 17);
    box-sizing: border-box;

    .svc-toolbox__item-title {
      color: var(--sjs2-color-fg-basic-primary);
    }
  }

  .svc-toolbox__tool:hover,
  .svc-toolbox__item:focus {
    .svc-toolbox__item-subtype {
      background: var(--sjs2-color-bg-brand-secondary);
      opacity: unset;

      .svc-toolbox__item-title {
        color: var(--sjs2-color-fg-basic-primary);
      }
    }
  }

  .svc-toolbox__item-title {
    padding: 0;
  }

  .svc-toolbox__tool-content {
    padding-block-start: 0;
  }
}

.svc-toolbox__tool--dots {
  align-self: flex-start;
}
.svc-toolbox__item--dots {
  padding-inline-end: var(--sjs2-spacing-x150);
  margin-top: var(--sjs2-spacing-x050);
  &.sd-action--pressed {
    opacity: var(--sjs2-opacity-pressed);
  }
}
.svc-toolbox--compact {
  .svc-toolbox__item-submenu-button {
    display: none;
  }
  .svc-toolbox__tool {
    padding: 0px var(--sjs2-spacing-x050);
    align-self: flex-start;
    pointer-events: all;
  }
  .svc-toolbox__tool--disabled {
    pointer-events: none;
  }
  .svc-toolbox__search-button {
    padding-inline-start: var(--sjs2-spacing-x050);
  }
  .svc-toolbox__item {
    padding-inline-start: var(--sjs2-spacing-x100);
    padding-inline-end: var(--sjs2-spacing-x100);
    box-sizing: border-box;
    align-self: flex-start;
  }
  .svc-toolbox__tool--dots {
    padding-inline-end: 0;
    padding-inline-start: 0;
  }
  .svc-toolbox__item--dots {
    padding-inline-end: var(--sjs2-spacing-x200);
    padding-inline-start: var(--sjs2-spacing-x150);
  }
}
