@use "../../variables" as *;

.svc-toolbox {
  --thm-toolbox-width-compact: calc(var(--sjs2-line-height-x300) + var(--sjs2-spacing-x600));

  --thm-toolbox-item-banner-left: calc(
    var(--sjs2-line-height-x300) + var(--sjs2-spacing-x300) + var(--sjs2-spacing-x150) + var(--sjs2-size-x100)
  );

  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
}

.svc-toolbox__panel {
  position: relative;
  flex-grow: 1;
  flex-shrink: 1;
  height: 0;
  display: flex;
  flex-direction: column;
  border-inline-end: var(--sjs2-border-width-x100) solid
    var(--sjs2-color-border-basic-secondary-for-tests-only, var(--sjs2-color-border-basic-secondary));
  background: var(--sjs2-color-utility-toolbox);
  min-width: calc(var(--sjs2-base-unit-size) * 20);
  box-sizing: content-box;
}

.svc-toolbox {
  .sv-scroll__wrapper {
    height: 0;
    flex-grow: 1;
  }

  .sv-scroll__scroller {
    padding: var(--sjs2-spacing-x150) var(--sjs2-spacing-x150)
      var(--sjs2-spacing-x200) var(--sjs2-spacing-x150);
    align-items: flex-start;

  }
  .sv-scroll__scrollbar {
    inset-inline-end: 0;
    inset-inline-start: auto;
    padding: var(--sjs2-spacing-x150) 0 var(--sjs2-spacing-x200) 0;
  }
}

.svc-toolbox--scrollable {
  // --toolbox-width: calc(var(--sjs2-base-unit-size) * 20);
}
.svc-toolbox--compact {
  .svc-toolbox__panel {
    overflow: visible;
    width: var(--thm-toolbox-width-compact);
    min-width: var(--thm-toolbox-width-compact);
  }
  .sv-scroll__scroller {
    width: 100vw;
    padding: var(--sjs2-spacing-x150) var(--sjs2-spacing-x150)
      var(--sjs2-spacing-x200) var(--sjs2-spacing-x150);
    pointer-events: none;
  }
  .svc-search {
    opacity: var(--sjs2-opacity-hidden);
    position: absolute;
  }
  .svc-toolbox__search-container {
    padding-top: var(--sjs2-spacing-x150);
    padding-inline-start: var(--sjs2-spacing-x150);
    padding-inline-end: var(--sjs2-spacing-x150);
    padding-bottom: calc(var(--sjs2-spacing-x100) + var(--sjs2-spacing-x050));
  }
  .svc-toolbox__category-separator {
    box-sizing: content-box;
    padding-inline-end: var(--sjs2-spacing-x200);
    padding-inline-start: var(--sjs2-spacing-x200);
    margin-inline-end: var(--sjs2-spacing-negative-x200);
    margin-inline-start: var(--sjs2-spacing-negative-x200);
  }
  .svc-toolbox__category-separator--search {
    margin-inline-end: 0;
    margin-inline-start: 0;
  }
}

.svc-toolbox__tool.svc-toolbox__search-button {
  z-index: 20;
  justify-content: center;
  align-items: center;
  width: fit-content;
  svg {
    height: var(--sjs2-line-height-x300);
    width: var(--sjs2-line-height-x300);
  }
}

.svc-toolbox--flyout {
  // --toolbox-width: calc(var(--sjs2-base-unit-size) * 20);
  overflow: visible;
  overflow: visible;
  width: var(--thm-toolbox-width-compact);
  max-width: var(--thm-toolbox-width-compact);
  overflow: visible;
  border-inline-end: var(--sjs2-border-width-x100) solid transparent;

  .svc-search {
    opacity: var(--sjs2-opacity-visible);
    position: relative;
  }

  .svc-toolbox__panel {
    z-index: 200;
    width: fit-content;
    position: relative;
    box-shadow: var(--sjs2-border-effect-floating-default);
    transition: box-shadow $creator-transition-duration;
  }
}
.svc-toolbox--searchable {
  .svc-toolbox__search-container {
    display: flex;
  }
}
.svc-toolbox__search-container {
  position: sticky;
  top: 0;
  display: none;
  flex-direction: column;
  box-sizing: border-box;
  background: var(--sjs2-color-utility-toolbox);
  border-bottom: var(--sjs2-border-width-x100) solid transparent;

  svg {
    pointer-events: none;
  }
}

.svc-toolbox__category {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: var(--sjs2-spacing-x050);
  &:last-child {
    margin-bottom: 0;
  }
}

.svc-toolbox__category-separator {
  box-sizing: border-box;
  padding-top: var(--sjs2-spacing-x100);
  padding-inline-end: 0;
  padding-bottom: var(--sjs2-spacing-x100);
  padding-inline-start: var(--sjs2-spacing-x200);
  margin-top: var(--sjs2-spacing-x050);
  margin-inline-end: var(--sjs2-spacing-negative-x150);
  margin-inline-start: var(--sjs2-spacing-negative-x150);
  max-width: 10000px;
  &:after {
    content: "";
    display: block;
    height: var(--sjs2-border-width-x100);
    background-color: var(--sjs2-color-border-basic-secondary-for-tests-only, var(--sjs2-color-border-basic-secondary));
  }
}

.svc-toolbox__category-separator--search {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  margin-top: 0;
  max-width: initial;
}

.svc-toolbox--no-separators {
  .svc-toolbox__category-separator {
    display: none;
  }
  .svc-toolbox__category-separator--search {
    display: block;
  }
}

.svc-toolbox__category-header-wrapper {
  padding: 0 var(--sjs2-spacing-x150);
  margin-inline-start: var(--sjs2-spacing-negative-x150);
  margin-inline-end: var(--sjs2-spacing-negative-x150);
  align-self: stretch;
}
.svc-toolbox__category-header {
  min-height: var(--sjs2-size-x500);
  padding-top: var(--sjs2-spacing-x100);
  padding-inline-end: var(--sjs2-spacing-x100);
  padding-bottom: var(--sjs2-spacing-x100);
  padding-inline-start: var(--sjs2-spacing-x200);

  border-radius: var(--sjs2-radius-x100);
  background: var(--sjs2-color-bg-basic-primary-dim);

  box-sizing: border-box;
  width: 100%;
  min-width: calc(var(--sjs2-base-unit-size) * 20);
  position: relative;
  display: flex;
  align-items: center;
}

.svc-toolbox__category-header--collapsed {
  cursor: pointer;
}

.svc-toolbox__category-title {
  @include sjs2--typography--small-strong;
  color: var(--sjs2-color-fg-basic-primary);
  vertical-align: middle;
  display: block;
  flex-grow: 1;
}

.svc-toolbox__category-header__controls {
  inset-inline-end: var(--sjs2-spacing-x100);
  top: var(--sjs2-spacing-x100);
  display: flex;
  opacity: var(--sjs2-opacity-hidden);
  align-self: center;
  margin-top: -50%;
  margin-bottom: -50%;
  transition: opacity $creator-transition-duration;
}

.svc-toolbox__category-header__button {
  fill: var(--sjs2-color-fg-basic-primary-muted);
  height: var(--sjs2-line-height-x300);
  width: var(--sjs2-line-height-x300);
}

.svc-toolbox__category-header:hover {
  .svc-toolbox__category-header__controls {
    opacity: var(--sjs2-opacity-visible);
  }
}

.svc-toolbox__category--collapsed {
  .svc-toolbox__tool {
    height: 0;
    visibility: hidden;
  }
}

.svc-toolbox__category--empty {
  height: 0;
  visibility: hidden;
}

.svc-toolbox__placeholder {
  @include sjs2--typography--small;
  padding-top: calc(var(--sjs2-base-unit-spacing) * 13.5);
  margin-inline-start: auto;
  margin-inline-end: auto;
  color: var(--sjs2-color-fg-basic-secondary);
}

.svc-toolbox--disabled {
  pointer-events: none;
  .svc-toolbox__search-button {
    pointer-events: none;
  }
}
