@use "../../variables" as *;

.svc-toolbox {
  .svc-search {
    padding-top: var(--ctr-toolbox-search-padding-top, var(--sjs-spacing-x250));
    padding-inline-end: var(--ctr-toolbox-search-padding-right, var(--sjs-spacing-x2));
    padding-bottom: var(--ctr-toolbox-search-padding-bottom, var(--sjs-spacing-x250));
    padding-inline-start: var(--ctr-toolbox-search-padding-left, var(--sjs-spacing-x3));
    gap: var(--ctr-toolbox-search-gap, var(--sjs-spacing-x1));
    height: unset;

    width: unset;
    flex-grow: 1;
    border-bottom: none;
  }

  .svc-search__input {
    color: var(--sjs2-color-component-input-default-value, #1C1B20);
  }
  .svc-search__input::placeholder {
    color: var(--sjs2-color-component-input-default-placeholder, rgba(28 27 32 / 0.6));
  }
  .svc-search__bar-item {
    &:hover:enabled {
      background-color: var(--sjs2-color-bg-alert-secondary, rgba(229 10 62 / 0.1));
      svg use {
        fill: var(--sjs2-color-fg-alert-primary, #C30935);
      }
    }
  }

  .svc-search__search-icon {
    width: var(--ctr-toolbox-search-icon-width, var(--sjs-font-size-x3));
    height: var(--ctr-toolbox-search-icon-height, var(--sjs-font-size-x3));
  
    .sv-svg-icon {
      width: var(--ctr-toolbox-search-icon-width, var(--sjs-font-size-x3));
      height: var(--ctr-toolbox-search-icon-height, var(--sjs-font-size-x3));
  
      use {
        fill: var(--sjs2-color-fg-brand-primary, #19B394);
      }
    }
  }
}