@import "../../variables.scss";

svc-toolbox {
  display: flex;
  flex-direction: column;
}

.svc-toolbox {
  height: 100%;
  padding: calcSize(2);
  box-sizing: border-box;
  overflow-y: auto;
  direction: rtl;
}

.svc-toolbox--compact {
  width: calcSize(10.5);
  overflow: visible;
  direction: ltr;
}

.svc-toolbox__container {
  direction: ltr;
}

.svc-toolbox__category {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.svc-toolbox__tool > .sv-action__content {
  padding-right: 0;
}

.svc-toolbox__tool:not(.sv-dots) {
  display: flex;
  width: 100%;
  padding-right: calcSize(1);
}

.svc-toolbox__tool .sv-dots__item {
  width: calcSize(6);
}

.svc-toolbox__category-separator {
  height: calcSize(0.1);
  width: calcSize(6);
  background-color: $border;
  margin: calcSize(1) 0;
}

.svc-toolbox__category-header {
  height: calcSize(5);
  padding: calcSize(1.5);
  background: $background-dim;
  // box-shadow: 0px 1px 0px $border;
  border-bottom: 1px solid $border;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  cursor: pointer;
}

.svc-toolbox__category-title {
  font-family: "Open Sans";
  font-size: calcSize(1.5);
  font-weight: bold;
  line-height: calcSize(2);
  color: $foreground;
  vertical-align: middle;
}

.svc-toolbox__category-header__controls {
  position: absolute;
  right: calcSize(1.2);
  top: calcSize(1.2);
  display: none;
}

.svc-toolbox__category-header:hover {
  .svc-toolbox__category-header__controls {
    display: block;
  }
}

.svc-toolbox__tool {
  .sv-action__content {
    display: block;
  }
}