@import "../../variables.scss";

svc-toolbox {
  display: flex;
  flex-direction: column;
  position: absolute;
}

.svc-toolbox {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: var(--ctr-toolbox-min-width, calcSize(28));
  .spg-search-editor_container {
    background: var(--ctr-toolbox-background-color, $background-dim);
    padding-top: calcSize(1);
    padding-inline-end: calcSize(0.5);
    padding-bottom: calcSize(2.5);
    padding-inline-start: calcSize(1.5);
    width: unset;
    flex-grow: 1;
    border-bottom: none;
  }

  .spg-search-editor_input {
    width: 0;
    flex-grow: 1;
  }

  .spg-search-editor_toolbar-counter {
    display: none;
  }

  .spg-search-editor_bar-item.sv-action-bar-item:not(.sv-action-bar-item--pressed) {
    &:hover:enabled {
      background-color: var(--ctr-toolbox-search-clear-button-background-color-hovered, $red-light);
      border-radius: 100px;

      svg use {
        fill: var(--ctr-toolbox-search-clear-button-icon-color-hovered, $red);
      }
    }
  }
}

.svc-toolbox__panel {
  position: relative;
  flex-grow: 1;
  flex-shrink: 1;
  height: 0;
  display: flex;
  flex-direction: column;
  border-inline-end: var(--ctr-toolbox-border-width-right, 0px) solid var(--ctr-toolbox-border-color, transparent);
  background: var(--ctr-toolbox-background-color, $background-dim);
}

.svc-toolbox__scroll-wrapper {
  position: relative;
  flex-grow: 1;
  flex-shrink: 1;
  height: 0;
  display: flex;
  flex-direction: column;
}

.svc-toolbox__scroller {
  padding: var(--ctr-toolbox-padding-top, calcSize(1.5)) var(--ctr-toolbox-group-padding-right, calcSize(1.5))
    var(--ctr-toolbox-padding-bottom, calcSize(2)) var(--ctr-toolbox-group-padding-left, calcSize(1.5));
  box-sizing: border-box;
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  align-items: var(--ctr-toolbox-scroller-align-items, flex-end);

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
}

.svc-toolbox__scrollbar {
  position: absolute;
  top: 0;
  bottom: 0;
  inset-inline-end: var(--ctr-toolbox-scrollbar-right, initial);
  inset-inline-start: var(--ctr-toolbox-scrollbar-left, 0);
  overflow-y: scroll;
  overflow-x: hidden;
  width: calcSize(2);
  margin-inline-start: calcSize(-0.5);
  display: var(--ctr-toolbox-scrollbar-display, block);
  z-index: 30;
  @-moz-document url-prefix() {
    scrollbar-width: thin;
    scrollbar-color: $border transparent;
  }
  padding: var(--ctr-toolbox-padding-top, calcSize(1)) 0
  var(--ctr-toolbox-padding-bottom, calcSize(2)) 0;
  // &::-webkit-scrollbar-track {
  //   background: var(--ctr-toolbox-background-color, $background-dim);
  // }
}
.svc-toolbox:hover .svc-toolbox__scrollbar {
  display: block;
}
.svc-side-bar {
  .svc-toolbox__scroller {
    direction: initial;
  }
}

.svc-toolbox--compact {
  width: var(--ctr-toolbox-width-compact, calcSize(10.5));
  .svc-toolbox__panel {
    overflow: visible;
  }
  .svc-toolbox__scroller {
    width: 100vw;
    padding: var(--ctr-toolbox-padding-top, calcSize(1.5)) var(--ctr-toolbox-group-padding-right-compact, calcSize(1.5))
      var(--ctr-toolbox-padding-bottom, calcSize(2)) var(--ctr-toolbox-group-padding-left-compact, calcSize(1.5));
  }
  .spg-search-editor_container {
    opacity: 0;
    position: absolute;
  }
  .svc-toolbox__search-container {
    border-bottom: 0;
  }
  .svc-toolbox__category-separator {
    margin-top: calc(var(--ctr-toolbox-separator-padding-top, calcSize(1)) + var(--ctr-toolbox-gap, calcSize(0.5)));
    width: var(--ctr-toolbox-separator-width-compact, calcSize(5));
    margin-inline-end: calc(
      var(--ctr-toolbox-separator-padding-right-compact, calcSize(2)) -
        var(--ctr-toolbox-group-padding-left-compact, calcSize(1.5)) -
        var(--ctr-toolbox-item-margin-horizontal-no-text, 0px)
    );
    margin-bottom: var(--ctr-toolbox-separator-padding-bottom, calcSize(1));
    margin-inline-start: calc(
      var(--ctr-toolbox-separator-padding-left-compact, calcSize(2)) -
        var(--ctr-toolbox-group-padding-left-compact, calcSize(1.5)) -
        var(--ctr-toolbox-item-margin-horizontal-no-text, 0px)
    );
  }
  .svc-toolbox__category-separator--search {
    margin-inline-end: calc(
      var(--ctr-toolbox-separator-padding-right-compact, calcSize(2)) -
        var(--ctr-toolbox-group-padding-left-compact, calcSize(1.5))
    );
    margin-bottom: 0;
    margin-inline-start: calc(
      var(--ctr-toolbox-separator-padding-left-compact, calcSize(2)) -
        var(--ctr-toolbox-group-padding-left-compact, calcSize(1.5))
    );
    min-height: 1px;
  }
}

.svc-toolbox__tool.svc-toolbox__search-button {
  z-index: 20;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.svc-toolbox--flyout {
  overflow: visible;
  max-width: var(--ctr-toolbox-width-compact, calcSize(10.5));
  overflow: visible;

  .spg-search-editor_container {
    opacity: 1;
    position: relative;
  }

  .svc-toolbox__panel {
    z-index: 200;
    width: var(--ctr-toolbox-min-width, calcSize(32));
    position: relative;
    box-shadow: var(--ctr-toolbox-shadow-floating-2-offset-x, 0px) var(--ctr-toolbox-shadow-floating-2-offset-y, 8px) var(--ctr-toolbox-shadow-floating-2-blur, 16px) var(--ctr-toolbox-shadow-floating-2-spread, 0px) var(--ctr-toolbox-shadow-floating-2-color, rgba(0, 0, 0, 0.10)), 
                var(--ctr-toolbox-shadow-floating-1-offset-x, 0px) var(--ctr-toolbox-shadow-floating-1-offset-y, 2px) var(--ctr-toolbox-shadow-floating-1-blur, 6px) var(--ctr-toolbox-shadow-floating-1-spread, 0px) var(--ctr-toolbox-shadow-floating-1-color, rgba(0, 0, 0, 0.10));
  }
}
.svc-toolbox--searchable {
  .svc-toolbox__search-container {
    display: flex;
  }
}



.svc-toolbox__container {
  width: 100%;
}

.svc-toolbox__search-container {
  position: sticky;
  top: 0;
  z-index: 30;
  padding-top: var(--ctr-toolbox-padding-top, calcSize(1.5));
  padding-inline-start: var(--ctr-toolbox-group-padding-left, calcSize(1.5));
  padding-inline-end: var(--ctr-toolbox-group-padding-left, calcSize(1));
  display: none;
  flex-direction: column;
  box-sizing: border-box;
  background: var(--ctr-toolbox-background-color, $background-dim);
  border-bottom: var(--ctr-toolbox-search-border-width-bottom, 1px) solid var(--ctr-toolbox-search-border-color, #DCDCDC);

  svg {
    pointer-events: none;
  } 
}

.svc-toolbox__category {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.svc-toolbox__category-separator {
  height: 1px;
  width: var(--ctr-toolbox-separator-width, calcSize(5));
  background-color: var(--ctr-toolbox-separator-color, $border);
  margin: calcSize(1.5) calcSize(0.5) calcSize(1);
}

.svc-toolbox--filtering {
  .svc-toolbox__category-separator {
    display: none;
  }
}


.svc-toolbox__category-header-wrapper {
  padding: var(--ctr-toolbox-group-header-margin-top, 0px) var(--ctr-toolbox-group-header-margin-left, 0px) var(--ctr-toolbox-group-header-margin-bottom, 0px) var(--ctr-toolbox-group-header-margin-left, 0px);
  margin-inline-start: calc(0px - var(--ctr-toolbox-group-padding-left, calcSize(-1.5)));
  margin-inline-end: calc(0px - var(--ctr-toolbox-group-padding-right, calcSize(-1.5)));
  align-self: stretch;
}
.svc-toolbox__category-header {
  height: calcSize(5);
  padding-top: var(--ctr-toolbox-group-header-padding-top, calcSize(1.5)); 
  padding-inline-end: var(--ctr-toolbox-group-header-padding-right, calcSize(1.5)); 
  padding-bottom: var(--ctr-toolbox-group-header-padding-bottom, calcSize(1.5)); 
  padding-inline-start: var(--ctr-toolbox-group-header-padding-left, calcSize(1.5));
  
  // box-shadow: 0px 1px 0px $border;
  border-bottom: 1px solid $border;
  box-sizing: border-box;
  width: 100%;
  min-width: calcSize(20);
  position: relative;
}

.svc-toolbox__category-header--collapsed {
  cursor: pointer;
}

.svc-toolbox__category-title {
  font-family: $font-family;
  font-size: calcSize(1.5);
  font-weight: bold;
  line-height: calcSize(2);
  color: $foreground;
  vertical-align: middle;
  display: block;
}

.svc-toolbox__category-header__controls {
  position: absolute;
  inset-inline-end: calcSize(1);
  top: var(--ctr-category-header-controls-top, calcSize(1));
  display: none;
}

.svc-toolbox__category-header__button {
  fill: $foreground-light;
}

.svc-toolbox__category-header:hover {
  .svc-toolbox__category-header__controls {
    display: block;
  }
}

.svc-toolbox__category--collapsed {
  .svc-toolbox__tool {
    height: 0;
    visibility: hidden;
  }
}

.svc-toolbox__category--empty {
  height: 0;
  visibility: hidden;
}

.svc-toolbox__placeholder {
  padding-top: calcSize(12);
  margin-inline-start: auto;
  margin-inline-end: auto;
  color: var(--ctr-property-grid-placeholder-text-description-color, $foreground-light);
  @include defaultFont;
  font-size: 12px;
}
