@import "../../variables.scss";

.svc-toolbox__item {
  display: flex;
  position: relative;
  align-items: center;
  z-index: 20;
  outline: none;

  sv-svg-icon,
  .sv-svg-icon {
    display: block;
    height: calcSize(3);
  }
}

// is always visible
.svc-toolbox__item-container {
  padding: calcSize(1) calcSize(1.5);
  outline: none;

  .sv-svg-icon use {
    fill: $foreground-light;
  }
}

//is visible only on hover
.svc-toolbox__item-banner {
  display: flex;
  box-sizing: border-box;
  align-items: center;

  .svc-toolbox__item-title {
    color: $foreground;
  }
  .sv-svg-icon use {
    fill: $primary;
  }
}

.svc-creator__toolbox--right {
  .svc-toolbox__item-banner {
    flex-direction: row-reverse;
  }

  .svc-toolbox__item {
    flex-direction: row-reverse;
  }
  .svc-toolbox__tool.sv-dots {
    place-self: flex-end;
  }
  .svc-toolbox__tool {
    justify-content: flex-end;
  }
}

.svc-toolbox__item-title {
  @include smallBold;
  display: block;
  margin-left: calcSize(1);
  margin-right: calcSize(1);
  white-space: nowrap;
  color: $foreground-light;
}

.svc-toolbox__item:hover {
  .svc-toolbox__item-banner {
    max-width: calcSize(25);
    padding-left: calcSize(1.5);
    padding-right: calcSize(2);
  }
}

.svc-toolbox:not(.svc-toolbox--compact) {
  .svc-toolbox__tool:not(.sv-dots):hover {
    overflow: hidden;
    border-radius: calcSize(12.5);
    background-color: $background;
    box-shadow: 0px 2px 6px $shadow-medium;
    transition: 0.1s ease-in-out;

    .svc-toolbox__item-title {
      color: $foreground;
    }
    .sv-svg-icon use {
      fill: $primary;
    }
  }
}

.svc-toolbox__tool .sv-dots__item:hover {
  background-color: $primary-light;
  border-radius: calc(12.5 * var(--base-unit, 8px));

  .sv-svg-icon use {
    fill: $primary;
  }
}

.svc-toolbox__tool:hover {
  .svc-toolbox__item:focus {
    outline: none;
  }
}
