@import "../../variables.scss";

.svc-toolbox__item {
  display: flex;
  position: relative;
  align-items: center;
  z-index: 20;
  outline: none;
  padding-top: var(--ctr-toolbox-item-padding-top, calcSize(1));
  padding-right: var(--ctr-toolbox-item-padding-right, calcSize(1.5));
  padding-bottom: var(--ctr-toolbox-item-padding-bottom, calcSize(1));
  padding-left: var(--ctr-toolbox-item-padding-left, calcSize(1.5));

  sv-svg-icon,
  .sv-svg-icon {
    display: block;
    height: var(--ctr-toolbox-item-icon-height, calcSize(3));
    width: var(--ctr-toolbox-item-icon-width, unset);
  }
}

// is always visible
.svc-toolbox__item-container {
  outline: none;

  .sv-svg-icon use {
    fill: var(--ctr-toolbox-item-icon-color, $foreground-light);
  }
}

//is visible only on hover
.svc-toolbox__item-banner {
  opacity: 0;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  margin-right: 0;
  margin-left: calcSize(-1.5);

  .svc-toolbox__item-icon {
    position: absolute;
    display: block;
    left: calcSize(1.5);
    top: calcSize(1);
  }

  .svc-toolbox__item-title {
    color: var(--ctr-toolbox-item-text-color-hovered, $foreground);
  }

  .sv-svg-icon use {
    fill: var(--ctr-toolbox-item-icon-color-hovered, $primary);
  }
}

.svc-creator__toolbox--right,
[dir="rtl"],
[style*="direction:rtl"],
[style*="direction: rtl"] {

  .svc-toolbox__item:hover .svc-toolbox__item-banner,
  .svc-toolbox__item:focus .svc-toolbox__item-banner {
    flex-direction: row-reverse;
    padding-right: var(--ctr-toolbox-item-padding-right-rtl, calcSize(1.5));
    padding-left: var(--ctr-toolbox-item-padding-left-rtl, calcSize(2));
    margin-left: 0;
    margin-right: 0;
    transform: translateX(calc(1.5 * #{$base-unit}));

    .svc-toolbox__item-title {
      padding-left: calcSize(1);
      padding-right: calcSize(4);
    }
  }

  .svc-toolbox__item {
    flex-direction: row-reverse;
  }

  .svc-toolbox__tool.sv-dots {
    place-self: flex-end;
  }

  .svc-toolbox__category {
    align-items: flex-end;
  }

  .svc-toolbox__item-banner {
    .svc-toolbox__item-icon {
      left: auto;
      right: calcSize(1.5);
    }
  }
}

.svc-toolbox__item-title {
  @include smallBold;

  display: block;
  padding-left: calcSize(1);
  padding-right: calcSize(1.5);
  white-space: nowrap;
  color: var(--ctr-toolbox-item-text-color, $foreground-light);
}

.svc-toolbox__item:hover,
.svc-toolbox__item:focus {
  .svc-toolbox__item-banner {
    max-width: calcSize(100);
    padding-left: var(--ctr-toolbox-item-padding-left, calcSize(1.5));
    padding-right: var(--ctr-toolbox-item-padding-right, calcSize(2));
    opacity: 1;

    .svc-toolbox__item-title {
      padding-left: calcSize(4);
    }
  }
}

.svc-toolbox:not(.svc-toolbox--compact) {

  .svc-toolbox__item:not(.sv-dots):focus,
  .svc-toolbox__item:not(.sv-dots):hover {
    overflow: hidden;
    border-radius: var(--ctr-toolbox-item-corner-radius, calcSize(12.5));
    background-color: var(--ctr-toolbox-item-background-color-hovered, $background);
    box-shadow: $shadow-medium;
    transition: 0.1s ease-in-out;

    .svc-toolbox__item-title {
      color: var(--ctr-toolbox-item-text-color-hovered, $foreground);
    }

    .sv-svg-icon use {
      fill: var(--ctr-toolbox-item-icon-color-hovered, $primary);
    }
  }
}

.svc-toolbox__tool .sv-dots__item:hover:enabled,
.svc-toolbox__tool .sv-dots__item:focus:enabled,
.svc-toolbox__tool .sv-dots__item.sv-action-bar-item--pressed {
  background-color: var(--ctr-toolbox-button-background-color-pressed, $primary-light);
  border-radius: var(--ctr-toolbox-item-corner-radius, calcSize(12.5));

  .sv-svg-icon use {
    fill: var(--ctr-toolbox-item-icon-color-pressed, $primary);
  }
}

[dir="rtl"],
[style*="direction:rtl"],
[style*="direction: rtl"] {
  .svc-toolbox-popup {
    direction: rtl;
  }
}

.svc-toolbox-popup {
  .sv-list__item {
    &:first-child {
      .sv-list__item-separator {
        display: none;
      }
    }

    .sv-list__item-body {
      padding-top: calcSize(1.5);
      padding-bottom: calcSize(1.5);
      padding-inline-start: calcSize(2);
      padding-inline-end: calcSize(5);
    }
  }
}

.svc-toolbox,
.svc-toolbox:not(.svc-toolbox--compact) {
  .svc-toolbox__tool--pressed {

    .svc-toolbox__item:not(.sv-dots),
    .svc-toolbox__item:not(.sv-dots):hover {
      .sv-svg-icon use {
        fill: $foreground;
        opacity: 0.5;
      }

      color: var(--ctr-toolbox-item-text-color-hovered, $foreground);
      opacity: 0.5;
    }
  }
}