@use "../../variables" as *;
.svc-creator__toolbox--right,
[dir="rtl"],
[style*="direction:rtl"],
[style*="direction: rtl"] {
  .svc-toolbox {
    direction: rtl;
  }
  .svc-toolbox__item-banner {
    &:after {
      transform: translate(
        calc(var(--ctr-tooltip-pointer-height, var(--sjs-size-x05)) / -1.41),
        calc(var(--ctr-tooltip-pointer-height, var(--sjs-size-x05)) / -1.41)
      )
      scaleX(-1)
      rotate(45deg);
    }
  }
  .svc-toolbox__item-submenu-button {
    svg {
      transform: rotate(180deg);
    }  
  }
}
.svc-creator__toolbox--right {
  .sv-popup__body-content,
  .svc-search
  {
    direction: initial;
  }
}