.sjs-cb-wrapper {
  display: inline-block;
  margin-right: 1em;
  margin-bottom: 0.5em;
}

.sjs-cb-container {
  position: relative;
  height: 26px;
  margin: 0;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  input {
    position: absolute;
    opacity: 0;
  }
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.sjs-cb-container:hover input ~ .checkmark {
  background-color: #ccc;
}

.sjs-cb-container input:checked ~ .checkmark {
  background-color: #1ab394;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.sjs-cb-container input:checked ~ .checkmark:after {
  display: block;
}

.sjs-cb-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 7px;
  height: 12px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.sjs-cb-label {
  line-height: 1.75em;
  margin-left: 35px;
}
