$main-color: #1ab394;

@mixin svg-icon() {
  content: "";
  background-repeat: no-repeat;
  background-position: center;
}

.form-control.svd_custom_select.svd_embed_tab {
  display: inline-block;
  width: 250px;
  margin-left: 1em;
  margin-bottom: 1em;
}

.form-control.svd_custom_select {
  padding: 0;
  min-width: 100px;
  select {
    border: none;
    height: 34px;
    padding: 6px 12px;
    padding-right: 3em;
    &:focus {
      border-color: $main-color;
      outline: 0;
      box-shadow: none;
    }
  }
  &:before {
    top: -1px;
  }
}

.svd_custom_select {
  width: 100%;
  position: relative;
  display: inline-block;

  select {
    width: 100%;
    display: block;
    position: relative;
    background: transparent;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-right: 3em;

    &::-ms-expand {
      display: none;
    }
  }

  &:before {
    padding: 17px;
    position: absolute;
    right: 0;
    top: 0;
    background-color: $main-color;
    background-image: url("../images/ArrowDown_34x34.svg");
    @include svg-icon();
  }
}
