@import "../colors";

svd-designer-container {
  vertical-align: top;
}

.svd-designer-container {
}

.svd-designer-container--left-side {
  display: table-cell;
  vertical-align: top;
  width: 15%;
  max-width: 15%;
  flex-basis: 15%;
}

.svd-designer-container--right-side {
  display: table-cell;
  vertical-align: top;
  width: 35%;
  max-width: 35%;
  flex-basis: 35%;
  .svd_toolbox {
    margin-left: 1em;
  }
}

.svd-designer-tabbed-container__tab-header-container {
  padding: 0 1em;
}

.svd-designer-tabbed-container__tab-header {
  display: inline-block;
  cursor: pointer;
  font-size: 1.17em;
  text-transform: uppercase;
  padding: 5px 10px 10px 10px;
  border-bottom: 4px solid transpereant;
  &:hover {
    color: $primary-color;
  }
}

.svd-designer-tabbed-container__tab-header-active {
  border-bottom: 4px solid $primary-color;
}

.svd-designer-tabbed-container__tab-content {
  display: none;
  &.svd-designer-tabbed-container__tab-content-active {
    display: block;
  }
}
