svd-splitter {
  display: table-cell;
  min-width: 4px;
  width: 4px;
  max-width: 4px;
  top: 45px;
  bottom: 0;
  cursor: ew-resize;
  background-color: lightgray;
  position: relative;

  &:hover,
  &.svd-active-splitter {
    background-color: gray;
    & > div.svd-splitter.svd-splitter.svd-splitter > div.icon-split {
      & > svg.svd-svg-icon {
        fill: gray;
      }
    }
  }

  & > div.svd-splitter.svd-splitter.svd-splitter > div.icon-split {
    position: absolute;
    width: 16px;
    top: 50%;
    left: -6px;
    & > svg.svd-svg-icon {
      width: 16px;
      fill: lightgray;
    }
  }
}
