.svc-creator-popup,
.svc-creator {
  --sjs-code-gray-700: #b6b6b6ff;
  --sjs-code-blue-500: #326fcaff;
  --sjs-code-gray-300: #505050ff;
  --sjs-code-green-500: #08997cff;
  --sjs-code-red-500: #f41b50ff;
  --sjs-code-purple-500: #c22fa2ff;
  --sjs-code-yellow-500: #f58d06ff;
  --sjs-code-gray-500: #8a8a8aff;
}
