@use "./ctr-variables.scss" as *;

.svc-creator-popup,
.svc-creator {
  --sjs-spacing-x2: calc(#{$spacing-unit} * 2);
  --sjs-spacing-x3: calc(#{$spacing-unit} * 3);
  --sjs-spacing-x1: calc(#{$spacing-unit} * 1);
  --sjs-spacing-x05: calc(#{$spacing-unit} * 0.5);
  --sjs-spacing-x025: calc(#{$spacing-unit} * 0.25);
  --sjs-spacing-x0125: calc(#{$spacing-unit} * 0.125);
  --sjs-spacing-x150: calc(#{$spacing-unit} * 1.5);
  --sjs-spacing-x250: calc(#{$spacing-unit} * 2.5);
  --sjs-spacing-x4: calc(#{$spacing-unit} * 4);
  --sjs-spacing-x350: calc(#{$spacing-unit} * 3.5);
  --sjs-spacing-x5: calc(#{$spacing-unit} * 5);
  --sjs-spacing-x550: calc(#{$spacing-unit} * 5.5);
  --sjs-spacing-x6: calc(#{$spacing-unit} * 6);
  --sjs-spacing-x7: calc(#{$spacing-unit} * 7);
  --sjs-spacing-x8: calc(#{$spacing-unit} * 8);
  --sjs-spacing-x9: calc(#{$spacing-unit} * 9);
  --sjs-spacing-x925: calc(#{$spacing-unit} * 9.25);
  --sjs-spacing-x10: calc(#{$spacing-unit} * 10);
  --sjs-spacing-x11: calc(#{$spacing-unit} * 11);
  --sjs-spacing-x12: calc(#{$spacing-unit} * 12);
  --sjs-spacing-x13: calc(#{$spacing-unit} * 13);
  --sjs-spacing-x14: calc(#{$spacing-unit} * 14);
  --sjs-spacing-x15: calc(#{$spacing-unit} * 15);
  --sjs-spacing-x16: calc(#{$spacing-unit} * 16);
  --sjs-spacing-x075: calc(#{$spacing-unit} * 0.75);
  --sjs-spacing-x125: calc(#{$spacing-unit} * 1.25);
  --sjs-spacing-x1050: calc(#{$spacing-unit} * 10.5);
  --sjs-spacing-x0375: calc(#{$spacing-unit} * 0.375);
  --sjs-spacing-x850: calc(#{$spacing-unit} * 8.5);
  --sjs-spacing-x025n: calc(#{$spacing-unit} * -0.25);
  --sjs-spacing-x3n: calc(#{$spacing-unit} * -3);
  --sjs-spacing-x4n: calc(#{$spacing-unit} * -4);
  --sjs-spacing-x05n: calc(#{$spacing-unit} * -0.5);
  --sjs-spacing-x1n: calc(#{$spacing-unit} * -1);
  --sjs-spacing-x150n: calc(#{$spacing-unit} * -1.5);
  --sjs-spacing-x2n: calc(#{$spacing-unit} * -2);
  --sjs-spacing-x250n: calc(#{$spacing-unit} * -2.5);
  --sjs-spacing-x5n: calc(#{$spacing-unit} * -5);
  --sjs-spacing-x6n: calc(#{$spacing-unit} * -6);
  --sjs-spacing-x7n: calc(#{$spacing-unit} * -7);
  --sjs-spacing-x8n: calc(#{$spacing-unit} * -8);
}