@use "./ctr-variables.scss" as *;

.svc-creator-popup,
.svc-creator {
  --sjs-layer-1-background-500: var(--sjs2-color-utility-sheet);
  --sjs-layer-1-background-400: var(--sjs2-color-bg-neutral-primary-dim);
  --sjs-layer-1-foreground-100: var(--sjs2-color-fg-basic-primary);
  --sjs-layer-1-foreground-50: var(--sjs2-color-fg-basic-secondary);
  --sjs-layer-3-background-500: var(--sjs2-color-bg-basic-secondary);
  --sjs-layer-3-foreground-100: var(--sjs2-color-fg-basic-primary);
  --sjs-layer-3-foreground-50: var(--sjs2-color-fg-basic-secondary);
  --sjs-layer-2-background-500: #f8f8f8ff; //?
  --sjs-layer-2-background-400: #eeeeeeff; //?
  --sjs-special-haze: var(--sjs2-color-utility-overlay-screen);
  --sjs-border-25: var(--sjs2-color-border-basic-secondary);
  --sjs-border-10: var(--sjs2-color-border-basic-secondary);
  --sjs-primary-background-500: var(--sjs2-color-bg-brand-primary);
  --sjs-primary-background-10: var(--sjs2-color-bg-brand-primary-dim);
  --sjs-primary-background-400: var(--sjs2-color-bg-brand-primary-dim); //?
  --sjs-primary-foreground-100: var(--sjs2-color-fg-static-main-primary);
  --sjs-primary-foreground-25: var(--sjs2-color-fg-static-main-primary); //?
  --sjs-secondary-background-500: var(--sjs2-color-bg-accent-primary);
  --sjs-secondary-background-25: var(--sjs2-color-bg-accent-primary-dim);
  --sjs-secondary-background-10: var(--sjs2-color-bg-accent-primary-dim);
  --sjs-secondary-foreground-100: #ffffffff;
  --sjs-secondary-forecolor-25: #ffffff40;
  --sjs-semantic-red-background-500: #e50a3eff;
  --sjs-semantic-red-background-10: #e50a3e1a;
  --sjs-semantic-red-foreground-100: #ffffffff;
  --sjs-semantic-green-background-500: #19b394ff;
  --sjs-semantic-green-background-10: #19b3941a;
  --sjs-semantic-green-foreground-100: #ffffffff;
  --sjs-semantic-blue-background-500: #437fd9ff;
  --sjs-semantic-blue-background-10: #437fd91a;
  --sjs-semantic-blue-foreground-100: #ffffffff;
  --sjs-semantic-yellow-background-500: #ff9814ff;
  --sjs-semantic-yellow-background-10: #ff98141a;
  --sjs-semantic-yellow-foreground-100: #ffffffff;
  --sjs-semantic-white-background-500: #ffffffff;
  --sjs-code-gray-700: #b6b6b6ff;
  --sjs-code-blue-500: #326fcaff;
  --sjs-code-gray-300: #505050ff;
  --sjs-code-green-500: #08997cff;
  --sjs-code-red-500: #f41b50ff;
  --sjs-code-purple-500: #c22fa2ff;
  --sjs-code-yellow-500: #f58d06ff;
  --sjs-code-gray-500: #8a8a8aff;
  --sjs-special-background: #edf9f7ff;
  --sjs-layer-1-foreground-75: #000000bf;
  --sjs-layer-3-background-400: #eaeaeaff;
  --sjs-special-glow: hsl(
    from var(--sjs-special-background) calc(h - var(--sjs-special-glow-deltaH)) calc(s - var(--sjs-special-glow-deltaS))
      calc(l - var(--sjs-special-glow-deltaL)) / calc(1 - var(--sjs-special-glow-deltaAlpha))
  );
  --sjs-special-shadow: #00000040;
  --sjs-layer-3-foreground-75: #000000bf;
  --sjs-layer-2-foreground-100: #000000e6;
  --sjs-layer-2-foreground-75: #000000bf;
  --sjs-layer-2-foreground-50: #00000080;
  --sjs-border-25-overlay: #00000026;
  --sjs-secondary-background-400: hsl(
    from var(--sjs-secondary-background-500) calc(h - var(--sjs-secondary-background-400-deltaH))
      calc(s - var(--sjs-secondary-background-400-deltaS)) calc(l - var(--sjs-secondary-background-400-deltaL)) /
      calc(1 - var(--sjs-secondary-background-400-deltaAlpha))
  );
}
