@use "./ctr-variables.scss" as *;

.svc-creator-popup,
.svc-creator {
  --ctr-font-unit: var(--sjs2-base-unit-font-size, 8px);
  --ctr-line-height-unit: var(--sjs2-base-unit-line-height, 8px);
  --ctr-size-unit: var(--sjs2-base-unit-size, 8px);
  --ctr-spacing-unit: var(--sjs2-base-unit-spacing, 8px);
  --ctr-corner-radius-unit: var(--sjs2-base-unit-radius, 8px);
  --ctr-stroke-unit: var(--sjs2-base-unit-border-width, 1px);
}
