@use "./lbr-variables.scss" as *;

.svc-surface-drag-drop-choices-shortcut,
.svc-designer-surface,
.svc-creator-popup,
.svc-creator {
  --lbr-spacing-x16: calc(#{$lbr-spacing-unit} * 16);
  --lbr-spacing-x15: calc(#{$lbr-spacing-unit} * 15);
  --lbr-spacing-x14: calc(#{$lbr-spacing-unit} * 14);
  --lbr-spacing-x13: calc(#{$lbr-spacing-unit} * 13);
  --lbr-spacing-x12: calc(#{$lbr-spacing-unit} * 12);
  --lbr-spacing-x11: calc(#{$lbr-spacing-unit} * 11);
  --lbr-spacing-x1050: calc(#{$lbr-spacing-unit} * 10.5);
  --lbr-spacing-x10: calc(#{$lbr-spacing-unit} * 10);
  --lbr-spacing-x9: calc(#{$lbr-spacing-unit} * 9);
  --lbr-spacing-x850: calc(#{$lbr-spacing-unit} * 8.5);
  --lbr-spacing-x8: calc(#{$lbr-spacing-unit} * 8);
  --lbr-spacing-x7: calc(#{$lbr-spacing-unit} * 7);
  --lbr-spacing-x6: calc(#{$lbr-spacing-unit} * 6);
  --lbr-spacing-x5: calc(#{$lbr-spacing-unit} * 5);
  --lbr-spacing-x4: calc(#{$lbr-spacing-unit} * 4);
  --lbr-spacing-x350: calc(#{$lbr-spacing-unit} * 3.5);
  --lbr-spacing-x3: calc(#{$lbr-spacing-unit} * 3);
  --lbr-spacing-x2: calc(#{$lbr-spacing-unit} * 2);
  --lbr-spacing-x1: calc(#{$lbr-spacing-unit} * 1);
  --lbr-spacing-x0375: calc(#{$lbr-spacing-unit} * 0.375);
  --lbr-spacing-x05: calc(#{$lbr-spacing-unit} * 0.5);
  --lbr-spacing-x250: calc(#{$lbr-spacing-unit} * 2.5);
  --lbr-spacing-x150: calc(#{$lbr-spacing-unit} * 1.5);
  --lbr-spacing-x125: calc(#{$lbr-spacing-unit} * 1.25);
  --lbr-spacing-x075: calc(#{$lbr-spacing-unit} * 0.75);
  --lbr-spacing-x025: calc(#{$lbr-spacing-unit} * 0.25);
  --lbr-spacing-x0125: calc(#{$lbr-spacing-unit} * 0.125);
  --lbr-spacing-x025n: calc(#{$lbr-spacing-unit} * -0.25);
  --lbr-spacing-x05n: calc(#{$lbr-spacing-unit} * -0.5);
  --lbr-spacing-x1n: calc(#{$lbr-spacing-unit} * -1);
  --lbr-spacing-x150n: calc(#{$lbr-spacing-unit} * -1.5);
  --lbr-spacing-x2n: calc(#{$lbr-spacing-unit} * -2);
  --lbr-spacing-x250n: calc(#{$lbr-spacing-unit} * -2.5);
  --lbr-spacing-x3n: calc(#{$lbr-spacing-unit} * -3);
  --lbr-spacing-x4n: calc(#{$lbr-spacing-unit} * -4);
  --lbr-spacing-x5n: calc(#{$lbr-spacing-unit} * -5);
  --lbr-spacing-x6n: calc(#{$lbr-spacing-unit} * -6);
  --lbr-spacing-x7n: calc(#{$lbr-spacing-unit} * -7);
  --lbr-spacing-x8n: calc(#{$lbr-spacing-unit} * -8);
}