@use "./variables" as *;

.svc-creator--mobile {
  .sd-root-modern,
  .sd-container-modern {
    --sd-base-padding: calc(3 * #{$base-unit});
    --sd-base-vertical-padding: calc(2 * #{$base-unit});
    --sd-page-vertical-padding: calc(2 * #{$base-unit});
  }

  .svc-question__content:not(.svc-question__content--composite-question) {
    .sd-question__content {
      margin-left: calcSize(-3);
      margin-right: calcSize(-3);
      padding-left: calcSize(3);
      padding-right: calcSize(3);

      .sd-selectbase__column {
        max-width: initial;
        display: block;
        margin-left: 0;
      }
    }

    &>.svc-question__dropdown-choices--wrapper {
      width: calc(100% + calcSize(6));
      margin: 0 calcSize(-3);

      &>div {
        width: calc(100% - calcSize(6));
        margin: 0 calcSize(3);
      }
    }
  }

  .svc-question__drag-area {
    height: calcSize(3);
  }

  .svc-question__content--selected {
    .svc-rating-question-controls {
      bottom: calcSize(10);
    }
  }
  .svc-designer-header + svc-page-wrapper + .svc-page,
  .svc-designer-header + .svc-page {
    margin-top: calcSize(1);
  }

  .svc-page__content {
    padding-left: 0;
    padding-right: 0;
    border: 0;

    .sd-page__title {
      margin: 0;
    }

    &.svc-page__content--selected {
      .sd-page__title {
        margin: calcSize(2.5) 0 0 0;
      }
    }
  }

  .svc-page__footer {
    margin-left: calcSize(3);
    margin-right: calcSize(3);
    margin-top: calcSize(3);
  }

  .svc-designer-placeholder-page {
    .svc-page__footer {
      margin-top: 0;
    }
  }

  .svc-tab-designer {
    justify-content: initial;

    .sd-title.sd-container-modern__title {
      padding: calcSize(3);
      flex-direction: column-reverse;
      align-items: flex-start;

      .svc-logo-image {
        margin-top: 0;
      }

      .svc-logo-image-placeholder {
        margin-left: calcSize(-2);
        margin-top: calcSize(-2);
      }

      h3 {
        @include ctrMediumBoldFont;
        margin: 0;
      }

      h5 {
        margin: 0;
      }
    }
  }

  .svc-tab-designer {
    .sd-container-modern {
      padding: 0;
    }
  }

  .svc-properties-wrapper {
    width: 100%;
  }

  .svc-question__content-actions {
    width: calc(100% + 3 * #{$base-unit});

    .svc-survey-element-toolbar__item {
      border: 0;
    }
  }
}