@forward "./lbr-variables.scss";
@forward "./ctr-variables.scss";

$primary: var(--sjs-primary-backcolor, var(--primary, #19b394));
$primary-light: var(--sjs-primary-backcolor-light, var(--primary-light, rgba(25, 179, 148, 0.1)));
$primary-background-dark: var(--sjs-primary-backcolor-dark, rgb(20, 164, 139));
$primary-foreground: var(--sjs-primary-forecolor, var(--primary-foreground, #fff));
$primary-foreground-disabled: var(--sjs-primary-forecolor-light, var(--primary-foreground-disabled, rgba(#fff, 0.25)));

$secondary-light: var(--sjs-secondary-backcolor-light, var(--secondary-light, rgba(255, 152, 20, 0.25)));
$secondary-backcolor-semi-light: var(--sjs-secondary-backcolor-semi-light, rgba(255, 152, 20, 0.1));
$secondary-forecolor: var(--sjs-secondary-forecolor, #fff);
$secondary-forecolor-light: var(--sjs-secondary-forecolor-light, rgba(#fff, 0.25));

$editor-background: var(--sjs-editorpanel-backcolor,
    var(--sjs-editor-background, var(--sjs-general-backcolor-dim-light, var(--background-dim-light, #f9f9f9))));
$question-background: var(--sjs-questionpanel-backcolor,
    var(--sjs-question-background, var(--sjs-general-backcolor, var(--background, #fff))));

$background: var(--sjs-general-backcolor, var(--background, #fff));
$background-dim: var(--sjs-general-backcolor-dim, var(--background-dim, #f3f3f3));
$background-dim-light: var(--sjs-general-backcolor-dim-light, var(--background-dim-light, #f9f9f9));
$background-semitransparent: var(--background-semitransparent, rgba(144, 144, 144, 0.5));
$background-dark: var(--sjs-questionpanel-hovercolor, var(--sjs-general-backcolor-dark, rgb(248, 248, 248)));
$background-dim-dark: var(--sjs-editorpanel-hovercolor, var(--sjs-general-backcolor-dim-dark, rgb(243, 243, 243)));

$foreground: var(--sjs-general-forecolor, var(--foreground, #161616));
$foreground-light: var(--sjs-general-forecolor-light, var(--foreground-light, #909090));
$foreground-dim: var(--sjs-general-dim-forecolor, rgba(0, 0, 0, 0.91));
$foreground-dim-light: var(--sjs-general-dim-forecolor-light, rgba(0, 0, 0, 0.45));

$border: var(--sjs-border-default, var(--border, #d6d6d6));

$base-unit: var(--sjs-base-unit, var(--base-unit, 8px));

$sd-panel-normal-min-width: 496px;
$sd-panel-medium-min-width: 176px;

@function calcSize($multiplier) {
  @if $multiplier ==1 {
    $result: #{$base-unit};
    @return $result;
  }

  @else {
    $result: calc(#{$multiplier} * (#{$base-unit}));
    @return $result;
  }
}

// creator variables

$tab-min-height: var(--tab-min-height, auto);

@mixin textEllipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin defaultActionButtonSettings {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  display: flex;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
  white-space: nowrap;
}

@mixin disableUserSelect {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin disableTransitionAnimations {
  * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
  }
}

@mixin disableLibraryAnimations {
  .sd-row--leave,
  .sd-row--enter {
    animation: none;
  }
  .sd-element-wrapper--leave,
  .sd-element-wrapper--enter {
    animation: none;
  }
  .sd-element__content--enter,
  .sd-element__content--leave {
    animation: none;
  }
  .sd-paneldynamic__panel-wrapper--enter,
  .sd-paneldynamic__panel-wrapper--leave {
    animation: none;
  }
  .sd-item--enter {
    animation: none;
  }
  .sd-item--leave {
    animation: none;
  }
  .sd-table__row--leave,
  .sd-table__row--enter {
    animation: none;
  }
}

$creator-transition-duration: var(--sjs-creator-transition-duration, 150ms);
$ease-out: cubic-bezier(0, 0, 0.58, 1);
$reverse-ease-out: cubic-bezier(0.42, 0, 1, 1);

$svc-expand-fade-in-duration: var(--sjs-svc-expand-fade-in-duration, 150ms);
$svc-expand-move-in-duration: var(--sjs-svc-expand-move-in-duration, 250ms);
$svc-expand-fade-in-delay: var(--sjs-svc-expand-fade-in-delay, 250ms);
$svc-collapse-fade-out-duration: var(--sjs-svc-collapse-fade-out-duration, 150ms);
$svc-collapse-move-out-duration: var(--sjs-svc-collapse-move-out-duration, 250ms);
$svc-collapse-move-out-delay: var(--sjs-svc-collapse-move-out-delay, 100ms);
