<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>survey.js : {{ page.title }}</title>
        <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.css"/>
        <link href="{{ site.baseurl }}/css/style.css" type="text/css" rel="stylesheet" /> 
        <link href="{{ site.baseurl }}/css/main.css" type="text/css" rel="stylesheet" />
        <link href="{{ site.baseurl }}/css/custom-checkbox.css" type="text/css" rel="stylesheet" />
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>        
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <script src="{{ site.baseurl }}/js/knockout.js"></script>
        <script src="{{ site.baseurl }}/js/survey.ko.min.js"></script>
        <link href="{{ site.baseurl }}/css/prism.css" type="text/css" rel="stylesheet" />
        <script src="{{ site.baseurl }}/js/prism.js"></script>
    </head>
    <body class="white-bg">
        {% include menu-top.html %}
        <div class="maincontent">
        {{ content }}
        </div>
        {% if page.hasFooter%}
            {% include footer.html %}
        {% endif %}
        <script type="text/javascript">               
            // Analytics
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-74958675-1']);
            _gaq.push(['_trackPageview']);	
            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();             
        </script>        
    </body>
</html>
