$main-color: #1ab394;
$dark-main-color: #18a689;
$text-color: #676a6c;
$light-text-color: #a7a7a7;

$light-bg-color: #ffffff;
$dark-bg-color: #f4f4f4;

$light-border-color: #e7eaec;
$dark-border-color: #ddd;

$dd-menu-border: #ccc;
$dd-menu-link-color: #262626;

$svd-svg-icon-color: #3d4d5d;
$icon-gear-color: #d0d0d0;
$icon-status-color: #9d9fa1;

.svd_container {
  color: $text-color;

  a {
    color: $main-color;
  }
  a:hover {
    color: $dark-main-color;
  }

  .sjs-cb-container:hover input ~ .checkmark {
    background-color: $dd-menu-border;
  }

  .sjs-cb-container:hover input:checked ~ .checkmark {
    background-color: $dark-main-color;
  }

  .svd_selected_page {
    border-bottom: 1px solid $light-bg-color;
  }

  .svd_toolbar li.active a {
    background-color: $main-color;
    color: $light-bg-color;
  }

  .svd_toolbar li a {
    color: $dd-menu-link-color;
  }

  .nav-tabs a {
    color: $text-color;
  }
  .nav-tabs > li.active > a {
    color: $main-color;
  }

  .editor-tabs > li > a {
    &:hover,
    &:focus {
      background-color: $dark-bg-color;
      border-bottom: 1px solid $dark-bg-color;
    }
  }
  .editor-tabs > li.active > a {
    color: $main-color;
    background-color: $dark-bg-color;
    border: 1px solid $light-border-color;
    border-bottom-color: $dark-bg-color;
  }

  .svd_custom_select:before {
    background-color: $main-color;
  }
  .form-control:focus {
    border-color: $main-color;
  }

  .btn-primary {
    background-color: $main-color;
    border-color: $main-color;
  }

  .svd-main-color {
    color: $main-color;
  }
  .svd-main-background-color {
    background-color: $main-color;
  }
  .svd-main-border-color {
    border-color: $main-color;
  }

  .svd-light-text-color {
    color: $light-text-color;
  }
  .svd-light-background-color {
    background-color: $light-border-color;
  }
  .svd-light-border-color {
    border-color: $light-border-color;
  }
  .svd-dark-border-color {
    color: #ddd;
  }
  .svd-light-bg-color {
    background-color: $light-bg-color;
  }
  .svd-dark-bg-color {
    background-color: $dark-bg-color;
  }

  .svd-dd-menu-link-color {
    color: #262626;
  }

  .svd-boolean-background {
    color: #eee;
  }

  .svd-svd-svg-icon-color {
    color: #3d4d5d;
  }
  .svd-icon-gear-color {
    color: #d0d0d0;
  }
  .svd-icon-status-color {
    color: #9d9fa1;
  }
}
