$primary-color: #1ab394;
$secondary-color: #1ab394;

$primary-hover-color: #18a689;
$selection-border-color: #1ab394;

$primary-text-color: #676a6c;
$secondary-text-color: #a7a7a7;
$inverted-text-color: #ffffff;

$primary-bg-color: #ffffff;
$secondary-bg-color: #f4f4f4;

$primary-border-color: #e7eaec;
$secondary-border-color: #ddd;

$dd-menu-border: #ccc;
$dd-menu-link-color: #262626;

$primary-icon-color: #3d4d5d;
$icon-gear-color: #d0d0d0;
$icon-status-color: #9d9fa1;

.svd_container {
  color: $primary-text-color;

  a {
    color: $primary-color;
  }
  a:hover {
    color: $primary-hover-color;
  }

  .btn-primary {
    color: $inverted-text-color;
    background-color: $secondary-color;
    border-color: $secondary-color;
  }

  .btn-link {
    color: $primary-text-color;
    background-color: $secondary-bg-color;
    border-color: $secondary-bg-color;
  }

  .sjs-cb-container:hover input ~ .checkmark {
    background-color: $dd-menu-border;
  }

  .sjs-cb-container:hover input:checked ~ .checkmark {
    background-color: $primary-hover-color;
  }

  .svd_selected_page {
    border-bottom: 1px solid $primary-bg-color;
  }

  .svd_toolbar li.active a {
    background-color: $primary-color;
    color: $primary-bg-color;
  }

  .svd_toolbar li a {
    color: $dd-menu-link-color;
  }

  .nav-tabs a {
    color: $primary-text-color;
  }
  .nav-tabs > li.active > a {
    color: $primary-color;
  }
  .nav-link {
    background-color: transparent;
    &:hover {
      background-color: $secondary-border-color;
    }
  }
  .nav-item.active .nav-link {
    background-color: $primary-bg-color;
  }

  .editor-tabs > li > a {
    &:hover,
    &:focus {
      background-color: $secondary-bg-color;
      border-bottom: 1px solid $secondary-bg-color;
    }
  }
  .editor-tabs > li.active > a {
    color: $primary-color;
    background-color: $secondary-bg-color;
    border: 1px solid $primary-border-color;
    border-bottom-color: $secondary-bg-color;
  }

  .svd_custom_select:before {
    background-color: $primary-color;
  }
  .form-control:focus {
    border-color: $primary-color;
  }
  a:focus,
  div:focus,
  span:focus,
  select:focus,
  tr:focus {
    outline-color: $primary-color;
    outline-style: dotted;
    outline-width: 0.5px;
    outline-offset: -1px;
  }
  .svd_toolbar button:focus {
    outline-color: $primary-text-color;
  }

  .svd-main-color {
    color: $primary-color;
  }
  .svd-main-background-color {
    background-color: $primary-color;
  }
  .svd-main-border-color {
    border-color: $selection-border-color;
  }

  .svd-light-text-color {
    color: $secondary-text-color;
  }
  .svd-light-background-color {
    background-color: $primary-border-color;
  }
  .svd-light-border-color {
    border-color: $primary-border-color;
  }
  .svd-dark-border-color {
    border-color: $secondary-border-color;
  }
  .svd-light-bg-color {
    background-color: $primary-bg-color;
  }
  .svd-dark-bg-color {
    background-color: $secondary-bg-color;
  }

  // .svd-svd-svg-icon-color {
  //   color: #3d4d5d;
  // }
  // .svd-icon-gear-color {
  //   color: #d0d0d0;
  // }
  // .svd-icon-status-color {
  //   color: #9d9fa1;
  // }
}
