$main-color: #1ab394;
$dark-main-color: #18a689;
$text-color: #676a6c;
$light-text-color: #a7a7a7;
$light-border-color: #e7eaec;
$dark-border-color: #ddd;
$light-bg-color: #fff;
$bg-color: #f9f9f9;
$dark-bg-color: #f3f3f4;
