.svd_container {
  @mixin svg-icon($icon-size) {
    content: "";
    background-repeat: no-repeat;
    background-position: center;
    padding: $icon-size / 2;
  }

  .svd-svg-icon {
    display: inline-block;
    vertical-align: middle;
    fill: #3d4d5d;
  }
  .svd-icon-green {
    .svd-svg-icon {
      fill: #1ab394;
    }
  }

  .icon-gearactive {
    .svd-svg-icon {
      fill: #1ab394;
    }
  }

  .icon-gear {
    .svd-svg-icon {
      fill: #d0d0d0;
    }
  }
  .icon-default:before {
    background-image: url("./images/elements/matrix.svg");
    @include svg-icon(16px);
  }

  .icon-editor:before {
    background-image: url("./images/cw/Editor.svg");
    @include svg-icon(16px);
  }

  .icon-delete:before {
    background-image: url("./images/Delete_24x24.svg");
    @include svg-icon(24px);
  }

  .icon-edit:before {
    background-image: url("./images/Edit_24x24.svg");
    @include svg-icon(24px);
  }

  .icon-fork:before {
    background-image: url("./images/Fork_24x24.svg");
    @include svg-icon(24px);
  }

  .icon-modified:before {
    background-image: url("./images/Modified_24x24.svg");
    @include svg-icon(24px);
  }

  .icon-new:before {
    background-image: url("./images/New_24x24.svg");
    @include svg-icon(24px);
  }

  .icon-saved:before {
    background-image: url("./images/Saved_24x24.svg");
    @include svg-icon(24px);
  }

  .icon-saving:before {
    background-image: url("./images/Saving_24x24.svg");
    @include svg-icon(24px);
  }

  .icon-cloud:before {
    background-image: url("./images/Cloud_24x24.svg");
    @include svg-icon(24px);
  }

  .icon-toolbox-arrow-up:before {
    background-image: url("./images/Arrow_up_10x10.svg");
    @include svg-icon(10px);
  }

  .icon-toolbox-arrow-down:before {
    background-image: url("./images/Arrow_down_10x10.svg");
    @include svg-icon(10px);
  }

  .icon-toolbox-arrow-down-green:before {
    background-image: url("./images/Arrow_down_green_10x10.svg");
    @include svg-icon(10px);
  }

  .icon-actiondragelement {
    cursor: move;
    position: absolute;
    left: 0;
  }

  .glyphicon {
    font-weight: bold;
    display: inline-block;
    font-family: inherit;
    cursor: pointer;
    line-height: 1em;
    top: 0;
    &.glyphicon-plus::before {
      font-weight: normal;
      font-size: 20px;
      color: $main-color;
      content: "+";
    }
    &.glyphicon-option-horizontal::before {
      font-size: 20px;
      content: "⋯";
    }
    &.glyphicon-remove::before {
      content: "✖";
    }
    &.glyphicon-edit::before {
      content: "";
    }
    &.glyphicon-trash::before {
      font-size: 1.25em;
      content: "🗑";
    }
    &.glyphicon-list-alt::before {
      content: "⇐"; // '🗸'
    }
    &.glyphicon-arrow-down::before {
      content: "↓";
    }
    &.glyphicon-arrow-up::before {
      content: "↑";
    }
  }
}
