$editor-height: 75vh;

@import "colors";
@import "icons";
@import "manage";
@import "editor-tabs";
@import "toolbox";
@import "toolbar";
@import "pages-editor";
@import "properties";

.svd_container {
  position: relative;
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans",
    "Helvetica Neue", Arial, sans-serif;
  font-size: 12px;

  .svd-textitems-column {
    width: 100%;
    display: inline-block;

    .btn-danger {
      min-width: 2em;
      padding: 0.78em 1em;
    }

    .svd-textitems-isrequired {
      vertical-align: top;
      padding-top: 3px;
      display: inline-block;
    }

    .svd-textitems-edit {
      vertical-align: top;
      display: inline-block;
      margin-left: 1.7em;
    }
  }

  .svd-drag-handle {
    font-size: 20px;
    cursor: move;
  }

  .form-control {
    border-radius: 2px;
  }

  .form-control:focus {
    outline: 0;
    box-shadow: none;
  }
  .propertyeditor-condition,
  .propertyeditor-expression {
    width: 100%;
    textarea {
      // max-width: calc(100% - 200px);
      // min-width: calc(100% - 200px);
      max-width: calc(100%);
      min-width: calc(100%);
    }

    .assistant {
      padding-left: 1em;
      width: 200px;
      float: right;

      .assistant-title {
        margin-bottom: 0.5em;
        font-weight: bold;
      }

      .assistant-content {
        overflow-y: auto;
        height: 125px;

        .assistant-item {
          margin-bottom: 0.5em;
          cursor: pointer;
        }
      }
    }
  }
  .propertyeditor-triggers,
  .propertyeditor-validators {
    min-height: 150px;
    .first-addon {
      padding: 0;
    }
    .ddmenu-container {
      .ddmenu > span {
        padding: 6px 12px;
      }
      ul {
        border: 1px solid $dd-menu-border;
        border-radius: 2px;
        padding: 0;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        min-width: 160px;
        left: 0;
        z-index: 2000;
        margin-top: 3px;
        font-size: 1.17em;
        li {
          margin: 5px 0;
          width: 100%;
          a {
            padding: 3px 20px;
            color: $dd-menu-link-color;
            width: 100%;
            font-weight: 400;
            display: block;
            &:hover {
              background-color: $dark-bg-color;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
  .select2-container,
  .select2-container--default.select2-container--open {
    .select2-selection--single {
      border-radius: 0;
      border: 1px solid $dd-menu-border;
      height: 34px;
      .select2-selection__arrow {
        background: $main-color;
        height: 34px;
        top: 0px;
        right: 0px;
        width: 34px;
        b {
          border-color: #fff transparent #fff transparent;
        }
      }
    }
  }
  * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }

  a,
  a.nav-link {
    cursor: pointer;
  }
  .btn {
    border-radius: 2px;
    padding: 0.5em 1em;
    font-size: 1em;
    line-height: 1em;
    min-width: 6em;
    font-weight: bold;
  }
  .svd_content {
    padding: 30px;
    margin: 0;
    border: none;
    .svd_survey_designer {
      .svd_editors {
        .svd_questions_editor {
          height: $editor-height;
          overflow-y: scroll;
          padding-top: 18px;

          .empty-message {
            text-align: center;
            line-height: 60vh;
            font-size: 22px;
          }

          .panel-body,
          .card-block {
            .svd_question {
              box-shadow: none;
              border-radius: 0;
              padding: 20px 9px;
              margin-bottom: 38px;
            }
          }
        }
      }
    }
    .svd_json_editor {
      height: $editor-height;
    }
    .svd_json_editor_area {
      height: $editor-height;
      width: 100%;
    }
  }
}

.svd_container {
  [draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
  }

  survey-widget {
    .form-control {
      width: 100%;
    }
  }

  .svd_wrap_elements {
    white-space: normal;
  }
  .svd_table-nowrap {
    table-layout: fixed;
  }
  .svd_table-nowrap td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .svd_q_selected {
    border: 1px solid transparent;
  }
  .svd_q_design {
    pointer-events: none;
  }
  .svd_q_design_border {
    position: relative;
  }
  .svd_navbarbuttons {
    margin-top: 3px;
  }
}

.svd-manage-mask {
  z-index: 9999;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.15);
}

.svd_container {
  .animated {
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
  }
  @-webkit-keyframes fadeInDown {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  @keyframes fadeInDown {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
  }
  .modal {
    display: none;
    background: rgba(0, 0, 0, 0.3);
    z-index: 999;
    .modal-dialog {
      max-width: 600px;
    }
    .modal-body {
      max-height: 75vh;
      overflow: auto;
    }
  }
  .svd_items_table {
    width: 100%;
    tr {
      th,
      td {
        padding: 0.25em;

        .btn {
          min-width: auto;
        }
      }
    }
  }
}

.svd_container {
  .svd_commercial_container {
    padding: 1em 0 0 2em;
    .svd_commercial_text {
      font-weight: bold;
      text-decoration: none;

      .svd_commercial_product {
        padding-left: 0.5em;
      }
    }
  }
}

.svd_container {
  a {
    text-decoration: unset;
  }
  .btn,
  .btn:active {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    cursor: pointer;
    span {
      display: inline-block;
      padding: 1px;
    }
  }
  .btn[disabled] {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: 0.65;
  }

  label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
  }

  .form-group {
    margin-bottom: 15px;
  }

  input,
  .form-control {
    padding: 6px 12px;
    line-height: 1.5em;
  }

  select,
  textarea {
    line-height: inherit;
  }

  .nav-tabs {
    margin-bottom: 6px;
  }
  .nav-item {
    display: inline-block;
    margin-left: -3px;
  }
  .nav-link {
    border-radius: 0;
    padding: 0.5em 1em;
    text-align: center;
  }

  .svd_toolbox {
    float: left;
    width: 15%;
  }
  .svd_editors {
    display: inline-block;
    width: 60%;
    padding: 0 15px;
  }
  .svd_properties {
    float: right;
    width: 25%;

    table {
      width: 100%;
    }
  }

  #surveyjs {
    .sv_row {
      background-color: transparent;
      .svd_question {
        margin-top: 30px;
        overflow: visible;
        question-actions {
          .svda_question_action {
            display: inline-block;
            .icon-actiondragelement {
              bottom: 0;
            }
          }
        }
      }
    }
  }

  .modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 999;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;

    .modal-dialog {
      position: relative;
      max-width: 600px;
      margin: 30px auto;
      .modal-content {
        position: relative;
        background-color: #fff;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border: 1px solid #999;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 6px;
        outline: 0;
        -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
        box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
        .modal-header {
          padding: 15px;
          border-bottom: 1px solid #e5e5e5;
          button.close {
            -webkit-appearance: none;
            padding: 0;
            cursor: pointer;
            background: 0 0;
            border: 0;
          }
        }
        .modal-body {
          padding: 15px;
        }
        .modal-footer {
          padding: 15px;
          text-align: right;
          border-top: 1px solid #e5e5e5;
        }
      }
    }
  }
}
