.svd_container.sv_modern_css {
    font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
    $control-height: 34px;

    .sv-btn {
        line-height: $control-height;
        height: $control-height;
        border-radius: $control-height / 2;
        font-size: 14px;
        padding: 0 1.5em;
        &>* {
            line-height: 34px;
        }
    }

    .svd-tabs {
        padding: 0;
        margin: 0;
    }
    .svd-tab {
        list-style: none;
        display: inline-block;
        margin: 0;
        &:not(:first-child) {
            margin-left: -4px;
        }
    }
    .svd-tab-text {
        display: inline-block;
        padding: 1em 2em;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
    }

    svd-property-editor {
        display: block;
        margin-bottom: 1em;
    }

    .svd-control {
        height: $control-height;
        border-radius: 2px;
        border: solid 1px #d4d4d4;
        background-color: #ffffff;
        margin-top: 6px;
        padding: 0 12px;
    }
}
