.svd_container {
  pages-editor {
    display: block;
    width: 100%;
    -border: 1px solid green;
    webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .svd-pages {
      white-space: nowrap;
      width: calc(100% - 400px);
      letter-spacing: -3px;
      overflow: hidden;
      vertical-align: bottom;
    }

    .svd-page-selector,
    .svd-page-scroller-arrow,
    .svd-page-add,
    .svd-pages,
    .svd-page {
      display: inline-block;
    }

    .svd-page-scroller-arrow,
    .svd-page-add {
      cursor: pointer;
      padding: 0 1em;
      vertical-align: top;
      margin-top: 1.22em;
    }

    .svd-page {
      overflow: hidden;
      vertical-align: bottom;
      letter-spacing: normal;
      cursor: pointer;
      background-color: $dark-bg-color;
      height: 4em;
      padding: 1em 1.5em;
      font-weight: bold;
      border: 1px solid $light-border-color;
      border-bottom: none;
      border-right: none;
      &:last-child {
        border-right: 1px solid $light-border-color;
      }

      .svd-page-actions-container {
        display: inline-block;
        .svd-page-actions {
          box-shadow: 5px 5px 5px -5px $dd-menu-link-color;
          position: absolute;
          background-color: $light-bg-color;
          padding: 5px;
          border: 1px solid $dark-border-color;
          visibility: hidden;
          z-index: 1;

          .svda_action_separator {
            display: inline-block;
            height: 16px;
            border-left: 1px solid $dark-border-color;
            vertical-align: middle;
            margin-left: 0.5em;
          }

          .svd-page-action {
            margin-right: 0.5em;
            vertical-align: middle;

            .svd-page-action-edit-text {
              color: $main-color;
            }

            &:last-child {
              margin-left: 0.5em;
              display: inline-block;
            }
          }
        }
      }

      &:hover {
        .svd-page-actions {
          visibility: visible;
        }
      }
    }

    .svd_selected_page {
      background-color: $light-bg-color;
      border-bottom: 1px solid $light-bg-color;
    }

    .svd-page-selector.svd_custom_select {
      max-width: 250px;
      line-height: 2.44em;
      height: 2.44em;
      background: $light-bg-color;
      border: 1px solid $light-border-color;
      font-size: 14px;
      margin-bottom: 7px;
      select {
        padding-left: 20px;
        min-width: 100px;
        border: none;
      }
    }
  }
}
