.svd-property-grid__header {
  cursor: pointer;
  padding: 0.4em 1.5em 0.75em 1.5em;
  height: 1.5em;
  margin-bottom: 3em;
  margin-top: 0.35em;
  float: right;

  .svd-property-grid__header-title {
    float: left;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
    color: $secondary-text-color;
  }
  .svd-property-grid__header-hide-button {
    float: right;
  }
}

.svd_container {
  .svd_properties {
    border: none;
    padding: 0;
    margin-left: -0.5px;
    font-size: 1.17em;

    .modal {
      font-size: 0.857em;
      color: $primary-text-color;
    }
    .svd_object_selector {
      padding: 1.4em;
      border-width: 0;
      border-bottom-width: 1px;
      border-style: solid;
      .svd_custom_select {
        display: inline-block;
      }
      .icon-edit {
        cursor: pointer;
        margin-left: 1em;
      }
    }
    .svd_object_editor {
      padding: 1.4em;
      height: $editor-height;
      overflow-y: scroll;
      .form-control {
        border-radius: 0;
      }
      input[type="checkbox"].form-control {
        width: 25px;
      }
      .table.svd_properties_grid {
        .form-group {
          margin-bottom: 0;
        }
        > tbody > tr > td {
          border: none;
          padding: 0;
          line-height: 3.25em;
          background-color: transparent;
          vertical-align: middle;
          &:nth-child(1) {
            font-weight: 600;
          }
          .modal-content {
            line-height: initial;
          }
        }
      }
    }
  }
}
