.svd_container {
  .svd_properties {
    height: 100%;
    border: none;
    padding: 0;
    margin-left: -0.5px;
    font-size: 1.17em;

    .modal {
      font-size: 0.857em;
      color: $primary-text-color;
    }
    .svd_object_selector {
      padding: 1.4em;
      border-width: 0;
      border-bottom-width: 1px;
      border-style: solid;
      .svd_custom_select {
        display: inline-block;
      }
      .icon-edit {
        cursor: pointer;
        margin-left: 1em;
      }
    }
    .svd_object_editor {
      padding: 1.4em;

      .form-control {
        border-radius: 0;
      }
      input[type="checkbox"].form-control {
        width: 25px;
      }
      .table.svd_properties_grid {
        .form-group {
          margin-bottom: 0;
        }
        > tbody > tr > td {
          border: none;
          padding: 0;
          line-height: 3.25em;
          background-color: transparent;
          vertical-align: middle;
          &:nth-child(1) {
            font-weight: 600;
            user-select: none;
          }
          .modal-content {
            line-height: initial;
          }
        }
      }

      survey-widget {
        display: block;
        margin-bottom: 1em;

        .sv_main .sv_custom_header {
          background: transparent;
        }

        .svd-survey-nopadding {
          padding: 0;
          margin: 0;
        }
      }
    }
  }
}

.svd-property-editor-survey {
  .svd-survey-nopadding {
    min-width: 7em;
  }
}