.svd_container {
  .svd_properties {
    border-width: 0;
    border-top-width: 2px;
    border-style: solid;
    border-radius: 0;
    padding: 0;
    font-size: 1.17em;
    .modal {
      font-size: 0.857em;
      color: $primary-text-color;
    }
    .svd_object_selector {
      padding: 1.4em;
      border-width: 0;
      border-bottom-width: 1px;
      border-style: solid;
      .svd_custom_select {
        display: inline-block;
        width: calc(100% - 4em);
      }
      .icon-edit {
        cursor: pointer;
        margin-left: 1em;
      }
    }
    .svd_object_editor {
      padding: 1.4em;
      height: $editor-height;
      overflow-y: scroll;
      .form-control {
        border-radius: 0;
      }
      input[type="checkbox"].form-control {
        width: 25px;
      }
      .table.svd_properties_grid {
        >tbody>tr>td {
          border: none;
          padding: 0;
          line-height: 3.25em;
          background-color: transparent;
          vertical-align: middle;
          &:nth-child(1) {
            font-weight: 600;
          }
          .modal-content {
            line-height: initial;
          }
        }
      }
    }
  }
}