.svd_container {
  .svd_toolbox {
    background-color: $dark-bg-color;
    border: none;
    font-size: 1.17em;
    .svd_toolbox_title {
      text-transform: uppercase;
      font-weight: 600;
      padding-top: 5px;
      padding-bottom: 10px;
    }
    .svd_toolbox_item {
      padding: 8px;
      border-bottom: 1px solid $light-border-color;
      line-height: 1.2em;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      cursor: pointer;
      &:hover {
        background-color: #e6eaed;
      }
      .svd_toolbox_item_text {
        margin-left: 1em;
      }
    }
    .panel-info {
      border: none;
      &.panel {
        background: transparent;
      }

      & > .panel-heading {
        border: none;
        background-color: transparent;
        padding-left: 0;
        font-size: 1.17em;
        font-weight: 600;
        cursor: pointer;

        span {
          color: $text-color;
          text-decoration: none;
          text-transform: uppercase;
        }

        .icon-toolbox-arrow {
          float: right;
        }

        &.header-expand {
          span {
            color: $main-color;
          }
        }
      }

      [role="tabpanel"] {
        padding-left: 15px;
      }
    }
  }
}
