.svd_container {
  .svd_toolbox {
    background-color: $dark-bg-color;
    border: none;
    font-size: 1.17em;
    .svd_toolbox_title {
      text-transform: uppercase;
      font-weight: 600;
      padding-top: 5px;
      padding-bottom: 10px;
    }
    .svd_toolbox_item {
      padding: 8px 0;
      border-bottom: 1px solid $light-border-color;
      line-height: 1.2em;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      cursor: pointer;
      &:hover {
        -webkit-box-shadow: 3px 3px 5px 0px rgba(128, 128, 128, 1);
        -moz-box-shadow: 3px 3px 5px 0px rgba(128, 128, 128, 1);
        box-shadow: 3px 3px 5px 0px rgba(128, 128, 128, 1);
      }
      .svd_toolbox_item_text {
        margin-left: 1em;
      }
    }
  }
}
