.svd_container {
  .svd_toolbox_title {
    font-size: 1.17em;
    text-transform: uppercase;
    font-weight: 600;
    padding-top: 5px;
  }

  .svd_toolbox {
    border: none;
    font-size: 1.17em;
    margin-top: 10px;

    .svd_toolbox_item {
      padding: 8px;
      border-width: 0;
      border-bottom-width: 1px;
      border-style: solid;
      line-height: 1.2em;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-right: 5px;

      cursor: pointer;
      &:hover {
        background-color: $primary-border-color;
      }
      .svd_toolbox_item_text {
        margin-left: 1em;
      }
    }
    .panel-info {
      border: none;
      &.panel {
        background: transparent;
      }

      & > .svd-toolbox-category-header {
        border: none;
        background-color: transparent;
        padding-left: 0;
        font-size: 1.17em;
        font-weight: 600;
        cursor: pointer;
        padding: 10px 15px;

        span {
          text-decoration: none;
          text-transform: uppercase;
        }

        .icon-toolbox-arrow {
          float: right;
        }
      }

      [role="tabpanel"] {
        padding-left: 15px;
      }
    }
  }
}
