@use "../../typography-mixins.scss" as *;

.sps-question {
  background: var(--sjs2-color-bg-basic-primary);
}

.sps-question--main {
  min-height: 420px;
}

.sps-question--with-frame {
  border-radius: var(--sjs2-radius-x250);
  border: var(--sjs2-border-width-x100) solid var(--sjs2-color-border-basic-secondary);
  .sps-question__content {
    padding: var(--sjs2-spacing-x150) var(--sjs2-spacing-x250) var(--sjs2-spacing-x250)
      var(--sjs2-spacing-x250);
  }
}

.sps-question__header {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: var(--sjs2-spacing-x200) var(--sjs2-spacing-x250) 0 var(--sjs2-spacing-x250);
  align-items: flex-start;
  align-self: stretch;
}

.sps-question__title {
  color: var(--sjs2-color-fg-basic-primary);
  @include sjs2--typography--default-strong;

  .sv-title-actions {
    gap: var(--sjs2-spacing-x050);
  }
}

.sps-question--nested {
  .sps-question__title {
    color: var(--sjs2-color-fg-basic-secondary);
    padding: var(--sjs2-spacing-x100) var(--sjs2-spacing-x000);
    @include sjs2--typography--default;
  }
  .sps-question__header {
    width: 100%;
    display: flex;
    padding: 0;
    align-items: flex-start;
    align-self: stretch;
  }
  .sps-question__content {
    padding: 0;
  }
  .sps-question__description {
    @include sjs2--typography--small;
    color: var(--sjs2-color-fg-basic-secondary);
    padding-bottom: var(--sjs2-spacing-x200);
    white-space: normal;
  }
}

.sps-question__content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-self: stretch;
}

.sps-question__description {
  white-space: normal;
  color: var(--sjs2-color-fg-basic-tertiary);
}

.sps-question__description--under {
  display: flex;
  padding: var(--sjs2-spacing-x100);
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
}
