@use "../../variables.scss" as *;
@use "../../typography-mixins.scss" as *;

.sps-drag-element__svg {
  box-sizing: content-box;
  width: var(--sjs2-size-x300);
  height: var(--sjs2-size-x300);
  display: flex;
  padding: var(--sjs2-spacing-x100);
  padding-right: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  use {
    fill: var(--sjs2-color-fg-basic-tertiary);
  }
}

.sps-matrixdynamic__drag-drop-ghost-position-top,
.sps-matrixdynamic__drag-drop-ghost-position-bottom {
  position: relative;
}

.sps-matrixdynamic__drag-drop-ghost-position-top::after,
.sps-matrixdynamic__drag-drop-ghost-position-bottom::after {
  content: "";
  width: 100%;
  height: var(--sjs2-size-x050);
  background-color: var(--sjs2-color-bg-brand-primary);
  position: absolute;
  left: 0;
}

.sps-matrixdynamic__drag-drop-ghost-position-top::after {
  top: 0;
}

.sps-matrixdynamic__drag-drop-ghost-position-bottom::after {
  bottom: 0;
}

.sps-question--matrixdynamic {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .sps-question__title {
    padding: 0;
    line-height: var(--sjs2-typography-line-height-default); /* 150% */
    color: var(--sjs2-color-fg-basic-primary);
    @include sjs2--typography--default-strong;
  }
}

.sps-matrixdynamic__content {
  padding: var(--sjs2-spacing-x150);
  &,
  & > div {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  .sps-question__description--under {
    flex-grow: 0;
  }
}
.sps-table__row--detail .sps-matrixdynamic__content {
  padding: 0;
}
.sps-matrixdynamic__placeholder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: var(--sjs2-radius-form);
  border: var(--sjs2-border-width-x100) solid var(--sjs2-color-border-basic-secondary);
  background: var(--sjs2-color-bg-basic-secondary);
  box-sizing: border-box;
  padding: var(--sjs2-spacing-x600) var(--sjs2-spacing-x800);
  gap: var(--sjs2-spacing-x050);

  .sps-matrixdynamic__add-btn {
    display: initial;
    margin: 0;
  }
}

.sps-matrixdynamic__placeholder-text {
  @include sjs2--typography--default;
  color: var(--sjs2-color-fg-basic-secondary);
  text-align: center;
}

.sps-matrixdynamic__row-icon {
  width: var(--sjs2-size-x300);
  height: var(--sjs2-size-x300);
  padding: 0;
  margin: var(--sjs2-spacing-x100) 0;
  margin-left: var(--sjs2-spacing-x150);
  &:disabled {
    opacity: 1;
    use {
      fill: var(--sjs2-color-fg-brand-primary);
    }
  }
}

.sps-matrixdynamic__footer {
  margin: 0 var(--sjs2-spacing-negative-x150) var(--sjs2-spacing-x150);
  padding: 0 var(--sjs2-spacing-x150) var(--sjs2-spacing-x150);
  border-bottom: var(--sjs2-border-width-x100) solid var(--sjs2-color-border-basic-secondary);
  display: flex;
  .sd-action-bar {
    width: 100%;
  }
  .sd-action-bar__item {
    width: 100%;
  }
  .sd-action-bar__item-content {
    width: 100%;
  }
  .sps-matrixdynamic__add-btn {
    width: 100%;
  }
}

.sps-matrixdynamic__footer--in-dialog {
  display: flex;
  margin: 0;
  padding: var(--sjs2-spacing-x150) 0 0 0;
  border-bottom: none;
}

.sps-table-wrapper,
.sps-matrixdynamic__content sv-ng-matrix-table {
  & ~ .sps-matrixdynamic__footer {
    border-bottom: none;
    margin-bottom: 0;
    padding-top: var(--sjs2-spacing-x075);
    padding-bottom: var(--sjs2-spacing-x050);
    display: flex;
    justify-content: stretch;
  }
}
.sps-matrixdynamic__add-btn {
  //display: none;
  appearance: none;
  border: none;
  background: var(--sjs2-color-bg-neutral-secondary);
  text-align: center;
  flex-grow: 1;
  justify-content: center;
  box-sizing: border-box;
  &:hover {
    background: var(--sjs2-color-bg-neutral-secondary-dim);
  }
  .sd-action__title {
    color: var(--sjs2-color-fg-basic-primary);
    @include sjs2--typography--default;
    padding: 0 var(--sjs2-spacing-x100);
  }
}

.sps-matrixdynamic__add-btn--icon {
  background: transparent;
  padding: var(--sjs2-spacing-x100);
  justify-content: flex-start;
  .sd-action__icon use {
    fill: var(--sjs2-color-fg-basic-primary-muted);
  }
}

.sps-question--matrixdynamic.sps-question--nested {
  .sps-question__header {
    padding: var(--sjs2-spacing-x200) var(--sjs2-spacing-x250) var(--sjs2-spacing-x100)
      var(--sjs2-spacing-x250);
    border-bottom: var(--sjs2-border-width-x100) solid var(--sjs2-color-border-basic-secondary);
    box-sizing: border-box;
  }
}

.sps-matrixdynamic__dragged-row {
  cursor: grabbing;
  position: absolute;
  z-index: 10000;

  .sps-table__row {
    display: flex;
    align-items: center;
    flex: 1 0 0;
    border-radius: var(--sjs2-radius-container-drag, 8px);
    background: var(--sjs2-color-bg-basic-primary);
    box-shadow: var(--sjs2-border-effect-floating-default);
  }
}

.spg-table__row:has(.sps-action--invisible) {
  .sd-formbox__input {
    opacity: 0.25;
  }
}

.spg-table__cell--actions:last-of-type .sps-action-bar {
  justify-content: flex-end;
  padding-inline-end: var(--sjs2-spacing-x050);
}
