@use "../typography-mixins.scss" as *;
@use "../variables.scss" as *;
@use "blocks/sps-question.scss";
@use "blocks/sps-panel.scss";
@use "blocks/sps-matrixdynamic.scss";
@use "blocks/sps-table.scss";
@use "blocks/sps-popup.scss";

.svc-tab-designer.svc-tab-designer--presets {
  background: var(--sjs2-color-utility-surface-presets-manager);

  .sd-menu-list__container {
    width: 288px;
  }
}

.sps-root-modern {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  flex-grow: 1;
  @include disableLibraryAnimations;
  display: flex;
  flex-direction: column;
  @include sjs2--typography--default;

  :has(.sps-page) {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    &.sv-components-column--expandable {
      min-width: 100%;
      flex-grow: 1;
    }
  }
}

.sps-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sps-page {
  display: flex;
  padding: var(--sjs2-spacing-x400);
  flex-direction: column;
  align-items: stretch;
  flex: 1 0 0;
  align-self: center;
  gap: var(--sjs2-spacing-x150);
  max-width: min(100%, 936px);
  width: 936px;
  box-sizing: border-box;
}

.sps-page__title {
  color: var(--sjs2-color-fg-basic-primary);

  @include sjs2--typography--medium-strong;
}

.sps-page__description {
  color: var(--sjs2-color-fg-basic-secondary);

  @include sjs2--typography--default;

  padding-bottom: calc(var(--sjs2-spacing-x400) - var(--sjs2-spacing-x150));
}

.sps-action-title-bar {
  gap: var(--sjs2-spacing-x150);
  .sd-action-bar__item--hidden {
    display: none;
  }

  &.sps-action-title-bar {
    margin-top: 0;
    margin-bottom: 0;
    margin-inline-end: 0;
    min-width: fit-content;
  }
}

.sps-body {
  width: 100%;
  background: var(--sjs2-color-utility-surface-presets-manager);

  .sv-components-container-contentBottom {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.sps-row {
  sv-ng-question,
  sv-ng-panel,
  sv-ng-element {
    position: absolute;
  }
}

.sps-row--multiple {
  display: flex;
  align-items: stretch;
  margin: var(--sjs2-spacing-negative-x150) var(--sjs2-spacing-negative-x250) var(--sjs2-spacing-negative-x250)
    var(--sjs2-spacing-negative-x250);
  & > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: content-box;
    gap: var(--sjs2-spacing-x075);
    align-self: stretch;
    border-right: var(--sjs2-border-width-x100) solid var(--sjs2-color-border-basic-secondary);
    &:last-child {
      border: none;
    }
  }
}

.sps-question[data-name="json"] {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  .sd-question__content,
  sv-ng-question-comment,
  .sd-comment,
  .sd-comment__input {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
}

.sps-page--languages {
  .sps-panel__content {
    gap: 0;
  }
}
.sps-question--search {
  padding: 0 var(--sjs2-spacing-x250) var(--sjs2-spacing-x250);
  margin: 0 var(--sjs2-spacing-negative-x250) 0;
  position: relative;
  &:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: var(--sjs2-border-width-x100);
    background: var(--sjs2-color-border-basic-secondary);
  }
}

.sps-page--options {
  .sps-panel--with-frame > .sps-panel__content {
    width: 50%;
    box-sizing: content-box;
  }

  .sps-action-button--icon {
    padding: var(--sjs2-spacing-x050);
  }
  .sps-action-button__icon {
    width: var(--sjs2-size-x200);
    height: var(--sjs2-size-x200);

    use {
      fill: var(--sjs2-color-fg-basic-tertiary);
    }
  }
}
//--------------------------------------
.sps-selectbase {
  .sd-selectbase__column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: var(--sjs2-spacing-x200);
    padding-top: var(--sjs2-spacing-x200);
  }
  .sd-item {
    padding-top: 0;
    padding-bottom: 0;
  }

  .sv-title-actions {
    gap: var(--sjs2-spacing-x050);
    align-items: flex-start;
  }
  .sd-action-title-bar {
    justify-content: flex-start;
  }
}

.sps-action--grow {
  flex-grow: 1;
}

.sps-navigation-bar {
  display: flex;
  padding: var(--sjs2-spacing-x150);
  align-items: center;
  gap: var(--sjs2-spacing-x100);
  align-self: stretch;
  border-bottom: var(--sjs2-border-width-x100) solid var(--sjs2-color-border-basic-secondary);
  background: var(--sjs2-color-utility-surface-presets-manager);

  .sd-action {
    flex-direction: row-reverse;
  }
}

.sps-navigation-action--right {
  margin-left: auto;
  .sd-action__icon {
    padding: 0;
  }
}

.sps-navigation-action--label {
  .sd-action {
    flex-direction: row;
    --sd-action-disabled-title-color: var(--sjs2-color-fg-basic-secondary);
    --sd-action-title-font-weight: var(--sjs2-color-fg-basic-primary);
    --sd-action-icon-padding: 0;
    &:before {
      content: "";
      display: block;
      width: 6px;
      height: 6px;
      background: var(--sjs2-color-fg-basic-secondary);
      border-radius: var(--sjs2-radius-round);
    }
  }
}