@use "../../variables" as *;

svc-page-navigator-item,
.svc-page-navigator-item {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.svc-page-navigator-item-content {
  display: flex;
  padding: var(--sjs2-spacing-x100) calc(var(--sjs2-base-unit-spacing) * 1.25);
  gap: var(--sjs2-spacing-x100);
  justify-content: flex-end;
  align-items: center;
  position: relative;

  &:hover,
  &:focus {
    outline: none;
  }
}

.svc-page-navigator__items--up {
  .svc-page-navigator-item-content {
    transition: 0.25s ease-in-out;
    transform: translateY(-100%);
  }

  svc-page-navigator-item:first-child .svc-page-navigator-item-content {
    opacity: var(--sjs2-opacity-hidden);
  }
}

.svc-page-navigator__items--down {
  .svc-page-navigator-item-content {
    transition: 0.25s ease-in-out;
    transform: translateY(100%);
  }

  svc-page-navigator-item:last-child .svc-page-navigator-item-content {
    opacity: var(--sjs2-opacity-hidden);
  }
}

.svc-page-navigator-item__dot {
  display: flex;
  width: var(--sjs2-size-x250);
  height: var(--sjs2-size-x250);
  justify-content: center;
  align-items: center;
}

.svc-page-navigator-item__dot-content {
  width: var(--sjs2-size-x075);
  height: var(--sjs2-size-x075);
  flex-shrink: 0;
  background: var(--sjs2-color-fg-basic-primary-muted);
  border-radius: var(--sjs2-radius-x075);
  box-sizing: content-box;
}

.svc-page-navigator-item__banner {
  @include textEllipsis;
  padding: var(--sjs2-spacing-x100) calc(var(--sjs2-base-unit-spacing) * 1.25) var(--sjs2-spacing-x100)
    var(--sjs2-spacing-x200);
  justify-content: flex-end;
  align-items: center;
  gap: var(--sjs2-spacing-x100);
  border-radius: var(--sjs2-radius-x075);
  background: var(--sjs2-color-bg-basic-primary);

  box-shadow: var(--sjs2-border-effect-floating-default);
  opacity: var(--sjs2-opacity-hidden);
  transition: opacity $creator-transition-duration;

  position: absolute;
  top: 0;
  right: 0;
  z-index: 15;
  display: none;

  .svc-page-navigator-item__dot-content {
    line-height: var(--sjs2-line-height-x100);
    width: 1lh;
    height: 1lh;
    flex-shrink: 0;
    background: var(--sjs2-color-bg-brand-primary);
    border-radius: var(--sjs2-radius-round);
  }
}

.svc-page-navigator-item__text {
  @include sjs2--typography--small-strong;
  color: var(--sjs2-color-fg-basic-primary);
}

.svc-page-navigator-item--selected {
  .svc-page-navigator-item__dot-content {
    width: var(--sjs2-size-x100);
    height: var(--sjs2-size-x100);
    flex-shrink: 0;
    background: var(--sjs2-color-utility-surface-designer);
    border-style: solid;
    border-width: 2px;
    border-color: var(--sjs2-color-fg-basic-primary-muted);
  }
}

.svc-page-navigator-item-content:not(.svc-page-navigator-item--selected):hover,
.svc-page-navigator-item-content:not(.svc-page-navigator-item--selected):focus {
  .svc-page-navigator-item__banner {
    display: flex;
    opacity: var(--sjs2-opacity-visible);
  }
}

.svc-creator__toolbox--right,
:dir(rtl),
[style*="direction:rtl"],
[style*="direction: rtl"] {
  .svc-page-navigator-item__banner {
    right: unset;
    left: 0;
    padding: var(--sjs2-spacing-x100) var(--sjs2-spacing-x200) var(--sjs2-spacing-x100)
      calc(var(--sjs2-base-unit-spacing) * 1.25);
    direction: rtl;

    .svc-page-navigator-item__dot {
    }
  }
}
