@import "../../variables.scss";

svc-page-navigator,
.svc-page-navigator {
  display: flex;
  flex-direction: column;
}

.svc-page-navigator__navigator-icon {
  display: block;
  height: calcSize(2.75);
  width: calcSize(2.75);
  padding: 11px;
  border-radius: 50%;
  cursor: pointer;
  use {
    fill: $foreground-light;
  }
  &:hover {
    background-color: $primary-light;
    use {
      fill: $primary;
    }
  }
}

.svc-page-navigator__selector--opened {
  opacity: 0.5;
  .svc-page-navigator__navigator-icon {
    background-color: $primary-light;
    use {
      fill: $primary;
    }
  }
}

.svc-page-navigator__popup {
  min-width: calcSize(12.5);
}
