@import "../../variables.scss";

svc-tab-designer {
  width: 100%;
  height: 100%;
  background: $background-dim;
}

.svc-tab-designer {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  height: 100%;
  overflow-y: auto;
}

.svc-tab-designer {
  .sd-container-modern {
    max-width: calcSize(102);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

.svc-flex-column.svc-properties-wrapper {
  width: auto;
  border-left: 1px solid $border;
  height: 100%;
}
