@import "../../variables.scss";

svc-tab-designer {
  width: 100%;
  height: 100%;
  background: $background-dim;
}

.svc-tab-designer {
  display: flex;
  flex-grow: 1;
  height: 100%;
  overflow-y: scroll;
  position: static;
  background: var(--ctr-surface-background-color, $background-dim);

  .svc-text {
    color: var(--ctr-surface-placeholder-text-title-color, $foreground);
  }
}

.svc-tab-designer--with-place-holder .svc-tab-designer_content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.svc-tab-designer--with-place-holder .svc-designer-header {
  min-width: calcSize(84);
}

.svc-content-wrapper {
  width: 100%;
  display: flex;
}

.svc-designer-header .svc-surface-header {
  background-color: transparent;
}

.svc-surface-header {
  .sd-title {
    @include ctrLargeBoldFont;

    .sv-string-editor {
      &[aria-placeholder]:empty:before {
        color: var(--ctr-survey-header-text-title-color-placeholder, $foreground-light);
      }
    }
  }
  .sd-description {
    @include ctrDefaultFont;
    color: var(--ctr-survey-header-text-description-color-placeholder, #909090);
  }
}
.svc-tab-designer {
  .svc-designer-header {
    border-bottom: 2px solid transparent;
    position: relative;
  }

  .svc-tab-designer_content {
    width: 100%;
  }
  .sd-title {
    display: flex;
  }

  .sd-container-modern {
    min-width: calcSize(70);
    width: 100%;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;

    &.sd-container-modern--static {
      max-width: calcSize(84);
    }

    &.sd-container-modern--responsive {
      max-width: initial;
      padding: 0 calcSize(2);
    }
  }

  .sd-question.sd-question--image {
    width: 100%;
  }

  .sd-progress,
  .sd-progress__bar {
    background-color: transparent;
  }
}

.svc-designer__placeholder-container {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0px;
  padding: calcSize(2);
  box-sizing: border-box;
  text-align: center;
  position: relative;

  .sd-page {
    display: none;
  }
}

.svc-designer-placeholder-page {
  .svc-page__footer {
    width: calcSize(33);
    margin: auto;
  }

  .svc-row--ghost {
    display: none;
  }
}

.svc-tab-designer__toolbar {
  position: absolute;
  bottom: calcSize(0);
  right: 0;
}

.svc-tab-designer__surface-toolbar {
  padding: var(--ctr-surface-toolbar-padding-top, calcSize(1.5))
    var(--ctr-surface-toolbar-padding-right, calcSize(1.5)) var(--ctr-surface-toolbar-padding-bottom, calcSize(1.5))
    var(--ctr-surface-toolbar-padding-left, calcSize(1.5));
  gap: var(--ctr-surface-toolbar-gap, calcSize(1));
  flex-direction: column;
}