@import "../../variables.scss";

svc-tab-designer {
  width: 100%;
  height: 100%;
  background: $background-dim;
}

.svc-tab-designer {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  height: 100%;
  overflow-y: auto;
}

.svc-tab-designer {
  .sd-container-modern {
    min-width: calcSize(70);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    &.sd-container-modern--static {
      max-width: calcSize(84);
    }
    &.sd-container-modern--responsive {
      max-width: initial;
      padding: 0 calcSize(1);
    }
  }
}
