@import "../../variables.scss";

svc-tab-designer {
  width: 100%;
  height: 100%;
  background: $background-dim;
}

.svc-tab-designer {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  height: 100%;
  overflow-y: auto;
  > div {
    width: 100%;
  }
  .sv-title {
    overflow: auto;
  }
}
