@import "../../variables.scss";

svc-tab-designer {
  width: 100%;
  height: 100%;
  background: $background-dim;
}

.svc-tab-designer {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  height: 100%;
  overflow-y: auto;
}
.svc-creator--mobile {
  .svc-tab-designer {
    justify-content: initial;
    .sd-title.sd-container-modern__title {
      padding: calcSize(2);
      h3 {
        margin: 0;
        font-size: calcSize(3);
        line-height: calcSize(4);
      }
    }
  }
}

.svc-tab-designer {
  .sd-container-modern {
    min-width: calcSize(70);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    &.sd-container-modern--static {
      max-width: calcSize(102);
    }
    &.sd-container-modern--responsive {
      max-width: initial;
    }
  }
}
.svc-creator--mobile {
  .svc-tab-designer {
    .sd-container-modern {
      min-width: calcSize(46);
    }
  }
}


.svc-flex-column.svc-properties-wrapper {
  width: auto;
  border-left: 1px solid $border;
  height: 100%;
  background-color: $background-dim;
}

.svc-properties-container {
  height: 100%;
}

.svc-flyoutPanelMode-panel {
  width: 0;
  overflow: visible;

  .svc-properties-shadow {
    z-index: 100;
    background-color: $foreground-light;
    opacity: 0.75;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
  .svc-properties-wrapper {
    z-index: 10000;
    position: absolute;
    right: 0;
    display: inline-block;
    height: 100%;
    max-width: 100%;
  }
}

.sv-mobile-property-panel {
  .svc-property-panel__actions {
    display: none;
  }
  .svc-property-panel__title {
    display: block;
    font-weight: bold;
    font-size: calcSize(3);
    line-height: calcSize(4);
  }
  .svc-properties-wrapper {
    top: calcSize(2);
    background: none;
  }
  .svc-property-panel {
    width: 100%;
  }
  .svc-property-panel__header {
    border: unset;
    box-shadow: 0px calcSize(1) calcSize(2);
    border-radius: calcSize(2) calcSize(2) 0px 0px;
  }
  .svc-property-panel__expander {
    height: calc(100% - 20 * #{$base-unit});
    background-color: $background-dim;
  }
  .svc-property-panel__close {
    display: flex;
    background-color: $background-dim;

    .svc-property-panel__close-button {
      width: 100%;
      margin: calcSize(2);
    }
  }
}
