@import "../../variables.scss";

.svc-tab-logic-edit {
  width: 100%;
  height: 100%;
  background: $background-dim;
}

.svc-tab-logic-edit__content {
  height: calc(100% - calc(6 * #{$base-unit}));
  overflow-y: auto;
  overflow-x: hidden;
  padding-left: 16%;
  padding-right: 16%;
  //max-width: calcSize(75);
  //margin: auto;
  // background: $background;
}

.svc-tab-logic-edit__content .sd-row {
  flex-wrap: wrap;
}

.svc-logic-panel-element .sd-row {
  margin-top: 0;
}

.svc-tab-logic-edit__content-actions {
  .sv-action-bar {
    padding: 0;
    height: calc(6 * #{$base-unit});
    background: $background;
    border-top: 1px solid $border;
    width: 100%;
  }
}
.svc-logic-paneldynamic div.svc-logic-operator {
  height: calcSize(3);
}
.svc-logic-paneldynamic .svc-logic-operator {
  -webkit-appearance: none;
  appearance: none;
  padding: calcSize(1) calcSize(2);
  border-radius: calcSize(12.5);
  border: none;
  outline: none;
  font-weight: 600;
  font-family: $font-family;
  font-size: calcSize(2);
  color: $foreground-light;
  height: calcSize(5);

  option {
    background: $background;
    color: $foreground;
  }
}

.svc-logic-operator:focus {
  outline: 1px dotted $primary;
}

.svc-logic-question--answered .svc-logic-operator {
  color: $foreground;
}

.svc-logic-operator.svc-logic-operator--conjunction {
  background-color: $primary-light;
}

.svc-logic-operator.svc-logic-operator--question {
  background-color: $blue-light;
}

.svc-logic-operator.svc-logic-operator--operator {
  background-color: $secondary-light;
}

.svc-logic-operator.svc-logic-operator--action {
  background-color: $red-light;
}

.svc-logic-operator.svc-logic-operator--error {
  background-color: $background;
  color: $red;
  box-shadow: inset 0 0 0 2px $red;
}

.svc-logic-operator__error {
  display: none;
}

.svc-logic-paneldynamic {
  .sd-paneldynamic__separator {
    display: none;
  }
}

.svc-logic-condition-remove.svc-icon-remove {
  display: block;
  width: calcSize(5);
  height: calcSize(5);
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22 4H20H16V2C16 0.9 15.1 0 14 0H10C8.9 0 8 0.9 8 2V4H4H2V6H4V20C4 21.1 4.9 22 6 22H18C19.1 22 20 21.1 20 20V6H22V4ZM10 2H14V4H10V2ZM18 20H6V6H8H16H18V20ZM14 8H16V18H14V8ZM11 8H13V18H11V8ZM8 8H10V18H8V8Z' fill='%23E60A3E'/%3E%3C/svg%3E%0A");
  background-size: calcSize(3) calcSize(3);
  background-position: center;
}
.svc-logic-condition-remove.svc-icon-remove:hover,
.svc-logic-condition-remove.svc-icon-remove:focus {
  background-color: $red-light;
}
.svc-logic-condition-remove-question {
  height: calcSize(5);
}

.svc-logic-paneldynamic__button.svc-logic-paneldynamic__remove-btn {
  display: none;
}

.svc-logic-paneldynamic__button.svc-logic-paneldynamic__remove-btn {
  display: none;
}

.svc-question-wrapper {
  max-width: initial !important;
  min-width: initial !important;
  width: initial !important;
  flex: initial !important;
}
.svc-question-wrapper {
  .sv-title-actions__title {
    max-width: none;
  }
}

.svc-logic-operator--action.sl-paneldynamic__add-btn.sl-paneldynamic__add-btn,
.svc-logic-operator--operator.sl-paneldynamic__add-btn.sl-paneldynamic__add-btn {
  color: $foreground-light;
}

.svc-logic-tab__content {
  &.svc-logic-tab__empty {
    flex-direction: column;
    display: flex;
    align-items: center;
    position: absolute;
    top: 35%;

    .svc-logic-tab__content-action {
      width: calcSize(33);
      margin-top: calcSize(4);
    }
  }

  .svc-logic-tab__content-action {
    display: flex;
    align-items: center;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: calcSize(8);
    height: calcSize(7);
    line-height: calcSize(7);
    vertical-align: baseline;
    text-align: center;
    background-color: $background;
    box-shadow: 0px 1px 2px $shadow-inner;
    border-radius: calcSize(0.5);
    cursor: pointer;
    user-select: none;
  }
  .svc-logic-tab__content-action--disabled {
    cursor: default;
    color: $foreground-disabled;
    &:hover {
      background-color: $background;
    }
  }

  .svc-logic-tab__content-action .svc-text {
    color: $primary;
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
  }

  .sd-paneldynamic__panel-wrapper--in-row {
    margin-top: 0;
    align-items: start;
  }
}

.svc-logic-paneldynamic {
  font-family: $font-family;
  .sd-row--multiple {
    padding: 0;
    background: none;
    box-shadow: none;
    border-radius: 0;
    overflow: visible;
  }
  .sd-question__content {
    margin-top: 0;
  }
  .sd-row__question {
    margin-top: 0;
  }
  .sd-row__panel {
    width: calc(100% - 5 * #{$base-unit});
  }
}

.svc-logic-tab__content .svc-logic-paneldynamic .sd-row {
  margin-top: 0;
  flex-flow: row wrap;
}

.sl-table__cell--detail-panel {
  .sd-body {
    margin: 0;
    min-width: none;
    max-width: none;
  }
  .sd-page.sd-body__page {
    padding: 0;
  }

  .sl-panel__footer {
    margin: 0;
  }
}
