@import "../../variables.scss";

.svc-tab-logic-edit {
  width: 100%;
  height: 100%;
  background: $background-dim;
}

.svc-tab-logic-edit__content {
  height: calc(100% - calc(6 * #{$base-unit}));
  overflow-y: auto;
  overflow-x: hidden;
  padding-left: 16%;
  padding-right: 16%;
  //max-width: calcSize(75);
  //margin: auto;
  // background: $background;
}

.svc-tab-logic-edit__content .sd-row {
  flex-wrap: wrap;
}

.svc-logic-panel-element .sd-row {
  margin-top: 0;
}

.svc-tab-logic-edit__content-actions {
  .sv-action-bar {
    padding: 0;
    height: calc(6 * #{$base-unit});
    background: $background;
    border-top: 1px solid $border;
    width: 100%;
  }
}
.svc-logic-paneldynamic .svc-logic-operator {
  appearance: none;
  padding: calcSize(1) calcSize(2);
  border-radius: calcSize(12.5);
  border: none;
  outline: none;
  font-weight: 600;
  font-family: $font-family;
  font-size: calcSize(2);
  color: $foreground-light;

  option {
    background: $background;
    color: $foreground;
  }
}

.svc-logic-operator:focus {
  outline: 1px dotted $primary;
}

.svc-logic-question--answered .svc-logic-operator {
  color: $foreground;
}

.svc-logic-operator.svc-logic-operator--conjunction {
  background-color: $primary-light;
}

.svc-logic-operator.svc-logic-operator--question {
  background-color: $blue-light;
}

.svc-logic-operator.svc-logic-operator--operator {
  background-color: $secondary-light;
}

.svc-logic-operator.svc-logic-operator--action {
  background-color: $red-light;
}

.svc-logic-operator.svc-logic-operator--error {
  background-color: $background;
  color: $red;
  box-shadow: inset 0 0 0 2px $red;
}

.svc-logic-operator__error {
  display: none;
}

.svc-logic-paneldynamic {
  .sd-paneldynamic__separator {
    display: none;
  }
}

.svc-icon-remove {
  display: block;
  width: calcSize(2.5);
  height: 22px;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='22' viewBox='0 0 20 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 4H18H14V2C14 0.9 13.1 0 12 0H8C6.9 0 6 0.9 6 2V4H2H0V6H2V20C2 21.1 2.9 22 4 22H16C17.1 22 18 21.1 18 20V6H20V4ZM8 2H12V4H8V2ZM16 20H4V6H6H14H16V20ZM12 8H14V18H12V8ZM9 8H11V18H9V8ZM6 8H8V18H6V8Z' fill='%23E60A3E'/%3E%3C/svg%3E%0A");
}

.svc-logic-paneldynamic .svc-logic-paneldynamic__button-remove-text {
  display: none;
}

.svc-logic-paneldynamic .svc-logic-paneldynamic__button {
  background: none;
  box-shadow: none;
  appearance: none;
  border: none;
  padding: 0;
  margin: calcSize(0.5);
}

.svc-question-wrapper {
  max-width: initial !important;
  min-width: initial !important;
  width: initial !important;
  flex: initial !important;
}
.svc-question-wrapper {
  .sv-title-actions__title {
    max-width: none;
  }
}

.svc-logic-operator--action.sl-paneldynamic__add-btn.sl-paneldynamic__add-btn,
.svc-logic-operator--operator.sl-paneldynamic__add-btn.sl-paneldynamic__add-btn {
  color: $foreground-light;
}

.svc-logic-tab__content {
  &.svc-logic-tab__empty {
    flex-direction: column;
    display: flex;
    align-items: center;
    position: absolute;
    top: 35%;

    .svc-logic-tab__content-action {
      width: calcSize(33);
      margin-top: calcSize(4);
    }
  }

  .svc-logic-tab__content-action {
    display: flex;
    align-items: center;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    height: calcSize(7);
    line-height: calcSize(7);
    vertical-align: baseline;
    text-align: center;
    background-color: $background;
    box-shadow: 0px 1px 2px $shadow-inner;
    border-radius: calcSize(0.5);
    cursor: pointer;
    user-select: none;
  }
  .svc-logic-tab__content-action--disabled {
    cursor: default;
    color: $foreground-disabled;
    &:hover {
      background-color: $background;
    }
  }

  .svc-logic-tab__content-action .svc-text {
    color: $primary;
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
  }

  .sd-paneldynamic__panel-wrapper--in-row {
    margin-top: 0;
    align-items: start;
  }
}

.svc-logic-paneldynamic {
  font-family: $font-family;
  .sd-row--multiple {
    padding: 0;
    background: none;
    box-shadow: none;
    border-radius: 0;
    overflow: visible;
  }
  .sd-question__content {
    margin-top: 0;
  }
  .sd-row__question {
    margin-top: 0;
  }
  .sd-row__panel {
    width: calc(100% - 5 * #{$base-unit});
  }
}

.svc-logic-tab__content .svc-logic-paneldynamic .sd-row {
  margin-top: 0;
  flex-flow: row wrap;
}

.sl-table__cell--detail-panel {
  .sd-body {
    margin: 0;
    min-width: none;
    max-width: none;
  }
  .sd-page.sd-body__page {
    padding: 0;
  }

  .sl-panel__footer {
    margin: 0;
  }
}
