@import "../../variables.scss";
@import "../../colors.scss";

.sl-table__row:hover .sl-detail-panel__icon:before {
  content: "";
  display: block;
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2210%22%20height%3D%2223%22%20viewBox%3D%220%200%2010%2023%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cg%20clip-path%3D%22url(%23clip0)%22%3E%0A%3Cpath%20d%3D%22M0%204.7L1.4%206.1L3.7%203.8V9.4H5.7V3.8L8%206.1L9.4%204.7L4.7%200L0%204.7Z%22%20fill%3D%22%23909090%22%2F%3E%0A%3Cpath%20d%3D%22M5.7%2018.9999V13.3999H3.7V18.9999L1.4%2016.6999L0%2018.0999L4.7%2022.7999L9.4%2018.0999L8%2016.6999L5.7%2018.9999Z%22%20fill%3D%22%23909090%22%2F%3E%0A%3C%2Fg%3E%0A%3Cdefs%3E%0A%3CclipPath%20id%3D%22clip0%22%3E%0A%3Crect%20width%3D%229.4%22%20height%3D%2222.8%22%20fill%3D%22white%22%2F%3E%0A%3C%2FclipPath%3E%0A%3C%2Fdefs%3E%0A%3C%2Fsvg%3E%0A");
  background-repeat: no-repeat;
  background-position: center center;
  height: calcSize(3);
  width: calcSize(3);
  cursor: pointer;
}
.sl-table__row #remove-row .sv-action-bar-item__icon use {
  display: none;
}
.sl-table__row:hover #remove-row {
  .sv-action-bar-item {
    padding: calcSize(0.25);
    border: none;
  }
  .sv-action-bar-item__icon use {
    fill: $red;
    display: block;
  }
}

.sl-table__cell {
  color: $foreground;
  font-weight: bold;
  font-size: calcSize(2);
  font-family: $font-family;
  padding: 0.9375em;
  padding-left: 0;
  box-sizing: content-box;
  vertical-align: top;
}

.sl-table__cell--detail-button {
  overflow: hidden;
  appearance: none;
  border: none;
  background-color: transparent;
  padding: cal—ÅSize(0.25);
}

.sl-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed;

  tbody {
    tr:last-child {
      .sl-table__cell {
        padding-bottom: 2.5em;
      }
    }
  }

  tr:first-child {
    .sl-table__cell {
      padding-top: 1.875em;
    }
  }

  td,
  th {
    &:first-child {
      padding-left: 1.875em;

      .sv-action-bar {
        justify-content: flex-end;
      }
    }
  }
  td,
  th {
    &:last-child {
      padding-right: 1.875em;
    }
  }
}

.sl-panel__footer {
  padding-left: 0;

  &.sv-action-bar {
    width: 100%;
  }
  #saveDetailPanel {
    width: 100%;
  }
  .sv-action__content {
    width: 100%;
  }
  button.sv-action-bar-item {
    width: 100%;
    margin-bottom: calcSize(10);
    background-color: $green-light;
    color: $green;

    font-family: $font-family;
    font-size: calcSize(2);
    border-radius: calcSize(12.5);

    display: flex;
    align-items: center;
    vertical-align: baseline;
    text-align: center;

    user-select: none;
  }
  button:hover {
    background-color: $green;
    color: white;
  }
}

.sv-action-bar-item__title {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
}
