@import "../../variables.scss";
@import "../../colors.scss";

.sl-table__cell.st-table__cell--actions:first-child .sv-action-bar{
  margin-top: -4px;
}
.sl-table__detail-button.sl-table__detail-button {
  display: block;
  width: 48px;
  height: 48px;
  box-sizing: border-box;
  border-radius: 100px;
  padding: 0;
  use {
    display: none;
  }
  &:hover, &:focus {
    background-color: $primary-light;
    use {
      fill: $primary;
    }
  }
}
.sl-table__cell #show-detail {
  width: 48px;
  height: 48px;
  .sl-table__detail-button {
    outline: none;
  }
}

.sl-table__row:hover .sl-table__detail-button.sl-table__detail-button ,
.sl-table__detail-button.sl-table__detail-button:focus {  
  use { display: initial; }
}
.sl-table__row #remove-row .sv-action-bar-item__icon use {
  display: none;
}
.sl-table__row:hover #remove-row,
.sl-table__row #remove-row:focus-within {
  .sv-action-bar-item {
    border: none;
    width: calcSize(5);
    height: calcSize(5);
  }
  .sv-action-bar-item__icon use {
    fill: $red;
    display: block;
  }
}
.sl-table__row.sl-table__row--additional .sl-table__cell .svc-action-button {
  color: $secondary;
}

.sl-table__cell .svc-action-button,
.sl-table__cell .svc-action-button:hover,
.sl-table__cell .svc-action-button:focus {
  background: transparent;
  color: $foreground;
  outline: none;
}

.sl-table__cell {
  color: $foreground;
  font-weight: bold;
  font-size: calcSize(2);
  font-family: $font-family;
  padding: 0.9375em;
  padding-left: 0;
  box-sizing: content-box;
  vertical-align: top;
}

.sl-table__cell--detail-button {
  overflow: hidden;
  appearance: none;
  outline: none;
  border: none;
  background-color: transparent;
  padding: calcSize(0.25);
}

.sl-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed;

  tbody {
    tr:last-child {
      .sl-table__cell {
        padding-bottom: 2.5em;
      }
    }
  }

  tr:first-child {
    .sl-table__cell {
      padding-top: 1.875em;
    }
  }

  td,
  th {
    &:first-child {
      padding-left: 1.875em;

      .sv-action-bar {
        justify-content: flex-end;
      }
    }
  }
  td,
  th {
    &:last-child {
      padding-right: 1.875em;
    }
  }
}

.sl-panel .sl-panel__footer {
  padding: 0;

  &.sv-action-bar {
    width: 100%;
  }
  #saveDetailPanel {
    width: 100%;
  }
  .sv-action__content {
    width: 100%;
  }
  button.sl-panel__done-button {
    width: 100%;
    margin-bottom: calcSize(10);
    background-color: $green-light;
    color: $green;

    font-family: $font-family;
    font-size: calcSize(2);
    border-radius: calcSize(12.5);

    display: flex;
    align-items: center;
    vertical-align: baseline;
    text-align: center;

    user-select: none;
  }
  button:hover {
    background-color: $green;
    color: white;
  }

  .sv-action-bar-item__title {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
    font-weight: 600;
  }
}

.sl-element .sd-paneldynamic__buttons-container {
  padding: 0;
}

.sl-question {
  display: flex;
  align-items: center;
}
.sl-row {
  display: flex;
  align-items: flex-start;
  flex-flow: row wrap;
}
.sl-panel {
  padding-bottom: 16px;
}
.sl-row--multiple {
  .sl-panel {
    padding-bottom: 0;
  }
}
.sl-row {
  margin-top: calcSize(-1);
}

.sl-row > div {
  margin-top: calcSize(1);
}

.sl-row:not(:last-child) {
  margin-bottom: calcSize(2);
}
.sl-question__header--left {
  margin-right: calcSize(1);
}
.sl-question__title {
  font-size: calcSize(2);
  line-height: calcSize(3);
  margin: 0;
  font-weight: 600;

  span + span {
    display: none;
  }
}
.sl-row--multiple .sl-question {
  padding-right: calcSize(1) !important;
}
.svc-logic-question-value {
  padding-right: calcSize(5) !important;
}

.sl-comment {
  margin-bottom: calcSize(2);
}

.sv-popup.sv-property-editor {
  .sl-row {
    flex-flow: nowrap;
  }
}
