@import "../../variables.scss";

.sle-question {
  display: flex;
  align-items: center;
}
.sle-row {
  display: flex;
  align-items: flex-start;
  flex-flow: row wrap;
}
.sle-panel {
  padding-bottom: 16px;
}
.sle-row--multiple {
  .sle-panel {
    padding-bottom: 0;
  }
}
.sle-row {
  margin-top: calcSize(-1);
}

.sle-row > div {
  margin-top:calcSize(1);
}

.sle-row:not(:last-child) {
  margin-bottom: calcSize(2);
}
.sle-question__header--left {
  margin-right: calcSize(1);
}
.sle-question__title {
  font-size: calcSize(2);
  line-height: calcSize(3);
  margin: 0;
  span + span {
    display: none;
  }
}
.svc-logic-question-value {
  padding-right: calcSize(5) !important;
} 

.sle-panel-wrapper--in-row {
  display: flex;
  align-items: flex-start;
}
.sle-comment {
  margin-bottom: calcSize(2);
}
.svc-logic-paneldynamic .sle-panel { 
  width: calc(100% - 5 * var(--base-unit, 8px));
}