@import "../../variables.scss";

svc-tab-test {
  width: 100%;
  height: 100%;
  background: $background-dim;
}

.svc-test-tab__content {

  overflow-y: auto;
  // background: $background;
}

.svc-test-tab__content-actions {
  position: relative;
  .sv-action-bar {
    padding: 0;
    height: calc(6 * #{$base-unit});
    background: $background;
    border-top: 1px solid $border;
    width: 100%;
    position: absolute;
    &.sv-action-bar--pages {
      width: fit-content;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
    }
  }
}
