@import "../../variables.scss";
@import "../../colors.scss";

.svc-tab-translation {
  width: 100%;
  height: 100%;
  background-color: $background-dim;
}

.st-no-strings {
  font-family: $font-family;
  font-style: normal;
  font-weight: 400;
  font-size: calcSize(2);
  color: $foreground;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  overflow: hidden;
}

.st-content {
  display: flex;
  height: 100%;
}

.st-strings {
  height: calc(100% - calc(6 * #{$base-unit}));
  overflow-y: auto;
  overflow-x: hidden;
}

.st-strings-wrapper {
  flex-grow: 1;
}

.st-property-panel {
  flex-shrink: 0;
  flex-grow: 0;
  width: 450px;
  border-left: 1px solid $border;
}
.st-property-panel .spg-panel__content .spg-row {
  margin-top: 0;
}
.st-property-panel .spg-panel__content .spg-row:first-child {
  margin-top: calcSize(2);
}

.st-strings-header {
  .st-table__cell {
    background-color: $background-dim;
    height: calcSize(4);
  }
}

.st-root-modern {
  width: 100%;
}

.st-title.st-panel__title,
.st-table__cell.st-table__cell--header {
  @include smallBold;
  color: $foreground-light;
  text-align: left;
}

.st-title.st-panel__title {
  height: calcSize(4);
  line-height: calcSize(4);
  padding-left: calcSize(4);
  margin: 0;

  background-color: $background-for-editors;
  border-bottom: 1px solid $border;
}

.st-table__cell {
  height: calcSize(5);
  background-color: $primary-bg-color;
  border-bottom: 1px solid $border;
}

.st-table__cell:first-child {
  @include defaultBold;
  color: $foreground;

  span {
    padding-left: calcSize(4);
  }
}

.st-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0;
}

.st-comment {
  @include defaultFont;

  width: 100%;
  border: unset;
  background-color: $primary-bg-color;
  resize: none;
}

.sd-translation-line-skeleton {
  min-height: calcSize(5);
  background-color: $background-dim;
}