@use "../variables" as *;

.spg-boolean-switch,
.spg-boolean-switch * {
  box-sizing: border-box;
}

.spg-boolean-switch {
  display: flex;
  flex-direction: row;
  gap: var(--ctr-toggle-button-gap-label, var(--sjs-spacing-x1));
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.spg-boolean-switch__button {
  background: var(--sjs2-color-component-toggle-false-default-bg, #F5F5F5);
  outline: none;
  border-radius: var(--ctr-toggle-button-corner-radius, var(--sjs-corner-radius-round));
  box-shadow: 0px 0px 0px 1px var(--sjs2-color-component-toggle-false-default-border, #D4D4D4);
  padding: var(--ctr-toggle-button-padding-top, var(--sjs-font-size-x075)) var(--ctr-toggle-button-padding-right, var(--sjs-font-size-x075))
    var(--ctr-toggle-button-padding-bottom, var(--sjs-font-size-x075)) var(--ctr-toggle-button-padding-left, var(--sjs-font-size-x075));
  display: flex;
  flex-direction: row;
  gap: var(--ctr-toggle-button-gap, var(--sjs-spacing-x05));
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;

  &:focus,
  &:focus-visible {
    box-shadow: 0px 0px 0px 2px var(--sjs2-color-component-toggle-false-focused-border, #19B394);
  }

  &:hover {
    background: var(--sjs2-color-component-toggle-false-hovered-bg, #EDEDED);
  }
}

.spg-boolean-switch__button--checked {
  background: var(--sjs2-color-component-toggle-true-default-bg, #19B394);
  box-shadow: none;

  .spg-boolean-switch__thumb--left {
    background: none;
  }

  .spg-boolean-switch__thumb--right {
    background: var(--sjs2-color-component-toggle-true-default-thumb, #fff);
  }

  &:hover {
    background: var(--sjs2-color-component-toggle-true-hovered-bg, #15987E);
  }

  &:focus {
    background: var(--sjs2-color-component-toggle-true-focused-bg, #fff);
    box-shadow: 0px 0px 0px 2px var(--sjs2-color-component-toggle-true-focused-border, #19B394);

    .spg-boolean-switch__thumb--right {
      background: var(--sjs2-color-component-toggle-true-focused-thumb, #19B394);
    }
  }
}

.spg-boolean-switch__thumb {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.spg-boolean-switch__thumb-circle {
  border-radius: var(--ctr-toggle-button-thumb-corner-radius, var(--sjs-corner-radius-round));
  border: var(--ctr-toggle-button-thumb-border-width, 0px) solid
    var(--sjs2-color-component-toggle-false-default-border, #D4D4D4);
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: var(--ctr-toggle-button-thumb-width, var(--sjs-font-size-x150));
  height: var(--ctr-toggle-button-thumb-height, var(--sjs-font-size-x150));
  position: relative;
  overflow: hidden;
}

.spg-boolean-switch__thumb--left {
  background: var(--sjs2-color-component-toggle-false-default-thumb, rgba(28 27 32 / 0.6));
}

.spg-boolean-switch__thumb--right {}

.spg-boolean-switch__caption {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.spg-boolean-switch__title {
  @include ctrDefaultFont;

  color: var(--sjs2-color-component-input-default-value, #1C1B20);
  text-align: left;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}